<section class="container breadcrumbs tab-after-nav-menu" tabindex="-1">
  <nav class="govuk-breadcrumbs" aria-label="breadcrumbs" role="navigation">
    <ol class="govuk-breadcrumbs__list">
      <% helpers.breadcrumb_trail.each do |crumb| %>
        <% next if crumb.current? %> <!-- Skip current page -->
        <li class="govuk-breadcrumbs__list-item">
          <%= link_to(crumb.name, crumb.url, class: "govuk-breadcrumbs__link") %>
        </li>
      <% end %>
    </ol>
  </nav>
</section>
