<%= tag.div(class: classes, role: "navigation") do %>
  <ul class="extra-navigation__list extra-navigation__flex">
    <li class="extra-navigation__link extra-navigation__mail">
      <%= link_to("/mailinglist/signup/name", class: "link--black") do %>
        Sign up for emails<span class="icon icon-mail hide-on-narrow" aria-hidden="true"></span><span class="icon icon-mail-white hide-on-narrow" aria-hidden="true"></span>
      <% end %>
    </li>
    <li class="extra-navigation__link extra-navigation__calendar">
      <%= link_to("/events", class: "link--black") do %>
        Upcoming events<span class="icon icon-calendar hide-on-narrow" aria-hidden="true"></span><span class="icon icon-calendar-white hide-on-narrow" aria-hidden="true"></span>
      <% end %>
    </li>
  </ul>
<% end %>
