<%= tag.div(class: classes) do %>
  <ul>
    <li class="extra-navigation__link"><%= link_to("Teaching events", events_path) %></li>
    <li class="extra-navigation__link"><%= link_to("Register your interest", mailing_list_steps_path) %></li>
    <li>
      <form><input placeholder="Search Get Into Teaching" name="search" type="search"></input></form>
    </li>
  </ul>
<% end %>
