<div class="logo-wrapper">
  <div class="logo">
    <a href="/" class="logo__image">
      <% if helpers.rebrand? %>
        <%= image_pack_tag 'static/images/logo/rebrand-2026/GIT-Logo-02-26-Black-Purple_2-1.png', alt: "Go to the Get Into Teaching homepage, Teaching Every Lesson Shapes a Life logo", size: "286x113", data: { "lazy-disable": true } %>
        <%= image_pack_tag 'static/images/logo/rebrand-2026/GIT-Logo-02-26-Black-Purple_1-1.png', alt: "Go to the Get Into Teaching homepage, Teaching Every Lesson Shapes a Life logo", size: "286x113", data: { "lazy-disable": true } %>
      <% else %>
        <%= image_pack_tag 'static/images/logo/teaching_blue_background.svg', alt: "Go to the Get Into Teaching homepage, Teaching Every Lesson Shapes a Life logo", size: "286x113", data: { "lazy-disable": true } %>
        <%= image_pack_tag 'static/images/logo/teaching_black_background_pink_underline.svg', alt: "Go to the Get Into Teaching homepage, Teaching Every Lesson Shapes a Life logo", size: "286x113", data: { "lazy-disable": true } %>
      <% end %>
    </a>
  </div>
</div>
