<div class="logo-wrapper">
  <div class="logo">
    <a href="/" class="logo__image">
      <%= image_pack_tag 'media/images/getintoteachinglogo.svg', alt: "Go to Home page", size: "140x48", data: { "lazy-disable": true } %>
    </a>
  </div>
  <div class="dfe-logo">
      <%= image_pack_tag 'media/images/dfelogo-black.svg', alt: "Department for education", size: "92x54", data: { "lazy-disable": true } %>
  </div>

  <div id="mobile-navigation-menu-button">
    <%= tag.button("Menu", data: { action: "click->navigation#toggleNav" }) %>
  </div>
</div>
