<div class="logo-wrapper">
  <div class="logo">
    <%= link_to "/", class: "logo__image" do %>
      <%= image_pack_tag 'static/images/logo/rebrand-2026/GIT-Logo-02-26-Black-Purple_2-1.png', alt: "Go to the Get Into Teaching homepage, Teaching Every Lesson Shapes a Life logo", size: "242x113", data: { "lazy-disable": true } %>
      <%= image_pack_tag 'static/images/logo/rebrand-2026/GIT-Logo-02-26-Black-Purple_1-1.png', alt: "Go to the Get Into Teaching homepage, Teaching Every Lesson Shapes a Life logo", size: "242x113", data: { "lazy-disable": true } %>
    <% end %>
  </div>
</div>
