<div class="logo-wrapper">
  <div class="logo">
    <a href="/" class="logo__image">
      <%= image_pack_tag 'media/images/getintoteachinglogo.svg', alt: "Go to Home page", size: "180x62", data: { "lazy-disable": true } %>
    </a>
  </div>
</div>
