<nav role="nav">
  <ol class="primary">
    <% all_resources.each do |resource| %>
      <% if resource.menu? %>
        <%= menu(resource.title, resource.path, resource.children) %>
      <% else %>
        <%= nav_link(resource.title, resource.path) %>
      <% end %>
    <% end %>
  </ol>
</nav>
