<div class="find-your-course">
  <div class="left">
    <div class="icon">
       <%= image_pack_tag("media/images/icon-search-black.svg", alt: "") %>
    </div>
  </div>

  <div class="right">
    <span class="caption-l caption--bold caption--purple">Find your course</span>
    <p>
      You can search for postgraduate courses that lead to qualified teacher status (QTS), or find
      Teach First courses on their website.
    </p>

    <p>
      <a class="button" href="https://www.find-postgraduate-teacher-training.service.gov.uk/">Search for a course</a>
    </p>
  </div>
</div>
