---
http_interactions:
- request:
    method: get
    uri: https://get-into-teaching-api-dev.london.cloudapps.digital/api/callback_booking_quotas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ENV[api_key]
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      x-vcap-request-id:
      - c0a3fb0b-b879-4691-64d3-c92870430b2a
    body:
      encoding: UTF-8
      string: '[{"timeSlot":"9am - 9:30am","day":"Wednesday 19 August","startAt":"2020-08-19T08:00:00Z","endAt":"2020-08-19T08:30:00Z","numberOfBookings":0,"quota":3,"isAvailable":true,"id":"3d543378-dfcc-ea11-a812-000d3a44ad35"},{"timeSlot":"9:30am
        - 10am","day":"Wednesday 19 August","startAt":"2020-08-19T08:30:00Z","endAt":"2020-08-19T09:00:00Z","numberOfBookings":0,"quota":3,"isAvailable":true,"id":"3f543378-dfcc-ea11-a812-000d3a44ad35"},{"timeSlot":"10am
        - 10:30am","day":"Wednesday 19 August","startAt":"2020-08-19T09:00:00Z","endAt":"2020-08-19T09:30:00Z","numberOfBookings":0,"quota":3,"isAvailable":true,"id":"41543378-dfcc-ea11-a812-000d3a44ad35"},{"timeSlot":"[...]
