<div class="row inset">
  <section class="col col-720 col-space-l-top">
      <h2>Becoming a maths teacher</h2>
      <p>While I was doing my physics degree, I looked into various internships and other opportunities but none of them really appealed to me. By chance, I saw a poster advertising a physics <a href="/train-to-be-a-teacher/teaching-internships">teaching internship</a> and thought I’d give it a go. As I was filling out the application form, I realised I had a lot of the skills they were looking for.</p>
      <p>I wasn’t always sure what career I’d like to pursue. A physics degree appealed to me because the questions physics deals with seem so much bigger and more open than in other subjects. I had very knowledgeable physics teachers who shared their passion for the subject beyond the syllabus, and that’s something I try to do with my students now.</p>
  </section>

  <section class="col col-720">
    <%= render Content::QuoteComponent.new(
    text: "One of the great things about teaching is that pupils are often asking questions that I don’t know the answer to. I find their perspectives so interesting and challenging.",
    large: true
  ) %>
  </section>

  <section class="col col-720 col-space-l-top">
      <p>I like to bring the research I did during my degree into the classroom, and when students ask me why I decided to teach rather than pursue research I tell them that teaching is so much more interesting and fun.</p>
      <p>My teacher training year was definitely a learning curve. I have vivid memories of my first lesson, where a task that I had thought would take five minutes ended up lasting the entire hour!</p>
      <p>I found the training really interesting because as well as practising the skills of teaching, you’re also learning the theory behind why certain approaches work. It’s what I had felt was missing from my research work — in teaching I really got to see the application of what I was doing. I continued to pursue this by doing a master's degree in Science Education.</p>
      <h2>Starting my career progression</h2>
      <p>I applied for the head of physics role during my first year of teaching and was successful. This was a big jump for me and essentially allowed me to have a bigger impact beyond the walls of my classroom, improving provision for all students studying key stage 5 physics and the staff that taught them.</p>
      <h2>Increased responsibility</h2>
      <p>In my third year I was promoted to second in department and took on more responsibility. I lead meetings, manage the budget, conduct appraisals, and organise learning walks to ensure teaching is consistent across the department. This extra work is reflected in my teaching schedule, with reduced classroom hours so that I can manage all the additional tasks.</p>
      <p>As I became more experienced and developed my leadership skills, I realised I wanted to continue to progress in leadership so that I could affect decisions at a higher level and have a wider impact on students.</p>
  </section>

  <section class="col col-720">
    <%= render Content::QuoteComponent.new(
    text: "I enjoyed the challenge of not just coming up with something that would work in my classroom, but that would work for other teachers and their students.",
    large: true
  ) %>
  </section>

  <section class="col col-720 col-space-l-top">
      <h2>Career support</h2>
      <p>I had a great mentor in senior leadership who talked through how they made their decisions and gave me an idea of how to fulfil that leadership role. It’s been great to be able to go to someone who can give me their perspective. I’ve also found the more informal mentoring opportunities, like having a coffee and a chat with a colleague, useful for exploring my leadership ambitions.</p>
      <h2>Managing the challenges and making a difference</h2>
      <p>There are challenges to the job, of course. I was 21 when I began teaching and 22 when I became head of department. Managing colleagues that were older and more experienced than me was difficult to begin with, but I can say now, after having stayed at the same school for 6 years and developed my reputation, that it’s not so much of a challenge any more.</p>
      <p>I found the best approach was to acknowledge other people’s experience and seek their advice, while still driving forward with a clear vision. When I moved over to the maths department, I had to develop a new management style, but fortunately I already knew the staff well.</p>
      <p>I’ve really enjoyed the additional responsibility that head of physics and now assistant head of maths brings. In my department we have great policies that allow us to play to our strengths, and we have a very organised leadership team.</p>
      <p>The enhanced responsibility has allowed me to see not just the difference we can make to our students, but also to our staff.</p>
  </section>
</div>
