<div class="row">
  <section class="col col-720">
    <%= render Content::MailingListComponent.new(
      title: "Get the latest teaching information and support",
      intro: "Answer a couple of questions about yourself and we'll send you more information about teaching benefits, as well as helpful tips and advice to get you one step closer to a career in teaching."
    ) %>
  </section>
</div>
