<%= image_pack_tag("/assets/image.png") %>

<img src="/assets/nested/image.jpg">

<%= link_to("Download a PDF", "/assets/file.pdf") %>

<div style="background-image: url('/assets/image.png')">an image</div>

<img src="/assets/non-existant-image.png">
