<div class="row">
  <section class="col col-720">
    <%= render Content::MailingListComponent.new(
      title: " Find out more about how to become a teacher",
      intro: "Answer a couple of questions and we'll send you more information, as well as helpful tips and advice to get you one step closer to a career in teaching."
    ) %>
  </section>
</div>
