<h2>You told us that you:</h2>

<p>You can <%= link_to "change your answers", routes_into_teaching_steps_path %> if you need to.</p>

<div class="row">
  <% @results.each do |result| %>
    <div class="col-space-s">
      <%= render Content::ResultsBoxComponent.new(
        heading: result["title"],
        fee: result["course_fee"],
        course_length: result["course_length"],
        funding: result["funding"],
        text: result["description"],
        link_text: "Find out more",
        link_target: "/steps-to-become-a-teacher",
      ) %>
    </div>
  <% end %>
</div>
