<h2>You told us that you:</h2>

<p>You can <%= link_to "change your answers", routes_into_teaching_steps_path %> if you need to.</p>

<%= @user_answers.inspect %>

<hr>

<ul>
  <% @results.each do |result| %>
    <li><%= result["title"] %></li>
  <% end %>
</ul>
