<%= render Content::LandingHeroComponent.new(
  title: "Find your route into teaching",
  colour: "pastel yellow-yellow",
  image: "static/images/route-hero.png"
) %>

<section class="container">
  <div class="row inset">
    <div class="col col-845 col-space-m-top">
        <p>Get started on your journey into teaching. Answer 3 questions and you'll instantly find routes into teaching based on your circumstances.</p>

        <%= render Content::LinkAsButtonComponent.new(
          link_text: "Start now",
          href: routes_into_teaching_step_path(RoutesIntoTeaching::Wizard.steps.first.key)
        ) %>
    </div>
  </div>
</section>
