<div class="campaign-hero">
  <div class="campaign-hero__background"></div>
  <%= picture %>
  <div class="campaign-hero__title">
    <h1 class="heading-xl heading--margin-bottom-0 heading--highlight-blue"><span><%= title %></span></h1>
  </div>
  <div class="campaign-hero__subtitle heading-xxxl heading-margin-bottom-0 heading--highlight-blue">
    <span><%= subtitle %></span>
  </div>
</div>
