<div class="checklist-collage">
  <div>
    <ul>
      <% checklist.each do |item| %>
        <%= tag.li(tag.strong(item)) %>
      <% end %>
    </ul>
    <%= link_to(cta[:text], cta[:link], class: "button") %>
  </div>
  <div class="images">
    <%= images %>
  </div>
</div>
