<% if title? %>
  <h2 class="always-indent"><%= title %></h2>
<% end %>

<div class="<%= wrapper_class %>">
  <dl>
    <% data.map do |key, value| %>
      <dt><%= key %></dt>
      <dd><%= value %></dd>
    <% end %>
  </dl>
</div>
