<% if title? %>
  <%= content_tag(heading_tag, title, class: "always-indent", id: title.parameterize.concat("-table")) %>
<% end %>

<div class="<%= wrapper_class %>">
  <dl>
    <% data.map do |key, value| %>
      <dt><%= key %></dt>
      <dd><%= value %></dd>
    <% end %>
  </dl>
</div>
