<div class="quote-with-image">
  <div class="quote-with-image__content-container">
    <div class="quote-with-image__title"><%= title %></div>
    <div class="quote-with-image__content <%= quotes ? "quote-with-image__content--with-quotes" : "" %>">
      <%= text.html_safe %>
    </div>
  </div>

  <%= image %>
</div>
