<section class="results-box">
  <div class="results-box__background">
  </div>
  <h2 class="results-box__heading">
    <%= heading %>
  </h2>
  <p class="results-box__text">
    <%= text %>
  </section>