<div class="talk-to-us-content">
  <div class="heading-container">
    <h2 class="heading-m heading--box-pink">Talk to us</h2>
  </div>
  <div class="content">
    <div class="inset">
      <p>Get support through live chat or on the phone, Monday to Friday, <strong>8:30am until 5:30pm</strong> except on <a class="link--dark" href="https://www.gov.uk/bank-holidays">bank holidays</a>.</p>
    </div>
    <div class="contact-options">
      <div>
        <i class="icon-call icon--on-yellow"></i>
        <div>
          <h3 class="heading-l">Call us</h3>
          <p>Our phone line gives you a quick and easy way to get one-off support.</p>
          <p><a href="tel:08003892500" class="telephone link--black">0800 389 2500</a></p>
        </div>
      </div>
      <div>
        <i class="icon-chat icon--on-yellow"></i>
        <div>
          <h3 class="heading-l">Live chat</h3>
          <p>Talk to a real person who can help answer all your questions.</p>
          <%= render ChatComponent.new %>
        </div>
      </div>
        </div>
      <div class="inset">
          <%= render Content::InsetTextComponent.new(
            header: "Non-UK citizens:",
            text: "You can call us on <a href=\"tel:+448003892500\">+44 800 389 2500</a>, or use the free live chat service. Calls will be charged at your country's standard rate.",
            color: "purple-white"
          ) %>
      </div>
    </div>
</div>
