<div class="youtube-video">
  <%= tag.iframe(
    title: title,
    loading: "lazy",
    src: src,
    frameborder: 0,
    allow: "autoplay; encrypted-media",
    allowfullscreen: true,
    enablejsapi: true,
  ) %>
</div>
