<div class="support">
  <h2 class="heading--box-blue">Support with teacher training</h2>
  <p>Throughout your initial teacher training in <%= @front_matter["subject"] %>, you'll have the support of a mentor.</p>
  <p>Your mentor will:</p>
  <ul>
    <li>guide you through your training, sharing learning and career development opportunities with you</li>
    <li>meet with you regularly to make sure your training is a positive experience</li>
  </ul>
  <p>You'll also be part of a welcoming school community where you'll learn from fellow teachers through taught sessions, seminars and workshops.</p>
  <p>Once you've completed your initial teacher training, you'll continue to be supported during your first 2 years of teaching. Find out what support you'll get as <a href="/life-as-a-teacher/teaching-as-a-career/early-career-teachers">an early career teacher</a>.</p>
</div>
