<% if @event.providers_list %>
  <section class="teaching-event__attending-providers">
    <div>
      <h3>Providers attending this event:</h3>

      <%= safe_html_format(@event.providers_list) %>
    </div>
  </section>
<% end %>
