<p>The funding currently shown is for courses starting in the 2021 to 2022 academic year, which are now closed for applications.</p>

<p>Funding for courses starting in the 2022 to 2023 academic year will be announced this autumn.</p>

<section id="funding-widget">
  <%= render FundingWidgetComponent.new(
    @funding_widget,
    page_path(anchor: 'funding-widget'))
  %>
</section>
