<h2 id="find-out-more">Becoming a supply teacher</h2>

<details>
  <summary>How do I find a school to work in?</summary>
  <div>
    <p>
      We recommend you <a href="#please-register-with-a-supply-teaching-agency-now">contact
        a supply teaching agency directly</a> rather than any school. This is to
      avoid additional burdens on schools, and because supply agencies work
      directly with schools who need more staff. Agencies can help you to complete
      the necessary pre-employment checks.
    </p>
  </div>
</details>

<details>
  <summary>How do I find a supply agency?</summary>

  <div>
    <p>
      You can <a href="#please-register-with-a-supply-teaching-agency-now">find a supply
        teaching agency</a> near you. You can also contact other supply agencies
      you know, even if they are not on this list.
    </p>
  </div>
</details>

<details>
  <summary>Will I need to complete pre-employment checks, such as DBS checks?</summary>

  <div>
    <p>
      A supply teaching agency will be able to let you know what steps to take.
      They will support you to complete any other pre-employment checks.
    </p>
  </div>
</details>

<details>
  <summary>Who pays for the Disclosure and Barring Service (DBS) check?</summary>

  <div>
    <p>
      A supply teaching agency will let you know about any costs. Some supply
      agencies will cover the cost of the DBS check, so check with them directly.
    </p>
  </div>
</details>

<details>
  <summary>How much will I get paid?</summary>

  <div>
    <p>
      The level of pay is agreed between the school, agency and supply teacher.
      You may be subject to deductions for tax on any earnings and/or National
      Insurance contributions, depending on your circumstances.
    </p>
  </div>
</details>

<details>
  <summary>Will my teachers’ pension be impacted if I return as a supply teacher?</summary>

  <div>
    <p>
      It will depend on who your employer is. Supply teaching agencies do not
      participate in the Teachers’ Pensions Scheme (TPS) and therefore returning
      to teaching in this way will not affect your pension. Local authorities
      (LAs), academies and further education colleges do participate in the TPS.
      If you are employed directly as a supply teacher by one of these
      organisations, then you can
      <a href="https://www.teacherspensions.co.uk/members/calculators/how-much-can-you-earn-as-a-retired-member.aspx">check how this may affect you.</a>
    </p>

    <p>
      The supply agency will be able to confirm with you whether or not they are
      classed as your ‘employer’.
    </p>
  </div>
</details>

<details>
  <summary>Will travel costs be covered?</summary>

  <div>
    <p>
      Travel costs will not be paid by the Department for Education. Check with
      the supply agency whether they reimburse travel costs.
    </p>
  </div>
</details>

<details>
  <summary>What information will the supply agency need?</summary>

  <div>
    <p>
      Agencies have varying requirements. But as a minimum you will be asked to
      provide:
    </p>

    <ol>
      <li>Evidence that you have a suitable qualification, for example: Qualified Teacher Status (QTS)</li>
      <li>Information to verify your identity and right to work</li>
      <li>Information to enable references to be taken.</li>
    </ol>
  </div>
</details>

<details>
  <summary>What information will the school need?</summary>

  <div>
    <p>
      The agency will liaise with the school on your behalf, so you will not need
      to provide information to the school directly.
      <p>
  </div>
</details>

<details>
  <summary>How do I find out about the school that I will be teaching in?</summary>

  <div>
    <p>
      Your agency will provide you with information about the school before you
      start any placement. They will work with you to understand your experience
      and preferences. This will help them find appropriate placements for you.
    </p>
  </div>
</details>

<details>
  <summary>I only want to teach for 1 or 2 days a week. Is that ok?</summary>

  <div>
    <p>
      You can be flexible in your approach to work. Whether it’s one day a week
      or five, your help will be invaluable at this time.
    </p>
  </div>
</details>

<details>
  <summary>What am I expected to teach?</summary>

  <div>
    <p>
      The supply teaching agency will work with you to understand your experience
      and preferences. This will help them find appropriate placements for you.
    </p>
  </div>
</details>

<details>
  <summary>How quickly will I be placed?</summary>

  <div>
    <p>
      All pre-employment checks will need to be completed before any placement.
      Currently 80% of Enhanced DBS checks are issued within the 14 day service
      target and over 30% are issued within 1 day. Once these have been completed,
      placement timing will depend on demand from schools or colleges. We expect
      demand to be high but can’t guarantee there will be a suitable placement.
    </p>
  </div>
</details>

<details>
  <summary>Do I need to be vaccinated before working in a school?</summary>

  <div>
    <p>
      Coronavirus (COVID-19) vaccines are the best way to protect people from
      coronavirus (COVID-19) and will save thousands of lives. We encourage all
      the workforce to take <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/coronavirus-vaccination/book-coronavirus-vaccination/">up the offer of a vaccine and a booster</a> where
      possible.
    </p>

    <p>
      Schools will not usually require proof of vaccination and there is no
      obligation on you to share your vaccine status with the school. We expect
      schools, like all employers, to give due consideration to their
      obligations under the Equality Act 2010.
    </p>
  </div>
</details>

<details>
  <summary>I’m worried about going into a school, what are schools doing to ensure they are COVID-safe?</summary>

  <div>
    <p>
      As of 5 January 2022, 90.1% of all adults and children over 12 years old in
      England have received at least one dose of a vaccine, 82.5% have received a
      second dose and 60.4% have received a booster (or third
      dose). Vaccines remain an effective measure against COVID-19 and we
      encourage everyone to
      <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/coronavirus-vaccination/book-coronavirus-vaccination/">take
        up the offer of a vaccine and booster where possible</a>.
    </p>

    <p>
      All settings have a range of measures in place to manage COVID-19
      transmission day to day, for example ventilation and hygiene for all
      settings, and regular testing for the workforce and learners in year 7 and
      above. If you are placed in a school please ask them to explain their measures to you.
    </p>

    <p>
      The measures in place day-to-day in education settings are based on the
      latest scientific advice and strike a balance between managing transmission
      risk and reducing disruption to children and young people’s education.
    </p>

    <p>
      All secondary schools have been asked to test their pupils once on-site, using LFD tests,
      on return in January. Secondary school pupils should then continue to test twice weekly
      at home with lateral flow device (LFD) test kits, 3 or 4 days apart. Staff, including
      supply staff, won’t usually test on site but should test twice weekly at home. Testing
      remains voluntary but is strongly encouraged.
    </p>

    <p>
      From Tuesday 14 December, a new national Daily Testing of Contacts of Covid policy was introduced.
      This means that young people and fully vaccinated adults who are identified as a close contact of
      someone with COVID can take an NHS LFD test every day for seven days and continue to attend their
      setting as normal unless they have a positive test result.
    </p>

    <p>
      All education and childcare settings should already have their own contingency plans (sometimes
      called outbreak management plans) describing what actions would be taken if children, pupils,
      students or staff test positive for COVID-19, or how they would operate if you were advised to
      introduce any measures described in the contingency framework to help break chains of transmission.
    </p>

    <p>
      Employers should be able to explain the measures they have in place to keep
      staff safe at work. The Health and Safety Executive (HSE) has published
      guidance on protecting vulnerable workers, including advice for employers and
      employees on how to talk about reducing risks in the workplace. Employers
      should discuss concerns with staff.
    </p>

    <p>
      The Department for Education continues to work closely with the Department of
      Health and Social Care (DHSC) and the UK Health Security Agency (UKHSA),
      informed by the latest scientific evidence and advice, to revise our COVID-19
      safe working and protective measures for settings in England.
    </p>
  </div>
</details>

<details>
  <summary>Will I need to wear a face covering in school?</summary>

  <div>
    <p>
      Face coverings help protect the wearer and others against the spread of infection
      because they cover the nose and mouth, which are the main confirmed sources of
      transmission of COVID-19.
    </p>

    <p>
      Where pupils and students in year 7 (which would be children who were aged 11 on
      31 August 2021) and above are educated, we continue to recommend that face coverings
      should be worn by pupils, students, staff and adult visitors when moving around the
      premises, outside of classrooms, such as in corridors and communal areas.
    </p>

    <p>
      From 4 January 2022 we also recommend that, in those settings where pupils and students
      in year 7 and above are educated, face coverings should be worn in classrooms and
      teaching spaces or during indoor activities. This does not apply in situations where
      wearing a face covering would impact on the ability to take part in exercise or strenuous
      activity, for example in PE lessons. This is a temporary measure.
    </p>

    <p>
      We would not ordinarily expect teachers to wear a face covering in the classroom if they
      are at the front of the class, to support education delivery, although settings should
      be sensitive to the needs of individual teachers.
    </p>

    <p>
      There are some circumstances where people may not be able to wear a face covering, and
      staff and others in settings should be mindful and respectful of such circumstances.
      Some people are less able to wear face coverings, and the reasons for this may not be
      visible to others.
    </p>

    <p>
      Settings, as employers, have a duty to comply with the Equality Act 2010 which includes
      making reasonable adjustments for disabled staff. They also have a duty to make
      reasonable adjustments for disabled pupils, to support them to access education
      successfully. No pupil should be denied education on the grounds that they are, or are
      not, wearing a face covering.
    </p>
  </div>
</details>

<details>
  <summary>Are schools well-ventilated?</summary>

  <div>
    <p>
      Over 99 per cent of eligible schools, further education colleges, and the majority of
      early years settings have now received a carbon dioxide monitor with over 300,000 now
      delivered. Final deliveries were made before the end of the Autumn term.
    </p>

    <p>
      Feedback suggests that the monitors are acting as a helpful tool to manage ventilation,
      sitting alongside the other protective measures in place to manage transmission, such
      as regular testing, vaccinations and increased hygiene.
    </p>
  </div>
</details>

<details>
  <summary>What if I am looking for a permanent role as a teacher?</summary>

  <div>
    <p>
      Teachers seeking a permanent teaching role can
      <a href="https://teaching-vacancies.service.gov.uk">search for teaching vacancies</a>
      in their local area. This service is free for schools and teachers.
    </p>
  </div>
</details>

<details>
  <summary>I used to teach in college. Can I find a college to work in?</summary>

  <div>
    <p>
      Yes – ex college teachers are encouraged to approach supply agencies too.
      Many supply agencies also supply staff to colleges as well as schools,
      and will be able to find appropriate placements.
    </p>
  </div>
</details>

<details>
  <summary>I am an ex-early years practitioner. Can I find an early years setting to work in?</summary>

  <div>
    <p>
      Yes - ex-early years practitioners are encouraged to approach supply agencies too.
      Many supply agencies also supply early years settings as well as schools, and will
      be able to find appropriate placements. There are also many early years specific
      supply agencies.
    </p>
  </div>
</details>

<details>
  <summary>I’m not a teacher but I’d like to work in a school, for example, as a teaching assistant. Can I find a school to work in?</summary>

  <div>
    <p>
      Yes, schools are often looking for support staff both on a temporary basis and
      permanently. Many supply agencies supply support staff and will be able to find
      appropriate placements. If you are seeking a permanent support role you can
      <a href="https://teaching-vacancies.service.gov.uk/">search for vacancies in your local area</a>.
    </p>
  </div>
</details>

<details>
  <summary>What if I am interested in teaching in Wales, Scotland or Northern Ireland?</summary>

  <div>
    <h3>Wales</h3>

    <p>
      For supply teachers working in Wales, see the <a href="https://hwb.gov.wales/professional-development/supply-teachers/#the-national-procurement-service-supply-teachers-framework-for-wales">Welsh Government’s NPS
        Framework and recommended agencies</a>. There are 25 approved agencies, covering
      all 22 local authorities. Teachers looking for supply teacher roles in Wales
      can contact those agencies to register.
    </p>

    <p>
      For additional queries on supply teaching in Wales, please contact the Welsh
      Government at <%= mail_to("SMED2Consultations@gov.wales") %>
    </p>

    <h3>Scotland</h3>

    <p>
      If you are interested in teaching in Scotland, see
      <a href="https://teachinscotland.scot/">Scottish Government Teach in Scotland</a>
      or <a href="https://www.gtcs.org.uk/">General Teaching for Scotland</a>.
    </p>

    <h3>Northern Ireland</h3>

    <p>
      Qualified teachers who wish to be substitute teachers in Northern Ireland can
      register their details on the Northern Ireland Substitute Teachers’ Register.
      An enhanced disclosure Access NI (vetting) check will be part of the process
      through the Education Authority.
    </p>
  </div>
</details>

<a href="#find-an-agency" class="button">
  Find an agency
</a>
