<h2 id="find-out-more">Becoming a supply teacher</h2>

<details>
  <summary>How do I find a school to work in?</summary>
  <p>
    We recommend you <a href="#please-register-with-a-supply-agency-now">contact
    a teacher supply agency directly</a> rather than any school. This is to
    avoid additional burdens on schools, and because supply agencies work
    directly with schools who need more staff. Agencies can help you to complete
    the necessary pre-employment checks.
  </p>
</details>

<details>
  <summary>How do I find a supply agency?</summary>

  <p>
    You can <a href="#please-register-with-a-supply-agency-now">find a teacher
      supply agency</a> near you. You can also contact other supply agencies
    you know, even if they are not on this list.
  </p>
</details>

<details>
  <summary>Will I need to complete pre-employment checks, such as DBS checks?</summary>

  <p>
    A supply teacher agency will be able to let you know what steps to take.
    They will support you to complete any other pre-employment checks.
  </p>
</details>

<details>
  <summary>Who pays for the DBS?</summary>

  <p>
    A supply teacher agency will let you know about any costs. Some supply
    agencies will cover the cost of the DBS check, so check with them directly.
  </p>
</details>

<details>
  <summary>How much will I get paid?</summary>

  <p>
    The level of pay is agreed between the school, agency and supply teacher.
    You may be subject to deductions for tax on any earnings and/or National
    Insurance contributions, depending on your circumstances.
  </p>
</details>

<details>
  <summary>Will my teachers’ pension be impacted if I return as a supply teacher?</summary>

  <p>
    It will depend on who your employer is. Teacher supply agencies do not
    participate in the Teachers’ Pensions Scheme (TPS) and therefore returning
    to teaching in this way will not affect your pension. Local authorities
    (LAs), academies and further education colleges do participate in the TPS.
    If you are employed directly as a supply teacher by one of these
    organisations, then you can
    <a href="https://www.teacherspensions.co.uk/members/calculators/how-much-can-you-earn-as-a-retired-member.aspx">check how this may affect you.</a>
  </p>
</details>

<details>
  <summary>Will travel costs be covered?</summary>

  <p>
    Travel costs will not be paid by the Department for Education. Check with
    the supply agency whether they reimburse travel costs.
  </p>
</details>

<details>
  <summary>What information will the supply agency need?</summary>

  <p>
    Agencies have varying requirements. But as a minimum you will be asked to
    provide:
  </p>

  <ol>
    <li>Evidence that you have a suitable qualification, for example: Qualified Teacher Status (QTS)</li>
    <li>Information to verify your identity and right to work</li>
    <li>Information to enable references to be taken.</li>
  </ol>
</details>

<details>
  <summary>What information will the school need?</summary>

  <p>
    The agency will liaise with the school on your behalf, so you will not need
    to provide information to the school directly.
  <p>
</details>

<details>
  <summary>How do I find out about the school that I will be teaching in?</summary>

  <p>
    Your agency will provide you with information about the school before you
    start any placement.
  </p>
</details>

<details>
  <summary>What am I expected to teach?</summary>

  <p>
    The supply teaching agency will work with you to understand your experience
    and preferences. This will help them find appropriate placements for you.
  </p>
</details>

<details>
  <summary>How quickly will I be placed?</summary>

  <p>
    All pre-employment checks will need to be
    completed before any placement. Once these have been completed, placement
    timing will depend on demand from schools or colleges.
  </p>
</details>

<details>
  <summary>Do I need to be vaccinated before working in a school?</summary>

  <p>
    Coronavirus (COVID-19) vaccines are the best way to protect people from
    coronavirus (COVID-19) and will save thousands of lives. We encourage all
    the workforce to take <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/coronavirus-vaccination/book-coronavirus-vaccination/">up the offer of a vaccine and a booster</a> where
    possible.
  </p>

  <p>
    There is no specific duty in the regulations on employees or those seeking
    employment to share their vaccine status with employers. We expect schools,
    like all employers, to give due consideration to their obligations under
    the Equality Act 2010.
  </p>
</details>

<details>
  <summary>I’m worried about going into a school, what are schools doing to ensure they are COVID-safe?</summary>

  <p>
    As of 13 December 2021, 89% of all adults and children over 12 years old in
    England have received at least one dose of a vaccine, 81.1% have received a
    second dose and 40.8% have received a booster (or third dose). Vaccines
    remain an effective measure against COVID-19 and we encourage everyone to
    <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/coronavirus-vaccination/book-coronavirus-vaccination/">take up the offer of a vaccine and booster where possible</a>.
  </p>

  <p>
    All settings have a range of measures in place to manage COVID-19
    transmission day to day, for example ventilation and hygiene for all
    settings, and regular testing for the workforce and learners in year 7 and
    above.
  </p>

  <p>
    The measures in place day-to-day in education settings are based on the
    latest scientific advice and strike a balance between managing transmission
    risk and reducing disruption to children and young people’s education.
  </p>

  <p>
    All staff, including temporary staff, across all education settings are
    encouraged to continue testing twice-weekly from home.
  </p>

  <p>
    All settings have contingency plans to reflect the possibility of increased
    use of lateral flow device (LFD) testing by staff and, where they are already
    being offered testing, for pupils and students.
  </p>

  <p>
    Employers should be able to explain the measures they have in place to keep
    staff safe at work. The Health and Safety Executive (HSE) has published
    guidance on protecting vulnerable workers, including advice for employers and
    employees on how to talk about reducing risks in the workplace. Employers
    should discuss concerns with staff.
  </p>

  <p>
    The Department for Education continues to work closely with the Department of
    Health and Social Care (DHSC) and the UK Health Security Agency (UKHSA),
    informed by the latest scientific evidence and advice, to revise our COVID-19
    safe working and protective measures for settings in England.
  </p>
</details>

<details>
  <summary>What if I am looking for a permanent role as a teacher?</summary>

  <p>
    Teachers seeking a permanent teaching role can
    <a href="https://teaching-vacancies.service.gov.uk">search for teaching vacancies</a>
    in their local area. This service is free for schools and teachers.
  </p>
</details>

<details>
  <summary>I used to teach in college. Can I find a college to work in?</summary>

  <p>
    Yes. Many supply agencies also supply staff to colleges as well as schools,
    and will be able to find appropriate placements.Yes. Many supply agencies
    also supply staff to colleges as well as schools, and will be able to find
    appropriate placements.
  </p>
</details>

<details>
  <summary>I am an ex-early years practitioner. Can I find an early years setting to work in?</summary>

  <p>
    Yes. Many supply agencies also supply early years settings as well as
    schools, and will be able to find appropriate placements. There are also many
    early-years specific supply agencies.
  </p>
</details>

<details>
  <summary>What if I am interested in teaching in Wales, Scotland or Northern Ireland?</summary>

  <h4>Wales</h4>

  <p>
    For supply teachers working in Wales, see the <a href="https://hwb.gov.wales/professional-development/supply-teachers/#the-national-procurement-service-supply-teachers-framework-for-wales">Welsh Government’s NPS
      Framework and recommended agencies</a>. There are 25 approved agencies, covering
    all 22 local authorities. Teachers looking for supply teacher roles in Wales
    can contact those agencies to register.
  </p>

  <p>
    For additional queries on supply teaching in Wales, please contact the Welsh
    Government at SMED2Consultations@gov.wales
  </p>

  <h4>Scotland</h4>

  <p>
    If you are interested in teaching in Scotland, see
    <a href="https://teachinscotland.scot/">Scottish Government Teach in Scotland</a>
    or <a href="https://www.gtcs.org.uk/">General Teaching for Scotland</a>.
  </p>

  <h4>Northern Ireland</h4>

  <p>
    Qualified teachers who wish to be substitute teachers in Northern Ireland can
    register their details on the Northern Ireland Substitute Teachers’ Register.
    An enhanced disclosure Access NI (vetting) check will be part of the process
    through the Education Authority.
  </p>
</details>

<a href="#finding-an-agency" class="button">
  Find an agency
</a>
