<section class="case-study advice">
  <figure>
    <p>My advice to you?</p>
    <blockquote>Get to know the kids and look for ways to help them open up. The kids are amazing and when you have a good relationship with them, you know it.</blockquote>
  </figure>

  <div class="back bottom">
    <%= link_to("/welcome") do %>
      &#8592; Back to welcome
    <% end %>
  </div>
</section>
