<article class="case-study">
  <p class="intro">
    Jack is a PE teacher from Leeds, with a passion for opening up conversations
    around mental health in schools.
  </p>

  <p>
    I’m a massive advocate for keeping
    yourself fit and strong, both physically and mentally. As a teacher, I’ve
    always been passionate about finding ways to help my students feel mentally
    strong, because it means they’re in a much better place to learn.
  </p>

  <p>
    When I started leading on mental health in my school I thought, ‘how can I
    get this message to as many students as possible?’. I wanted to do
    something different – something that would really get their attention. A
    few of my friends had set up podcasts, and I thought it seemed like a great
    way to do it. So I started the
    <a href="https://open.spotify.com/show/5l0JSWkC8qiL1b0oXORbll">Philips Positive Podcast</a>,
    which invites teachers to share their own mental health stories and
    provides tips to help pupils be able to cope with life’s stresses and
    anxieties.
  </p>

  <p>
    We’ve got loads of listeners, even kids from different schools. Parents tell me
    they listen too – they tell me they’ve had some really frank &amp; open
    conversations with their kids about how they feel. There are a few lads who I
    thought would never give it a chance, and for them to go away and listen means
    the world to me, I’m well chuffed!
  </p>

  <p>
    Now I want to take the podcast even further – maybe set up a website that gives
    more support to young people with their mental health.
  </p>

  <p>
    I think people feel comfortable talking to me, and I want to continue to open up that conversation.
  </p>
</article>
