<div class="event-resultbox">
    <div class="event-resultbox__header">
        <h2>Secondary School teaching</h2>
    </div>
    <div class="event-resultbox__datetime">
        11 May 2020 at 17:00 - 18:30
    </div>
    <div class="event-resultbox__greenstripe"></div>
    <div class="event-resultbox__content">
        <p>
            This online event will provide advice on all things secondary teaching. It will offer helpful hints and tips on the different training options available and how to choose the right option for you.
        </p>
        <div><h3><div class='event-resultbox__content__icon icon-train-to-teach'></div> Train to teach event</h3></div>
        <div><h3><div class='event-resultbox__content__icon icon-online'></div> Online event</h3></div>
        <div><h3><div class='event-resultbox__content__icon icon-pin'></div> Coventry</h3></div>
    </div>
</div>