<div class="logo__image">
    <a href="/">
        <img src="<%= asset_pack_path 'media/images/getintoteachinglogo.svg'%>" alt="Get into teaching" />
        <div class="logo__image__tagline">Every Lesson shapes a life.</div>
    </a>
</div>