<article>
  <section class="statement">
    <div>
      <span class="pink xlarge bold">Science is&hellip;</span>
    </div>

    <div>
      <span class="pink medium bold">
        Etiam sed enim in magna tempor blandit. Praesent nunc lorem, maximus
        tincidunt augue vel, commodo elementum mi.
      </span>
    </div>
  </section>

  <section>
    <h2>Suspendisse sollicitudin</h2>

    <p>
      Etiam sed enim in magna tempor blandit. Praesent nunc lorem, maximus
      tincidunt augue vel, commodo elementum mi. Vivamus eu risus in nulla
      gravida lacinia et quis magna. Quisque eu felis a ante auctor porta.
    </p>

    <p>
      Vestibulum efficitur eros sed tincidunt efficitur. Cras malesuada lacus
      in est commodo, in interdum quam convallis.
    </p>
  </section>

  <%= render SubjectSpecific::TextBlockWithTwoImagesComponent.new(
    heading: "Science is for everyone",
    colour: "pink",
    image_1_path: "x",
    image_1_alt: "x",
    image_2_path: "x",
    image_2_alt: "x",
  ) do %>
    <p>
      Ego cum teneam sententiam, quid est enim in vita tantopere quaerendum quam
      cum omnia in philosophia, tum id, quod ipsi statuerunt, non possunt, victi
      et debilitati obiecta specie voluptatis tradunt se libidinibus
      constringendos nec quid eventurum sit provident ob eamque causam propter
      voluptatem et dolorem.
    </p>

    <p>ad haec et quae vel aliter pararetur et qua etiam carere.</p>
  <% end %>

  <section>
    <figure>
      <blockquote class="pink-quotes">
        <p class="bold">
          Aut maiorem aut minorem. Ita, quae mutat, ea corrumpit, quae sequitur sunt tota
          Democriti, atomi, inane, imagines, quae eidola nominant, quorum incursione non
          solum praesentibus fruuntur.
        </p>
      </blockquote>
      <figcaption>Claire, biology teacher</figcaption>
    </figure>
  </section>

  <%= render SubjectSpecific::TextBlockWithOneImageComponent.new(
    heading: "Try a two month internship",
    colour: "pink",
    image_1_path: "x",
    image_1_alt: "x",
  ) do %>
    <p>
      Ego cum teneam sententiam, quid est enim in vita tantopere quaerendum quam
      cum omnia in philosophia, tum id.
    </p>
  <% end %>

  <section>
    <figure>
      <blockquote class="purple-quotes">
        <p class="bold">
          Aut maiorem aut minorem. Ita, quae mutat, ea corrumpit, quae sequitur sunt tota
          Democriti, atomi, inane, imagines, quae eidola nominant, quorum incursione non
          solum praesentibus fruuntur.
        </p>
      </blockquote>
      <figcaption>Julie, physics teacher</figcaption>
    </figure>
  </section>

  <section class="columns">
    <div>
      <h2>What you'll be teaching</h2>

      <p>
        Quietem et ad eos cum suavitate afflueret et illaberetur, nec manus esse
        contenta posset nec ulla pars vacuitate doloris sine iucundo motu
        voluptatis. sin autem summa voluptas est, ut necessariae.
      </p>
    </div>

    <div>
      <div class="badges">
        <div class="badge pink">
          <div class="badge-text">
            Biology
          </div>
        </div>
        <div class="badge dark-cyan">
          <div class="badge-text">
            Physics
          </div>
        </div>
        <div class="badge purple">
          <div class="badge-text">
            Chemistry
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2>Consectetur adipiscing elit</h2>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minima
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea
      commodi consequatur? quis autem vel eum iure.
    </p>
  </section>
</article>
