---
version: 2
updates:

  - package-ecosystem: bundler
    directory: /
    schedule:
      interval: monthly

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: monthly

  - package-ecosystem: docker
    directory: /
    schedule:
      interval: weekly

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
      
  - package-ecosystem: terraform
    directory:  /terraform/paas/
    schedule:
      interval: daily
      
