<div class="campaign">
  <article>
    <section class="statement narrow">
      <div class="inset">
        <h2>What qualifications do you need to train to teach?</h2>
        <p>
          To train to teach in a primary, secondary or special school in England you'll need:
        </p>
        <ul>
          <li>GCSEs at grade 4 (C) or above in English and maths (and science if you want to teach primary)</li>
          <li>a bachelor's degree</li>
        </ul>
        <p><%= link_to("Find out more about the qualifications you need to teach", page_path("is-teaching-right-for-me/qualifications-you-need-to-teach")) %>.</p>
      </div>
    </section>
  </article>
</div>
