<div class="row">
  <section class="col col-full-content">
    <h2 class="heading--box-blue">Numbers to know</h2>

    <div class="inset">
      <%= render Content::FactListComponent.new(
        [
          {
            icon: "icon-ticket",
            value: "£10k+",
            title: "funding available for training",
            link: link_to("How can I fund my training?", page_path("funding-and-support/scholarships-and-bursaries")),
          },
          {
            icon: "icon-people",
            value: "2 years",
            title: "support for early career teachers",
            link: link_to("What support do I get?", page_path("support-for-early-career-teachers")),
          },
        ],
      ) %>
    </div>
  </section>
</div>
