<div class="row">
  <div class="grey">
    <section class="col col-full-content inset">
      <%= render(CallsToAction::Promo::PromoComponent.new(border: :none, reverse: true)) do |promo| %>
        <% promo.left_section(classes: %w[gse-background]) %>

          <% promo.right_section(heading: "Get school experience") do %>
              <p>School experience can help you explore what life is really like in the classroom and which subject and age range you'd like to teach.</p>

          <p>  <%= link_to("Find out more about school experience", "/is-teaching-right-for-me/get-school-experience", class: "link--black") %>.</p>
        <% end %>
      <% end %>
    </section>
  </div>
</div>
