<%= render Content::CampaignHeroComponent.new(
  title: ["Is teaching right", "for me?"],
  colour: @front_matter["colour"],
  image: @front_matter["image"]
) %>

<section class="container centered">
  <article class="campaign">
    <p class="inset">
      Choosing or changing a career can be a big decision.
      If you're wondering if teaching is the best path for you,
      find out what it's really like and where it can lead.
    </p>
  </article>
</section>
