<div class="row inset">
  <section class="col col-720">
    <h2>Find out how to become a teacher</h2>
    <p>
      Plan your next steps into teaching with our guide.
    </p>
    <p><%= link_to("How to become a teacher", page_path("steps-to-become-a-teacher")) %>.</p>
  </section>
</div>
