<div class="row inset">
  <section class="col col-720">
    <h2>Want to find out how to become a teacher?</h2>
    <p>
      Get to grips with what you need to do and when in our simple 5 step guide.
    </p>
    <p><%= link_to("Steps to become a teacher", page_path("steps-to-become-a-teacher")) %>.</p>
  </section>
</div>
