<div class="category__questions__container">

  <section class="container category__questions">

    <div class="category__question">
      <h2>What a career in teaching could look like</h2>

      <p>
        Teaching gives you the chance to shape a role that suits your skills, situation and ambition.
      </p>

      <a href="/blog/abigails-career-progression-story" class="button">Read how Abigail shaped her career</a>
    </div>

    <div class="category__question">
      <h2>Make a difference</h2>

      <p>
        As a teacher, your passion and creativity will inspire and shape future generations.
      </p>

      <a href="/blog/the-head-of-science-inspiring-students-in-blackpool" class="button">Read how Jessica inspires with her love of science</a>
    </div>

  </section>

</div>
