<div class="campaign">
  <article>
    <section class="grey">
      <section class="container">
        <div>
          <h2 class="heading--box-blue">Your career, your path</h2>
          <div class="inset">
            <p>
              Teaching gives you the chance to shape a role that suits your skills, situation and ambition.
            </p>

            <%= render Content::ChecklistCollageComponent.new(
              checklist: [
                "Move into leadership and influence the way things work",
                "Use your subject knowledge to help shape the curriculum",
                "Work with a pastoral team to support pupil wellbeing"
              ],
              image_paths: [
                "media/images/content/is-teaching-right-for-me/Physics_MissHayre_4.jpg",
                "media/images/content/is-teaching-right-for-me/History_Class_1.jpg",
                "media/images/content/is-teaching-right-for-me/Maths_MrAhmed_1.jpg",
              ],
              cta: {
                text: "Read how Abigail shaped her career progression",
                link: page_path("blog/abigails-career-progression-story"),
              }
            ) %>
          </div>
        </div>
      </section>
    </section>
  </article>
</div>
