<a class="cta-circle-link-wrapper" href="<%= href %>">
  <span class="cta-circle-button"><i class="fa-solid fa-circle-arrow-right fa-xl"></i></span>
  <span class="cta-link-text"><%= cta_link_text %></span>
</a>
