<div class="landing did-you-know">
  <div class="triangle green">
    <svg height="100%" width="100%" viewbox="0 0 100 100" preserveAspectRatio="none">
      <polygon points="0,100 100,0 100,100" />
    </svg>
  </div>

  <div class="text">
    <h2 class="pink">Did you know?</h2>

    <div class="pink">
      <p class="leading">
          By 2025, there will be 15% more pupils in secondary schools than there
          were in 2018.
      </p>

      <p>
        With a growing student population, we need maths teachers like you more
        than ever before.
      </p>
    </div>
  </div>

  <div class="challenge">
    <header>
      <h3 class="purple">Challenge time!</h3>
    </header>

    <fieldset tabstop="0">
      <legend>
        <p class="leading">Can you solve this GCSE maths question?</p>

        <p>What is <sup>3</sup>&frasl;<sub>2</sub> as a decimal?</p>
      </legend>

      <div class="answers">
        <div class="answer">
          <label for="maths-answer-1">1.05</label>
          <input id="maths-answer-1" name="maths-answer" type="radio" value="1.05"/>
        </div>

        <div class="answer">
          <label for="maths-answer-2">1.1</label>
          <input id="maths-answer-2" name="maths-answer" type="radio" value="1.1"/>
        </div>

        <div class="answer">
          <label for="maths-answer-3">1.5</label>
          <input id="maths-answer-3" name="maths-answer" type="radio" value="1.5"/>
        </div>

        <div class="answer">
          <label for="maths-answer-4">3.2</label>
          <input id="maths-answer-4" name="maths-answer" type="radio" value="3.2"/>
        </div>
      </div>
    </fieldset>

  </div>
</div>
