<div class="landing did-you-know">
  <div class="triangle green">
    <svg height="100%" width="100%" viewbox="0 0 100 100" preserveAspectRatio="none">
      <polygon points="0,100 100,0 100,100" />
    </svg>
  </div>

  <div class="text">
    <h2 class="pink">Did you know?</h2>

    <div class="pink">
      <p class="leading">
          By 2025, there will be 7.5% more pupils in secondary schools than there
          were in 2020.
      </p>

      <p>
        With a growing student population, we need <%= subject_teachers %> like you more
        than ever before.
      </p>
    </div>
  </div>
</div>
