<section class="landing got-questions numbered">
  <div class="arrow-container top">
    <%=
      render ArrowComponent.new(
        width: 150,
        height: 200,
        x1: 0,
        y1: 0,
        x2: 0.9,
        y2: 0.9,
        cx: 0.7,
        cy: 0.2,
        arrow_size: 0.06
      )
    %>
  </div>

  <%= image_pack_tag("media/images/content/welcome-guide/girl-with-raised-hand.jpg") %>

  <div class="section-number">
    <span>04</span>
  </div>

  <div class="text">
    <h2 class="blue">Got questions?</h2>

    <p class="blue">
      We get it. As a third-year student, you’re going to have certain
      questions. Here are the answers to a couple we think you’ll be
      particularly interested in.
    </p>
  </div>

  <div class="questions">
    <div class="question">
      <p class="q">
        I already have a student loan. Will I be eligible for the teacher training funding?
      </p>

      <p class="a">
        Yes you will be! There are lots of financial support available,
        including a student loan of up to £9,250 to cover your course fees and
        a maintenance loan of up to £12,010 to help with living costs.
      </p>
    </div>

    <div class="question">
      <p class="q">
        Am I too young to teach? I don’t have experience!
      </p>

      <p class="a">
        Don’t worry. Throughout teacher training, you’ll get support from
        mentors who will help you feel confident in the classroom. And you’re
        not alone, last year thousands of students like you went on to become teachers.
      </p>
    </div>
  </div>

  <div class="arrow-container bottom">
    <%=
      render ArrowComponent.new(
        width: 200,
        height: 200,
        x1: 1,
        y1: 0,
        x2: 0.1,
        y2: 0.9,
        cx: 0.3,
        cy: 0.3,
        arrow_size: 0.065
      )
    %>
  </div>
</section>
