<div class="landing introduction">
  <section class="welcome-container">
    <p>
      It's exciting that you’re thinking about taking your first step on the
      incredible journey into
      <%= teaching_subject(mark_subject: true) %>
      <%= degree_stage_based_encouragement %>
    </p>

    <p>
      Soon, you’ll start receiving emails packed with plenty of practical tips and
      info on what to do next. But, first up, you need to be able to picture
      yourself in the classroom. And that’s where we can help.
    </p>

    <p>
      We've pulled together a bunch of exclusive content from real teachers, just like you, just for you.
    </p>

    <p>
      Why not take a look right now?
    </p>
  </section>
</div>
