<%= image_pack_tag("media/images/content/welcome-guide/#{image}") %>

<div class="text">
  <h2>
    <span class="yellow no-wrap">
      My journey into
    </span>

    <br>

    <span class="yellow no-wrap blend">
      teaching <%= subject_category(welcome_guide_subject_id, downcase: false) %>
    </span>
  </h2>

  <p>
    <%= text %>
  </p>

  <a href="/welcome/my-journey-into-teaching" class="button">Read <%= name %>'s story</a>
</div>
