<section class="landing teaching-maths-is-so-rewarding numbered">
    <div class="section-number">
      <span>01</span>
    </div>

    <div class="arrow-container mobile">
      <%=
        render ArrowComponent.new(
          width: 250,
          height: 200,
          x1: 1,
          y1: 0.1,
          x2: 0.2,
          y2: 0.8,
          cx: 0.2,
          cy: -0.1,
          arrow_size: 0.05
        )
      %>
    </div>

    <div class="arrow-container desktop">
      <%=
        render ArrowComponent.new(
          width: 320,
          height: 230,
          x1: 1,
          y1: 0,
          x2: 0.1,
          y2: 1,
          cx: 0.1,
          cy: 0,
          arrow_size: 0.045
        )
      %>
    </div>

    <div class="text">
      <h2>
        <span class="pink nowrap">
          Teaching <span class="underline">maths</span>
        </span>

        <br>

        <span class="pink nowrap">
          is so rewarding.
        </span>
      </h2>

      <p class="pink">
        Gaming, sport, travelling… it’s all about helping young people understand
        the world they live in. And setting them up to be skilled problem
        solvers. Who wouldn’t want to be part of that?
      </p>
    </div>

    <%= image_pack_tag("media/images/content/hero-images/0017.jpg") %>
    <%= image_pack_tag("media/images/content/hero-images/0004.jpg") %>

    <div class="selected-quote">
      <figure>
        <blockquote>The highs are immeasurable – like when a student who was struggling with maths suddenly puts their hand up to answer a question. That light-bulb moment really gives you a buzz</blockquote>

        <figcaption>Peter, maths teacher</figcaption>
      </figure>
    </div>
</section>
