<section class="landing teaching-maths-is-so-rewarding">
    <div class="section-number">
      <span>01</span>
    </div>

    <div class="text">
      <h2>
        <span class="pink nowrap">
          Teaching <span class="underline">maths</span>
        </span>

        <br>

        <span class="pink nowrap">
          is so rewarding.
        </span>
      </h2>

      <p class="pink">
        Gaming, sport, travelling… it’s all about helping young people understand
        the world they live in. And setting them up to be skilled problem
        solvers. Who wouldn’t want to be part of that?
      </p>
    </div>

    <%= image_pack_tag("media/images/content/hero-images/0017.jpg") %>
    <%= image_pack_tag("media/images/content/hero-images/0004.jpg") %>

    <div class="selected-quote">
      <figure>
        <blockquote>The highs are immeasurable – like when a student who was struggling with maths suddenly puts their hand up to answer a question. That light-bulb moment really gives you a buzz</blockquote>

        <figcaption>Peter, maths teacher</figcaption>
      </figure>
    </div>
</section>
