<div class="landing teaching-maths-is-so-rewarding">
  <section>
    <div class="section-number">
      01
    </div>

    <heading>
      <h2>
        <span class="pink nowrap">
          Teaching <span class="underline">maths</span>
        </span>

        <br>

        <span class="pink nowrap">
          is so rewarding.
        </span>
      </h2>
    </heading>

    <p class="pink">
      Gaming, sport, travelling… it’s all about helping young people understand
      the world they live in. And setting them up to be skilled problem
      solvers. Who wouldn’t want to be part of that?
    </p>
  </section>
</div>

