<header class="landing welcome-to-teaching slanted-bottom">
  <div class="background yellow"></div>
  <div class="slant yellow">
    <div class="slant-area"></div>
  </div>

  <h1>
    <div class="caption caption-l">
      <span class="purple">
        Hi Simon.
      </span>
    </div>

    <div class="caption caption-m">
      <span class="purple">
        Thanks for signing up.
      </span>
    </div>

    <div class="caption welcome-to-teaching">
      <span class="purple no-wrap">
        Welcome to
      </span>

      <span class="purple"><span class="underline">Teaching</span>.</span>
    </div>
  </h1>

  <%= image_pack_tag "media/images/content/hero-images/0014.jpg" %>
</header>
