<div class="teaching-pupils">
  <p>Teaching pupils at different ages and abilities means you'll always be expanding your knowledge and approach to meet pupils' needs. Once you have <a href="/train-to-be-a-teacher/what-is-qts">Qualified teacher status (QTS)</a> you can also teach any other subject, as long as you can show you have enough expertise.</p>
</div>
