<div class="benefits">
  <p>In addition to the personal rewards of teaching, there are practical benefits too, including:</p>
  <ul>
    <li>a <a href="/life-as-a-teacher/pay-and-benefits/teacher-pay">competitive salary starting at <%= value :salaries_starting_minshortened %></a> (or higher in London)</li>
    <li>a <a href="/life-as-a-teacher/pay-and-benefits/teachers-pension-scheme">generous and secure pension</a></li>
    <li>more holiday days than people in many other professions</li>
    <li>opportunities for progression</li>
  </ul>
</div>
