<div class="bursary_only">
  <p><a href="/funding-and-support/scholarships-and-bursaries">Tax-free bursaries of <%= v "bursaries_postgraduate_#{@front_matter['subject'].gsub(/\s+/, '').downcase}" %></a> are available for eligible trainee <%= @front_matter["subject"] %> teachers.</p>
  <p>You can get a bursary alongside a tuition fee loan and maintenance loan.</p>
</div>
