<div class="bursary_languages">
    <%= render Content::InsetTextComponent.new(text: "Bursaries and scholarships for courses starting between September 2026 and July 2027 will be announced soon.") %>
</div>
