<div class="bursary_languages">
    <p>Tax-free bursaries of <%= v :bursaries_postgraduate_languagesother %> are available for all trainee language teachers.</p>
    <p>Scholarships of <%= v :scholarships_languagesfrenchgermanspanish %> are available for eligible trainee French, German or Spanish language teachers.</p>
    <p>You can <a href="/funding-and-support/scholarships-and-bursaries">get a bursary or scholarship</a> alongside a tuition fee loan and maintenance loan.</p>
</div>
