<div class="funding-support">
  <p>Even if you've had financial support for a previous course, you could still be eligible for funding to support your teacher training.</p>
  <p>You may also be able to get extra funding and support if you're:</p>
  <ul>
    <li>a parent or carer</li>
    <li>disabled</li>
    <li>a veteran</li>
  </ul>
  <p>Find out how you can<a href="/funding-and-support">Fund your training </a>.</p>
  <%= render Content::ExpanderComponent.new(
    title: "funding your training",
    text: "If you do not have <a href=\"https://www.gov.uk/guidance/indefinite-leave-to-remain-in-the-uk\">indefinite leave to remain in the UK</a>, you're unlikely to be eligible for funding.",
    link_title: "Find out more about fees and financial support for non-UK trainee teachers.",
    link_url: "/non-uk-teachers/fees-and-funding-for-non-uk-trainees",
  ) %>
</div>
