<p>There is also plenty of opportunity for <a href="/life-as-a-teacher/teaching-as-a-career/career-progression">progression in teaching</a>. You could take on challenges such as becoming a head of subject, special educational needs co-ordinator (SENCO) or even a headteacher.</p>
