<div class="teaching_send">
  <p>All initial teacher training courses cover teaching pupils with SEND. Whether you train to teach in mainstream schools, special schools, or both, you’ll <a href="/life-as-a-teacher/age-groups-and-specialisms/special-educational-needs">teach pupils with special educational needs and disabilities (SEND)</a>, and learn how to support their needs.</p>
  <p>Once you have gained <a href="/train-to-be-a-teacher/what-is-qts">qualified teacher status (QTS)</a>, you can choose to specialise in teaching and nurturing pupils with special educational needs and disabilities in a more SEND-focused role.</p>
</div>
