<div class="steps-home">
    <section class="container">
        <div class="strapline strapline--small strapline--blue">Steps</div>

        <div class="home-inset-content">
          <h1>Discover the steps to become a teacher.</h1>

          <div class="steps__wrapper">
            <div class="steps__step">
                <div class="steps__number"><span>1</span></div>
                <a href="/steps-to-become-a-teacher" class="steps__link">
                    <span>Check your qualifications</span>
                </a>
            </div>
          </div>
        </div>
    </section>
</div>
