<div class="steps-home">
    <section class="container">
        <h2>Steps</h2>

        <div class="home-inset-content">
          <h1>Discover the steps to become a teacher.</h1>

          <div class="steps__wrapper">
            <div class="steps__step">
                <div class="steps__number"><span>1</span></div>
                <a href="/steps-to-become-a-teacher" class="steps__link">
                    <span>Check your qualifications</span>
                </a>
            </div>
          </div>
        </div>
    </section>
</div>
