<h2>Assessment only training providers by region</h2>
<%= render Content::ExpanderComponent.new(
    title: "assessment only providers",
    text: "<p>If you’re based overseas, you will need to contact a <a href=\"/train-to-be-a-teacher/assessment-only-route-to-qts#group--non-uk\">non-UK assessment only provider</a>. You may also be interested in <a href=\"/non-uk-teachers/international-qualified-teacher-status\">international qualified teacher satus (iQTS)</a>. With iQTS, you can train where you live and work, with no need to visit the UK.</p>
    <p>If you’re based in the UK, contact one of the regional or national providers listed on this page.</p>",
  ) %>

<section class="providers-list">
  <%= render GroupedCards::ListingComponent.new @front_matter["provider_groups"] %>
</section>
