<section class="content-cta">
  <p>
    If you're a provider and need to update the details on your record, please contact us at: <%= mail_to("getintoteaching.helpdesk@education.gov.uk") %>.
  </p>
</section>
