<a class="cta-circle-link-wrapper" href="<%= @link_target %>">
  <span class="cta-circle-button"><i class="fa-solid fa-arrow-right"></i></span>
  <span class="cta-link-text"><%= @link_text %></span>
</a>
