<%= tag.div(class: %w[call-to-action call-to-action--simple]) do %>
  <%= icon %>

  <div class="call-to-action__content">
    <p class="call-to-action__text">
    For the first 2 years in the classroom, during their induction, teachers are called 'early career teachers' (ECTs). It's a time when you get lots of extra support to help establish yourself as a teacher.

    </p>
    <p class="call-to-action__text">
      Induction used to last 1 year, and teachers would be called 'newly qualified teachers' (NQTs).
    </p>
  </div>
<% end %>
