<%= tag.div(class: %w[call-to-action call-to-action--multiple-buttons]) do %>
  <%= icon %>

  <div class="call-to-action__content">
    <%= tag.span(title, class: "call-to-action__heading") %>

    <div class="call-to-action__button-row">
      <% links.each do |link| %>
        <div class="call-to-action__button-row__action">
          <%= link %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
