<%= tag.div(class: %w[call-to-action call-to-action--next-steps]) do %>
  <%= icon %>

  <div class="call-to-action__content">
    <h4 class="call-to-action__heading">
      Next steps
    </h4>

    <p class="call-to-action__text">
        If you have a degree you can search for postgraduate teacher
        training courses using the GOV.UK service.
    </p>

    <p class="call-to-action__text">
      You can find out details such as:
    </p>

    <ul>
      <li>the cost</li>
      <li>how the course is structured</li>
      <li>financial support available</li>
      <li>entry requirements</li>
      <li>how to apply</li>
    </ul>

    <div class="call-to-action__action">
      <p class="call-to-action__text">
        Use the GOV.UK service to find postgraduate teacher
        training providers near you.
      </p>

      <%= link_to("#", class: "call-to-action__button") do %>
        <span>Find Postgraduate training</span>
      <% end %>
    </div>

    <div class="call-to-action__action">
      <p class="call-to-action__text">
        Our trained advisers can help you select the best training provider
        and funding options for you.
      </p>

      <%= link_to("#", class: "call-to-action__button") do %>
        <span>Sign up for a Teacher Training Adviser</span>
      <% end %>
    </div>
  </div>
<% end %>
