<%= tag.div(class: %w[call-to-action call-to-action--next-steps]) do %>

  <div class="call-to-action__content">
    <%= tag.span("Get support from an adviser", class: "call-to-action__heading") %>

    <div class="call-to-action__action">
      <p class="call-to-action__text">
        Teacher training advisers can help you select a provider, prepare for interviews and complete your application successfully.
      </p>

      <%= link_to("/teacher-training-advisers", class: "button") do %>
        Get a teacher training adviser
      <% end %>
    </div>
  </div>
<% end %>
