<%= tag.div(class: %w[call-to-action call-to-action--next-steps]) do %>

  <div class="call-to-action__content">
    <%= tag.h2("Get one-to-one support", class: "call-to-action__heading") %>

    <div class="call-to-action__action">
      <p class="call-to-action__text">
        Advisers can help you with your next steps wherever you are on your journey into teaching, whether it's just an idea or you're ready to apply.
      </p>

      <%= link_to("https://adviser-getintoteaching.education.gov.uk/", class: "button") do %>
        Get an adviser
      <% end %>
    </div>
  </div>
<% end %>
