<%= tag.div(class: %w[call-to-action call-to-action--next-steps]) do %>
  <%= icon %>

  <div class="call-to-action__content">
    <h4 class="call-to-action__heading">
      Next step
    </h4>

    <div class="call-to-action__action">
      <p class="call-to-action__text">
        Our trained advisers can help you select the best training provider
        and funding options for you.
      </p>

      <%= link_to("/tta-service", class: "call-to-action__button") do %>
        <span>Sign up for a Teacher Training Adviser</span>
      <% end %>
    </div>
  </div>
<% end %>
