<% if related_content.present? %>
  <div class="content__right">
    <div class="link-block link-block--related">
      <h2 class="link-block__header">Related Content:</h2>
      <ul class="link-block__list">
        <ul class="link-block__list">
          <% related_content.each do |item, anchor| %>
            <%= link_to(item, anchor) %>
          <% end %>
        </ul>
      </ul>
    </div>
  </div>
<% end %>
