<div class="cookie-acceptance" data-controller="cookie-acceptance" data-cookie-acceptance-target="modal" role="dialog" aria-modal="true">
  <div class="dialog" data-cookie-acceptance-target="overlay">
    <div class="dialog__background"></div>
    <div class="dialog__content">
      <div class="logo-wrapper">
        <div class="logo">
          <a tabindex="-1" href="/" class="logo__image">
            <%= image_pack_tag 'static/getintoteachinglogo.svg', alt: "Go to Home page", size: "180x62", data: { "lazy-disable": true } %>
          </a>
        </div>
      </div>

      <div class="dialog__text">
        <h1>Cookies on Get Into Teaching </h1>

<p>Cookies are files saved on your phone, tablet or computer when you visit a website. We use Cookies to store information about how you use the website, such as the pages you visit. </p>
<h2>Cookie settings </h2>

<p>We use 3 types of cookie. You can choose which cookies you're happy for us to use. </p>
<h3>Cookies that measure website use - Tracking and Performance  </h3>
        <p>
          We use <a tabindex="-1" id="cookies-info" href="/cookies" class="link--dark" data-cookie-acceptance-target="info">cookies</a> to measure how you use the website so we can improve it based on user needs. These Cookies store anonymised information about: </p>
          <ul>
            <li>how you got to the service </li>
<li>the pages you visit on <a href="https://www.gov.uk/">GOV.UK (opens in new window)</a> and government digital services, and how long you spend on each page </li>
<li>what you click on while you're visiting the service </li></ul>

<p>Cookies may be set by other third-party services to do things like measure how you view YouTube videos that are on the service. </p><p>

If you have an account with other services provided by the Department for Education, the information collected using analytics cookies will be linked to your account. This will help us make the service work better for you.
      </p>

      <h3>Cookies that help with our communication and marketing </h3>
      <p>These Cookies help us to improve the relevancy of advertising campaigns you receive from us.  We also share information about your use of this service with our social media, advertising and analytics partners. They combine it with other information that they've collected from your use of our services to guide the advertising that you receive. </p>
      <h3>Essential Cookies </h3>

<p>These essential Cookies do things like: </p>
<ul>
  <li>remember your progress through a form (for example if you sign up to receive our personalised emails) </li>
<li>remember the notifications you've seen so we do not show them to you again </li>

<p>They always need to be on.</p>
<p><a href="https://getintoteaching.education.gov.uk/cookies">Find out more about Cookies on this service</a>. </p>
<p><b>You can find more about who we are, how you can contact us and how we process personal data in our <a href="https://getintoteaching.education.gov.uk/privacy-policy">privacy notice</a>. </b></p>
      </div>

      <div class="dialog__buttons">
        <!--
          The id is `biscuits-agrees` instead of `cookies-agree`
          to prevent ad blockers from removing the button.
        -->
        <a tabindex="-1" href="#" class="button call-to-action-button" data-action="click->cookie-acceptance#accept" data-cookie-acceptance-target="agree" id="biscuits-agree">
          <span>Accept all cookies</span>
        </a>

        <%= link_to(cookie_preference_path, tabindex: -1, id: "cookies-disagree", class: "button button--secondary", data: { "cookie-acceptance-target": "disagree" }) do %>
          <span>Set cookie preferences</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
