<div class="feedback-bar">
  <section class="container">
    <h2 class="heading-s heading--box-blue">FEEDBACK</h2>
    <p><a target="_blank" rel="noopener" href="https://forms.office.com/e/zVfV4SZeVn">
      Tell us what you think about our website</a>.</p>
  </section>
</div>
