<div class="feedback-bar">
  <section class="container">
    <h2 class="heading-s heading--box-blue">FEEDBACK</h2>
    <p><a target="_blank" rel="noopener" href="https://docs.google.com/forms/d/188D1TqsGr-OdcMHC76HMoYnHqcES4LVfl1CT1C_59QU/viewform">
      Tell us what you think about our website</a>.</p>
  </section>
</div>
