<div class="feedback-bar">
  <section class="container">
    <h2 class="heading-s heading--box-blue">FEEDBACK</h2>
    <p><a rel="noopener" href="/feedback">
      Tell us what you think about our website</a>.</p>
  </section>
</div>
