<div class="feedback-bar">
  <section class="container">
    <h2 class="blue small">FEEDBACK</h2>
    <a target="_blank" rel="noopener" href="https://docs.google.com/forms/d/e/1FAIpQLSdBXbU5nwP6_3TH7HY5rB4ehkSDNzfKqB5X2G7wG4K6LY97-g/viewform">
      Tell us what you think about this service
    </a>
  </section>
</div>
