<div class="mailing-list-bar" data-controller="mailing-list" data-banner-name="MailingList">
  <div class="mailing-list-bar__inner limit-content-width">
    <div class="mailing-list-bar__left">
      Whether you're ready to apply, or simply exploring teaching as an option, we'll send you all the information you need
    </div>
    <div class="mailing-list-bar__right">
      <a id="mailing-list-bar-accept" href="/mailinglist/signup/name" class="mailing-list-bar__sign-up button button--white button--nowrap" data-action="click->mailing-list#beginMailingListJourney">Sign up here</a>
      <a id="mailing-list-bar-dismiss" href="" class="mailing-list-bar__close" data-action="click->mailing-list#dismiss">Not now</a>
    </div>
  </div>
</div>
