<section class="talk-to-us" data-controller="talk-to-us">
  <section class="container">
    <div>
      <h2 class="purple" id="talk-to-us">Talk to us</h2>
      <div class="content">
        <section class="contact">
          <p>Monday to Friday between <strong>8:30am and 5:30pm</strong></p>
          <div class="options">
            <div>
              <p>Live chat</p>
              <a href="#" class="button button--smaller" data-action="click->talk-to-us#startChat">
                Chat online
              </a>
            </div>
            <div>
              <p>Call us</p>
              <a class="telephone" href="tel:08003892500" aria-label="Telephone">0800 389 2500</a>
            </div>
          </div>
        </section>
        <section>
          <h3>Get a teacher training adviser</h3>
          <p>
            An experienced teaching professional can help if you're ready to get into
            teaching or if you're returning to teaching and qualified to teach maths,
            physics or languages.
          </p>
          <a href="/tta-service" class="button button--smaller">
            Get an adviser
          </a>
        </section>
      </div>
    </div>
  </section>
</section>
