<div>
  <div class="talk-to-us">
    <section class="container">
      <div>
        <h2 class="heading-m heading--box-pink heading--overlap" id="talk-to-us">Talk to us</h2>
        <div class="content">
          <div class="contact">
            <div class="options">
              <% unless helpers.privacy_page?(request.path) %>
              <div class="live-chat">
                <h3 class="heading-s heading--normal heading--margin-0">Live chat</h3>
                <%= render ChatComponent.new %>
              </div>
              <% end %>
              <div>
                <h3 class="heading-s heading--normal heading--margin-0">Call us</h3>
                <p class="telephone">0800 389 2500</p>
              </div>
            </div>
            <p>Call or chat to us Monday to Friday, <strong>8:30am until 5:30pm</strong>, except on <a href="https://www.gov.uk/bank-holidays">bank holidays</a>.</p>
          </div>
          <div>
            <h3 class="heading-s">Get free one-to-one support</h3>
            <p>
              Whether it's just an idea or you're ready to apply, you could get personalised support from an adviser with years of teaching experience. Chat to them by phone, email or text as little or as often as you need.
            </p>

            <a href="/teacher-training-adviser/sign_up/identity" class="button">
              Get an adviser
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
