<div>
  <div class="talk-to-us">
    <section class="container">
      <div>
        <h2 class="heading-m heading--box-blue heading--overlap" id="talk-to-us">Talk to us</h2>
        <div class="content">
          <p>Call or chat to us Monday to Friday, <strong>8:30am until 5:30pm</strong>, except on <a href="https://www.gov.uk/bank-holidays">bank holidays</a>.</p>
          <div class="options">
            <div>
              <i class="icon-call icon--on-yellow"></i>
              <div>
                <h3 class="heading-s heading--margin-0">Call us</h3>
                <p class="telephone"><a href="tel:0800 389 2500">0800 389 2500</a></p>
              </div>
            </div>
            <% unless helpers.privacy_page?(request.path) %>
            <div>
              <i class="icon-chat icon--on-yellow"></i>
              <div>
                <h3 class="heading-s heading--margin-0">Live chat</h3>
                <%= render ChatComponent.new %>
              </div>
            </div>
            <% end %>
          </div>
          <p><small>Your details are protected under the terms of our <a href="https://getintoteaching.education.gov.uk/privacy-policy">privacy notice</a>. Our privacy notice explains how we use you personal data. It's important you read this before chatting to us.</small></p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
