  <div class="row inset">
    <div class="video">
      <section class="col col-720">
        <%= render Content::YoutubeVideoComponent.new(
          id: "oJjoodXrvlU",
          title: "A video about what a career in teaching taught maths teacher Juvayriyah",
          orientation: :portrait
        ) %>
        <p>Read the <a href="/shared/transcripts/what-teaching-taught-me-juvayriyah">transcript for the 
            'What teaching taught me - Juvayriyah' video</a>.</p>
      </section>
    </div>
  </div>
