<div class="row inset">
  <div class="video">
    <section class="col col-720">
      <%= render Content::YoutubeVideoComponent.new(
        id: "mclRhi4CHZY",
        title: "A video about what a career in teaching taught science teacher Josh",
        orientation: "portrait"
      ) %>
      <p>Read the <a href="/shared/transcripts/what-teaching-taught-me-josh">transcript for the 'What teaching taught me - Josh' video</a>.</p>
    </section>
  </div>
</div>
