<div class="category__questions__container">

  <section class="container category__questions">

    <div class="category__question">
      <h2>Want to chat with an adviser?</h2>

      <p>
        Get free, one-to-one support with your application from an adviser with years of teaching experience.
        Chat as little or often as you like by text, phone or email.
      </p>

      <a href="/teacher-training-adviser/sign_up/identity" class="button">Get an adviser</a>
    </div>

    <div class="category__question">
      <h2>Want to get face-to-face advice?</h2>

      <p>
        Attend a Get Into Teaching event, either online or in person, to get tips on your application.
        Talk to training providers and meet others considering a career in teaching.
      </p>

      <a href="/events/about-get-into-teaching-events" class="button">Find Get Into Teaching events</a>
    </div>

  </section>

</div>
