<div class="category__questions__container">

  <section class="container category__questions">

    <div class="category__question">
      <h2>Want your own personal adviser?</h2>

      <p>
        Our advisers provide free, one-to-one support by phone, text or email.
        Get support with your application from an adviser with years of teaching experience.
      </p>

      <a href="/teacher-training-adviser/sign_up/identity" class="button">Get an adviser</a>
    </div>

    <div class="category__question">
      <h2>Want to get face-to-face advice?</h2>

      <p>
        Attend a Get Into Teaching event, either online or in person, to get tips on your application.
      </p>

      <a href="/events/about-get-into-teaching-events" class="button">Find Get Into Teaching events</a>
    </div>

  </section>

</div>
