<%= tag.div data: { controller: "chat", enabled: Chat.enabled?, available: Chat.available?, "chat-target": "container" }, class: "chat" do %>
  <div data-chat-target="online" class="hidden">
    <p>
      <a class="button" href="/chat#root" target="chat" data-action="chat#start" data-chat-target="chat" aria-label="Chat online">Chat online <span class="visually-hidden">(opens in new window)</span> <span></span></a>
    </p>
  </div>
  <div data-chat-target="offline" class="hidden">
    <p>
      Chat is <strong>closed</strong>
    </p>
  </div>
  <div data-chat-target="unavailable">
    <p>
      <strong>Chat not available</strong>
      <br>
      Email: <%= mail_to("getinto.teaching@service.education.gov.uk", class: "link--dark") %>
    </p>
  </div>
<% end %>
