<div id="skiplink-container">
  <div>
    <a href="#main-content" class="skiplink govuk-link">Skip to main content</a>
  </div>
</div>

<div aria-label="main">
  <section class="covid" data-controller="banner" data-banner-name="Covid">
    <div class="limit-content-width">
      <span class="covid__header"><a href="/covid-19">Find out how coronavirus is affecting teacher training</a></span>
      <a href="#" data-action="click->banner#hide" class="covid__close"><span class="visually-hidden">Hide this message</span></a>
    </div>
  </section>
</div>

<header class="limit-content-width">
  <%= render Header::LogoComponent.new %>
  <%= render Header::NavigationComponent.new(
    extra_resources: { "/events" => "Teaching events", "/mailinglist/signup/name" => "Register your interest" }
  ) %>
</header>

<%= hero %>

<% if breadcrumbs %>
  <%= render Header::BreadcrumbComponent.new %>
<% end %>
