<section class="text-block-with-one-image">
  <div class="statement">
    <%= tag.h2(heading, class: [colour, "xlarge"]) %>
  </div>

  <%= image %>

  <%= tag.div(content, class: "content") %>
</section>
