<p>
  Learn about the <a href="/funding-and-support">funding and financial support</a> available.
</p>

<p>
  Get your questions answered and speak to current teachers at <a href="/events">an event near you or online</a>.
</p>

<p>
  Discover whether teaching is right for you with an
  <a href="/explore-teaching-advisers">explore teaching adviser</a>. They can give you free support
  and one-to-one guidance as well as answering all your questions about what teaching is really like.
</p>
