<%= render(partial: "mailing_list/steps/completed/shared/train_to_teach_no_degree") %>

<p>
  Consider <a href="/life-as-a-teacher/ages-and-specialisms/further-education-teacher">teaching in further education</a> without a degree.
</p>
