<% @page_title = "Sorry, the adviser service is currently unavailable" %>

<div class="govuk-width-container">
  <h1>Sorry, the adviser service is currently unavailable</h1>
  <p>To sign up whilst this service is unavailable, you can call us on
    <a href="tel:08003892500" class="telephone-number" aria-label="Telephone">0800 389 2500</a>
  </p>
</div>
