<div class="group__card">
  <div class="group__card__heading">
    <%= linked_header %>
  </div>

  <hr class="group__card__divider">

  <div class="group__card__content">
    <% if status %>
      <div class="group__card__fields">
       <p><strong><%= status %></strong></p>
      </div>
    <% end %>

    <% for field, value in fields %>
      <div class="group__card__fields">
        <span><%= field.humanize %>:</span>
        <%= linked_value(field, value) %>
      </div>
    <% end %>
  </div>
</div>
