<div class="group__card">
  <div class="group__card__heading">
    <%= linked_header %>
  </div>

  <hr class="group__card__divider">

  <div class="group__card__content">
    <% for field, value in fields %>
      <div class="group__card__fields">
        <span><%= field.humanize %>:</span>
        <span><%= linked_value(value) %></span>
      </div>
    <% end %>
  </div>
</div>
