<div class="row">
  <div class="grey col-space-0">
    <section class="col col-720 col-space-0">
      <%= render Content::MailingListComponent.new(
        title: "Get everything you need to know to start a career in teaching sent straight to your inbox",
        color: "transparent",
        margin: false,
        heading: :l
      ) do %>

      <% end %>
    </section>
      </div>
  </div>
