.campaign-hero {
  display: grid;
  grid-template-columns: 0.15fr minmax(200px, 400px) minmax(0, 60px) 1fr 0.1fr;
  grid-template-rows: 0.2fr repeat(2, auto) 0.2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  picture {
    grid-column: 1 / span 5;
    grid-row: 1 / span 4;
  }

  &__background {
    display: none;
  }

  &__title {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    align-self: end;
    margin-bottom: 0.75em;
  }

  &__subtitle {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    align-self: start;
  }

  @include mq($from: tablet) {
    picture {
      grid-column: 3 / span 2;
    }

    &__background {
      grid-column: 1 / span 5;
      grid-row: 1 / span 4;
      display: block;
    }

    &__title {
      grid-column: 2 / span 2;
    }

    &__subtitle {
      grid-column: 2 / span 2;
    }
  }
}

.campaign-hero {
  picture, picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__background {
    background-color: $yellow;
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 97%);
  }

  &__subtitle {
    font-weight: bold;
  }

  // clip-path appears to put the background above all other elements
  // without changing the z-index; we need to manually bring them forward.
  picture, &__title, &__subtitle {
    z-index: 1;
  }
}
