// stylelint-disable no-duplicate-selectors

// layout, mobile-first
$mobile-cutoff: 800px;

// grid-specific
.hero {
  @extend %content-width-limiter-shared;

  $title-overlap-img: 4em;

  @supports (display: grid) {
    display: grid;

    grid-template-columns: 3em repeat(2, 1fr) 2em;
    grid-template-rows:
      spacing(desktop, 2)
      8em $title-overlap-img repeat(
        2,
        minmax(1em, max-content)
      );

    &__title {
      grid-area: 3 / 1 / 5 / 4;
      align-self: flex-end;
    }

    &__subtitle,
    &__content,
    &__paragraph {
      grid-area: 5 / 1 / 5 / 5;
      @include padding(4, $direction: horizontal);
      @include padding(6, $direction: bottom);
    }

    &__subtitle {
      align-items: center;
      margin: 0 auto 2em 1.5em;

      @include mq($from: tablet) {
        margin: 1em 2em .5em;
      }

      &__button {
        @include button;
        margin-top: 1.5em;
        display: inline-block;
      }
    }

    > picture {
      min-height: 10em;
      grid-area: -5 / -4 / -3 / -1;
    }

    @include mq($from: tablet) {
      grid-template-columns:
        repeat(3, minmax(100px, 1fr)) $title-overlap-img repeat(
          4,
          minmax(100px, 1fr)
        );
      grid-template-rows: spacing(desktop, 2) (spacing(desktop, 5) + spacing(desktop, 4)) repeat(5, fit-content(0)) 2em;

      &__title {
        grid-area: 3 / 1 / 5 / 5;
      }

      &__subtitle {
        grid-area: 5 / 1 / 7 / 4;
      }

      &__content {
        grid-area: 5 / 1 / 7 / 4;
      }

      &__paragraph {
        grid-area: 5 / 1 / 6 / 4;
      }

      > picture {
        grid-area: -8 / -6 / -1 / -1;
      }

      &.content-wide {
        .hero__title {
          grid-area: 3 / 1 / 5 / 7;
        }

        .hero__subtitle {
          grid-area: 5 / 1 / 7 / 6;
        }

        picture {
          grid-area: -6 / -4 / -1 / -1;
        }
      }
    }

    @include mq($from: wide) {
      &__content {
        grid-area: 5 / 2 / 7 / 4;
      }
    }
  }
}

// styles
.hero-wrapper {
  background-color: $grey;
  overflow: hidden;

  &.white {
    background-color: $white;
  }

  &.yellow {
    background-color: $yellow-dark;
  }

  &.blend-content {
    padding-bottom: spacing(desktop, 4);

    @include mq($from: tablet) {
      padding-bottom: spacing(tablet, 7) + spacing(desktop, 6);

      & + .main-section {
        margin-top: -(spacing(tablet, 7));
      }
    }

    & + .main-section {
      margin-top: -(spacing(desktop, 6));
    }
  }
}

.hero {
  &__title {
    z-index: 20;
  }

  &__paragraph {
    line-height: 1.5;
  }

  &__subtitle {
    div {
      @include font-size("small");
      font-weight: 700;

      @include mq($from: tablet) {
        @include font-size("medium");
        font-weight: 700;
      }
    }
  }

  > picture {
    height: 100%;
    width: 100%;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    @include safari-only {
      max-height: 30em;

      @include mq($until: tablet) {
        height: auto;
      }
    }
  }
}

.hero__mailing-strip {
  display: flex;
  align-items: center;
  background-color: $green;
  margin-top: 1em;

  @include mq($until: tablet) {
    flex-direction: column;
    align-items: flex-start;
    margin: 1.5em 0;
  }

  &__text {
    flex-grow: 1;
    color: $white;
    font-weight: bold;
    margin-left: 1em;
    text-align: left;
    padding-right: 150px;

    @include mq($until: tablet) {
      padding-right: $indent-amount;
    }
  }

  &__cta {
    margin: $indent-amount 1em;

    @include mq($until: tablet) {
      margin-top: 0;
    }

    &__button {
      @include button($bg: $white, $fg: $black);
      padding: .4em 1em;

      @include mq($until: tablet) {
        padding: .2em .5em;
      }
    }
  }
}
