// stylelint-disable no-duplicate-selectors

// layout, mobile-first
$mobile-cutoff: 800px;

// fallback styles (IE)
.hero {
  &__title {
    display: block;
    max-width: 90%;

    @include mq($from: tablet) {
      display: inline-block;
      width: 45%;
    }

    // undo
    @supports (display: grid) {
      display: block;
      width: initial;
      max-width: initial;
    }
  }

  &__subtitle {
    display: block;
    width: 90%;
    margin: 0 2em 4em 1em;

    @include mq($from: tablet) {
      display: inline-block;
      max-width: 45%;
    }

    // undo
    @supports (display: grid) {
      display: block;
      max-width: initial;
      margin: initial;
      width: initial;
    }
  }

  > picture {
    float: right;
    max-width: 50%;
    display: none;

    @include mq($from: tablet) {
      display: block;
    }

    // undo
    @supports (display: grid) {
      float: none;
      max-width: initial;
      display: block;
    }
  }
}

// grid-specific
.hero {
  $title-overlap-img: 4em;

  @supports (display: grid) {
    display: grid;

    grid-template-columns: 3em repeat(2, 1fr) 2em;
    grid-template-rows:
      8em $title-overlap-img repeat(
        2,
        minmax(1em, max-content)
      );

    &__title {
      grid-area: 2 / 1 / 4 / 4;
      align-self: end;
    }

    &__subtitle,
    &__content {
      grid-area: 4 / 1 / 5 / 5;
    }

    &__subtitle {
      align-items: center;
      margin: 0 auto 2em 1.5em;

      @include mq($from: tablet) {
        margin: 1em 2em .5em;
      }

      &__button {
        @include button;
        @include chevron;
        margin-top: 1.5em;
        display: inline-block;
      }
    }

    > picture {
      min-height: 10em;
      grid-area: -5 / -4 / -3 / -1;
    }

    @include mq($from: tablet) {
      grid-template-columns:
        repeat(3, minmax(100px, 1fr)) $title-overlap-img repeat(
          4,
          minmax(100px, 1fr)
        );
      grid-template-rows: 2em fit-content(1em) fit-content(1em) fit-content(1em) fit-content(1em) fit-content(1em) 2em;

      &__title {
        grid-area: 3 / 1 / 5 / 5;
      }

      &__subtitle {
        grid-area: 5 / 1 / 7 / 4;
      }

      &__content {
        grid-area: 5 / 1 / 7 / 4;
      }

      > picture {
        grid-area: -6 / -6 / -1 / -1;
      }
    }

    @include mq($from: wide) {
      &__content {
        grid-area: 5 / 2 / 7 / 4;
      }
    }
  }
}

// styles
.hero {
  background-color: $grey;
  overflow: hidden;

  &__title,
  &__subtitle {
    > * {
      @include rotated-block;
    }
  }

  &__title {
    z-index: 20;

    h1 {
      background-color: $yellow-dark-90;
      padding: .8em .75em 1.2em 1.75em;
      margin-left: -1em;

      @include mq($from: tablet) {
        margin-top: 2em;
        padding: .8em 2em 1.2em;
      }

      > span {
        @include font-size("large");

        // user a border bottom to simulate a underline that
        // looks like the branding. It's not perfect as the line
        // extends beyond the edges of the text by a few px
        border-bottom: 3px solid $black;

        // proper underline styles - switch to this when (if) we
        // start using a standard font. while we're relying on
        // user-installed default sans fonts we run the risk
        // of descenders breaking up the line
        //
        // text-decoration: underline;
        // text-underline-offset: .3em;
        // text-decoration-thickness: .1em;

        &:after {
          content: ".";
        }

        @include mq($from: tablet) {
          @include font-size("xxlarge");
          border-bottom: 6px solid $black;
        }
      }
    }
  }

  &__subtitle {
    div {
      @include font-size("small");
      font-weight: 700;

      @include mq($from: tablet) {
        @include font-size("medium");
        font-weight: 700;
      }
    }
  }

  > picture {
    height: 100%;
    width: 100%;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    @include safari-only {
      max-height: 30em;

      @include mq($until: tablet) {
        height: auto;
      }
    }
  }
}

.hero__mailing-strip {
  display: flex;
  align-items: center;
  background-color: $green;
  margin-top: 1em;

  @include mq($until: tablet) {
    flex-direction: column;
    align-items: flex-start;
    margin: 1.5em 0;
  }

  &__text {
    flex-grow: 1;
    color: $white;
    font-weight: bold;
    margin-left: 1em;
    text-align: left;
    padding-right: 150px;

    @include mq($until: tablet) {
      padding-right: $indent-amount;
    }
  }

  &__cta {
    margin: $indent-amount 1em;

    @include mq($until: tablet) {
      margin-top: 0;
    }

    &__button {
      @include button($bg: $white, $fg: $black);
      @include chevron($color: $black);
      padding: .4em 1em;

      @include mq($until: tablet) {
        padding: .2em .5em;
      }
    }
  }
}

.hero + .container .breadcrumb ol {
  background: $grey;
  margin: 0;
}
