.talk-to-us {
  background-color: $grey;

  h2 {
    @include content-heading;
    top: -15px;
    left: $indent-amount;
    position: relative;
  }

  h3 {
    margin-top: 0;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;

    section {
      flex: 1 0;
      margin: $indent-amount;

      &.contact {
        padding: $indent-amount;
        background-color: $white;

        .options {
          display: flex;
          flex-direction: column;

          > div {
            flex: 1 0;

            &:first-child {
              border-bottom: 1px solid $purple;
              padding-bottom: $indent-amount;
              margin-bottom: $indent-amount;
            }

            p {
              margin-top: 0;
            }

            .telephone {
              font-weight: bold;
              text-decoration: none;
              color: $black;
              font-size: 1.3em;
            }
          }
        }
      }
    }
  }
}

@include mq($from: tablet) {
  .talk-to-us {
    h2 {
      top: -30px;
      left: 0;
    }

    .content {
      flex-direction: row;

      section {
        &:first-child {
          margin: 0 $indent-amount $indent-amount 0;
        }

        &:last-child {
          margin: 0 0 $indent-amount $indent-amount;
        }

        &.contact .options {
          flex-direction: row;

          > div {
            flex: initial;

            &:first-child {
              border: 0;
              border-right: 1px solid $purple;
              padding: 0 $indent-amount 0 0;
              margin: 0 $indent-amount 0 0;
            }
          }
        }
      }
    }
  }
}
