.talk-to-us {
  background-color: $grey;
  padding-bottom: 2 * $indent-amount;

  .telephone  {
    font-weight: bold;
    font-size: 1.3em;
  }

  @include mq($from: tablet) {
    .live-chat {
      border-right: 1px solid $purple;
    }
  }
}
