.talk-to-us {
    text-align: left;
    background-color: $grey;
    padding-left: 100px;
    padding-right: 100px;
    

    &__inner {
        position: relative;
        top: -65px;

        &__label {
            margin-top: 20px;
        }

        &__table {
            width: 100%;

            &__column {
                display: inline-block;
                box-sizing: border-box;
                padding-left: 20px;
                padding-right: 20px;
                width:33%;
                min-width: 245px;
                vertical-align: top;

                h2 {
                    margin-top: 20px;
                    margin-bottom: 40px;
                }

                a{
                    text-decoration: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {

    .talk-to-us {
        padding: 0;

        &__inner {

            .strapline {
                font-size: 24px;
            }

            &__label {
                margin-left: 20px;
                margin-right:40px;
            }
    
            &__table {
                &__column {
                    display: block;
                    width: 90%;
                }
            }
        }
        
    }
    
}