<div class="row">
  <section class="category col-space-m">
    <section class="container category__cards main-section">
      <nav class="category__nav-cards">
        <ul>
          <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Early career teachers (ECTs)",
              description: "Find out about the support early career teachers get when they start teaching, including mentor support and training based on the early career framework (ECF).",
              path: "/life-as-a-teacher/teaching-as-a-career/early-career-teachers"
            )) %>
          <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Teacher insights: moving up the career ladder",
              description: "Top tips from teacher training advisers on how you can progress a career in teaching.",
              path: "/life-as-a-teacher/teaching-as-a-career/career-progression"
            )) %>
        </ul>
      </nav>
    </section>
  </section>
</div>
