.adviser {
  max-width: $content-max-width;
  display: flex;
  flex-direction: column;
  gap: $indent-amount * .5;
  margin: 0 $indent-amount;
  background-color: $grey;

  @include mq($from: tablet) {
    flex-direction: row;
    margin: 0 auto;
    gap: 2 * $indent-amount;
  }

  &:last-of-type {
    margin-bottom: 3em;
  }

  &__image {
    height: 10em;
    width: auto;
  }

  &__left {
    flex: 0 1 45%;
    padding-block: 2em;
    min-height: 8em;
    background-color: $yellow;
    padding: 1em;
    align-content: center;
    text-align: center;
  }

  &__right {
    flex: 0 1 55%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-right: $indent-amount;
    padding-bottom: $indent-amount;

    @include mq($until: tablet) {
      padding-left: $indent-amount;
    }

    @include mq($from: tablet) {
      padding-top: $indent-amount;
    }

    p,
    h2 {
      margin-top: 0;
    }

    label {
      font-weight: bold;
      display: block;
    }

    label,
    input {
      margin-bottom: .4em;
    }
  }
}
