html:not(.js-enabled) {
  .badge {
    display: none;
  }
}

.badge {
  display: inline-block;
  line-height: 0px;
  border-radius: 50%;
  color: $white;
  background-color: $purple;
  font-weight: bold;
  font-size: .8em;
  margin-right: $indent-amount * .25;
  text-align: center;

  span {
    display: inline-block;
    padding-top: 50%;
    padding-bottom: 50%;
    margin-left: 7px;
    margin-right: 7px;
  }

  &--bordered {
    border: 1px solid $white;
  }

  &--fixed-80 {
    line-height: normal;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
