.breadcrumb {
  ol {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0.5rem $indent-amount;
    margin: 3em 0 0 0;
    list-style: none;
    * {
      box-sizing: border-box;
    }
    li {
      a {
        position: relative;
        display: block;
        margin-right: 0.8em;
        color: black;
        font-size: 0.842em;
          @include mq($until: tablet) {
            font-size: 0.737em;
          }
        &:after {
          content: "";
          display: inline-block;
          width: 0.5em;
          height: 0.5em;
          border: 2px solid $black;
          border-width: 2px 2px 0px 0px;
          margin-left: 6px;
          transform: rotate(45deg);
        }
      }
      &:last-child {
        a {
          margin-right: 0;
          padding-right: 0;
          &:after {
            display: none;
          }
        }
      }
    }
  }
}
