.container.breadcrumbs {
  width: 100%;
  margin: 1em auto;

  .govuk-breadcrumbs {
    margin: 0;
    padding: 0 $indent-amount;

    .govuk-breadcrumbs__list .govuk-breadcrumbs__list-item {
      &:not(:first-child) {
        margin-left: 20px;
        padding-left: 20px;

        &:before {
          @extend .fas;

          content: 'ÔÅî';
          border: none;
          transform: none;
          font-size: 0.5em;

          @include mq($until: tablet) {
            top: 9px;
          }
        }
      }

      a {
        @extend .link, .link--black;
        font-size: medium;
      }
    }
  }
}
