.container.breadcrumbs {
  width: 100%;
  margin: 1em auto;

  .govuk-breadcrumbs {
    margin: 0;
    padding: 0 $indent-amount;

    .govuk-breadcrumbs__current {
      font-size: medium;
    }

    .govuk-breadcrumbs__list .govuk-breadcrumbs__list-item {
      &:not(:first-child) {
        margin-left: 16px;
        padding-left: 20px;

        &::before {
          top: 1px;
          width: 6px;
          height: 6px;
          margin: auto 0;
          transform: rotate(45deg);
          border: solid;
          border-width: 2px 2px 0 0;
          border-color: $black;
        }
      }

      a {
        @extend .link, .link--black;
        font-size: medium;
      }
    }
  }
}
