.cards {
  @include cards-grid(3, 2.5em);
  padding: 2px;

  .card {
    overflow: auto;
    outline: 2px solid $black;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;

    &__thumb {
      width: 100%;

      img {
        height: 220px;
        width: 100%;
        object-fit: cover;
        display: block;

        @include mq($until: tablet) {
          height: 250px;
          width: 100%;
        }
      }

      &--play-icon {
        position: absolute;
        margin: 3em auto auto -.2em;

        > span {
          font-size: 1.5rem;
          color: $white;
          background-color: $pink-dark-90;
          padding: .8em;
          transform: rotate(-3deg);
        }
      }

      &:hover {
        .card__thumb--play-icon > span {
          background-color: $pink;
        }
      }

      &.object-fit-polyfill {
        padding-top: 260px;
      }
    }

    &__header {
      z-index: 2;
      position: absolute;
      top: -20px;
      left: -20px;
      display: block;
      background: $blue-dark-90;
      color: $white;
      padding: 10px $indent-amount;
      font-weight: bold;
      max-width: calc(100% - 80px);
      backdrop-filter: blur(4px);

      h2,
      h3,
      h4 {
        @extend .heading--margin-0;
      }
    }

    h3 {
      @extend .heading--margin-bottom-0;
    }

    &__snippet {
      padding: 0 1em;
    }

    &__footer {
      padding: 0 1em 1em;
    }

    &.card--no-border {
      outline: none;

      .card__snippet {
        padding: 0;
      }

      .card__footer {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.cards-with-headers {
  .card {
    margin-left: 1em;
    overflow: initial;
  }

  @include mq($until: tablet) {
    .card {
      margin-left: 0;
      padding-left: 1em;
      padding-right: 1em;

      &__header {
        left: 0;
      }
    }
  }
}
