.colored-stripe {
  margin: 3em 0;
  position: relative;

  &--grey {
    background-color: $grey;
  }

  &__content {
    padding: 3em 0;
  }

  &--with-title {
    .colored-stripe__content {
      margin-top: -1em;
      padding-top: 0;
    }
  }

  h2 {
    @extend .heading--box-purple, .heading--overlap;
  }
}
