.content-nav {

    padding: 0;

    li {

        list-style-type: none;

        a {
            @include font;
            line-height: 1.2;
            background-color: $pink;
            color: $white;
            text-decoration: underline;
            font-size: $fs-19;
            font-weight: 800;
            padding-top: 20px;
            padding-left: 18px;
            min-width: 288px;
            display: block;
        }

        a:hover {
            text-decoration: none;
        }

    }

    li:last-child a {
        padding-bottom: 20px;
    }
    
} 

@include mq($until: tablet) {
    .content-nav {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 40px;
    }
}
