.content-alert {
  background-color: $purple;
  color: $white;
  padding: 1.5em;
  line-height: 1.5em;
  display: flex;
  width: 78%;
  box-sizing: border-box;
  margin-bottom: $indent-amount;

  @include mq($until: tablet) {
    width: inherit;
  }

  &--fullwidth {
    width: inherit;
    margin-bottom: 2 * $indent-amount;
  }

  .icon {
    margin-right: $indent-amount;
  }

  h4, h2 {
    @extend .heading--margin-0;
  }

  p {
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  a:not(.button) {
    @extend .link--white;
  }

  a.button {
    display: inline-block;
    margin: 0;
  }

  &__icon {
    position: relative;
    background-color: $white;
    min-width: 62px;
    max-width: 62px;
    height: 62px;
    margin-right: $indent-amount;
  }

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
