@mixin content-cta {
  background: $grey;
  text-align: left;
  padding: $indent-amount;
  margin: 0 -20px 30px;
  box-sizing: border-box;
  width: auto;

  h2 {
    margin-bottom: 5px;
    margin-top: 0;
    font-size: $fs-28;
    background: transparent;
    color: $black;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.content-cta {
  @include content-cta;
  width: 65%;
  margin: 0 auto;

  @include mq($until: tablet) {
    width: auto;
  }
}
