.content__left {
    .content-cta {
        background: $grey;
        padding: 20px;
        margin: 0 -20px 30px;
        h2 {
            border: 0;
            margin-bottom: 5px;
            font-size: 28px;
        }
    }
}