@mixin content-cta {
  background: $grey;
  text-align: left;
  padding: $indent-amount;
  box-sizing: border-box;
  width: auto;

  h3 {
    margin: 0 0 .5em;
    @include font-size("medium");
    background: transparent;
    color: $black;
  }

  a {
    color: $blue-very-dark;
  }

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.content-cta {
  @include content-cta;
  width: 65%;
  margin: 3em auto 0;

  @include mq($until: tablet) {
    width: auto;
  }
}
