.content-alert {
  background-color: $purple;
  color: $white;
  padding: 1em;
  line-height: 1.5em;
  display: flex;
  width: 78%;
  box-sizing: border-box;
  margin-bottom: $indent-amount;

  @include mq($until: tablet) {
    width: inherit;
  }

  &--fullwidth {
    width: inherit;
  }

  h4 {
    @extend .heading--margin-0;
  }

  p {
    margin: 0;
  }

  a {
    @extend .link--white;
  }

  &__icon {
    position: relative;
    background-color: $white;
    min-width: 62px;
    max-width: 62px;
    height: 62px;
    margin-right: $indent-amount;
  }

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
