
.event-resultboxshort {
    box-sizing: border-box;
    padding: 20px;
    display: inline-block;
    border: 2px solid $black;
    height: auto;
    width: 100%;
    overflow: hidden;
    margin: 18px;
    text-align: left;
    .content__right & {
        margin: 0;
    }
    &__header {
        width: 100%;
        overflow: hidden;

        h2 {
            font-size: 19px;
            margin: 0;
        }
    }

    &__datetime {
        height: 20px;
        overflow: hidden;
        margin-top: 4px;
    }

    &__content {
        
        &__icon {
            vertical-align: middle;
            margin-right: 2px;
        }

        &__label {
          margin: 15px 0 0 0;
          font-size: 16px;
          font-weight: bold;
          display: block;
        }
        
        p {
            margin: 0;
            margin-top: 20px;
            font-size: 17px;
        }

        &__location {
          display: flex;
    
          p {
            margin: 7px 0 0 0;
          }
        } 
    }
}

@media only screen and (max-width: 800px) {

    .event-resultboxshort {
        .content__right & {
            margin: 0 auto 30px;
            display: block;
        }
    }
}
