
.event-resultboxshort {
    box-sizing: border-box;
    padding: 20px;
    display: inline-block;
    border: 2px solid $black;
    height: auto;
    width: 100%;
    max-width: 290px;
    overflow: hidden;
    margin: 18px;
    text-align: left;
    .content__right & {
        margin: 0;
    }
    &__header {
        width: 100%;
        overflow: hidden;

        h1 {
            font-size: 19px;
            margin: 0;
        }
    }

    &__datetime {
        height: 20px;
        overflow: hidden;
        margin-top: 4px;
    }

    &__greenstripe {
        height: 8px;
        background-color: $green;
        margin-bottom: 20px;
    }

    &__bluestripe {
        height: 8px;
        background-color: $blue;
        margin-bottom: 20px;
    }

    &__content {
        
        &__icon {
            vertical-align: middle;
            margin-right: 2px;
        }

        h1 {
            font-size: 19px;
            margin: 0;
            margin-top: 12px;
        }
        
        p {
            margin: 0;
            margin-top: 20px;
            font-size: 17px;
        }
    } 
}

@media only screen and (max-width: 800px) {

    .event-resultboxshort {
        .content__right & {
            margin: 0 auto 30px;
            display: block;
        }
    }
}
