
.event-link {
    &:focus {
        outline: none;
        border: none;
        background: transparent;
        box-shadow: none;
    }
}
.event-resultbox {
    box-sizing: border-box;
    padding: 20px;
    display: inline-block;
    border: 2px solid $black;
    overflow: hidden;
    text-align: left;
    margin: 0;
    width: 100%;
    background-color: $white;
    a:hover &{
        background-color: $grey;
    }

    a:focus & {
        outline: 3px solid $yellow;
        outline-offset: 0;
        -webkit-box-shadow: inset 0 0 0 2px;
        box-shadow: inset 0 0 0 2px;
    }


    &__header {
        min-height: 46px;
        width: 100%;
        overflow: hidden;

        h2 {
            margin: 0;
            a:hover &, a:focus, a:active {
                text-decoration: underline;
            }
        }
    }

    &__datetime {
        height: 20px;
        overflow: hidden;
        margin-bottom: 4px;
    }

    &__greenstripe {
        height: 8px;
        background-color: $green;
        margin-top: 6px;
        margin-bottom: 20px;
    }

    &__bluestripe {
        height: 8px;
        background-color: $blue;
        margin-top: 6px;
        margin-bottom: 20px;
    }

    &__content {
        
        &__icon {
            vertical-align: middle;
            margin-right: 2px;
            width: 40px;
        }

        h3 {
            margin: 0;
            margin-top: 12px;

            
        }
        p {
            margin: 0;
            font-size: 17px;
        }
    } 
}
