.event-link {
    &:focus {
        outline: none;
        border: none;
        background: transparent;
        box-shadow: none;
    }
}

.events-listing p {
  font-size: 300px;
}

.event-box {
    box-sizing: border-box;
    padding: 20px;
    display: inline-block;
    border: 2px solid $black;
    overflow: hidden;
    text-align: left;
    margin: 0;
    width: 100%;
    background-color: $white;
    a:hover &{
        background-color: $grey;
    }

    a:focus & {
        outline: 3px solid $yellow;
        outline-offset: 0;
        -webkit-box-shadow: inset 0 0 0 2px;
        box-shadow: inset 0 0 0 2px;
    }


    &__header {
        width: 100%;
        overflow: hidden;

        h2 {
            margin: 0;
            a:hover &, a:focus, a:active {
                text-decoration: underline;
            }
        }
    }

    &__datetime {
        margin-bottom: 4px;
        font-size: 0.8em;
    }

    &__divider {
      border: none;
      height: 8px;
      background-color: $blue;
      margin: 6px 0px;
    }

    &__divider--online-event {
      background-color: $purple;
    }

    &__divider--train-to-teach-event {
        background-color: $green;
    }

    &__divider--application-workshop {
      background-color: $yellow;
    }

    &__content {
        
        &__icon {
            vertical-align: middle;
            margin-right: 2px;
            width: 40px;
        }

        &__location {
          display: flex;
        
          p {
            margin: 7px 0 0 0;
          }
        }

        h5 {
          margin: 15px 0 0 0;
        }

        p {
            margin: 0;
            font-size: 17px;
        }

        &__location {
          display: flex;

          p {
            margin: 7px 0 0 0;
          }
        }
    }
}
