.event-link {
    &:focus {
        outline: none;
        border: none;
        background: transparent;
        box-shadow: none;
    }
}

.events-listing p {
  font-size: 300px;
}

.event-box {
    box-sizing: border-box;
    padding: 20px;
    display: inline-block;
    border: 2px solid $black;
    overflow: hidden;
    text-align: left;
    margin: 0;
    width: 100%;
    background-color: $white;
    a:hover &{
        background-color: $grey;
    }

    a:focus & {
        outline: 3px solid $yellow;
        outline-offset: 0;
        -webkit-box-shadow: inset 0 0 0 2px;
        box-shadow: inset 0 0 0 2px;
    }


    &__header {
        width: 100%;
        overflow: hidden;

        h4 {
            margin: 0;
            a:hover &, a:focus, a:active {
                text-decoration: underline;
            }
        }
    }

    &__datetime {
        margin-bottom: 4px;
        font-size: 0.8em;
    }

    &__divider {
      border: none;
      height: 8px;
      background-color: $blue;
      margin: 6px 0px;
    }

    &__divider--online-event {
      background-color: $purple;
    }

    &__divider--train-to-teach-event {
        background-color: $green;
    }

    &__divider--application-workshop {
      background-color: $yellow;
    }

    &__content p {
      font-size: 17px;
      margin-bottom: 0;
    }

    &__footer {
        display: table;
        border-spacing: 0 16px;

        .event-box__footer {
            &__item {
              display: table-row;
            }

            &__icon,
            &__meta {
              display: table-cell;
              vertical-align: middle;
            }

            &__meta {
                padding-left: 0.8em;
                font-size: smaller;
                font-weight: 800;
            }
        }
    }
}
