.feature-table {
  dl {
    @include font-size("small");
    background-color: $grey;
    width: 100%;
    padding: $indent-amount;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    dt,
    dd {
      padding: .15em 0;
    }

    dt {
      font-weight: bold;
      flex-basis: 38%;

      &:after {
        content: ':';
      }
    }

    dd {
      flex-basis: 62%;
      margin: 0;
    }
  }

  &--with-title dl {
    margin-top: -1.3em;
    padding-top: 40px;
  }

  @include mq($until: tablet) {
    dl {
      dt,
      dd {
        flex-basis: 100%;
      }
    }
  }
}
