.feedback {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;

  background-color: $white;

  .signup-container {
    padding: 0 2rem;

    .signup-form {
      position: relative;
    }

    @include mq($from: desktop) {
      display: grid;
      grid-template-columns: 1fr $column-720 1fr;
      grid-template-rows: 1fr;
      gap: 0 0;
    }
  }
}

.feedback-thankyou {
  margin-top: 32px;
  margin-bottom: 5px;
}

.registration__feedback--container > form > .govuk-fieldset > .govuk-fieldset__legend > h1 {
  max-width: 70ch;
}

.registration__feedback--container > form > .govuk-form-group > .govuk-fieldset > .govuk-radios > .govuk-radios__item {
  float: left;
  clear: left;
}
