.registration__mailing-list--container > form > .govuk-form-group > .govuk-fieldset > .govuk-radios > .govuk-radios__item {
  float: left;
  clear: left;
}

/* stylelint-disable */
#edit_feedback_steps_purpose_purpose > .govuk-form-group {
  padding-top: 14px;
}
