.grouped-cards {
  &__header a[href*="//"] {
    display: block;

    &:after {
      display: none;
      content: "";
    }
  }

  .grouped-cards__fields + .grouped-cards__fields {
    margin-top: .5em;
  }
}
