.group {
  display: flex;
  min-width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  background: $grey;
  padding: 1em;
  margin: 1em auto;

  h3,
  &__description {
    margin: .2em auto 1em;
  }

  .group__cards {
    @include cards-grid;

    .group__card {
      box-sizing: border-box;
      padding: 1em;
      background: $white;

      &__heading {
        h4 {
          @include font-size(small);
          display: inline;
        }
      }

      &__divider {
        border: none;
        height: 4px;
        background-color: $blue;
        margin: 1em 0;
      }

      &__fields {
        @include font-size(xsmall);
        white-space: normal;

        a { overflow-wrap: break-word; }
      }
    }
  }
}

.assessment-only-providers {
  .group__card {
    min-height: 12em;
  }
}
