.group {
  display: flex;
  min-width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  background: $grey;
  padding: 1em;
  margin: 1em auto;

  a {
    @extend .link--dark;
  }

  &__description {
    margin: .2em auto 1em;
  }

  .group__cards {
    @include cards-grid;

    .group__card {
      box-sizing: border-box;
      padding: 1em;
      background: $white;

      &__heading {
        a {
          @extend .link;
          display: inline-block;
        }

        h4 {
          @extend .heading--margin-0;
        }
      }

      &__divider {
        border: none;
        height: 4px;
        background-color: $blue;
        margin: 1em 0;
      }

      &__fields,
      &__fields p {
        @include font-size(xsmall);
        white-space: normal;
        margin-bottom: 1em;

        a {
          overflow-wrap: break-word;
          color: $blue-dark;
        }
      }

      &__fields:last-child,
      &__fields p:last-child {
        margin-bottom: 0;
      }

      &__fields span:first-child {
        font-weight: bold;
      }

      &__fields span.extension {
        margin-left: 0.5em;
      }
    }
  }
}

.providers-list {
  .group__card {
    min-height: 12em;
  }
}
