.link-block {
  margin: 0 1em;

  &__header {
    background-color: $pink;
    color: $white;
    display: flex;

    &__icon {
      flex-basis: 18%;
      background-image: url('../images/icon-page.svg');
      background-repeat: no-repeat;
      background-position: center;
      flex-shrink: 0;
    }

    &__text {
      font-weight: bold;
    }
  }

  &__list {
    background: $grey;
    margin: 0;
    padding: 0;
    list-style: none;

    .link-block__list__item {
      display: flex;
      padding: .5em;

      &:first-of-type {
        padding-top: 1em;
      }

      &:last-of-type {
        padding-bottom: 1em;
      }
    }

    .link-block__list__item + .link-block__list__item {
      margin: .8em 0;
    }

    &__icon {
      background-image: url('../images/icon-down.svg');
      flex-basis: 18%;
      flex-shrink: 0;
      background-repeat: no-repeat;
      background-position: center;
    }

    &__link {
      font-weight: bold;
      font-size: 90%;

      > a {
        text-decoration: none;
        color: $black;

        &:hover {
          text-decoration: underline;
        }
      }
    }

  }
}
