.link-block,
.link-block * {
  box-sizing: border-box;
}

.link-block {
  &__header {
    color: $purple;
    @include font-size("medium");
    padding: $indent-amount $indent-amount $indent-amount 50px;
    margin: 0;
    position: relative;
  }

  &__list {
    list-style: none;
    padding: 10px 0;
    margin: 0 0 30px;

    a {
      display: block;
      position: relative;
      color: $black;
      line-height: 1.25;
      margin-bottom: 10px;
      padding: 5px $indent-amount 5px 50px;

      &:hover {
        text-decoration: underline;
      }

      .link-block--jump & {
        &:before {
          content: "";
          display: block;
          background-image: url('../images/icon-down.svg');
          background-repeat: no-repeat;
          width: 21px;
          height: 21px;
          position: absolute;
          top: 10px;
          left: 15px;
        }
      }
    }
  }
}
