.link-block,
.link-block * {
  box-sizing: border-box;
}

.link-block {
  &__header {
    @include font-size("medium");
    padding: $indent-amount;
    margin: 0;
    position: relative;
  }

  &__list {
    list-style: none;
    padding: 10px 0;
    margin: 0 0 30px;

    a {
      display: block;
      position: relative;
      line-height: 1.25;
      margin: 0 $indent-amount $indent-amount $indent-amount;
    }
  }
}
