.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2 * $indent-amount;

  a {
    text-decoration: none;
  }

  .prev,
  .first {
    padding-right: 15px;

    @include mq($until: mobile) {
      padding-right: 12px;
    }
  }

  .next,
  .last {
    padding-left: 15px;

    @include mq($until: mobile) {
      padding-left: 12px;
    }
  }

  .page a,
  .current,
  .gap {
    padding: 0 8px;
    margin: 0 7px;

    @include mq($until: mobile) {
      margin: 0 4px;
    }
  }

  .current {
    font-weight: bold;
  }
}
