.quote-with-image {
  display: flex;
  flex-direction: column;
  background-color: #8ACE00;

  @include mq($from: mobile) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  > .quote-with-image__title {
    @extend .heading-m;
    @extend .heading--box-pink;
    @extend .heading--overlap;

    order: 2;

    // position: relative;
    // left: 1.5em;
    width: fit-content;

    h2 {
      margin: 0;
    }

    @include mq($from: mobile) {
      flex-basis: 100%;
      background-color: red;
      // left: 220px;
      // top: 0px;
      order: 1;
    }
  }

  picture {
    order: 1;
    // width: 100%;

    @include mq($from: mobile) {
      order: 3;
      flex-basis: 50%;
      background-color: blue;
      flex-basis: 50%
    }

    img {
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: 100% 50%;
      object-position: 100% 50%;
      width: 100%;
      height: 100%;
      vertical-align: bottom;
      background-color: blue;
      flex-basis: 50%
    }
  }

  > .quote-with-image__image {
    @include mq($from: mobile) {
      order: 3;
      background-color: blue;
      flex-basis: 50%;
    }
  }

  > .quote-with-image__content {
    display: flex;
    // margin: 3.125em 1.5em;
    // margin-top: 1.25em;
    // padding: 10px;
    background-color: $white;
    order: 3;

    // @include mq($from: mobile) {
      // width: 400px;
      // margin: 50px;
    // }

    @include mq($from: mobile) {
      order: 2;
      // margin: 0;
      flex-basis: 50%;
      // position: relative;
      // left: 50px;
      // top: 5px;
    }
  }
}









.a-container {
  background-color: orange;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .a {
    flex-basis: 100%;
    background-color: red;
  }

  .b {
    background-color: green;
    flex-basis: 50%;
    position: relative;
    left: 50px;
    top: 5px;
  }

  .c {
    background-color: blue;
    flex-basis: 50%
  }
}
