.quote-with-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #8ACE00;

  // @include mq($from: mobile) {
  //   flex-direction: row;
  //   align-items: center;
  // }

  > .title {
    @extend .heading-m;
    @extend .heading--box-pink;
    @extend .heading--overlap;

    order: 2;
    //position: absolute;
    // position: relative;
    // left: 1.5em;
    // width: fit-content;

    @include mq($from: tablet) {
      //position: absolute;
      left: 220px;
      top: 0px;
      order: 1;
    }
  }

  picture {
    order: 1;
    width: 100%;
    justify-self: end;

    @include mq($from: mobile) {
      width: 50%;
      order: 3;
    }

    img {
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: 100% 50%;
      object-position: 100% 50%;
      width: 100%;
      height: 100%;
      vertical-align: bottom;
    }
  }

  .content {
    display: flex;
    margin: 1.5em;
    padding: 10px;
    background-color: $white;
    order: 3;

    @include mq($from: narrow) {
      width: 320px;
      order: 2;
    }

    @include mq($from: mobile) {
      width: 400px;
      margin: 50px;
    }

    &__quote-icon {
      position: relative;
      top: -20px;
      left: -20px;
      color: pink;
    }

    @include mq($from: mobile) {
      margin: 0;
      position: relative;
      left: 220px;
      height: fit-content;
      width: 700px;
    }
  }
}

