.search {
  select,
  input {
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  &__controls {
    @include cards-grid(4);

    margin: $indent-amount 0;
  }
}
