.type-description {
  h5 {
    margin: 10px 0;
    @include font-size("xsmall");
  }

  p {
    @include font-size("xsmall");
    margin-top: 0;
  }
}

.type-description__link {
  @include chevron($color: $black);

  color: $black;
  margin-top: 10px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  @include font-size("xsmall");

  &:hover {
    text-decoration: underline;
    color: inherit;
  }
}
