.what-theyre-saying {
  margin-top: 4em;
  padding-bottom: 2em;
  display: grid;
  background: $yellow;

  grid-template-columns: auto minmax(2em, 30em) auto;
  grid-template-rows: 1em auto;

  @include mq($from: tablet) {
    grid-template-rows: 2em auto;
  }

  .triangle {
    grid-area: 1 / 1 / 2 / 4;
    background-color: white;
    margin-bottom: -5px;

    &.on-grey {
      background-color: $grey;
    }

    &.yellow-triangle {
      svg {
        fill: $yellow;
        stroke: $yellow;
        stroke-width: 1;
      }
    }
  }

  .subheading {
    grid-area: 1 / 2 / 2 / 3;
  }

  figure {
    grid-area: 2 / 2 / 3 / 3;
    margin-bottom: 1.5em;
    margin-block: 2em;
    margin-inline: 40px;

    blockquote {
      @include font-size(medium);

      font-weight: bold;
      margin: 2em 0 1em;
      padding: 0;
      position: relative;

      &:before,
      &:after {
        color: $black;
        content: '"';
      }
    }

    figcaption {
      margin-top: .6em;
      @include font-size(xsmall);
    }
  }
}
