.accordions {
    margin: 2em 0;
    .step {
        & + .step {
            margin-top: 1em;
        }

        display: flex;
        flex-direction: column;

        .step-header {
            @include button($bg: $pink, $fg: $white);

            display: flex;
            align-items: center;

            .step-header__text {
                text-align: left;
                margin: 0;
                font-size: $fs-28;
                flex-grow: 2;
                white-space: initial;
                padding: 0 2em 0 0;
                background: transparent;

                @include mq($until: tablet) {
                    font-size: $fs-19;
                }
            }

            .step-header__chevron {
                flex-shrink: 0;
                margin-top: 5px;
                @include chevron-icon($color: $white, $dimensions: .7em, $rotate: unquote(map-get($chevron-direction-map, 'up')));
            }

            &:focus {
                .step-header__chevron {
                    @include chevron-icon($color: $black, $dimensions: .7em, $rotate: unquote(map-get($chevron-direction-map, 'up')));
                }
            }
        }

        .step-content__description {
            margin: 0;
            padding: .8em;

            blockquote {
              background: $grey;
              padding: 1em;
              margin: 1em 0;
            }

        }

        &.inactive {
            .step-header {
                .step-header__chevron {
                    margin-top: 0px;
                    @include chevron-icon($color: $white, $dimensions: .7em, $rotate: map-get($chevron-direction-map, 'down'));
                }

                &:focus {
                    .step-header__chevron {
                        @include chevron-icon($color: $black, $dimensions: .7em, $rotate: map-get($chevron-direction-map, 'down'));
                    }
                }
            }

            .step-content {
                display: none;
            }
        }
    }
}

.content-after-accordion {
    background-color: $grey;
    margin: 2em 0;
    padding: 1em;
}
