.accordions {
  margin: 2em 0;

  .step {
    & + .step {
      margin-top: 1em;
    }

    display: flex;
    flex-direction: column;

    .step-header {
      @include button($bg: $pink, $fg: $white);

      display: flex;
      align-items: center;

      .step-header__text {
        color: $white;
        text-align: left;
        margin: 0;
        @include font-size("medium");
        flex-grow: 2;
        white-space: initial;
        padding: 0 2em 0 0;
        background: transparent;
      }

      .step-header__chevron {
        flex-shrink: 0;
        margin-top: 5px;
        @include chevron-icon($color: $white, $dimensions: .7em, $rotate: map-get($chevron-direction-map, up));
      }
    }

    .call-to-action {
      margin: 0 $indent-amount;
    }

    .step-content__description {
      margin: 0;
      padding: $indent-amount;
    }

    &.inactive {
      .step-header {
        .step-header__chevron {
          margin-top: 0;
          @include chevron-icon($color: $white, $dimensions: .7em, $rotate: map-get($chevron-direction-map, down));
        }
      }

      .step-content {
        display: none;
      }
    }
  }
}

.content_after_accordion,
.content_before_accordion {
  margin: 0;

  h2 {
    @extend .heading-l, .heading--box-blue;
  }
}
