@charset 'UTF-8';

$git-font-family: sans-serif;
$govuk-font-family: $git-font-family;

@import './git';
@import "~govuk-frontend/govuk/all";
@import './govuk-reset';

@import './components/map';
@import './controllers/all' ;

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
