@charset 'UTF-8';

$git-font-family: sans-serif;
$govuk-font-family: $git-font-family;

@import './git';

// Only import the used parts of the GOV.UK frontend.
@import "~govuk-frontend/govuk/base";
@import "~govuk-frontend/govuk/core/all";
@import "~govuk-frontend/govuk/objects/all";
@import "~govuk-frontend/govuk/utilities/all";
@import "~govuk-frontend/govuk/overrides/all";
@import "~govuk-frontend/govuk/components/back-link/index";
@import "~govuk-frontend/govuk/components/button/index";
@import "~govuk-frontend/govuk/components/checkboxes/index";
@import "~govuk-frontend/govuk/components/error-message/index";
@import "~govuk-frontend/govuk/components/error-summary/index";
@import "~govuk-frontend/govuk/components/fieldset/index";
@import "~govuk-frontend/govuk/components/hint/index";
@import "~govuk-frontend/govuk/components/input/index";
@import "~govuk-frontend/govuk/components/label/index";
@import "~govuk-frontend/govuk/components/notification-banner/index";
@import "~govuk-frontend/govuk/components/panel/index";
@import "~govuk-frontend/govuk/components/radios/index";
@import "~govuk-frontend/govuk/components/table/index";

@import './govuk-reset';

@import './components/map';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
