// FIXME straight copy from prototype

//Custom site Fonts

@charset 'UTF-8';

@font-face {
    font-family: 'Akzidenz Grotesk';
    src:url('../fonts/akzidnezgrotesk-roman/AkzidenzGrotesk-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz Grotesk';
    src: url('../fonts/akzidnezgrotesk-bold/AkzidenzGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
  margin: 0;

  font-family: 'Akzidenz Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 22px;
  vertical-align: baseline;

  color: #3a3a3a;
}

header, footer, main, form {
  display: block;
  width: 270px;
  margin: 0 auto;
  overflow: hidden;
  padding-left: 25px;
  padding-right: 25px;
}

header {
  margin-top: 16px;
}

footer {
  height: 300px;
  color: white;
  background-color: black;
}

main section {
  display: block;
  margin-top: 50px;
}

form {
  margin: -16px -25px -36px -25px;
  padding: 32px 25px;

  color: white;
  font-size: 18px;
  line-height: 20px;
  background-color: #3986C4;
}

form label {
  font-weight: bold;
}

form input {
  width: 94%;
  border: solid #D6D6D6 2px;
  background: white;
  line-height: 28px;
  font-size: 18px;
  padding-left: 6px;
  padding-right: 6px;
  outline: none;
}

.panel-bottom, .panel-top,
.form-bottom, .form-top {
  margin-top: 19px;
  margin-left: -40px;
  margin-right: -40px;

  background-color: #3986C4;
  height: 32px;

  -ms-transform: rotate(-5.5deg); /* IE 9 */
  transform: rotate(-5.5deg); /* Standard syntax */
}

.panel-bottom,
.form-bottom {
  margin-bottom: 32px;
}

form button {
  width: 100%;
  border: 0;
  color: #3986C4;
  background-color: white;
  line-height: 32px;
  font-size: 18px;
  font-weight: bold;
  padding-left: 16px;
  padding-right: 16px;
  outline: none;
}

strong, b, h1, h2, h3, h4 {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

a {
  color: #3986C4;
  text-decoration: underline;
}

li {
  list-style-type: disc;
  list-style-position: outside
}

.external {
  margin: 36px 0;
  padding: 16px 25px;
  display: block;

  font-size: 25px;
  line-height: 31px;
  text-align: center;
  text-decoration: none;

  color: white;
  background-color: #3986C4;
}

.internal {
  position: relative;
  display: block;
  margin: 25px -25px;
  padding: 16px 58px 16px 25px;

  font-size: 20px;
  line-height: 26px;
  text-align: left;
  text-decoration: none;

  color: white;
  background-color: #3986C4;
}

.internal .arrow {
  position: absolute;
  display:block;
  width: 25px;
  height: 24px;
  top: 50%;
  right: 25px;
  margin-top: -12px;

  line-height: 24px;
  text-align: center;
}

h1, h2, h3, h4, p, ul, ol {
  margin: 0 0 16px;
  padding: 0;
}

h1 {
  margin: 9px 0 35px;

  font-size: 35px;
  line-height: 41px;

  text-decoration: underline;
}

h2 {
  margin: 9px 0 25px;

  font-size: 25px;
  line-height: 31px;
}

h3 {
  margin: 9px 0 20px;

  font-size: 20px;
  line-height: 26px;
}

h4 {
  margin: 9px 0 18px;

  font-size: 18px;
  line-height: 25px;
}

h1,
main section h2 {
  margin-top: 19px;
  margin-left: -40px;
  margin-right: -40px;
  padding: 16px 40px 12px;

  color: white;
  background-color: #7E58A0;

  -ms-transform: rotate(-5.5deg); /* IE 9 */
  transform: rotate(-5.5deg); /* Standard syntax */
}

h1 {
  margin-top: -16px;
  padding-top: 35px;
  padding-bottom: 35px;
}

li {
  margin: 0 0 0 16px;
  padding: 0;
}

.header-image {
  display: block;
  margin-top: 19px;
}

.header-image img {
  margin-left:-25px;
  width: 375px;
}

.quick-links {
  margin: 25px -25px 18px;
  padding: 34px 25px 10px;

  color: white;
  background-color: #3986C4;

  font-size: 18px;
  line-height: 25px;
}

.quick-links p {
  margin: 0 0 25px;

  font-weight: bold;
}

.quick-links a {
  color: white;
}

.nav-toggle {
  display: block;
  float: right;
  margin-top: 52px;

  width: 48px;
}

.nav-toggle {
  display: block;
  float: right;
  padding-top: 6px;

  width: 56px;
  background: transparent;
  border-width: 0;
  outline: none;
}

.nav-toggle .icon {
  display: block;
  width: 100%;
  height: 6px;
  margin-bottom: 6px;

  background-color: #3a3a3a;
  border-radius: 3px;
}

nav, nav ul, nav li, nav a {
  display: block;
  margin: 0;
  padding: 0;
  overflow: visible;
}

header nav {
  margin-top: 25px;
  position: absolute;

  background: white;
  width: 320px;
  margin-left: -25px;
  padding-bottom: 6px;

  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3 ease-in-out;
}

header nav.hidden {
  opacity: 0;
}

header nav.inactive {
  visibility: hidden;
}

header nav a {
  padding: 6px 25px;

  font-size: 20px;
  text-decoration: none;

  color: black;
}

.explanation {
  padding: 9px 16px 0;
  margin-top: 25px;
  margin-bottom: 25px;
  clear: both;
  border-left: 10px solid #3986C4;
}

.step-by-step, .step-by-step > li {
  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

.step-by-step {
  margin-left: -25px;
  margin-right: -25px;
}

.step-by-step > li {
  padding: 0 25px;

  -webkit-transition: height 1s ease-in-out;
  -moz-transition: height 1s ease-in-out;
  -ms-transition: height 1s ease-in-out;
  -o-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
}

.step-by-step > li.closed {
  height: 100px;
}

.step-by-step h3 {
  margin: 25px -25px 16px;
  padding: 25px 25px 9px;
  display: block;
  position: relative;

  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;

  color: white;
  background-color: #3986C4;
}

.step-by-step .twiddle {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  width: 32px;
}

.step-by-step .step {
  position: absolute;
  width: 46px;
  line-height: 46px;
  border-radius: 46px;
  border: 2px solid white;
  top: -25px;
  left: 50%;
  margin-left: -27px;
  background: #D54692;
  color: white;
  text-align: center;
  font-size: 28px;
}

.step-by-step .step .step-label {
  display: none;
}

.copyright {
  display: block;
  width: 50%;
  margin-top: 68px;
  text-transform: none;
  text-decoration: none;
  font-size: 13px;
  line-height: 20px;
  font-weight: bold;
  color: white;
}

.copyright a {
  text-decoration: none;
  color: white;
}

.department {
  float: right;
  display: block;
  width: 50%;
  text-transform: none;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: white;
}

.department-logo {
  display: block;
  padding-top: 25px;
  padding-left: 7px;

  background: url('../images/gov-uk-crest-white.png') no-repeat 6px 0;
  background-size: auto 26px;

  border-left: 2px solid white;
}

.department-name {
  position: relative;
  top: 3px;
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

.social-media-links {
  display: block;
  margin: 70px 0 40px;
  padding: 0;

  text-align: center;
  list-style-type: none;
}

.social-media-links li {
  display: inline;
  margin: 0;
  padding: 0;
}

.social-media-links .link {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 3px;
  padding: 0;

  border: 2px solid white;
  background: black url('../images/footer-icons.png') -21px -10px no-repeat;
}

.social-media-links .label {
  display: none;
}

.social-media-links .facebook-link {
  background-position: -21px -10px;
}

.social-media-links .instagram-link {
  background-position: -72px -10px;
}

.social-media-links .linkedin-link {
  background-position: -122px -10px;
}

.social-media-links .twitter-link {
  background-position: -171px -10px;
}

.social-media-links .youtube-link {
  background-position: -222px -10px;
}



.panel {
  font-weight: bold;

  margin: 0 -25px 25px;
}

.panel h1 {
  padding: 16px 80px 12px;
}

.panel p {
  padding-left: 30px;
  padding-right: 30px;
}

.panel img {
  width: 320px;
  margin-left: -30px;
  margin-right: -30px;
}

.panel .internal {
  color: black;
  background: none;
  font-size: 16px;
}

.panel .external {
  background: #7E58A0;
  font-size: 20px;
  margin-left: -30px;
  margin-right: -30px;
}

.panel-inspire-next-generation {
  margin-top: 19px;
}

.panel-find-an-event {
  margin-bottom: -20px;
}

.panel-became-teacher {
  margin: -16px -25px -36px -25px;
  padding: 32px 25px;

  color: white;
  font-size: 18px;
  line-height: 20px;
  background-color: #3986C4;
}

.panel-became-teacher h1 {
  padding: 6px 45px 6px;
  margin-bottom: 16px;

  font-size: 28px;

  -ms-transform: none; /* IE 9 */
  transform: none; /* Standard syntax */
}

.panel-became-teacher p {
  padding-left: 5px;
  padding-right: 5px;
}

.panel-became-teacher .internal {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
}

.panel-bottom, .panel-top {
  -ms-transform: rotate(5.5deg); /* IE 9 */
  transform: rotate(5.5deg); /* Standard syntax */
}

