.backlink {
    display: inline-block;
    margin-bottom: 30px;
    color: #0b0c0c!important;
    position: relative;
    padding-left: 15px;
    margin-top: 40px;
    &:before {
        content: "";
        display: block;
        width: 7px;
        height: 7px;
        border: 2px solid #0b0c0c;
        border-width: 2px 0px 0px 2px;
        position: absolute;
        top: 9px;
        left: 2px;
        transform: rotate(-45deg);
    }
    &:hover,&:focus,&:active {
        text-decoration: none!important;
    }
    p & {
        display: inline-block;
        margin-bottom: 0;
    }
    
}
.hero + section a.backlink {
     margin-top: 0px;
}