$px-either-side-of-content: 15px;
$space-between-sections: 3.7em;

// blocks is a utility class that allows a several
// items of block content on a page; on desktop they'll
// be in a row and on mobile in a column
.blocks {
  display: flex;
  gap: 1em;

  // This is a fix to make IE display the content
  // centrally.
  margin: $space-between-sections auto 0;

  &.homepage-feature {
    @supports (display: grid) {
      margin: $space-between-sections $px-either-side-of-content 0;
    }
  }

  &--no-top-margin {
    margin-top: 0;
  }

  > * {
    flex: 1 0;

    // this can be deleted once gap is supported by
    // Safari, it's currently only in the TP (tech preview)
    // build https://caniuse.com/?search=gap
    @include safari-only {
      margin: .3em;
    }

    @include ie-only {
      margin: .3em;
    }
  }

  @include mq($until: tablet) {
    flex-direction: column;
    margin: 1em;
  }

  &__directory {
    border: 3px solid $purple;
    padding: 1em;

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 1em 0;

        > a {
          @include font-size('xsmall');
          @extend .link--black;
        }
      }
    }

    p {
      @include font-size('xsmall');
    }
  }

  &__icon {
    // placeholders for now
    @include font-size('xlarge');
  }
}
