.blog-tags-list {
  &--grey {
    background-color: $grey;
  }

  &--padded {
    padding: .5em 1.5em 1em;
    margin-bottom: 1.5em;
  }

  @include mq($from: tablet) {
    width: 100%;
  }

  h2 {
    @include font-size(medium);
  }

  ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: .4em;
    margin: 0;
    padding-left: 0;

    li {
      background-color: $blue;
      color: $white;
      font-weight: bold;

      @include font-size(xsmall, $adjust: .2rem);

      a {
        display: block;
        color: $white;
        padding: .4em .6em;

        &:focus {
          color: $black;
        }
      }

      &:hover {
        background-color: lighten($blue, 5%);
      }
    }

    // FIXME: this can go once Safari supports gap in flex
    @include safari-only {
      li + li {
        margin-left: .4em;
      }
    }
  }
}

.blog {
  $blog-content-width: 65ch;

  margin-bottom: 4em;

  ol.blog-index {
    list-style: none;
    padding-left: 0;

    li {
      h2 {
        @include font-size(large);
        @include reset;
      }

      header {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 2em;
      }

      article {
        margin-bottom: 0;
      }

      [role="doc-subtitle"] {
        @include font-size(small);
      }
    }

    li + li {
      margin-top: 2em;
      padding-top: 1.5em;
      border-top: 1px solid $grey;
    }
  }

  header {
    padding-bottom: 2em;
    margin-bottom: 2em;

    h1 {
      margin-bottom: 0;
    }

    &.list-header {
      border-bottom: 0;
      margin-bottom: 0;

      h1 {
        margin: 0;
      }
    }
  }

  h1 {
    @include font-size(large);
  }

  picture > img {
    max-width: $blog-content-width;
  }

  p {
    max-width: $blog-content-width;
  }

  blockquote {
    $color: $pink-dark;

    padding: 2em;
    background: $grey;
    margin: 2em auto;
    $blog-content-width: 50ch;

    p {
      position: relative;
      @include font-size(medium);

      // some extra rules to make the quotes a bit nicer. this 'smart' css
      // unfortunately has the side affect of requiring attribution for
      // multi-paragraph quotes; to get around it we'll need to implement
      // something more powerful like the regular quote module that wraps
      // the <blockquote> in a <figure> with a <figcaption>

      &:before,
      &:after {
        @include font-size(xlarge);
        color: $pink-dark;
      }

      // always open the quote on the first paragraph
      &:first-child {
        &:before {
          content: open-quote;
          position: absolute;
          left: -.6em;
          top: -.3em;
        }
      }

      // close the quote on the only paragraph (if there's no attribution)
      // or the second last if there is
      &:nth-last-child(2),
      &:only-of-type {
        &:after {
          position: absolute;
          content: close-quote;
          margin-left: .02em;
          margin-top: -.1em;
        }
      }

      // if we have more than one paragraph make the last one smaller,
      // it should be an attribution
      &:last-child:not(:only-of-type) {
        font-size: medium;
      }
    }
  }

  @include mq($until: tablet) {
    img {
      width: 100%;
    }
  }

  .footnotes {
    border-top: 1px solid $grey;
    margin-top: 2em;
    padding: 1em;
    color: darken($grey-dark, 5%); // nudge to AAA
  }

  footer {
    margin-top: 4em;
    border-top: 1px solid $grey;
    padding-top: 1em;

    h2,
    h3 {
      padding-left: 0;
    }

    h3 {
      margin: 2em 0 .5em;
    }
  }

  [role="doc-subtitle"] {
    margin: 0;
    color: $grey-dark;
    @include font-size(medium);
  }

  &__date {
    margin-top: .5rem;
  }

  &__date,
  &__author {
    @include font-size(xsmall);
  }
}
