@mixin blog-article {
  @include mq($from: tablet) {
    > div {
      display: flex;

      header {
        flex-grow: 1;
      }
    }
  }

  header {
    .published-date {
      margin-top: $indent-amount;
    }
  }
}

.blog {
  hr, header p {
    margin-top: 2 * $indent-amount;
  }

  ol {
    padding-left: 0;
  }

  aside {
    padding: 0 $indent-amount;

    @include mq($from: tablet) {
      padding: 0;

      hr {
        display: none;
      }
    }

    > div {
      margin-bottom: $indent-amount;
    }

    .blog-highlights {
      list-style: none;

      li {
        margin-top: .4em;
      }
    }
  }

  .blog-tags {
    display: flex;
    flex-wrap: wrap;
    grid-gap: .8em;
    gap: .8em;
    margin: 0;
    list-style: none;

    li {
      background-color: $grey;

      a {
        display: block;
        padding: .4em .8em;
        @include dark-link;
      }
    }
  }

  .blog-index {
    margin-top: 0;
    list-style: none;

    li > .blog-article {
      @include blog-article;

      img {
        width: 170px;
        height: 120px;
        object-fit: cover;
        object-position: center;
      }
    }

    li:last-child hr {
      display: none;
    }
  }

  > .blog-article {
    @include blog-article;

    > p:last-of-type {
      border-left: .4em solid $grey-mid;
      padding: .5em 0 .5em 1em;
      margin-top: 2.5em;
    }

    img {
      width: 100%;
      height: 300px;
      object-position: center;
      object-fit: cover;

      @include mq($from: mobile) {
        height: 450px;
      }

      @include mq($from: desktop) {
        height: 550px;
      }
    }
  }

  blockquote {
    $color: $pink-dark;

    padding: 2em;
    background: $grey;
    margin: 2em auto;
    $blog-content-width: 50ch;

    p {
      position: relative;

      // some extra rules to make the quotes a bit nicer. this 'smart' css
      // unfortunately has the side affect of requiring attribution for
      // multi-paragraph quotes; to get around it we'll need to implement
      // something more powerful like the regular quote module that wraps
      // the <blockquote> in a <figure> with a <figcaption>

      &:before,
      &:after {
        @include font-size(xlarge);
        color: $pink-dark;
      }

      // always open the quote on the first paragraph
      &:first-child {
        &:before {
          content: open-quote;
          position: absolute;
          left: -.6em;
          top: -.3em;
        }
      }

      // close the quote on the only paragraph (if there's no attribution)
      // or the second last if there is
      &:nth-last-child(2),
      &:only-of-type {
        &:after {
          position: absolute;
          content: close-quote;
          margin-left: .02em;
          margin-top: -.1em;
        }
      }

      // if we have more than one paragraph make the last one smaller,
      // it should be an attribution
      &:last-child:not(:only-of-type) {
        font-size: medium;
      }
    }
  }

  @include mq($from: tablet) {
    .text-content.longform {
      padding-right: 1.5em;
      box-sizing: border-box;

      &.with-aside {
        border-right: 1px solid $grey-mid;
      }
    }
  }
}
