.blog-tags-list {
  &--grey {
    background-color: $grey;
  }

  &--padded {
    padding: .5em 1.5em 1em;
  }

  @include mq($from: tablet) {
    width: 100%;
  }

  ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: .4em;
    margin: 0;
    padding-left: 0;

    li {
      background-color: $blue;
      color: $white;
      padding: .6em;

      @include font-size(xsmall);

      a {
        color: $white;
      }

      &:hover {
        background-color: lighten($blue, 5%);
      }
    }

    // FIXME: this can go once Safari supports gap in flex
    @include safari-only {
      li + li {
        margin-left: .4em;
      }
    }
  }
}

ol.blog-index {
  list-style: none;
  padding-left: 0;

  li {
    h2 {
      @include font-size(medium);
      @include reset;

      a {
        text-decoration: none;
        color: $black;
      }
    }

    header {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 2em;
    }

    [role="doc-subtitle"] {
      @include font-size(small);
    }
  }

  li + li {
    margin-top: 3em;
  }
}

.blog {
  $blog-content-width: 65ch;

  margin-bottom: 4em;

  header {
    border-bottom: 1px solid $grey;
    padding-bottom: 2em;
    margin-bottom: 2em;

    h1 {
      margin-bottom: 0;
    }

    &.list-header {
      border-bottom: 0;
      margin-bottom: 0;

      h1 {
        margin: 0;
      }
    }
  }

  h1 {
    @include font-size(large);
  }

  picture > img {
    max-width: $blog-content-width;
  }

  p {
    max-width: $blog-content-width;
  }

  blockquote {
    padding: 1.5em;
    background: $grey;
    margin: 2em auto;
  }

  @include mq($until: tablet) {
    img {
      width: 100%;
    }
  }

  .footnotes {
    border-top: 1px solid $grey;
    margin-top: 2em;
    padding: 1em;
    color: darken($grey-dark, 5%); // nudge to AAA
  }

  footer {
    h2,
    h3 {
      padding-left: 0;
    }

    h3 {
      margin: 2em 0 .5em;
    }
  }

  [role="doc-subtitle"] {
    margin: 0;
    color: $grey-dark;
    @include font-size(medium);
  }

  .author-date {
    margin-top: 1rem;
    @include font-size(small);
  }
}
