$mq-static-breakpoint: desktop;
$mq-responsive: true;

$page-max-width: 2000px;
$govuk-page-width: 1200px;
$govuk-gutter: 30px;

$govuk-breakpoints: (
  mobile:  320px,
  tablet:  641px,
  desktop: 769px
);

$mq-breakpoints: (
  mobile:  320px,
  tablet:  641px,
  desktop: 769px,
  page: $govuk-page-width + ($govuk-gutter * 2),
  wide: 1500px,
);

@import 'sass-mq';
