.call-to-action-button {
    background-color: $green;
    color: $white;
    font-size: 19px;
    letter-spacing: 0px;
    min-height: 70px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;

    i {
        color: $white;
    }
}