.call-to-action {
  background-color: $grey;
  padding: 0;
  margin-bottom: 2em;
  display: flex;

  a {
    @include dark-link;
  }

  @include mq($until: tablet) {
    flex-direction: column;
  }

  &__icon {
    background-color: $yellow;
    padding: 1em;

    @include mq($until: mobile) {
      width: 25px;
      height: 25px;
    }

    @include mq($from: mobile, $until: tablet) {
      width: 35px;
      height: 35px;
    }
  }

  &__photo {
    > picture img,
    > img {
      width: 8em;
    }
  }

  &--chat-online {
    display: flex;
  }

  &__content {
    padding: .5em 1em 1em;

    .call-to-action__heading,
    .call-to-action__text:first-child {
      margin-top: .6em;
    }
  }

  .call-to-action__heading {
    @include font-size("medium");
    font-weight: bold;
    margin-bottom: 1em;
  }

  &__action {
    margin: .5em 0;

    button,
    a {
      @include button;
      @include chevron;
      white-space: initial;

      display: inline-block;
    }

    .call-to-action__text {
      margin-bottom: .4em;
    }
  }

  &__button-row {
    display: flex;

    &__action {
      a {
        @include button;
        @include chevron;
        white-space: initial;
      }
    }

    .call-to-action__button-row__action + .call-to-action__button-row__action {
      margin-top: 0;
      margin-left: 1em;
    }

    @include mq($until: tablet) {
      flex-direction: column;

      .call-to-action__button-row__action + .call-to-action__button-row__action {
        margin-top: 1em;
        margin-left: 0;
      }
    }
  }

  // add some extra space between multiple actions
  .call-to-action__action + .call-to-action__action {
    margin-top: 2em;
  }

  &--narrow {
    display: flex;
    flex-direction: column;

    header {
      display: flex;
      align-items: center;

      .call-to-action__heading {
        @include font-size("small");
        margin: 0 .5em;
      }
    }
  }

  &--homepage {
    display: grid;
    margin-bottom: 0;
    gap: .6em;

    grid-template-rows: 1em 1fr 2fr .8fr 1em;
    grid-template-columns: 1.2fr .8fr;
    overflow: hidden;

    .call-to-action__icon__container {
      @include reset;

      grid-area: 1 / 1 / 3 / 2;
      transform: rotate(-3deg);

      // the box exists so we can rotate the icon's background
      // and the icon itself separately in opposite directions
      .call-to-action__icon__box {
        margin: 1em auto auto -.2em;
        padding-left: .2em;
        background-color: $yellow;
        display: inline-block;
      }

      .call-to-action__icon {
        background: transparent;
        transform: rotate(3deg);
      }
    }

    .call-to-action__heading {
      @include reset;
      align-self: center;
      padding: 0 1em;
      @include font-size(medium);
      line-height: 1.3em;
      text-decoration-thickness: .12em;

      grid-area: 3 / 1 / 4 / 2;
    }

    .call-to-action__action {
      @include reset;
      grid-area: 4 / 1 / 6 / 2;
      margin-bottom: .5em;

      a {
        margin: .3em 1.5em;
        display: inline-block;
        @include font-size("small");
      }
    }

    .call-to-action__image {
      @include reset;
      grid-area: 2 / 2 / 5 / 3;
      background-position: center;
      background-size: cover;
    }

    @include mq($until: tablet) {
      grid-template-rows: 12em 1fr auto;
      grid-template-columns: .8fr 1.2fr;

      .call-to-action__icon__container {
        grid-area: 1 / 1 / 2 / 2;
        align-self: center;

        img {
          padding: 1.2em;
          height: 3em;
          width: 3em;
        }
      }

      .call-to-action__heading {
        grid-area: 2 / 1 / 3 / 3;
        margin: 1em auto .5em 0;
        @include font-size('small');
      }

      .call-to-action__action {
        grid-area: 3 / 1 / 4 / 3;

        a {
          margin: 1em;
        }
      }

      .call-to-action__image { grid-area: 1 / 2 / 2 / 3; }
    }
  }

  &--next-steps {
    position: relative;
    background: transparent;
    @include mq($until: tablet) {
      max-width: calc(100% - 1.25em);
    }

    .call-to-action__heading {
      color: $white;
      background: $green;
      transform: rotate(-3deg);
      display: inline-block;
      padding: .625em 1.25em;
      margin-left: -22px;
      margin-bottom: .5em;
    }

    .call-to-action__content {
      background-color: $grey;
      overflow: hidden;
      position: relative;
    }

    .call-to-action__text {
      margin-bottom: 1.4em;
    }

    &:before {
      content: "";
      display: block;
      width: calc(50% + 1.25em);
      height: calc(50% + 1.25em);
      position: absolute;
      bottom: -1.25em;
      right: -1.25em;
      background-color: $green;
    }
  }

  &--funding-widget {
    margin-top: 0px !important;
    margin-left: 0;
    position: relative;
    background: transparent;
    @include mq($until: tablet) {
      max-width: calc(100% - 1.25em);
    }
    .call-to-action__heading {
      color: white;
      background: $purple;
      transform: rotate(-3deg);
      display: inline-block;
      padding: 0.5em 1.25em;
      margin-left: -22px;
      margin-bottom: 1.5em;
    }
    .call-to-action__content {
      background-color: $grey;
      overflow: hidden;
      position: relative;
    }
    .call-to-action__text {
      margin-bottom: 1.4em;
    }
    .call-to-action__form {
      .field,
      .actions {
        margin-bottom: 1em;
      }

      select,
      input {
        margin-left: 0;
        margin-right: 0;
        box-sizing: border-box;
      }

      label {
        display: block;
        margin-bottom: 0.5em;
      }
    }
    &:before {
      content: "";
      display: block;
      width: calc(50% + 1.25em);
      height: calc(50% + 1.25em);
      position: absolute;
      bottom: -1.25em;
      right: -1.25em;
      background-color: $purple;
    }

    h3 {
      margin: 0px 0px 7px 0px;
      padding: 0px;
    }
  }
}
