.call-to-action {
  background-color: $grey;
  padding: 0;
  margin-bottom: 2em;
  display: flex;

  @include mq($until: tablet) {
    flex-direction: column;
  }

  &__icon {
    background-color: $yellow;
    padding: 1em;
  }

  &__photo {
    > img {
      width: 8em;
    }
  }

  &--chat-online {
    display: none;
  }

  &.visible {
    display: flex;
  }

  &__content {
    padding: .5em 1em 1em;

    .call-to-action__heading,
    .call-to-action__text:first-child {
      margin-top: .6em;
    }
  }

  .call-to-action__heading {
    font-size: $fs-28;
    margin-bottom: 1em;
  }

  &__action {
    margin: .5em 0;

    button,
    a {
      @include button;
      @include chevron;
      white-space: initial;

      display: inline-block;
    }

    .call-to-action__text {
      margin-bottom: .4em;
    }
  }

  &__button-row {
    display: flex;

    &__action {
      a {
        @include button;
        @include chevron;
        white-space: initial;
      }
    }

    .call-to-action__button-row__action + .call-to-action__button-row__action {
      margin-top: 0;
      margin-left: 1em;
    }

    @include mq($until: tablet) {
      flex-direction: column;

      .call-to-action__button-row__action + .call-to-action__button-row__action {
        margin-top: 1em;
        margin-left: 0;
      }
    }
  }

  // add some extra space between multiple actions
  .call-to-action__action + .call-to-action__action {
    margin-top: 2em;
  }

  &--narrow {
    display: flex;
    flex-direction: column;

    header {
      display: flex;
      align-items: center;

      .call-to-action__heading {
        margin: 0 0 0 .5em;
      }
    }
  }
}
