.category {
  background-color: $grey;

  &__hero {
    margin: 0;
    background: $yellow;

    p {
      max-width: 70ch;
    }
  }

  &__nav-cards {
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: 1em;
    margin-block: 2em;

    @include mq($from: tablet) {
      grid-template-columns: repeat(2, 1fr);
      margin-inline: 2em;
    }

    gap: 2em;
    list-style: none;
  }

  &__nav-card {
    background: white;
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
    color: black;
    text-decoration: none;
    padding: 2em;
    display: flex;
    gap: 1.5em;

    &:hover {
      box-shadow: 0px 12px 9px 0px rgba(0,0,0,0.15);
      color: black;

      h2 { text-decoration: underline; }
    }

    &--content {
      flex: 1 0 80%;

      h2 {
        @include font-size(medium);
        margin: 0;
      }
    }

    &--icon {
      flex: 1;
      text-align: right;

      &:after {
        display: inline-block;
        content: "\276F";
        background: $blue;
        color: white;
        padding: .5em .7em .7em .7em
      }
    }
  }

  &__questions {
    display: flex;
    flex-direction: column;
    gap: 3em;
    background: $white;
    padding-bottom: 2em;

    @include mq($from: tablet) {
      flex-direction: row;
      gap: 2em;
    }
  }

  &__question {
    @include mq($from: tablet) {
      flex:1;
    }

    padding: 0 2em;

    h2 {
      font-weight: normal;
      @include font-size(medium);
    }

    * {
      margin: 0;
    }

    * + * {
      margin-top: 1em;
      margin-bottom: 0;

      @include mq($from: tablet) {
        margin-top: 2em;
      }
    }
  }
}
