.category {
  background-color: $white;
  margin-bottom: 3.5em;

  &__hero {
    margin: 0;
    background: $yellow;

    p {
      max-width: 70ch;
    }
  }

  &__cards {
    width: 100%;
  }

  &__nav-cards ul {
    display: grid;
    grid-template-columns: 1fr;
    margin-block: 1em;
    padding: 0;
    gap: 1.2em;
    list-style: none;

    @include mq($from: tablet) {
      &:not(.one-column) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &.horizontal {
      @include mq($from: tablet) {
        .category__nav-card--content {
          display: flex;
          gap: $indent-amount;

          > *:first-child {
            flex-basis: 30%;
          }

          p:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &__nav-card {
    background: $grey;
    display: flex;
    margin-bottom: 0;
    border-bottom: 4px solid $grey-light;

    &__with-image {
      grid-column: 1 / -1;

      a.link--black {
        padding: 0;
      }
    }

    &__wrapper {
      display: grid;

      @include mq($until: tablet) {
        grid-template-columns: 100%;

        &__col1 {
          order: 2;
        }

        &__col2 {
          order: 1;
        }
      }

      @include mq($from: tablet) {
        grid-template-columns: 50% 50%;
      }
      min-height: 0;
      min-width: 0;

      &__col1 {
        padding: 1.25em;
      }

      &__col2 {
        overflow: hidden;
        line-height: 0;

        img {
          object-fit: cover;
          object-position: center center;
          max-height: 300px;
          max-width: 100%;
        }
      }
    }

    a {
      padding: 1.25em;
      text-decoration: none;
      display: flex;
      gap: 1.5em;
      width: 100%;

      h2,
      h3 {
        text-decoration: underline;
      }

      &:focus h2 {
        color: $white;
      }

      &:focus h3 {
        color: $white;
      }
    }

    &:hover {
      border-color: $blue-dark;

      h2,
      h3 {
        text-decoration-thickness: max(4px, .25rem);
      }
    }

    &--content {
      flex: 1 0 80%;

      h2,
      h3 {
        @extend .heading-m, .heading--margin-0;
      }
    }
  }

  &__questions {
    display: flex;
    flex-direction: column;
    gap: 3em;
    background: $white;
    padding: 2.5em 0 4em;

    @include mq($from: tablet) {
      flex-direction: row;
      gap: 2em;
    }

    &__container {
      border-top: 1px solid $grey;
    }
  }

  &__question {
    @include mq($from: tablet) {
      flex: 1;
    }

    padding: 0 2em;

    h2 {
      @extend .heading-m;
    }

    * {
      margin: 0;
    }

    * + * {
      margin-top: 1em;
      margin-bottom: 0;

      @include mq($from: tablet) {
        margin-top: 2em;
      }
    }
  }
}

.why-teach {
  background-color: $grey;

  &__container {
    margin: 4em auto;
    max-width: $content-max-width;
    display: flex;
    flex-direction: column-reverse;
    gap: 2em;

    @include mq($from: tablet) {
      flex-direction: row;
    }
  }

  &__content {
    flex: 0 1 50%;
    margin-inline: 1em;

    h2 {
      margin-top: 0;
    }

    a {
      @extend .link--black;
    }

    ul {
      list-style: none;
      padding: 0;

      li + li {
        margin-top: 1em;
      }
    }
  }

  &__image {
    flex: 0 1 50%;

    img {
      object-fit: cover;
      max-height: 15em;
      width: 100%;
    }
  }
}

.find-your-course {
  margin: 4em auto 0;
  max-width: $content-max-width;
  background-color: #f1f1f1;
  display: flex;
  gap: 0;

  @include mq($from: tablet) {
    gap: 0;
  }

  .left > .icon {
    display: inline-block;
    background: $yellow;
    padding: .8em .8em .6em;
  }

  .right {
    padding: 1.25em 1.5em 1.5em;
  }

  .right h2 {
    margin-bottom: 0;
  }

  .right p {
    margin: 1em 0 1.25em;
  }

  .right p:last-child {
    margin-bottom: 0;
  }

  .right p .button {
    margin-bottom: 0;
  }
}

#events .category__nav-cards {
  margin-bottom: 3em;
}

#events .category__nav-card {
  background: $white;
}
