main.category {
	max-width: 100%!important;
}


.category {
    &__hero {
        margin: 0;
        background: $yellow;

        p {
            max-width: 70ch;
        }
    }

    &__nav-cards {
        display: grid;
        grid-template-columns: 1fr;
        margin-inline: 1em;

        @include mq($from: tablet) {
            grid-template-columns: repeat(2, 1fr);
            margin-inline: 2em;
        }

        gap: 2em;
        list-style: none;

    }

    &__nav-card {
        display: block;
        background: white;
        padding: 2em 4.5em 2em 2em;
        box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
        text-decoration: none;
        color: black;
        position: relative;

        h2 {
	        @include font-size(medium);
        }

        &:hover {
	        box-shadow: 0px 12px 9px 0px rgba(0,0,0,0.15);
	        color: black;
	        h2 {
		        text-decoration: underline;

	        }

        }

        .icon {
	        background: #2781be;
	        color: white;
	        width: 32px;
	        height: 32px;
	        display: block;
	        position: absolute;
	        top: 3em;
	        right: 2em;
	        &:after {
		        //could we replace this with the button snippet that adds the icon on?
		        content: "\276F";
		        color: white;
		        text-align: center;
			    width: 100%;
			    display: inline-block;
			    font-weight: bold;
			    font-size: 20px;
		    }

        }

    }
    
    .category__questions__container {
	    background-color: white;
	    margin-top: 3em;
	    padding: 1em 0 5em 0;
    }

    &__questions {
        display: flex;
        flex-direction: column;
        gap: 3em;
        background: $white;

        @include mq($from: tablet) {
            flex-direction: row;
            gap: 2em;
        }
    }

    &__question {
        @include mq($from: tablet) {
            flex:1;
        }

        padding: 0 2em;

        h2 {
            font-weight: normal;
            @include font-size(medium);
        }

        * {
            margin: 0;
        }

        * + * {
            margin-top: 1em;
            margin-bottom: 0;

            @include mq($from: tablet) {
                margin-top: 2em;
            }
        }
    }
}

.extra-content {
    max-width: 60em;
    margin: auto;
}

.events-near-you {
    display: flex;
    flex-direction: column;
    gap: 2em;

    @include mq($from: tablet) {
        flex-direction: row;
    }

    &__next-event,
    &__find-an-event {
        flex: 0 0 50%;
    }

    &__next-event {
        background-image: url("../images/content/homepage/here-to-help.jpg");
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        gap: .5em;
        padding-block: 1em;

        > div { padding: .5em 1em; }

        h2 {
            margin: 0;
            @include font-size(large);

            .caption {
                @include font-size(medium);
            }
        }

        h2 > *,
        .date-and-time {
            display: inline-block;
            background-color: $yellow;
            padding: .4em;
        }

        .date-and-time {
        }
    }

    &__find-an-event {
        display: flex;
        flex-direction: column;

        @include mq($from: tablet) {
            gap: 1em;
        }

        > * { padding: .5rem 1rem; }
        
        p {
	        margin-top: 0;
        }

        h2 {
            margin: 0;

            .caption {
                color: $purple;
                @include font-size(medium);
            }

            @include font-size(large);
        }

        form {
            max-width: 40%;

            input {
                margin-left: 0;
                min-width: 10em;
            }

            div {
                display: flex;
            }
        }
    }
}

.find-your-course {
    display: flex;
    margin-block: 4em;
    gap: 2em;

    .left > .icon {
        background: $yellow;
        padding: .7em;
        margin-inline: 1em;
    }

    .right {
        .caption {
            @include font-size(medium);
            font-weight: bold;
            color: $purple;
            display: inline-block;
        }

        h2 {
            @include font-size(large);
            margin: 0;
        }
    }
}
