.category {
    &__hero {
        margin: 0;
        background: $yellow;

        p {
            max-width: 70ch;
        }
    }

    &__nav-cards {
        display: grid;
        grid-template-columns: 1fr;
        margin-inline: 1em;

        @include mq($from: tablet) {
            grid-template-columns: repeat(2, 1fr);
            margin-inline: 2em;
        }

        gap: 2em;
        list-style: none;

    }

    &__nav-card {
        display: block;
        background: white;
        padding: 2em;
        box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
        text-decoration: none;
        color: black;
        
        h2 {
	        @include font-size(medium);
        }
        
        &:hover {
	        box-shadow: 0px 12px 9px 0px rgba(0,0,0,0.15);
	        color: black;
	        h2 {
		        text-decoration: underline;
		        
	        }
	        
        }
    }

    &__questions {
        display: flex;
        flex-direction: column;
        gap: 3em;

        background: $white;

        @include mq($from: tablet) {
            flex-direction: row;
            gap: 2em;
        }
    }

    &__question {
        @include mq($from: tablet) {
            flex-basis: 50%;
        }

        padding: 1em;

        h2 {
            font-weight: normal;
            @include font-size(medium);
        }

        * {
            margin: 0;
        }

        * + * {
            margin-top: 1em;
            margin-bottom: 0;

            @include mq($from: tablet) {
                margin-top: 2em;
            }
        }
    }
}