$black: #1D1D1B;
$blue: #2781BE;
$blue-dark:  #0076BD;
$green: #19A373;
$green-dark: #009157;
$green-dark-90: rgba(0, 145, 87, .9);
$grey: #F0F0F0;
$grey-mid: #B7B9BB;
$pink: rgba(219, 83, 147, 1);
$pink-90: rgba(219, 83, 147, .9);
$pink-dark: #D34491;
$pink-dark-90: rgba(211, 68, 145, .9);
$purple: #8967AA;
$purple-dark: hsl(271, 29%, 49%);
$white: #FFFFFF;
$white-90: rgba(255, 255, 255, .9);
$yellow: #FBBA20;
$yellow-dark: #F9B400;
$yellow-90: rgba(251, 186, 32, .9);