$black: #1D1D1B;
$blue: #2781BE;
$blue-dark:  #0076BD;
$blue-dark-90: rgba($blue-dark, .9);
$green: #159964;
$green-dark: #009157;
$green-dark-90: rgba($green-dark, .9);
$grey: #F0F0F0;
$grey-light: #CCC;
$grey-mid: #B7B9BB;
$pink: #DB5E9E;
$pink-dark: #D34491;
$pink-dark-90: rgba($pink-dark, .9);
$purple: #8967AA;
$purple-dark: #7D58A0;
$purple-dark-90: rgba($purple-dark, .9);
$white: #FFFFFF;
$white-90: rgba($white, .9);
$yellow: #FBBA20;
$yellow-dark: #F9B400;
$yellow-dark-90: rgba($yellow-dark, .9);
