$black: #1d1d1b;
$blue: #00b1eb;
$blue-dark: #1d70b8;
$blue-dark-90: rgba($blue-dark, .9);
$cta-green: #00703c;
$cta-green-dark: #005a30;
$cta-green-dark-90: rgba($cta-green-dark, .9);
$cta-green-box-shadow: #002d18;
$green: #00ab92;
$grey: #f0f0f0;
$grey-light: #cccccc;
$grey-dark: #656565;
$grey-mid: #b7b9bb;
$cta-grey: #f3f2f1;
$cta-grey-dark: #dbdad9;
$cta-grey-box-shadow: #929191;
$pink: #f162a0;
$pink-dark: #d34491;
$pink-dark-90: rgba($pink-dark, .9);
$purple: #ad52a4;
$purple-dark: #7d58a0;
$purple-dark-90: rgba($purple-dark, .9);
$white: #ffffff;
$white-90: rgba($white, .9);
$yellow-light: #fef0cb;
$yellow: #fbbb21;
$yellow-dark: #f9b400;
$yellow-dark-90: rgba($yellow-dark, .9);
$red: #d4351c;

// NOT PART OF THE OFFICIAL COLOUR SCHEME
$dark-cyan: #008b8b; // used for tags
$blue-very-dark: #003152; // passes accessibility contrast check on $grey/$yellow
