$content-max-width: 1000px;
$mobile-wrap: 800px;

main,
.content-container {
  display: flex;
  flex-direction: column;
  max-width: $content-max-width;
  margin: auto;

  @media only screen and (min-width: $mobile-wrap) {
    flex-direction: row-reverse;
  }

  &.home {
    max-width: unset;
  }

  &.events {
    .content > * {
      margin-left: 0;
    }
  }

  &.home,
  &.events {
    overflow-x: hidden;

    @media only screen and (min-width: $mobile-wrap) {
      flex-direction: column;
    }

    .content {
      text-align: left;
    }
  }
}

aside {
  margin: .5em 2em;
  min-width: 35%;

  @media only screen and (min-width: $mobile-wrap) {
    margin: 0;
  }
}

.content {
  &.column {
    flex-direction: column;
  }

  flex-grow: 0;

  // make all direct descendents have a left margin
  // so we can override it independently on things that are
  // meant to overhang (h2)
  > * {
    margin-left: 1em;

    @media only screen and (max-width: $mobile-wrap) {
      margin: .5em;
    }
  }

  @media only screen and (min-width: $mobile-wrap) {
    margin: inherit 1em;
    flex-basis: 65%;
    flex-shrink: 0;
    flex-grow: 0;
  }

  h1 {
    margin: .5em;
  }

  // Markdown
  h2 {
    @include content-heading;
    margin: .5em 0;

    &:first-of-type {
      margin-top: 0;
    }
  }

  ul {
    list-style-type: square;
  }

  li {
    line-height: 1.6;
  }

  // when we're including a back link in the content it needs to
  // be nudged down a little to clear the slanted header
  .govuk-back-link {
    margin-top: 2em;
  }
}

.markdown {
  a {
    &[href*="//"] {
      &::after {
        content: url('../images/icon-external.svg');
        margin-left: 0.2em;
        display: inline-block;
        background-repeat: no-repeat;
      }
    }
  }

  // stop the external icon from appearing inside CTA 'button' style links
  .call-to-action__action {
    a {
      &[href*="//"] {
        &::after {
          content: none;
          margin-left: unset;
        }
      }
    }
  }
}
