.content {
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 70px;
    overflow: auto;
    &--reverse {
        flex-direction: row-reverse;
    }

    &__left {
        min-height: 250px;
        box-sizing: border-box;
        padding: 20px;
        text-align: left;
        vertical-align: top;
        width: 66.6666%;
        float: left;
        .jumbotron {
            font-size: 19px;
            color: $black;
            font-weight: bold;
            line-height: 1.6;
        }

        h2 {
            font-size: 36px;
            font-weight: bold;
            border-bottom: 8px solid $blue;
            margin: 0;
            padding: 0;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 28px;
            font-weight: bold;
            margin: 0;
            padding: 0;
            margin-top: 20px;
        }

        h4 {
            font-size: 19px;
            font-weight: bold;
            margin: 0;
            padding: 0;
            margin-top: 20px;
        }

        p {
            line-height: 1.4;
            margin: 0 0 30px;
            padding: 0;
        }

        ul {
            padding-left: 20px;
            list-style-type: square;
        }

        li {
            font-size: 19px;
            line-height: 1.6;
            color: $purple;

            span {
                color: $black;
            }
        }

        a {
            font-weight: regular;
            font-size: 19px;
            color: $blue-dark;
            text-decoration: underline;      
        }
        
        a:hover {
            text-decoration: underline;
        }

        p.content-alert {
            background-color: $purple;
            color: $white;
            box-sizing: border-box;
            padding: 20px;
            font-weight: bold;
            line-height: 1.5;
            display: inline-block;
            margin-left: -20px;
            margin-right: -20px;
        }
        
        div.content-video {
            margin-top: 20px;    
            width: 100%;
            text-align: left;
            overflow: hidden;

            img {
                width: 100%;
            }

            &__play {
                background-color: $pink-90;
                height: 60px;
                width: 80px;
                transform: rotate(3deg);
                position: relative;
                top: -250px;
                left: -5px;
            
                div {
                    transform: rotate(-3deg);
                    margin-top: 16px;
                    margin-left: 25px; 
                }
            }
        }

        div.media-cta {

            width: 100%;
            overflow: hidden;
            position: relative;
            @include font;
            font-weight: bold;
            color: $white;
            text-decoration: none;
            margin-bottom: 30px;

            img {
                width: 100%;
                display: block;
            }

            div {
                display: inline-block;
                max-width: 90%;
                background-color: $green-dark-90;
                position: absolute;
                bottom: 30px;
                left: -5px;
                transform: rotate(-3deg);
                overflow: hidden;
                box-sizing: border-box;
                padding: 20px 20px 20px 40px;
                line-height: 1.25;
            }

            i {
                position: relative;
                left: 3px;
                top: 2px;
            }
        }


    }

    &__right {
        padding: 20px;
        text-align: left;
        vertical-align: top;
        width: 33.3333%;
        float: right;
        box-sizing: border-box;
    }

}

@media only screen and (max-width: 800px) {

    .content {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        margin-bottom: 50px;

        &__left {
            padding: 0px;    
            display: block;
            width: 100%;

            p.content-alert {
                margin-top: 0px;
                margin-left: 0px;
                margin-right: 0px;
            }

            div.media-cta {
                max-width: 700px;
            }

        }

        &__right {
            margin: 0;
            padding: 0;
            display: block;
            width: 100%;
        }
    }
}