@keyframes slide-up {
  0% {
    transform: translateY(110vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

.dialog {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 1000;
  justify-content: center;
  align-items: center;

  &.visible {
    display: flex;
  }

  &__background {
    opacity: .8;
    background-color: $black;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    position: absolute;
  }

  &__content {
    width: 100%;
    max-width: 40em;
    background-color: $grey;
    box-sizing: border-box;
    position: relative;
    overflow-x: clip;
    padding-bottom: 1em;

    .logo-wrapper {
      padding: 0;
      top: -30px;

      @include mq($until: desktop) {
        top: 0;
        padding: 0 0 1em;
      }
    }
  }

  &__text,
  &__buttons {
    padding: .2em 2em;
  }

  &__text {
    a {
      @extend .link--dark;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    margin: .5em;
  }
}
