.eligibility-checker {
  background-color: $grey;
  padding: 1em;
  overflow: hidden;

  header {
    background-color: $purple-dark;
    color: $white;
    margin-left: -2em;
    padding-left: 2em;
    margin-block: 1em;
  }

  p.eligibility-checker-disclaimer {
    color: #505a5f;
  }
}
