.eligibility-checker {
  background-color: $grey;
  padding: 1em;

  h1 {
    @include rotated-block;
    background-color: $purple-dark;
    color: $white;
    font-size: size("medium");
    padding: .3em;
    margin-left: -2em;
    padding-left: 2em;
    overflow: hidden;
  }

  p.eligibility-checker-disclaimer {
    color: #505a5f;
  }
}
