.error-page {
  p:first-child {
    margin: 0;
    padding: 0;
  }

  h1 {
    margin-top: 0;
    font-size: $fs-42;
    font-weight: 900;
  }

  a {
    color: $blue;
  }

  a:hover {
    text-decoration: none;
  }
}
