.event-info {
  &__date {
    margin-top: 0;
    @include font-size("medium");
  }

  &__venue_img {
    width: 100%;
    margin-top: $indent-amount;
  }
}

@include mq($until: tablet) {
  .event-info {
    &__eventbox {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}
