.events {
  h2 {
    @include content-heading;
    @include font-size(xlarge);
    margin-top: 1.5em;
  }

  .types-of-event__header__icon {
    margin-bottom: 5px;
  }

  .event-type-descriptions {
    text-align: left;
    padding-bottom: 60px;

    .event-type-descriptions__content {
      @include cards-grid;
      padding: $indent-amount $indent-amount 0 $indent-amount;
      margin-bottom: 0;
    }
  }

  .search-for-events-results {
    display: flex;
    flex-wrap: wrap;

    > a {
      width: 33.333%;
      margin-bottom: 30px;
      padding: 0 15px;
      box-sizing: border-box;
      text-decoration: none;
    }

    .event-box {
      height: 100%;
    }
  }

  .events-featured {
    background: $grey;
    position: relative;
    padding: $indent-amount;
    width: 100%;
    margin-top: 30px;
    box-sizing: border-box;

    + .events-featured {
      margin-top: 30px;
    }

    .no-results {
      width: 66.6%;

      @include mq($until: tablet) {
        width: 100%;
      }
    }

    &--with-logo {
      margin-top: 90px;
    }

    &__heading {
      margin-bottom: $indent-amount;

      > header h3 {
        @include font-size(large);
        margin: 0px;
        line-height: 1.25;
      }
    }

    &__text {
      max-width: 70%;
      margin-bottom: 30px;
    }

    &__list {
      padding: 0;
      @include cards-grid;

      &__item {

        list-style: none;
        display: flex;
        text-decoration: none;
      }
    }

    .call-to-action-button {
      margin-top: 1.5em;
      white-space: normal;
    }

    &__logo {
      position: absolute;
      top: 0;
      left: 100%;
      transform: translate(-100%, -65%);
    }
  }

  .event-pagination {
    &.content {
      overflow: inherit;
    }

    .pagination {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      @mixin pagination-item {
        @include font-size(medium);
        padding: .8em;
        text-decoration: none;
        margin: 1em 0;
      }

      // kaminari selectors
      * {
        display: inline-block;
        line-height: 1;
      }

      a {
        @include pagination-item;
        border: 2px solid $pink-dark;
        color: $pink-dark;

        &:hover {
          background-color: $pink-dark;
          color: $white;
        }

        &:focus {
          background-color: $yellow;
          border: 2px solid $yellow-dark;
          color: $black;
        }
      }

      .page {
        text-align: center;
        min-width: .8em;

        &.current,
        &.gap {
          padding: .8em .6em;
        }

        &.current {
          @include pagination-item;
          background-color: $pink-dark;
          color: $white;
          border: 2px solid $pink-dark;
        }
      }

      .prev {
        margin-right: .2em;
      }

      .prev + .page,
      .page + .page {
        margin-left: .2em;
        margin-right: .2em;
      }
    }
  }

  @include mq($until: tablet) {
    .event-type-descriptions {
      padding-bottom: 0;
    }

    .types-of-event {
      &__left {

        padding-left: 0;
        padding-right: 0;
        display: block;
        width: 100%;
        margin-right: 40px;
      }

      &__right {
        margin: 0;
        padding: 0;
        display: block;
        width: 100%;
      }
    }

    .search-for-events-results {
      > a {
        width: 50%;
      }
    }

    .events-featured {
      &__text {
        max-width: 100%;
      }

      &--with-logo {
        margin-top: 60px;

        @include mq($until: tablet) {
          margin-top: 30px;
        }
      }

      &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mq($until: tablet) {
          flex-direction: column-reverse;
        }
      }

      &__logo {
        position: relative;
        top: auto;
        left: auto;
        transform: scale(.7);
        margin-right: -58px;

        @include mq($until: tablet) {
          align-self: flex-end;
        }
      }
    }
  }

  @include mq($until: mobile) {
    .search-for-events-results {
      > a {
        width: 100%;
        padding: 0;
      }
    }
  }
}
