.event-info {

    h1 {
        margin: 1em 0 5px 0
    }

    &__date {
      font-weight: bold;
      font-size: 1.4em;
    }

    &__venue {
        float:left;
        text-align: left;
        width: calc(100% - 360px);
        padding-top: 20px;

        h1 {
            margin: 0;
        }

        &__map {
            width: 100%;
            height: 362px;
            background-color: $grey;
            margin-bottom: 40px;
            background-image: url('../images/map-screen.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

@media only screen and (max-width: 800px) {

    .event-info {
        
        &__eventbox {
            display: block;
            width: 100%;
            text-align: center;
        }

        &__detail {
            display: block;
            width: 100%;
        }

        &__venue {
            display: block;
            width: 100%;
        }
    }
}