.featured-content {
  &__items {
    margin-top: 30px;
    display: flex;
  }

  &__item {
    width: 33.333%;
    margin-bottom: 30px;
    text-align: left;
    padding: 0 $indent-amount;
    position: relative;
  }

  &__image {
    width: 100%;
    height: 220px;
    background-size: cover;
    background-position: 50%;
    margin-bottom: 10px;
    position: relative;
    overflow: auto;

    .more-stories__thumbs__thumb__play {
      background-color: $pink-dark-90;
      padding: 1em 1em 1em 1.5em;
      position: absolute;
      top: 120px;
      margin-left: -.6em;

      &:hover {
        background-color: $pink;
      }
    }
  }

  &__content {
    height: calc(100% - 230px);
  }

  &__link {
    @include chevron($color: $black);
    color: $black;

    margin-top: 10px;
    display: block;
    text-decoration: none;
    font-weight: bold;

    > span {
      white-space: nowrap;
    }

    &:hover {
      text-decoration: underline;
      color: inherit;
    }
  }

  &__item-wide {
    display: flex;
    text-align: left;
    margin-bottom: 30px;

    &__image {
      width: 33.3333%;
      height: 240px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;

      .icon-pin-large {
        position: absolute;
        top: calc(50% - 30px);
        left: calc(50% - 25px);
      }
    }

    &__right {
      width: 66.6666%;
      position: relative;
    }

    &__content {
      padding: 0 $indent-amount;

      p {
        margin-top: 0;
      }
    }

    &__link {
      display: block;
      font-weight: bold;
      text-decoration: none;

      &:after {
        content: "";
        display: inline-block;
        position: relative;
        width: 10px;
        height: 10px;
        border: 4px solid $black;
        border-width: 3px 3px 0 0;
        transform: rotate(45deg);
        top: 1px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@include mq($until: tablet) {
  .featured-content {
    margin-top: 70px;

    &__items {
      margin-top: 30px;
      margin-bottom: 0;
      flex-wrap: wrap;
    }

    &__item {
      width: 100%;
      padding: 0 $indent-amount;
      margin-bottom: 50px;
    }

    &__item-wide {
      display: block;
      position: relative;

      &__image {
        width: 100%;
        margin-bottom: $indent-amount;
      }

      &__right {
        width: 100%;
        position: static;
      }

      &__content {
        padding: 0;
      }
    }
  }
}

.explore {
  margin-bottom: 110px;
  @include mq($until: tablet) {
    margin-bottom: 45px;
  }

  &__header {
    margin: -20px auto;
    padding: 0 $indent-amount;

    &.content {
      margin-bottom: -20px;
    }
  }
}
