.feedback-bar {
  margin-bottom: $indent-amount;

  .container {
    padding: 0 $indent-amount;
    flex-direction: row;
    align-items: center;
    column-gap: $indent-amount;
    justify-content: flex-start;
  }
}
