.feedback-bar {
  margin: $indent-amount 0;

  .govuk-width-container > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $indent-amount;
    justify-content: flex-start;
  }
}
