html {
  font-size: 100%;
}

// Numbers refer to pixel size when the base font
// size of the broswer is 16px (most broswers)

$fs-16: 1rem;
$fs-19: 1.1875rem;
$fs-28: 1.75rem;
$fs-36: 2.25rem;
$fs-42: 2.625rem;
$fs-54: 3.375rem;
