$_font-sizes: (
  mobile: (
    "xsmall":   1em,
    "small":    1em,
    "medium":   1em,
    "large":    1.3125em,
    "xlarge":   1.75em,
    "xxlarge":  2.375em,
    "xxxlarge": 2.375em,
  ),
  tablet: (
    "xsmall":   1em,
    "small":    1em,
    "medium":   1em,
    "large":    1.3125em,
    "xlarge":   1.75em,
    "xxlarge":  2.375em,
    "xxxlarge": 2.375em,
  ),
  desktop: (
    "xsmall":   1em,
    "small":    1em,
    "medium":   1em,
    "large":    1.4210em,
    "xlarge":   2em,
    "xxlarge":  2.8421em,
    "xxxlarge": 2.8421em,
  )
);

$_line-heights: (
  mobile: (
    "xsmall":   1.5em,
    "small":    1.5em,
    "medium":   1.5em,
    "large":    1.5em,
    "xlarge":   1.1428em,
    "xxlarge":  1.7142em,
    "xxxlarge": 1.7142em,
  ),
  tablet: (
    "xsmall":   1.5em,
    "small":    1.5em,
    "medium":   1.5em,
    "large":    1.5em,
    "xlarge":   1.1428em,
    "xxlarge":  1.7142em,
    "xxxlarge": 1.7142em,
  ),
  desktop: (
    "xsmall":   1.5789em,
    "small":    1.5789em,
    "medium":   1.5789em,
    "large":    1.1111em,
    "xlarge":   1.5789em,
    "xxlarge":  1.1111em,
    "xxxlarge": 1.1111em,
  )
);

@function size($sizes, $device-size, $size) {
  @return map-get($sizes, $device-size, $size);
}

@mixin font-size($size, $adjust: 0) {
  font-size: size($_font-sizes, mobile, $size) + $adjust;
  line-height: size($_line-heights, mobile, $size) + $adjust;

  @include mq($from: tablet, $until: desktop) {
    font-size: size($_font-sizes, tablet, $size) + $adjust;
    line-height: size($_line-heights, tablet, $size) + $adjust;
  }

  @include mq($from: desktop) {
    font-size: size($_font-sizes, desktop, $size) + $adjust;
    line-height: size($_line-heights, desktop, $size) + $adjust;
  }
}
