footer {
    background-color: $black;

    .footer-top {
        height: 170px;
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 30px;
        border-bottom: 1px solid $grey;
        box-sizing: border-box;
        display: table;
        
        a {
            text-decoration: none;
        }

        &__links-container {
            display: table-cell;
            text-align: right;
            vertical-align: top;
            color: $grey;
            font-size: 16px;
            letter-spacing: 0px;

            a {
                color: $grey;
                margin-left: 5px;
                margin-right: 5px;
                text-decoration: underline;
            }
        }
    }

    .footer-bottom {
        height: 140px;
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
        box-sizing: border-box;
        display: table;

        &__logo-container {
            display: table-cell;
            vertical-align: top;
            width: 124px;
            height: 73px;

            img {
                width: 124px;
                height: 73px;
            }
        }

        &__links-container {
            display: table-cell;
            text-align: right;
            vertical-align: top;
            color: $grey;
            font-size: 16px;
            letter-spacing: 0px;
            padding-left: 40px;

            a {
                color: $grey;
                margin-left: 5px;
                margin-right: 5px;
                text-decoration: underline;
            }
        }
    }

    .logo__image {
        top: 0px;
        left: -60px;
    }
}

/* mobile css */
@media only screen and (max-width: 800px) {

    footer {

        .footer-top {
            display: block;
            height:360px;
            padding-left:20px;
            padding-right:20px;

            &__links-container {
                display: block;
                text-align: left;
                padding-top: 30px;

                &__license {
                    padding-right:30px;
                    padding-top:20px;
                    a {
                        display: inline-block;
                    }
                }

                a {
                    display: block;
                    margin-left: 0px;
                    margin-right: 0px;
                    margin-bottom:6px;
                }

                span {
                    display: none;
                }
            }
        }

        .footer-bottom {
            display: block;
            height:340px;
            padding-left:20px;
            padding-right:20px;

            &__logo-container {
                display: block;
            }

            &__links-container {
                display: block;
                text-align: left;
                padding-top: 30px;
                padding-left: 0px;

                &__license {
                    font-size: 16px;
                    padding-right:30px;
                    padding-top:20px;
                    a {
                        display: inline-block;
                    }
                }

                a {
                    display: block;
                    margin-left: 0px;
                    margin-right: 0px;
                    margin-bottom:6px;
                }

                span {
                    display: none;
                }
            }
        }

        .logo__image {
            left: -40px;
        }
    }
}