footer.site-footer {
  background-color: $black;
  padding: 5em 2em 4em;

  .site-footer__wrapper {
    display: flex;
    gap: 4em;
    flex-direction: column;
  }

  .site-footer-top,
  .site-footer-bottom {
    display: flex;

    @include mq($until: tablet) {
      flex-direction: column-reverse;
      gap: 2em;
    }

    &__links-container {
      flex: 66% 0 0%;

      display: flex;
      flex-wrap: wrap;
      column-gap: 1.5em;
      row-gap: .6em;
      justify-content: right;

      @include mq($until: tablet) {
        flex-direction: column;
      }

      a {
        @include font-size("xsmall");

        color: $grey-mid;
      }
    }
  }

  .site-footer-top {
    display: flex;

    .icon {
      @include font-size(large);
    }

    &__social {
      flex: 33% 0 0;
      display: flex;
      gap: 1em;

      a,
      a:hover {
        text-decoration: none;
      }
    }
  }

  .site-footer-bottom {
    border-top: 1px solid $grey-mid;
    padding-top: 2em;

    &__logo-container {
      flex: 33% 0 0;

      display: flex;
      gap: 3em;
      align-content: center;
    }

    &__links-container {
      &__license {
        @include font-size("xsmall");
        color: $grey-mid;

        @include mq($from: tablet) {
          text-align: right;
        }
      }
    }
  }

  a {
    color: $white;
  }
}
