footer.site-footer {
  background-color: $black;
  padding: 2em;

  .site-footer__wrapper {
    display: flex;
    // gap: 4em;
    flex-direction: column;
  }

  .site-footer-top,
  .site-footer-bottom {
    display: flex;

    @include mq($until: tablet) {
      flex-direction: column-reverse;
      // gap: 2em;
    }

    &__links-container {
      flex: 66% 0 0%;

      display: flex;
      flex-wrap: wrap;

      justify-content: flex-end;

      a {
        @include font-size("xsmall");

        color: $grey-mid;
        margin-bottom: .5em;

        &:focus {
          color: $black;
        }
      }

      // column-gap: 1.5em;
      // row-gap: .6em;
      a + a {
        margin-left: 1.5em;
      }

      @include mq($until: tablet) {
        flex-direction: column;
        padding-bottom: 2em;

        a + a {
          margin-left: 0;
        }
      }
    }
  }

  .site-footer-top {
    display: flex;
    padding-bottom: 2em;

    .icon {
      @include font-size(large);
    }

    &__social {
      flex: 33% 0 0;
      display: flex;

      // gap: 1em;
      a + a {
        margin-left: 1em;
      }

      a,
      a:hover {
        text-decoration: none;
      }

      a:focus {
        color: $black;
      }
    }
  }

  .site-footer-bottom {
    border-top: 1px solid $grey-mid;
    margin-top: 2em;
    padding-top: 2em;

    &__logo-container {
      flex: 33% 0 0;

      display: flex;
      align-content: center;

      // gap: 3em;
      picture + picture {
        margin-left: 3em;
      }
    }

    &__links-container {
      &__license {
        @include font-size("xsmall");
        color: $grey-mid;

        @include mq($from: tablet) {
          text-align: right;
        }
      }
    }
  }

  a {
    color: $white;
  }
}
