
select, input {
    font-size: $fs-19;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid $black;
    background-color: $white;
    height: 42px;
    width: 100%;
    &:focus {
      outline: 3px solid $yellow;
      outline-offset: 0;
      -webkit-box-shadow: inset 0 0 0 2px;
      box-shadow: inset 0 0 0 2px;
    }
}

input {
  padding-left: 0.4em ;
  padding-right: 0.4em ;
}

form {
  .fieldlabel, .govuk-label, h3.govuk-fieldset__heading {
      font-size: $fs-19;
      color: $black;
      font-weight: bold;
  }
}

.fieldhelp, .govuk-hint {
    margin-top: 0;
}


.field_with_errors {
  display: inline;

  select {
    border-color: $pink;
  }
}

.govuk-checkboxes__item, .govuk-radios__item {
  label {
    font-weight: normal;
  }
}

.search-for-events__content__errors {
    color: #d4351c;
    margin: -13px 0 25px;
    font-weight: bold;

  div {
    margin: 0.2em 0 ;
  }
}

.search-for-events__content__error {
  input {
    border-color: #d4351c;
  }
}

form div.hidden {
  display: none;
}


form {
  .save-with-confirmation {
    button {
      margin-right: 1em;
      margin-bottom: 1em;
    }

    span {
      color: $green ;
      display: none ;
    }
  }

  &[data-cookie-preferences-save-state="saving"] {
    .fa-sync.fa-spin {
      display: inline-block ;
    }
  }

  &[data-cookie-preferences-save-state="saved"] {
    .save-with-confirmation__message {
      display: inline-block ;
    }
  }
}
