select,
input {
  @include font-size("small");
  margin-left: $indent-amount;
  margin-right: $indent-amount;
  border: 2px solid $black;
  background-color: $white;
  height: 42px;
  width: 100%;

  &:focus {
    outline: 3px solid $yellow;
    outline-offset: 0;
    -webkit-box-shadow: inset 0 0 0 2px;
    box-shadow: inset 0 0 0 2px;
  }
}

input {
  padding-left: .4em;
  padding-right: .4em;
}

form {
  h1.govuk-fieldset__heading,
  h1.govuk-label-wrapper .govuk-label,
  h1 {
    @extend .heading-l;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    > label.govuk-label {
      font-size: inherit;
    }
  }

  legend h3.govuk-fieldset__heading, .govuk-label {
    font-weight: bold;
    @include font-size("small")
  }

  .govuk-form-group {
    select,
    input {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[data-cookie-preferences-save-state="saving"] {
    .fa-sync.fa-spin {
      display: inline-block;
    }
  }

  &[data-cookie-preferences-save-state="saved"] {
    .save-with-confirmation__message {
      display: inline-block;
    }
  }

  .save-with-confirmation {
    button {
      margin-right: 1em;
      margin-bottom: 1em;
      @include button;
      display: inline-block;
    }

    span {
      color: $green;
      display: none;
    }
  }
}

.fieldhelp,
.govuk-hint {
  margin-top: 0;
}

.field_with_errors {
  display: inline;

  select {
    border-color: $pink;
  }
}

.govuk-checkboxes__item,
.govuk-radios__item {
  label {
    font-weight: normal;
  }
}

.form__errors {
  color: $red;
  font-weight: bold;
  margin-bottom: $indent-amount;
}

.form__field--error {
  input,
  select {
    border-color: $red;
  }
}
