select,
input {
  font-size: size("small");
  margin-left: $indent-amount;
  margin-right: $indent-amount;
  border: 2px solid $black;
  background-color: $white;
  height: 42px;
  width: 100%;

  &:focus {
    outline: 3px solid $yellow;
    outline-offset: 0;
    -webkit-box-shadow: inset 0 0 0 2px;
    box-shadow: inset 0 0 0 2px;
  }
}

input {
  padding-left: .4em;
  padding-right: .4em;
}

form {
  .fieldlabel,
  .govuk-label,
  h3.govuk-fieldset__heading {
    font-size: size("small");
    color: $black;
    font-weight: bold;
  }

  .govuk-form-group {
    select,
    input {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[data-cookie-preferences-save-state="saving"] {
    .fa-sync.fa-spin {
      display: inline-block;
    }
  }

  &[data-cookie-preferences-save-state="saved"] {
    .save-with-confirmation__message {
      display: inline-block;
    }
  }

  .save-with-confirmation {
    button {
      margin-right: 1em;
      margin-bottom: 1em;
      @include button;
      display: inline-block;
    }

    span {
      color: $green;
      display: none;
    }
  }
}

.fieldhelp,
.govuk-hint {
  margin-top: 0;
}

.field_with_errors {
  display: inline;

  select {
    border-color: $pink;
  }
}

.govuk-checkboxes__item,
.govuk-radios__item {
  label {
    font-weight: normal;
  }
}
