@import 'colours';
@import 'margins';

@import './components/mixins/cards-grid';
@import './components/mixins/quote';

@import 'icons';
@import 'breakpoints';
@import 'google-optimize';
@import 'font-sizes';
@import 'utility';
@import 'text';
@import 'headings';
@import 'layout';
@import 'links-and-buttons';
@import 'markdown';
@import 'featured';
@import 'feedback-bar';
@import 'forms';
@import 'video';
@import 'header';
@import 'footer';
@import 'dialog';
@import 'mailing-list-bar';
@import 'call-to-action';
@import 'accordion';
@import 'blocks';
@import 'search-page';
@import 'eligibility-checker';
@import 'steps';
@import 'blog';
@import 'badges';
@import 'welcome-guide';
@import 'urgent-call-for-qualified-teachers';
@import 'category';

@import 'subject-specific';

@import './sections/hero';
@import './sections/hero/content';
@import './sections/talk-to-us';

@import './components/arrow';
@import './components/aspect-ratio';
@import './components/breadcrumb';
@import './components/cards';
@import './components/chat';
@import './components/event-box';
@import './components/content-cta';
@import './components/content-alert';
@import './components/feature-table';
@import './components/link-block';
@import './components/pagination';
@import './components/quote';
@import './components/search';
@import './components/colored-stripe';
@import './components/events/signup-info';
@import './components/turbolinks-progress-bar';
@import './components/grouped-cards';

@import './campaigns/numbered-headings';

@import 'home';
@import 'teaching-events';

@import 'registration';
@import 'registration/with-side-images';
@import 'registration/with-image-above';
@import 'internal';
@import 'widget';
