@mixin box-heading($backgroundColor, $color) {
  background-color: $backgroundColor;
  color: $color;
  display: inline-block;
  padding: .6rem $indent-amount;
  box-sizing: border-box;
  max-width: calc(100% - 1.25rem);
}

@mixin highlight-text($backgroundColor, $color) {
  // Multi-line padded highlight effect without horizontal
  // gabs between lines.
  color: $color;
  line-height: 1.4;

  span {
    background-color: $backgroundColor;
    display: inline;
    padding: 0.45rem 1rem;

    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }
}

@mixin caption($fontSize) {
  @include font-size($fontSize);
  display: block;
  font-weight: normal;
}

.caption-xxl {
  @include caption(medium);
}

.caption-l {
  @include caption(medium);
}

.caption-m {
  @include font-size(small);
  @include caption(small);
}

.caption--purple {
  color: $purple;
}

.caption--bold {
  font-weight: bold;
}

.subheading {
  font-size: 0.6em;
}

.heading-xxl {
  @include font-size("xxlarge");

  margin-top: 0;
  max-width: 30ch;
}

.heading-xl {
  @include font-size("xlarge");
}

.heading-l {
  @include font-size("large");
}

.heading-m {
  @include font-size("medium");
}

.heading-s {
  @include font-size("small");
}

.heading--margin-bottom-0 {
  margin-bottom: 0;
}

.heading--margin-top-0 {
  margin-top: 0;
}

.heading--margin-0 {
  margin: 0;
}

.heading--normal {
  font-weight: normal;
}

.heading--overlap {
  margin: 0;
  transform: translateY(-50%);
}

.heading--box-transparent {
  @include box-heading(transparent, $black);
}

.heading--box-green {
  @include box-heading($green, $white);
}

.heading--box-blue {
  @include box-heading($blue, $white);
}

.heading--box-purple {
  @include box-heading($purple, $white);
}

.heading--box-pink {
  @include box-heading($pink, $black);
}

.heading--box-yellow {
  @include box-heading($yellow-dark, $black);
}

.heading--box-white {
  @include box-heading($white, $black);
}

.heading--box-padding-l {
  padding: 0.5em 0.7em;
}

.heading--highlight-yellow {
  @include highlight-text($yellow-dark, $black);
}

.heading--highlight-pink {
  @include highlight-text($pink, $black);
}

.heading--highlight-purple {
  @include highlight-text($purple, $black);
}

h1 {
  @extend .heading-xxl;
}

h2 {
  @extend .heading-xl;
}

h3 {
  @extend .heading-l;
}

h3 {
  @extend .heading-m;
}

h4 {
  @extend .heading-s;
}

