@import 'header/covid';
@import 'header/logo';
@import 'header/skiplink';
@import 'header/navigation';
@import 'header/extra-navigation';

body > header {

  // mobile (default) layout
  display: grid;
  grid-template-columns: 4fr 1fr;

  nav {
    grid-column: 1/3;
  }

  // tablet
  @include mq($from: tablet, $until: desktop) {
    grid-template-columns: 1fr 1fr;
  }

  // desktop
  @include mq($from: desktop, $until: wide) {
    grid-template-columns: 1fr 2fr;

    nav {
      grid-column: 1/3;
    }
  }

  // wide
  @include mq($from: wide) {
    grid-template-rows: repeat(2, minmax(2rem auto));
    grid-template-columns: 1fr 3fr;

    .logo-wrapper {
      grid-row: 1/3;
    }

    nav {
      grid-column: 1/3;
    }
  }
}
