.navbar {

    height: 112px;
    width: 100%;
    background-color: $white;
        border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: space-between;


    &__desktop-bak {
        max-width: 630px;
        float:right;
        margin-top:20px;
        margin-right: 20px;
    
        div {
            width: 100%;
            height: 30px;
        }
        
        ul {    
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    
        li {
            float: right;
        }
    
        li a {
            @include font;
            font-size: 16px;
            display: block;
            text-align: center;
            padding: 16px;
            text-decoration: none;
            text-align: right;
            font-weight: bold;
            letter-spacing: 0px;
            color: #1D1D1B;
            margin-left: -10px;
            margin-bottom: -20px;
            line-height: 1;
        }

        li a:hover {
            text-decoration: underline;
        }
    }

    &__desktop {
        max-width: calc(100% - 350px);
        float:right;
        margin-top: 0px;
        margin-right: 20px;
    
        div {
            width: 100%;
            height: 30px;
        }
        
        ul {    
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
    
        li {
            float: right;
            padding: 8px 16px;
        }
    
        li a {
            @include font;
            font-size: 16px;
            display: block;
            text-align: center;
            text-decoration: none;
            text-align: right;
            font-weight: bold;
            letter-spacing: 0px;
            color: #1D1D1B;
            line-height: 1;
        }

        $border-width: 2.5px;
        $padding-space: 2.5px;
      
        %hover-shared {
          padding-bottom: 2.5px;
          margin-bottom: -$border-width - $padding-space;
        }
      
        a:hover:not(:focus):not(.active) {
          @extend %hover-shared;
          border-bottom: solid $border-width $black;
        }
      
        .active a:hover:not(:focus) {
          @extend %hover-shared;
          border-bottom: solid $border-width $white;
        }
      
        .active {
          background-color: $blue-dark;
          a {
            color: $white;
          }
        }
    }

    &__mobile {
        
        display:none;
    
        a {
            text-decoration: none;
        }

        &__buttons {
            height: 85px;
        }

        .icon-hamburger {
            float: right;
            color: $black;
            margin-top: 33px;
            margin-right: 20px;
        }

        .icon-close {
            float: right;
            color: $black;
            margin-top: 28px;
            margin-right: 15px;
        }

        .icon-hamburger-label {
            float: right;
            color: $black;
            margin-top: 32px;
            margin-right: 10px;
            font-weight: bold;
            font-size: 16px;
            letter-spacing: 0px;
        }

        &__links {

            font-size: 16px;
            padding: 1px;
            background-color: $grey;
            width: 100%;
        
            a {
                display: block;
                text-align: center;
                padding: 2px;
                text-align: right;
                font-weight: bold;
                letter-spacing: 0px;
                color: #1D1D1B;
                margin-right: 40px;
                padding-right: 0px;
            }

            a:hover {
                text-decoration: underline;
            }

            ul {
                list-style-type:none;
            }

        }

        &__container {
            margin-right : 10px;
            margin-top :47px; 
        }
    }

}

.logo {

    display: inline-block;
    position: relative;
    top: 8px;

    a {
        text-decoration: none;
        display: block;
        &:focus {
            &:before {
                content: "";
                display: block;
                background: $yellow;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
            }
        }
    }

    &__image {
        @include rotated-block;
        background-color: $green-dark-90;
        width: 258px;
        height: 116px;
        position: relative;
        top: 11px;
        left:-10px;
        z-index: 1000;

    
        img {
            transform: rotate(3deg);
            margin-left: 40px;
            margin-top: 30px;
            width: 180px;
            height: 57px;
            position: relative;
        }
    }
}

.covid {
    @include font;
    font-size: 16px;
    line-height: 1.25;
    background-color: $black;
    color: $white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
    p {
        font-size: 16px;
        line-height: 1.25;
        margin: 0 0 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__header {
        display: block;
        font-size: 19px;
        font-weight: bold;
    }

    a {
        color: $white;
        &:hover {
            text-decoration: none;
        }
        &:focus {
            color: $black;
        }
    }


}

/* mobile css */
@media only screen and (max-width: 1150px) {
    .navbar {
        &__desktop {
                max-width: calc(100% - 300px);
        }
    }
}
@media only screen and (max-width: 900px) {

    .logo {

        position: absolute;

        &__image {

            width: 196px;
            height: 87px;
            top: 4px;

            img {
                margin-top: 20px;
                margin-left: 24px;
                width: 142px;
                height: 48px;
            }
        }
    }
    
    .navbar {

        position: relative;
        height: auto;
        &__desktop {
            display: none;
        }
    }

    .navbar__mobile {
        display: block;
        width: 100%;
    }
    
}

.skiplink {
    position: absolute;
    left: -9999em;
    &:focus, &:visited {
        color: #0b0c0c
    }

    &:focus {
        left: 0;
        z-index: 1;
        outline: 3px solid transparent;
        color: $black;
        background-color: $yellow;
        box-shadow: 0 -2px $yellow, 0 4px $black;
        text-decoration: none;
    }
}

#skiplink-container {
    text-align: center;
    background: #0b0c0c;
    div {
        text-align: left;
        margin: 0 auto;
        max-width: 1020px
    }
    .skiplink {
        display: -moz-inline-stack;
        display: inline-block;
        margin: 0.75em 0 0 30px;
    }
}



