@import 'header/covid';
@import 'header/logo';
@import 'header/skiplink';
@import 'header/navigation';
@import 'header/extra-navigation';
@import 'header/menu-button';

body > header {

  // mobile (default) layout
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;

  // tablet
  @include mq($from: tablet, $until: desktop) {
    grid-template-columns: max-content 1fr;

    nav {
      grid-column: 1/3;
    }
  }

  @include mq($from: tablet) {
    grid-template-columns: max-content 2fr;
    .extra-navigation.hide-on-mobile.hide-on-tablet {
      grid-column: 1/3;
    }
  }

  // desktop
  @include mq($from: desktop, $until: wide) {
    nav {
      grid-column: 1/3;
    }
  }
}
