.main-body.home {
  // the homepage is a few px wider than the regular max width so we can
  // make things overhang if neccessary
  $homepage-max-width: $content-max-width + (2 * $px-either-side-of-content);

  max-width: $homepage-max-width;

  section {
    margin-top: $space-between-sections;
    max-width: $homepage-max-width;

    &.narrow-top-margin {
      margin-top: $indent-amount;
    }
  }

  .homepage-feature {
    &.steps-to-become-a-teacher {
      width: 100%;
      margin-top: 0;

      @include mq($from: tablet) {
        margin-top: $space-between-sections;
      }
    }
  }
}

.homepage-feature {
  margin: 0 auto;

  &.steps-to-become-a-teacher {
    width: 100%;
  }
}

.steps-to-become-a-teacher {
  background: $purple;
  color: $white;

  &__purple-box {
    display: none;
    padding: 1em;
  }

  // general styles (grid fallback)
  &__heading {
    @include font-size('large');
    color: $white;

    line-height: 1.25em;
    max-width: 80%;
  }

  &__text {
    color: $white;
  }

  &__cta {

    > a {
      @include chevron;
      white-space: inherit;
    }
  }

  &__heading,
  &__text,
  &__cta {
    margin-inline: 2rem;
  }

  @mixin background-image($size: 85%, $align: center, $image: "desktop") {
    $background-images: (
      "desktop": "../images/steps-graphic.svg",
      "mobile": "../images/steps-graphic-mob.svg"
    );

    background: $align / $size no-repeat url(#{map-get($background-images, $image)});
  }

  // grid-specifics. We're using a grid here so that we can allow part of the SVG
  // to 'overhang' the edge. This would be possible by just nudging the SVG right
  // using some margin-left but then we'd need to make further steps to guess
  // when to change the layout so it's not hanging off the edge of the screen.
  // dimensions: (rows × columns)
  //   desktop:   4    × 6
  //    tablet:   3    × 3
  //    mobile:   5    × 1
  @supports (display: grid) {
    display: grid;
    grid-template-columns: $px-either-side-of-content repeat(2, 1.2fr) repeat(2, .8fr) $px-either-side-of-content;
    grid-template-rows: repeat(3, minmax(min-content, max-content));

    gap: 1em 0;

    padding: inherit;
    background-color: inherit;

    &__purple-box {
      display: block;
      background-color: $purple;
      grid-area: 1 / 2 / 4 / 6;
    }

    &__heading {
      grid-area: 1 / 2 / 2 / 4;
      align-self: center;
      margin-block: 1em .2em;
    }

    &__text {
      grid-area: 2 / 2 / 3 / 4;
      margin-block: 0;
    }

    &__graphic {
      grid-area: 1 / 4 / 4 / 7;
      @include background-image($align: right, $image: "desktop");
      background-size: contain;
      margin-block: 1em;
    }

    &__cta {
      grid-area: 3 / 2 / 3 / 4;
      align-self: center;
      margin-block: 1em;

      a {
        @include chevron;
        white-space: inherit;
      }
    }
  }

  @include mq($until: tablet) {
    // stop overhanging when the screen is this narrow
    width: 100%;
    grid-template-columns: 60% repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: .5em;

    &__purple-box { grid-area: 1 / 1 / 4 / 4; }

    &__heading {
      margin-block: 1em 0;
      grid-area: 1 / 1 / 2 / 2;
    }

    &__text { grid-area: 2 / 1 / 3 / 2; }
    &__cta { grid-area: 3 / 1 / 4 / 2; }

    &__graphic {
      grid-area: 1 / 2 / 4 / 4;
      @include background-image($image: "mobile");
    }
  }

  @include mq($until: mobile) {
    grid-template-columns: auto;
    grid-template-rows: .5fr .5fr 2fr .5fr;

    &__purple-box { grid-area: 1 / 1 / 6 / 2; }

    &__heading { grid-area: 1 / 1 / 2 / 2; }

    &__text {
      @include font-size(small);
      grid-area: 2 / 1 / 3 / 2;
    }

    &__graphic {
      grid-area: 3 / 1 / 4 / 2;
      @include background-image($image: "mobile");
      background-size: contain;
      background-position: center;
    }

    &__cta { grid-area: 4 / 1 / 5 / 2; }
  }
}

.urgent-call-for-qualified-teachers-cta {
  background-color: $grey;
  font-weight: bold;
  margin: 1em 15px;
  padding: 1.5em;
}
