main.home {
  // the homepage is a few px wider than the regular max width so we can
  // make things overhang if neccessary
  $homepage-max-width: $content-max-width + (2 * $px-either-side-of-content);

  max-width: $homepage-max-width;

  section {
    margin-top: $space-between-sections;
    max-width: $homepage-max-width;
  }

  .homepage-feature {
    &.steps-to-become-a-teacher {
      width: 100%;
    }
  }
}

.homepage-feature {
  margin: 0 auto;

  &.steps-to-become-a-teacher {
    width: 100%;
  }
}

.steps-to-become-a-teacher {
  background: $purple;
  color: $white;

  &__purple-box {
    display: none;
  }

  // general styles (grid fallback)
  &__heading {
    @include rotated-block;
    @include font-size('large');
    display: inline-block;
    color: $black;
    background-color: $white;

    padding: .4em .4em .4em 1.4em;
    margin: 1em 0 0 -.4em;
    line-height: 1.25em;
    max-width: 80%;
  }

  &__text {
    color: $white;
    padding: 1em 1.5em 0;
  }

  &__cta {
    padding: 1.5em;
    margin: 1em 0;

    > a {
      @include chevron;
      white-space: inherit;
    }
  }

  @mixin background-image($size: 85%, $align: center, $image: "desktop") {
    $background-images: (
      "desktop": "../images/steps-graphic.svg",
      "mobile": "../images/steps-graphic-mob.svg"
    );

    background: $align / $size no-repeat url(#{map-get($background-images, $image)});
  }

  // grid-specifics. We're using a grid here so that we can allow part of the SVG
  // to 'overhang' the edge. This would be possible by just nudging the SVG right
  // using some margin-left but then we'd need to make further steps to guess
  // when to change the layout so it's not hanging off the edge of the screen.
  // dimensions: (rows × columns)
  //   desktop:   4    × 6
  //    tablet:   3    × 3
  //    mobile:   5    × 1
  @supports (display: grid) {
    display: grid;
    grid-template-columns: $px-either-side-of-content repeat(2, 1.2fr) repeat(2, .8fr) $px-either-side-of-content;
    grid-template-rows: repeat(3, minmax(min-content, max-content));

    padding: inherit;
    background-color: inherit;

    &__purple-box {
      display: block;
      background-color: $purple;
      grid-area: 1 / 2 / 4 / 6;
    }

    &__heading {
      grid-area: 1 / 2 / 2 / 4;
      align-self: center;
    }

    &__text { grid-area: 2 / 2 / 3 / 4; }

    &__graphic {
      grid-area: 1 / 4 / 4 / 7;
      @include background-image($align: right, $image: "desktop");
      background-size: contain;
    }

    &__cta {
      grid-area: 3 / 2 / 3 / 4;
      align-self: center;

      padding: 0 1em;

      a {
        @include chevron;
        white-space: inherit;
      }
    }
  }

  @include mq($until: tablet) {
    // stop overhanging when the screen is this narrow
    width: 100%;
    grid-template-columns: 60% repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    &__purple-box { grid-area: 1 / 1 / 4 / 4; }
    &__heading { grid-area: 1 / 1 / 2 / 2; }
    &__text { grid-area: 2 / 1 / 3 / 2; }
    &__cta { grid-area: 3 / 1 / 4 / 2; }

    &__graphic {
      grid-area: 1 / 2 / 4 / 4;
      @include background-image($image: "mobile");
    }
  }

  @include mq($until: mobile) {
    grid-template-columns: auto;
    grid-template-rows: .5fr .5fr 2fr .5fr;

    &__purple-box { grid-area: 1 / 1 / 6 / 2; }

    &__heading { grid-area: 1 / 1 / 2 / 2; }

    &__text {
      @include font-size(small);
      grid-area: 2 / 1 / 3 / 2;
    }

    &__graphic {
      grid-area: 3 / 1 / 4 / 2;
      @include background-image($image: "mobile");
      background-size: contain;
      background-position: center;
    }

    &__cta { grid-area: 4 / 1 / 5 / 2; }
  }
}

.urgent-call-for-qualified-teachers-cta {
  margin-block: .2em;
  background: $black;

  &__content {
    color: white;
    display: flex;
    gap: 2em;
    flex-direction: column;
    padding: 1em;
    margin: .4em auto;
    max-width: 50em;

    @include mq($from: tablet) {
      gap: 4em;
      padding: .5em;
      align-items: center;
      flex-direction: row;
    }
  }

  &__text {
    flex: 1 0;
    p {
      @include font-size('small');
      margin: 0;
    }
  }
}
