@mixin icon {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-close {
    @include icon;
    background-image: url('../images/icon-hamburger-close.svg');
    width: 23px;
    height: 23px;
}

.icon-hamburger {
    @include icon;
    background-image: url('../images/icon-hamburger.svg');
    width: 30px;
    height: 20px;
}

.icon-online {
    @include icon;
    background-image: url('../images/icon-online.svg');
    width: 27px;
    height: 20px;
}

.icon-pin {
    @include icon;
    background-image: url('../images/icon-location-small.svg');
    width: 25px;
    height: 30px;
}

.icon-pin-large {
    @include icon;
    background-image: url('../images/location-icon.svg');
    width: 50px;
    height: 60px;
}

.icon-play {
    @include icon;
    background-image: url('../images/play-icon.svg');
    width: 24px;
    height: 24px;
}

.icon-train-to-teach {
    @include icon;
    background-image: url('../images/icon-ttt.svg');
    width: 34px;
    height: 34px;
}

.icon-quote {
    @include icon;
    background-image: url('../images/quote-icon.svg');
    width: 24px;
    height: 24px;
}