@mixin icon {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.icon-close {
  @include icon;
  background-image: url("../images/icon-hamburger-close.svg");
  width: 23px;
  height: 23px;
}

.icon-hamburger {
  @include icon;
  background-image: url("../images/icon-hamburger.svg");
  width: 30px;
  height: 20px;
}

.icon-online-event {
  @include icon;
  background-image: url("../images/icon-online-blue.svg");
  width: 34px;
  height: 34px;

  &--purple {
    background-image: url("../images/icon-online-purple.svg");
  }
}

.icon-moved-online-event {
  @include icon;
  background-image: url("../images/icon-moved-online-blue.svg");
  width: 36px;
  height: 36px;

  &--purple {
    background-image: url("../images/icon-moved-online-purple.svg");
  }
}

.icon-pin {
  @include icon;
  background-image: url("../images/icon-pin-blue.svg");
  width: 23px;
  height: 36px;
}

.icon-pin-large {
  @include icon;
  background-image: url("../images/icon-pin-pink.svg");
  width: 50px;
  height: 60px;
}

.icon-play {
  @include icon;
  background-image: url("../images/icon-play.svg");
  width: 24px;
  height: 24px;
}

.icon-school-or-university-event {
  @include icon;
  background-image: url("../images/icon-school-blue.svg");
  width: 36px;
  height: 36px;
}

.icon-train-to-teach-event {
  @include icon;
  background-image: url("../images/icon-ttt.svg");
  width: 32px;
  height: 32px;
}

.icon-online-q-a {
  @include icon;
  background-image: url("../images/icon-online-blue.svg");
  width: 34px;
  height: 34px;
}

.icon-quote {
  @include icon;
  background-image: url("../images/white-quote.svg");
  width: 24px;
  height: 24px;
  fill: $white;
}

.icon-video-close {
  @include icon;
  background-image: url("../images/icon-close.svg");
  width: 30px;
  height: 30px;
}
