%content-width-limiter-shared {
  max-width: $page-max-width;
  margin: auto;
}

body {
  font-family: $git-font-family;

  &.govuk-body {
    margin: 0;
    padding: 0;
  }
}

main,
.hero {
  @extend %content-width-limiter-shared;
}

.limit-content-width {
  @extend %content-width-limiter-shared;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.js-enabled .hidden {
  display: none;
}

// new layouts, intended to remove the reliance on float and instead use semantic markup and flexbox:

$content-max-width: 1000px;

main {
  margin-bottom: 3em;

  @include mq($from: tablet) {
    margin-bottom: 4em;
  }
}

section.container {
  display: flex;
  flex-grow: 0;
  flex-wrap: wrap;
  flex-direction: column;

  margin: 1em 0;

  @include mq($from: tablet) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 1.5em auto 0;
    max-width: $content-max-width;
  }

  &--narrow {
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
  }

  // most pages won't have a h1 here but on those where
  // we forego the hero we want it to span both the article
  // and the aside.
  > header {
    flex: 0 0 100%;
    max-width: $content-max-width;
    @include indent-left-and-right;

    h1 {

      @include font-size(xxlarge);
      margin-bottom: 3rem;
    }

    span.caption {
      @include font-size(medium);
      margin-top: 3em;
      color: $grey-dark;
    }

    span.caption + h1 {
      margin-top: 0;
    }
  }

  > article {
    flex: 0 1 65%;

    &.fullwidth {
      flex: 1 0 100%;
    }
  }

  > aside {
    flex: 0 0 calc(30%);

    // note we're not using `gap: 1em` even though it works for flex in
    // Firefox/Chrome as Safari is lagging behind a bit. Instead knock a
    // bit off the basis and add some margin when wider than tablet
    @include mq($from: tablet) {
      flex: 0 0 calc(30% - 1em);
      margin-left: 1em;
    }
  }

  // feature: content that's not a regular text document, like a list of items on an index
  // supplementary: content that's not directly related to the main article but might be of interest
  > .feature,
  > .supplementary {
    flex: 0 1 100%;
    @include indent-left-and-right;
  }

  >.page-helpful {
    flex: 0 1 65%;
  }
}
