@mixin button($bg: $green, $fg: $white) {
  display: block;
  font-weight: bold;
  background-color: $bg;
  text-decoration: none;
  color: $fg;
  padding: 14px $indent-amount;
  @include font-size("small");
  border: none;

  @media (forced-colors: active) {
    border: 2px solid transparent;
  }

  &:hover {
    background: darken($bg, 5%);
    color: $fg;
  }

  &:focus {
    color: $white;
    background-color: $black;
    z-index: 100;
    box-shadow: 0 4px $pink;
    outline: 4px solid transparent;
  }
}

.link {
  @include font;
  color: $blue-dark;
  line-height: 1.5;
  text-underline-offset: .08em;
  box-shadow: none;

  &:hover, &:focus {
    text-decoration: none;
  }

  &:focus {
    color: $white;
    background-color: $black;
    box-shadow: 0 4px $pink;
    outline: 4px solid transparent;

    &:after {
      border-color: $white;
    }
  }
}

.link--chevron {
  text-decoration: none;
  padding-right: 0.3em;
  font-weight: bold;

  &:after {
    @include chevron-icon($black, .6em);
  }

  &:hover, &:focus {
    text-decoration: underline;
  }
}

.link--grey {
  color: $grey-mid;

  &:after {
    border-color: $grey-mid;
  }

  &:focus {
    color: $white;
  }
}

.link--black {
  color: $black;

  &:after {
    border-color: $black;
  }

  &:focus {
    color: $white;
  }
}

.link--normal {
  font-weight: normal;
}

.link--white {
  color: $white;

  &:after {
    border-color: $white;
  }
}

.link--red {
  color: $red;
}

// passes accessibility contrast check on grey/yellow background
.link--dark {
  color: $black;

  &:focus {
    color: $white;
  }
}

.link--no-underline {
  text-decoration: none;
}

a {
  @extend .link;
}

.external-link-icon {
  margin-left: .2em;
  width: .8em !important;
  height: .8em !important;
}

.button {
  @include button;
  @include chevron;
  display: inline-block;

  &:disabled {
    opacity: 0.7;
  }

  span {
    white-space: nowrap;
  }

  &--white {
    @include button($bg: $white, $fg: $black);
    @include chevron($color: $black);
  }

  &--secondary {
    @include button($bg: $grey, $fg: $black);
    @include chevron($color: $black);
  }

  &--nowrap {
    white-space: nowrap;
  }

  &--unpadded {
    padding: 0;
  }

  &--inline {
    display: inline;
  }
}

.call-to-action-icon-button {
  @include button;
  display: inline-block;
}

.secondary-button {
  @include button($bg: $grey-light, $fg: black);
  display: inline-block;
}

.request-button {
  @include button($bg: $pink);
}

.survey-button {
  @include button($bg: $blue-dark);
  margin-bottom: 0.5rem;

  @include mq($from: tablet) {
    display: inline-block;
  }
}

// Default Zendesk chat button (hidden as we use our own).
iframe#launcher {
  display: none;
}
