@mixin button($bg: $green, $fg: $white) {
  @include suppress-external-link-icon;
  display: block;
  font-weight: bold;
  background-color: $bg;
  text-decoration: none;
  color: $fg;
  padding: 14px $indent-amount;
  @include font-size("small");
  border: none;

  &:hover {
    background: darken($bg, 5%);
    color: $fg;
  }

  &:focus {
    outline: 3px solid transparent;
    color: #1d1d1b;
    background-color: $yellow;
    box-shadow: 0 -2px $yellow, 0 4px #1d1d1b;
    z-index: 100;
  }
}

a {
  color: $blue-dark;

  &:hover {
    color: darken($blue-dark, 15%);
    text-decoration: none;
  }
}

.button {
  @include button;
  @include chevron;
  display: inline-block;

  &:disabled {
    opacity: 0.7;
  }

  span {
    white-space: nowrap;
  }

  &--white {
    @include button($bg: $white, $fg: $black);
    @include chevron($color: $black);
  }

  &--secondary {
    @include button($bg: $grey, $fg: $black);
    @include chevron($color: $black);
  }

  &--nowrap {
    white-space: nowrap;
  }

  &--unpadded {
    padding: 0;
  }

  &--smaller {
    @include font-size("xsmall");
    padding: 8px $indent-amount;
  }

  &--no-external-icon {
    &:after {
      content: none;
    }
  }
}

.call-to-action-icon-button {
  @include button;
  display: inline-block;
}

.secondary-button {
  @include button($bg: $grey-light, $fg: black);
  display: inline-block;
}

.request-button {
  @include button($bg: $pink);
}

.survey-button {
  @include button($bg: $blue-dark);
  margin-bottom: 0.5rem;

  &--smaller {
    @include font-size("xsmall");
    padding: 8px $indent-amount;
  }

  @include mq($from: tablet) {
    display: inline-block;
  }
}
