@mixin button($bg: $green, $fg: $white) {
    font-weight: bold;
    background-color: $bg;
    text-decoration: none;
    color: $fg;
    padding: 14px 20px;

    &:hover {
        background: darken($bg, 5%);
        color: $fg;
    }

    &:focus {
        outline: 3px solid transparent;
        color: #1D1D1B;
        background-color: $yellow;
        box-shadow: 0 -2px $yellow, 0 4px #1D1D1B;
    }
}

@mixin chevron($color: $white) {
    *:last-child {
        $dimensions: .6em;

        white-space: nowrap;

        &:after {
            content: "";
            display: inline-block;
            position: relative;
            width: $dimensions;
            height: $dimensions;
            border: 4px solid $color;
            border-width: 3px 3px 0px 0px;
            transform: rotate(45deg);
            margin-left: .2em;
        }
    }
}

a {
    color: $blue-dark;

    &:hover {
        color: darken($blue-dark, 15%);
        text-decoration: none;
    }
}

a.content-link-secondary {
    @include font;
    font-weight: bold;
    font-size: 19px;
    color: $black;
    text-decoration: none;
    display: inline-block;
    span:last-child {
        white-space: nowrap;
        &:after {
            content: "";
            display: inline-block;
            position: relative;
            width: 10px;
            height: 10px;
            border: 4px solid $black;
            border-width: 3px 3px 0px 0px;
            transform: rotate(45deg);
            top: 1px;
            margin-left: 5px;
        }
    }
}

a.content-link-secondary:hover {
    text-decoration: underline;
}

p.content-alert {
    background-color: $purple;
    color: $white;
    box-sizing: border-box;
    padding: 20px;
    font-weight: bold;
    line-height: 1.5;
    display: block;
    margin-left: -20px;
    margin-right: -20px;

    a {
      color: $white;
    }
}

.call-to-action-button {
    @include button;
    @include chevron;
    text-decoration: none;

    // &:hover {
    //     background-color: $green-dark;
    // }
}

.sidebar-button {
    width: 100%;
    display: block;
    margin-top: 10px;
    position: relative;
    padding-right: 30px;
    span:last-child {
        &:after {
            position: absolute;
            top: calc(50% - 6px);
            right: 13px;
        }
    }
}

.request-button {
    @include button;
    background-color: $pink;
}

.arrow-link {
    span:last-child {
        white-space: nowrap;
        &:after {
            content: "";
            display: inline-block;
            position: relative;
            width: 10px;
            height: 10px;
            border: 4px solid $white;
            border-width: 3px 3px 0px 0px;
            transform: rotate(45deg);
            top: 1px;
            margin-left: 5px;
        }
    }
}

.secondary-button {
  @include button;
  background-color: $grey-light;
  color: $black !important ;
  text-decoration: none !important;

  &:hover {
    background-color: $grey-mid ;
  }
}
