@mixin button($bg: $green, $fg: $white) {
  display: block;
  font-weight: bold;
  background-color: $bg;
  text-decoration: none;
  color: $fg;
  padding: 14px $indent-amount;
  @include font-size("small");
  border: none;

  &:hover {
    background: darken($bg, 5%);
    color: $fg;
  }

  &:focus {
    outline: 3px solid transparent;
    color: #1d1d1b;
    background-color: $yellow;
    box-shadow: 0 -2px $yellow, 0 4px #1d1d1b;
    z-index: 100;
  }
}

a {
  color: $blue-dark;

  &:hover {
    color: darken($blue-dark, 15%);
    text-decoration: none;
  }
}

.external-link-icon {
  margin-left: .2em;
  width: .8em !important;
  height: .8em !important;
}

.button {
  @include button;
  @include chevron;
  display: inline-block;

  &:disabled {
    opacity: 0.7;
  }

  span {
    white-space: nowrap;
  }

  &--white {
    @include button($bg: $white, $fg: $black);
    @include chevron($color: $black);
  }

  &--secondary {
    @include button($bg: $grey, $fg: $black);
    @include chevron($color: $black);
  }

  &--nowrap {
    white-space: nowrap;
  }

  &--unpadded {
    padding: 0;
  }

  &--inline {
    display: inline;
  }
}

.call-to-action-icon-button {
  @include button;
  display: inline-block;
}

.secondary-button {
  @include button($bg: $grey-light, $fg: black);
  display: inline-block;
}

.request-button {
  @include button($bg: $pink);
}

.survey-button {
  @include button($bg: $blue-dark);
  margin-bottom: 0.5rem;

  @include mq($from: tablet) {
    display: inline-block;
  }
}

// passes accessibility contrast check on grey background
.dark-link {
  color: #005487;
}

// Default Zendesk chat button (hidden as we use our own).
iframe#launcher {
  display: none;
}
.chat-button.hidden {
  display: none;
}

.chat-button-offline {
  display: none;

  &.visible {
    display: block;
  }
}

.js-enabled {
  .chat-button-no-js {
    display: none;
  }
}

html:not(.js-enabled) {
  .chat-button.with-fallback, .live-chat {
    display: none;
  }
}
