.mailing-list-bar {
  background-color: $green;
  @include padding(4);
  position: sticky;
  bottom: 0;
  z-index: 40;

  // will be enabled via JS
  display: none;

  &__inner {
    align-items: center;
    display: flex;
    margin: 0 auto;

    @include mq($from: desktop) {
      width: auto;
    }

    @include mq($until: tablet) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__left {
    @include padding(2, $direction: right);
    @include font-size(small);
    font-weight: bold;
    color: $white;

    @include mq($until: tablet) {
      padding: .2em 0 1em;
    }
  }

  &__right {
    justify-items: left;
    align-items: center;
    display: flex;
    flex-shrink: 0;

    @include mq($until: tablet) {
      justify-items: center;
    }

    .button {
      padding: 1.6em;
    }
  }

  &__close {
    @include margin(4, $direction: left);
    font-weight: bold;
  }
}
