.mailing-list-bar {
  background-color: $green;
  padding: 1em;
  margin-top: 1em;
  position: sticky;
  bottom: 0;
  z-index: 40;

  // will be enabled via JS
  display: none;

  &__inner {
    align-items: center;
    display: flex;
    margin: 0 auto;

    @include mq($until: tablet) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__left {
    padding: 1em;
    @include font-size(small);
    font-weight: bold;
    color: $white;

    @include mq($until: tablet) {
      padding: .2em 0 1em;
    }
  }

  &__right {
    justify-items: left;
    align-items: center;
    display: flex;
    flex-shrink: 0;

    @include mq($until: tablet) {
      justify-items: center;
    }

    .button {
      padding: 1.6em;
    }
  }

  &__close {
    margin-left: 1em;
    padding: .5em;
    color: $white;
    font-weight: bold;
    text-underline-offset: .2em;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}
