.markdown {
  @mixin overhang { margin-left: auto; margin-right: auto; }

  // allow level two headings (blue boxes) and CTAs to 'overhang' on the left
  > *:not(table) {
    margin-left: $indent-amount;
    margin-right: $indent-amount;
  }

  > h2 {
    @include overhang;
    @include content-heading;
  }

  .accordions,
  .stories-feature,
  .feature-table,
  .secondary-button,
  .content-alert,
  .event-type-descriptions,
  .types-of-event,
  .content-cta,
  .featured-content,
  .page-helpful {
    @include overhang;
  }

  .content-alert--left {
    margin-left: 0;
  }

  h2:not(:first-child),
  .call-to-action {
    margin-top: 1.5em;
  }

  a {
    &[href*="//"] {
      &::after {
        content: url('../images/icon-external.svg');
        margin-left: 0.2em;
        display: inline-block;
        background-repeat: no-repeat;
      }
    }
  }

  // stop the external icon from appearing inside CTA 'button' style links
  // and the home page featured content video thumbnail links
  .call-to-action__action,
  .featured-content__item {
    a {
      &[href*="//"] {
        &::after {
          content: none;
          margin-left: unset;
        }
      }
    }

    // this is added by Kramdown when using the ToC (table of contents) plugin
    #markdown-toc {
      margin-bottom: 3em;
    }
  }
}
