.markdown,
.text-content {
  @mixin overhang { margin-left: auto; margin-right: auto; }
  @include external-link-icon;

  > * {
    @include indent-left-and-right;
  }

  > h1 {
    margin-top: 0;
  }

  h1 {
    font-size: size('xxlarge');
  }

  // allow level two headings (blue boxes) and CTAs to 'overhang' on the left
  h2 {
    @include overhang;
    @include content-heading;
  }

  .accordions,
  .stories-feature,
  .feature-table,
  .content-alert,
  .event-type-descriptions,
  .types-of-event,
  .content-cta,
  .featured-content,
  .page-helpful {
    @include overhang;
  }

  .content-alert--left {
    margin-left: 0;
  }

  h2:not(:first-child),
  .call-to-action {
    margin-top: 1.5em;
  }

  h3 {
    font-size: size(medium);
  }

  h4 {
    font-size: size(small);
  }

  // stop the external icon from appearing inside CTA 'button' style links
  // and the home page featured content video thumbnail links
  .call-to-action__action,
  .featured-content__item {
    @include suppress-external-link-icon;

    // this is added by Kramdown when using the ToC (table of contents) plugin
    #markdown-toc {
      margin-bottom: 3em;
    }
  }

  table {
    $table-spacing: .5em;
    border-spacing: 0 $table-spacing;
    margin: 1em $indent-amount 2em;
    width: 90%;
    border-color: $grey;

    thead > tr {
      > th {
        text-align: left;
        padding-bottom: $table-spacing;
        margin-bottom: $table-spacing;
        border-bottom: 1px solid $grey-light;
      }
    }

    tbody {
      font-size: size("xsmall");
    }
  }

  &.disclaimer {
    p,
    ul,
    ol {
      @include mq($from: tablet) {
        width: 65%;
      }
    }

    table {
      font-size: smaller;
      margin: 1em $indent-amount 2em;

      tr {
        margin: .5em auto;

        > th {
          padding-bottom: 1em;
        }

        td {
          border-bottom: 1px solid $grey;
          padding: .5em;

          // used to display cookie names
          > code {
            @include mq($until: tablet) {
              overflow-wrap: anywhere;
            }
          }
        }
      }
    }
  }
}
