.markdown {
  > blockquote {
    @include quote;
    float: left;
    max-width: 340px;
    margin: 0 25px 0 0;

    p {
      @include fancy-quotes-before;
      @include fancy-quotes-after;
      margin: 0;
      padding: 1em 1.6em;
      padding: 15px 44px;
    }

    @include mq($until: mobile) {
      display: block;
      width: 100%;
      min-width: 100%;
      float: none;
      margin: 2em 0;
    }
  }

  figure {
    @include quote;
    float: left;
    max-width: 340px;

    @include mq($until: tablet) {
      max-width: inherit;
      float: none;
      @include reset;
      padding: 1em 0;
    }

    &.right {
      float: right;
    }

    blockquote {
      p {
        @include fancy-quotes-before;
        @include fancy-quotes-after;
        padding: 15px 44px;
        @include reset;
      }
    }

    figcaption {
      margin: 1em 2rem 1em 3em;
      text-align: right;
      font-size: smaller;
    }
  }
}
