.markdown,
.text-content {
  @mixin overhang { margin-left: auto; margin-right: auto; }

  word-break: break-word;

  > * {
    @include indent-left-and-right;
  }

  // allow level two headings (blue boxes) and CTAs to 'overhang' on the left
  > h2 {
    @include overhang;
    @extend .heading-l, .heading--box-blue;
  }

  p,
  table {
    > .button {
      margin-bottom: 1.5em;
    }
  }

  > iframe {
    width: 90%;
    height: 18em;

    @include mq($from: tablet) { height: 21em; }
    @include mq($from: desktop) { height: 24em; }
  }

  .accordions,
  .photo-quote-list,
  .stories-feature,
  .feature-table,
  .content-alert,
  .event-type-descriptions,
  .types-of-event,
  .content-cta,
  .featured-content {
    @include overhang;
  }

  .content-alert--left {
    margin-left: 0;
  }

  .call-to-action__action,
  .featured-content__item {
    // this is added by Kramdown when using the ToC (table of contents) plugin
    #markdown-toc {
      margin-bottom: 3em;
    }
  }

  ul,
  ol {
    @include mq($until: tablet) {
      padding-left: 1.2em;
    }
  }

  @mixin abbr-styles {
    text-underline-offset: .2em;
    text-decoration-thickness: .1em;
    text-decoration: underline dotted $grey-dark;
  }

  p,
  ol,
  ul,
  td {
    abbr {
      @include abbr-styles;
      cursor: help;
    }

    // .abbr-replacement {
    //   nothing here yet, but we could use this to show
    //   that we've expanded an abbreviation
    //   @include abbr-styles;
    // }
  }

  table {
    $table-spacing: .5em;
    border-spacing: 0 $table-spacing;
    margin: 1em $indent-amount 2em;
    width: 90%;
    border-color: $grey;

    thead > tr {
      > th {
        text-align: left;
        padding: 0 $table-spacing $table-spacing $table-spacing;
        margin-bottom: $table-spacing;
        border-bottom: 1px solid $grey-light;
        word-break: normal;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }

    tbody td {
      @include font-size("xsmall");
    }
  }

  .inset {
    @include font-size(xsmall);
    border-left: 6px solid $grey-mid;
    padding: .4em 1.5em;
  }

  &.longform {
    padding-bottom: 3em;

    // undo the blue background
    > h2 {
      @extend .heading-m, .heading--box-transparent, .heading--margin-bottom-0;
    }

    h3 {
      @extend .heading-s;
    }
  }

  &.campaign {
    > h2 {
      @extend .heading--box-yellow;
    }
  }

  &.disclaimer {
    p,
    ul,
    ol {
      @include mq($from: tablet) {
        width: 65%;
      }
    }

    table {
      font-size: smaller;
      margin: 1em $indent-amount 2em;

      tr {
        margin: .5em auto;

        > th {
          padding-bottom: 1em;
        }

        td {
          border-bottom: 1px solid $grey;
          padding: .5em;

          // used to display cookie names
          > code {
            @include mq($until: tablet) {
              overflow-wrap: anywhere;
            }
          }
        }
      }
    }
  }

}
