.markdown,
.text-content {
  @mixin overhang { margin-left: auto; margin-right: auto; }

  word-break: break-word;

  > * {
    @include indent-left-and-right;
  }

  > h1 {
    margin-top: 0;
  }

  h1 {
    @include font-size('xxlarge');
  }

  // allow level two headings (blue boxes) and CTAs to 'overhang' on the left
  h2 {
    @include overhang;
    @include content-heading;
  }

  h2:not(:first-child),
  .call-to-action {
    margin-top: 1.5em;
  }

  h3 {
    @include font-size(medium);
    margin-bottom: .2em;
  }

  h4 {
    @include font-size(small);
    margin-bottom: .2em;
  }

  p,
  table {
    > .button {
      margin-bottom: 1.5em;
    }

    + h3,
    + h4 {
      margin-top: 1.5em;
    }
  }

  > iframe {
    width: 90%;
    height: 18em;

    @include mq($from: tablet) { height: 21em; }
    @include mq($from: desktop) { height: 24em; }
  }

  .accordions,
  .stories-feature,
  .feature-table,
  .content-alert,
  .event-type-descriptions,
  .types-of-event,
  .content-cta,
  .featured-content,
  .page-helpful {
    @include overhang;
  }

  .content-alert--left {
    margin-left: 0;
  }

  .call-to-action__action,
  .featured-content__item {
    // this is added by Kramdown when using the ToC (table of contents) plugin
    #markdown-toc {
      margin-bottom: 3em;
    }
  }

  ul,
  ol {
    @include mq($until: tablet) {
      padding-left: 1.2em;
    }
  }

  @mixin abbr-styles {
    text-underline-offset: .2em;
    text-decoration-thickness: 2em;
    text-decoration: underline dotted $grey-dark;
  }

  p,
  ol,
  ul,
  td {
    abbr {
      @include abbr-styles;
      cursor: help;
    }

    // .abbr-replacement {
    //   nothing here yet, but we could use this to show
    //   that we've expanded an abbreviation
    //   @include abbr-styles;
    // }
  }

  table {
    $table-spacing: .5em;
    border-spacing: 0 $table-spacing;
    margin: 1em $indent-amount 2em;
    width: 90%;
    border-color: $grey;

    thead > tr {
      > th {
        text-align: left;
        padding-bottom: $table-spacing;
        margin-bottom: $table-spacing;
        border-bottom: 1px solid $grey-light;
      }
    }

    tbody td {
      @include font-size("xsmall");
    }
  }

  .inset {
    @include font-size(xsmall);
    border-left: 6px solid $pink;
    padding: .8em 1em;
    background: $grey;
  }

  &.longform {
    // undo the blue background
    h2 {
      background-color: unset;
      color: $black;
      margin-top: 1rem;
      font-size: 1.4rem;

      &:after {
        content: unset;
      }
    }

    h3 {
      font-size: 1.2rem;
    }
  }

  &.disclaimer {
    p,
    ul,
    ol {
      @include mq($from: tablet) {
        width: 65%;
      }
    }

    table {
      font-size: smaller;
      margin: 1em $indent-amount 2em;

      tr {
        margin: .5em auto;

        > th {
          padding-bottom: 1em;
        }

        td {
          border-bottom: 1px solid $grey;
          padding: .5em;

          // used to display cookie names
          > code {
            @include mq($until: tablet) {
              overflow-wrap: anywhere;
            }
          }
        }
      }
    }
  }

}
