#top-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
	//GC
	background-color: $grey;
	width: 100%;
	
	
	nav {
		justify-content: flex-end;
		margin:  0;
		padding: 0 1em;
		display: flex;
		flex-direction: column;
		
		//GC
		width: 100%;
		
	    ol {
	      margin: 0;
	      list-style: none;
	      display: flex;
	      gap: 1em;
	      justify-content: flex-end;
	      
	      //GC
	      font-size: 14px;
	
	      li {
	        padding: 1em;
	        
	        a {
		        //GC
		        color: $black;
		        text-decoration: none;
		        &:hover {
			        text-decoration: underline;
		        }
	        }
	        
	       }
	       
	    }
	}
}


#main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .main-logo {
    flex-basis: 14em;
    background-color: $green;
  }

  nav {
    justify-content: flex-end;
    margin: 2em 0 1em;
    padding: 0 1em;

    display: flex;
    flex-direction: column;

    ol {
      margin: 0;
      list-style: none;

      display: flex;
      gap: 1em;
      justify-content: flex-end;

      li {
        padding: 1em;
        
        .category:after {
			@include chevron-icon($color: $black, $dimensions: .7em, $rotate: map-get($chevron-direction-map, down));
			margin-left: 1em;
        }
        
        //if there is a link
        a.category:after {
	       @include chevron-icon($color: $black, $dimensions: .7em, $rotate: map-get($chevron-direction-map, up));
        }

        
      }

      @mixin active {
        background-color: $grey;

              }

      &.primary {
        li.active {
	        
          @include active;
          
          
          
        }
      }

      &.secondary {
        @include active;

        li {
          flex-grow: 1;
          a {
	          text-decoration: underline;
	          &:hover {
		          text-decoration: none;
	          }
          }
        }
      }
    }

    li {
      @include font-size(xsmall);
      font-weight: normal;
    }

    li > a,
    li > .category {
      color: $black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
