.page-helpful {
  padding: $indent-amount;
  margin: 2em 0 0;
  background: $grey;
  display: none;
  @include font-size("small");
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &.visible {
    display: flex;
  }

  a {
    color: $blue-dark;
    font-weight: bold;
    display: inline-block;

    &:last-child {
      margin-left: $indent-amount;
    }

    &:hover {
      text-decoration: none;
    }
  }
}
