.page-question {
  padding: 1em;
  background: $grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0 3em;

  a {
    color: $blue-dark;
    font-weight: bold;
    display: inline-block;

    &:last-child {
      margin-left: 20px;
    }

    &:hover {
      text-decoration: none;
    }
  }
}
