.page-question {
    padding: 20px;
    background: $grey;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    &.visible {
        display: flex;
    }

    a {
        color: $blue-dark;
        font-weight: bold;
        display: inline-block;

        &:last-child {
            margin-left: 20px;
        }
        
        &:hover {
            text-decoration: none;
        }

        &.hidden {
            display: none;
        }
    }
}
