.phase-banner {
    display: flex;
    justify-content: space-between;
    width:100%;
    border-bottom: 1px solid $grey-mid;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    position: relative;
        &__left {
        display: flex;
        align-items: flex-start;
        padding-right: 20px;
        line-height: 1.2;
    }

    &__description {
        padding-top: 8px;
    }
    &__label {
        background: $blue;
        color: white;
        font-weight: bold;
        display: inline-block;
        padding: 8px 20px;
        margin-right: 20px;
    }
    a {
        color: $blue-dark;
        white-space: nowrap;
    }

    &__close {
        padding: 8px 0px;
    }
}

@media only screen and (max-width: 1000px) {
    .phase-banner {
        width: calc(100% - 40px);
    }
}

@media only screen and (max-width: 800px) {
    .phase-banner {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .phase-banner {
        margin-top: 0px;
        &__left {
            padding: 0;
            flex-direction: column;
        }
        &__close {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}