.event-reg-main,
.mailing-reg-main {
  .govuk-checkboxes__item, .govuk-form-group
  {
      margin-bottom: 10px;
  }

  .govuk-input {
      margin-left: 0px;
  }

  .content__left {
      h1 {
          font-size: $fs-42;
          margin: 0;
          &.strapline {
            margin-bottom: 30px;
            margin-left: -20px;
          }
      }
  }

  h2 {
      font-size: $fs-28;
      background: transparent;
      color: $black;
  }

  .govuk-input, .govuk-select {
      max-width: 375px;
      margin-bottom: 15px;
      margin-left: 0;
  }

  button.call-to-action-button {
    margin-top: 20px;
  }

}

@include mq($until: tablet) {
  .event-reg-main,
  .mailing-reg-main {

      &__content {

          display: block;

          &__left {
              display: block;
              margin-right: 40px;
          }

          &__right {
              display: block;
              margin-top: 40px;
          }

      }

  }
}
