.registration {
  > section {
    margin-top: 2em;
  }

  .registration__event,
  .registration__mailing-list,
  .registration__callback {
    margin: auto $indent-amount;
  }

  .form-help {
    margin-top: $indent-amount;
  }

  .registration__event {

    &--first-page {
      padding-top: 1em;
    }

    &--container {
      display: flex;
      flex-direction: column-reverse;
      gap: 2em;

      @include mq($from: desktop) {
        flex-direction: row;

        form {
          flex-basis: 66%;
        }

        .event-info {
          flex-basis: 33%;
        }
      }
    }
  }

  .mailing-list__actions {
    display: flex;
    flex-direction: row;
    gap: $indent-amount;

    .telephone {
      display: block;
      font-weight: bold;
      text-decoration: none;
      color: $black;
      margin: 0;
    }
  }

  .mailing-list__completed {
    * + p {
      max-width: 60ch;
    }

    .button {
      margin-top: 1em;
    }
  }
}
