.registration {
  > section {
    margin-top: 2em;
  }

  .registration__event,
  .registration__mailing-list,
  .registration__callback {
    margin: auto $indent-amount;

    @include mq($from: tablet) {
      max-width: 55%;
      width: 55%;
    }

    h1 {
      @include font-size("xlarge");
    }

    h2 {
      @include font-size("medium");
    }
  }

  .registration__event {
    h1 {
      margin-bottom: 0;
    }

    h2 {
      margin: .2em 0 1em;
    }
  }
}
