.search-result {
  display: block;
  border-top: 1px solid black ;
  text-decoration: none;
  color: initial ;

  &:hover {
    text-decoration: underline ;
    color: $blue-dark;
  }

  h3 {
    margin-top: 0.2rem;
  }

  p {
    margin-bottom: 0.2rem;
  }
}

