.new_search {
  button .fas {
    margin-left: .4em;
    vertical-align: bottom;
  }
}

.search-result {
  display: block;
  text-decoration: none;
  color: initial;
  padding: 1em 0;

  h3 {
    margin-top: .2rem;
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
    margin-bottom: .2rem;
    font-size: .9em;
  }

  span {
    white-space: nowrap;
  }
}

.searchpage__results .search-result {
  border-top: 1px solid $grey-mid;
  padding: 1em .5em;

  &__header {
    margin-bottom: .4em;
  }

  &__path {
    @include font-size("xsmall");
    color: $grey-dark;
    padding: 0;
    margin: 0;
  }

  &:hover {
    color: $blue-dark;
    background: $grey;

    h3 {
      text-decoration: none;
    }
  }
}
