$sp-base: 8px;

$sp-1: $sp-base * 1;
$sp-2: $sp-base * 2;
$sp-3: $sp-base * 3;
$sp-4: $sp-base * 4;
$sp-5: $sp-base * 5;
$sp-6: $sp-base * 6;
$sp-7: $sp-base * 7;
$sp-8: $sp-base * 8;
$sp-9: $sp-base * 9;
$sp-10: $sp-base * 10;
$sp-11: $sp-base * 11;
