.steps {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  padding: 0;

  &:before {
    content: "";
    width: 0;
    height: calc(100% - 20px);
    position: absolute;
    top: 20px;
    left: 37px;
    border-left: 6px dotted $black;
    @include mq($until: tablet) {
      left: 27px;
    }
  }

  ul {
    list-style: disc;
  }

  * {
    box-sizing: border-box;
  }

  .step {
    margin-bottom: 50px;

    &__number {
      width: 80px;
      height: 80px;
      padding: 4px;
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-weight: bold;
      font-size: 28px;
      background-color: $yellow;
      position: relative;
      @include mq($until: tablet) {
        width: 60px;
        height: 60px;
        margin-right: 15px;
      }
    }

    &__header {
      display: flex;
      align-items: center;

      h2 {
        margin: 0;
        padding: 0;
        @include font-size(large);
        line-height: 1.25em;
        width: calc(100% - 100px);
        background: transparent;
        color: $black;

        @include mq($until: tablet) {
          @include font-size(medium);
        }

        &:after {
          display: none;
        }
      }
    }

    &__content {
      padding-left: 100px;
      @include mq($until: tablet) {
        padding-left: 75px;
        padding-right: 20px;
      }
    }
  }
}
