.story-landing {
  &__footer {
    display: inline-block;
    margin: 1em 0;

    a {
      @include button;
      @include chevron;

      span {
        white-space: normal;
      }
    }
  }

  &__stories + &__stories {
    margin-top: 2em;
  }
}

.stories-feature {
  background: $purple;
  color: $white;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  width: 100%;

  @include mq($from: tablet) {
    flex-direction: row;
    border-bottom: 2em solid $purple;
  }

  &__image {
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 0 40%;
    min-height: 15em;
    background-position: 0 -1.5em;

    @include mq($from: tablet) {
      background-position: 0 0;
    }
  }

  &__content {
    flex: 1 0 60%;
    margin: auto $indent-amount;
    padding-bottom: 2em;

    @include mq($from: tablet) {
      flex-shrink: 1;
      padding-left: 1em;
    }

    .stories-feature__subheading {
      @include font-size("small");
      font-weight: bold;
    }
  }
}

.content-wrapper {
  overflow: auto;
}

.story {
  .story__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    @include mq($until: mobile) {
      flex-direction: column;
      align-items: flex-start;
    }

    &__thumb {
      object-fit: cover;
    }

    &__label {
      padding: 0 $indent-amount;
    }
  }

  > p:first-of-type {
    font-weight: bold;
  }

  &__video {
    margin-bottom: 1.5em;
    width: 100%;
    height: 350px;
  }
}

.stories {
  grid-gap: 1em;
  @include cards-grid(1, 2.5em);

  @include mq($from: mobile, $until: desktop) {
    @include cards-grid(2, 2.5em);
  }

  @include mq($from: desktop) {
    @include cards-grid(3, 2.5em);
  }

  &--with-padding {
    padding: 0 $indent-amount;
  }

  .card {
    flex-direction: row;
    flex-wrap: wrap;
    outline: none;
    background-color: $grey;
    align-items: center;

    .card__thumb {
      flex: 0 1 45%;

      > picture img,
      > img {
        width: 100%;
        object-fit: contain;
        height: auto;
      }
    }

    .card__snippet {
      flex: 0 0 50%;

      padding: 0;
      margin: 0;

      > p {
        padding: 0 .6em;
        margin: 0;

        @include mq($until: desktop) {
          @include font-size("xsmall");
        }
      }
    }

    .card__footer {
      padding: .6em 1em;
      flex: 1 0 80%;
      margin-left: 1em;
    }
  }
}

@include mq($until: tablet) {
  .stories {
    &__thumbs {
      flex-wrap: wrap;
      margin-bottom: $indent-amount;
      margin-right: 0;
      padding: 0;

      &__thumb {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}
