.stories-feature {

    display: table;
    width: 100%;
    margin-bottom: 40px;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;

    &__image {
        display: table-cell;
        width: 38%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__content {
        display: table-cell;
        background-color: $purple;
        vertical-align: top;
        box-sizing: border-box;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 40px;
        color: $white;

        h2 {
            font-size: 28px;
        }

        h3 {
            padding: 0;
            margin: 0;
        }

        p {
            padding-top: 0;
            margin-top: 0;
        }

        a.git-link {
            color: $white;
            cursor: pointer;
        }

    }
}

.content-wrapper {
    overflow: auto;
}

.story {
    h1 {
        font-size: 40px;
    }

    .backlink.backlink--top {
        margin-bottom: 0;
    }

    .story__header {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        &__thumb {
            background-color: grey;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-width: 200px;
            height: 200px;
        }

        &__label {

            h2 {
                font-size: 32px;
                border-bottom: none;
                padding-left: 20px;
            }
        }
    }

    > p:first-of-type {
        font-weight: bold;
    }

    blockquote {
        margin: 0 25px 0 0;
        background-color: $yellow;
        float: left;
        max-width: 340px;
        position: relative;

        $quote-size: 17px;

        p {
            padding: 15px 44px;
            font-weight: bold;
            font-size: 115%;

            @mixin quote-icon {
                @include icon;
                background-image: url('../images/white-quote.svg');
                width: $quote-size;
                height: $quote-size;
                fill: $white;
                content: "";
            }

            &::before {
                @include quote-icon;
                position: absolute;
                left: 19px;
            }

            &::after {
                @include quote-icon;
                position: inline;
                transform: rotate(180deg);
                margin-left: 7px;
            }
        }

        @media only screen and (max-width: 500px) {
            display: block;
            width: 100%;
            min-width: 100%;
            float: none;
            margin: 2em 0;
        }
    }

    &__video {
        margin-bottom: 1.5em;
        width: 100%;
        height: 350px;
    }
}

.stories {

    h1 {
        font-size: 40px;
    }

    &__video {
        width: 100%;
        height: 0;
        padding-bottom: 56%;
        margin-bottom: 30px;
        position: relative;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .content-video {
        margin-bottom: -60px;
    }

    .story-header {
        display: -ms-flexbox;
        display: flexbox;
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
        
        &__thumb {
            background-color: grey;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 200px;
            height: 200px;
        }

        &__label {

            h2 {
                font-size: 32px;
                border-bottom: none;
                padding-left: 20px;
            }         
        }
    }

    p.prominent {
        font-weight: bold;
    }

    .quote-block {

        position: relative;
        float: left;
        width: 328px;
        background-color: $yellow;
        box-sizing: border-box;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-right: 20px;

        &__content {
            font-size: 24px;
        }

        &__cite {
            display: block;
            font-size: 19px;
            margin-top: 10px;
            font-weight: bold;
        }

        .icon-quote {
            position: absolute;
            top: 21px;
            left: 15px;
            width: 18px;
            height: 18px;
            color: white;
        }

        .quote-close {
            position: relative;
            top: 0px;
            left: 10px;
            transform: rotate(180deg);
        }
    }
}

.more-stories {

    &__thumbs {

        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
            display: -ms-flexbox;
            display: flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        &__thumb {
            width: calc(33% - 25px);
            border: 2px solid $black;
            box-sizing: border-box;
            margin-bottom: 40px;
            margin-right: 40px;
            position: relative;
            text-align: left;
            &:nth-child(3n + 3) {
                margin-right: 0;
            }
            &__img
            {
                width: 100%;
                height: 230px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                overflow: hidden;
            }

            &__content {
                box-sizing: border-box;
                padding: 20px;
                p {
                    margin: 0 0 20px;
                }
            }

            &__play {
                background-color: $pink-dark-90;
                height: 72px;
                width: 72px;
                transform: rotate(-3deg);
                position: absolute;
                top: 50px;
                left: -2px;
            
                div {
                    transform: rotate(3deg);
                    margin-top: 22px;
                    margin-left: 24px; 
                }
                a:hover & {
                    background-color: $pink;
                }
                a:focus & {
                    background-color: $yellow;
                }
            }
            
        }
    }
}

.content-wrapper {
    .content__left {
        .stories-call-to-action {
            margin-top: -20px;
            background-color: $grey;
            color: $black;
            span:after {
                border-color: $black;
                margin-left: 10px;
            }
        }
        .stories-call-to-action:hover {
            background-color: $grey-mid;
            color: $black;
            span:after {
                border-color: $black;
                margin-left: 10px;
            }
        }
    }
}

.stories-inline {
            display: -ms-flexbox;
            display: flexbox;
    display: flex;
    justify-content: space-between;

    &__block {
        background-color: grey;
        height: 320px;
        width: 50%;

        &__thumb {
            height: 190px;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &__content {
            background-color: $purple;
            height: 130px;
            color: $white;
            box-sizing: border-box;
            padding: 15px;

            p {
                margin-bottom: 10px;
            }

            a.git-link {
                color: $white;
            }

            .git-link:hover {
                color: $white;
            }
        }
    }

    &__block:first-child {
        margin-right: 10px;
    }

    &__block:last-child {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 700px) {

    .more-stories {

        &__thumbs {
            flex-wrap: wrap;
            margin-bottom: 20px;
            margin-right: 0;
            padding: 0;
            &__thumb {
                width: 100%;
                margin-right: 0;
            }

        }
    }

    .stories-feature {
        display: block;
        width: auto;
        margin-bottom: 0px;

        &__image {
            display: block;
            width: 100%;
            height:400px;
        }

        &__content {
            display: block;
        }

    }
}
@media only screen and (max-width: 500px) {
    .stories {
        .story-header {
            display: -ms-flexbox;
            display: flexbox;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            &__thumb {
                // width: 100%;
                // height: 135px;
            }

            &__label {

                h2 {
                    padding-left: 0px;
                    padding-top: 20px;
                }         
            }
        }
    }

}
