.story-landing {
    header {
        padding: 0 20px;
        width: 66.6%;

        @include mq($until: tablet) {
          width: 100%;
          padding: 0;
        }

        h2 {
            @include content-heading;
            color: $black;
            background-color: inherit;
            size: 110%;
            margin-bottom: 0;
        }
    }

    .feature > section {
        margin-bottom: 3em;

        > footer {
            padding: 20px;
            width: 66.6%;

            @include mq($until: tablet) {
              width: 100%;
              margin: 0;
              padding: 0;
            }

            a {
                @include button;
                @include chevron;
                display: inline-block;
                margin: 1em 0 0 0;
                white-space: initial;
            }
        }
    }
}

.stories-feature {

    display: table;
    width: 100%;
    max-width: 1250px;
    margin: 2em auto 2em;

    @include mq($from: tablet) {
      border-bottom: 2em solid $purple;
    }

    &__image {
        display: table-cell;
        width: 38%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__content {
        display: table-cell;
        background-color: $purple;
        vertical-align: top;
        box-sizing: border-box;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 40px;
        color: $white;

        h2 {
            font-size: 28px;
        }

        h3 {
            padding: 0;
            margin: 0;
        }

        p {
            padding-top: 0;
            margin-top: 0;
        }

        a.git-link {
            color: $white;
            cursor: pointer;
        }

    }
}

.content-wrapper {
    overflow: auto;
}

.story {
    h1 {
        font-size: 40px;
    }

    .story__header {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        &__thumb {
            object-fit: cover;
        }

        &__label {

            h2 {
                font-size: 32px;
                border-bottom: none;
                padding: 0 20px;
                margin: 0;
                color: $black;
                background: transparent;
            }
        }
    }

    > p:first-of-type {
        font-weight: bold;
    }

    blockquote {
        margin: 0 25px 0 0;
        background-color: $yellow;
        float: left;
        max-width: 340px;
        position: relative;

        $quote-size: 17px;

        p {
            padding: 15px 44px;
            font-weight: bold;
            font-size: 115%;

            @mixin quote-icon {
                @include icon;
                background-image: url('../images/white-quote.svg');
                width: $quote-size;
                height: $quote-size;
                fill: $white;
                content: "";
            }

            &::before {
                @include quote-icon;
                position: absolute;
                left: 19px;
            }

            &::after {
                @include quote-icon;
                position: inline;
                transform: rotate(180deg);
                margin-left: 7px;
            }
        }

        @media only screen and (max-width: 500px) {
            display: block;
            width: 100%;
            min-width: 100%;
            float: none;
            margin: 2em 0;
        }
    }

    &__video {
        margin-bottom: 1.5em;
        width: 100%;
        height: 350px;
    }
}


.stories {
  grid-gap: 1em;
  padding: 0 20px;

  @include mq($until: tablet) {
    padding: 0;
  }

  .card {
    flex-direction: row;
    flex-wrap: wrap;
    outline: none;
    background-color: $grey;
    align-items: center;

    @include mq($until: tablet) {
      flex-wrap: nowrap;
      flex-direction: column;
      align-content: flex-start;
    }

    .card__thumb {
      flex: 0 1 45%;

      > img {
        width: 100%;
        object-fit: contain;
        height: auto;
      }

      @include mq($until: tablet) {
        flex: 1 0 auto;
        justify-items: center;
        text-align: center;

        > img {
          object-fit: cover;
          max-height: 15em;
        }
      }
    }

    .card__snippet {
      flex: 0 0 50%;

      @include mq($until: tablet) {
        flex: 1 0 auto;
        padding: 1em;
      }

      padding: 0;
      margin: 0;

      > p {
        padding: 0 .6em;
        margin: 0;
        font-size: smaller;

        @include mq($until: tablet) {
          margin-top: .5em;
          padding: 0 .5em;
          font-size: initial;
        }
      }
    }

    .card__footer {
      padding: .6em 1em;
      flex: 1 0 80%;
      margin-left: 1em;

      @include mq($until: tablet) {
        margin: 0;
        flex: 1 1 0;
      }
    }
  }
}

.content-wrapper {
    .content__left {
        .stories-call-to-action {
            margin-top: -20px;
            background-color: $grey;
            color: $black;
            span:after {
                border-color: $black;
                margin-left: 10px;
            }
        }
        .stories-call-to-action:hover {
            background-color: $grey-mid;
            color: $black;
            span:after {
                border-color: $black;
                margin-left: 10px;
            }
        }
    }
}

@include mq($until: tablet) {
    .stories {

        &__thumbs {
            flex-wrap: wrap;
            margin-bottom: 20px;
            margin-right: 0;
            padding: 0;
            &__thumb {
                width: 100%;
                margin-right: 0;
            }

        }
    }

    .stories-feature {
        display: block;
        width: auto;
        margin-bottom: 0px;

        &__image {
            display: block;
            width: 100%;
            height:400px;
        }

        &__content {
            display: block;
        }

    }
}
