$slightly-darker-grey: darken($grey, 10%);
$icon-size: 3rem;

@mixin train-to-teach-event-box {
  border: 2px solid $pink;
  padding: 2rem 1rem 1rem;

  &::after {
    @include font-size(small);
    position: absolute;
    content: "Train to Teach event";
    right: 5%;
    top: -1em;
    background: $pink url(../images/icon-ttt-white.svg) no-repeat left center;
    background-size: 1.2em;
    background-position: .4em;
    font-weight: bold;
    padding: .4em .4em .4em 2em;
  }
}

.teaching-events {
  header {
    margin: 1rem;

    @include mq($from: tablet) {
      p {
        padding: 0 1rem;
      }
    }
  }

  &__descriptions {
    &--summary {
      @extend .link;
      cursor: pointer;
      text-decoration: underline;

      &::marker {
	      padding-right: 2em;
      }
    }

    dl {
      padding: 0 1rem;

      div {
        margin-bottom: .5em;
      }

      dt {
        font-weight: bold;
        margin-block: .2em;
      }

      dd {
        margin-left: 0;
      }
    }
  }

  @include mq($from: desktop) {
    margin-inline: 1.5rem;
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include mq($from: desktop) {
      flex-direction: row;
    }
  }

  &__filter,
  &__listing {
    @include mq($from: desktop) {
      margin: 1rem;
    }
  }

  &__filter {
    padding: 1rem;
    @include mq($from: desktop) {
      flex-basis: 25%;
    }

    &--group {
      p {
        @include reset;
      }
    }

    &--group.with-top-border {
      border-top: 1px solid $slightly-darker-grey;
      padding-top: 2rem;
    }
  }

  &__listing {
    @include mq($from: desktop) {
      flex-basis: 75%;
    }

    @include mq($from: tablet) {
      border-left: 1px solid $slightly-darker-grey;
    }
  }

  &__none {
    margin: 1rem;

    @include mq($from: tablet) {
      border-left: 1px solid $slightly-darker-grey;
      padding-left: 3rem;
    }

    ul {
      list-style-type: square;
    }
  }

  &__events {
    @include reset;

    padding: 1rem;

    ol {
      list-style: none;
      padding: 0;

      @include mq($from: desktop) {
        padding: 1rem;
      }

      li.event + li.event {
        margin-top: 2em;
      }
    }

    &--featured {
      background: $grey;
      padding: 2rem 1rem 2rem;
      margin-bottom: 1rem;
    }

    &--featured, &--regular {
      h2 {
        margin-block: 1rem 2rem;
        padding-inline: 1rem;
      }
    }
  }

  .event {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
    background: white;
    border: 2px solid $slightly-darker-grey;
    padding: 0;

    &__info {
      @include font-size(xsmall);

      &__name {
        @include font-size(small, $adjust: .2rem);
        font-weight: bold;
      }

    }

    &__meta {
      display: flex;
      flex-direction: column;
      gap: 1em;
      margin-bottom: 1em;

      @include mq($from: mobile) {
        gap: 2em;
      }

      .event-image {
        picture {
          img {
            width: 100%;
            max-height: 8em;
            object-position: center;
            object-fit: cover;

            @include mq($from: mobile) {
              width: 90%;
              max-height: auto;
            }
          }
        }
      }
    }

    &__top-bar {
      display: flex;
      align-items: center;
      overflow: hidden;

      @supports(overflow: clip) {
        overflow: clip;
      }

      &--left {
        @include font-size(xsmall);
        flex: 1 1 30%;
        padding: .4em 1em;

        @include mq($from: mobile) {
          padding: .2em 1em .2em 4.3em;
          background: url(../images/content/icons/icon-calendar.svg) no-repeat left center;
          background-position: .7em;
          background-size: $icon-size;
        }
      }

      &--right {
        $adjust: 1em;
        $unskew-amount: 12deg;
        $skew-amount: -12deg;

        align-self: flex-start;

        text-align: center;
        padding: 1.2rem;
        max-height: 3em;

        transform: skew($skew-amount) translate($adjust);
        padding-right: 1em + $adjust;
        font-weight: bold;

        .event__info__type {
          transform: skew($unskew-amount);
        }
      }
    }

    &__bottom-bar {
      background: $grey;
      padding: .4em .5em;
      display: flex;

      &--left {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1 0 60%;
        align-content: center;
        gap: .5em 2em;
      }

      &--right{
        display: flex;
        flex-direction: column;
        justify-items: center;
        padding: .2em 1em;
        flex: 0 1 40%;
        text-align: right;
      }
    }

    &__info {
      padding: 2em 1em;
      display: flex;
      flex-direction: column;
      gap: 2em;
    }

    &--train-to-teach {
      @include train-to-teach-event-box;

      flex-direction: column-reverse;

      @include mq($from: mobile) {
        gap: 3rem;
        flex-direction: row;
      }

      .event__info {
        flex-basis: 60%;
        padding: 0;
        gap: 1em;

        @include mq($from: mobile) {
          gap: 2em;

          &__date-and-time,
          &__name,
          &__location,
          &__setting {
            padding-left: 3rem;
            min-height: 2em;

            // vertical centre
            display: flex;
            align-items: center;
          }

          &__date-and-time {
            background: url(../images/content/icons/icon-calendar.svg) no-repeat left center;
            background-size: $icon-size;
            flex-direction: column;
            align-items: baseline;
          }

          &__name {
            min-height: 4rem;

            @include mq($from: tablet) {
              min-height: initial;
            }
          }

          &__location {
            background: url(../images/content/icons/icon-location.svg) no-repeat left center;
            background-size: $icon-size;
          }

          &__setting {

            &.online {
              background: url(../images/content/icons/icon-online.svg) no-repeat left center;
              background-size: $icon-size;
            }

            &.in-person {
              background: url(../images/content/icons/icon-building.svg) no-repeat left center;
              background-size: $icon-size;
            }
          }
        }
      }

      .event__meta {
        flex-basis: 40%;

        .event-image {
          object-position: center;

          @include mq($from: tablet) {
            max-height: 8em;
          }
        }
      }
    }

    &--regular {
      .event__top-bar--right {
        background: $yellow;
      }

      .event__bottom-bar--left {
        &__setting,
        &__location {
          @include font-size(xsmall);

          @include mq($from: mobile) {
            padding: 1em 1em 1em 3.2rem;
          }
        }

        @include mq($from: mobile) {

          &__setting {
            &.online {
              background: url(../images/content/icons/icon-online.svg) no-repeat left center;
              background-size: $icon-size;
            }

            &.in-person {
              background: url(../images/icon-building.svg) no-repeat left center;
              background-size: 2em; // using 2em because it's an old icon and is bigger than the others
            }
          }

          &__location {
            background: url(../images/content/icons/icon-location.svg) no-repeat left center;
            background-size: $icon-size;
          }
        }
      }
    }

    &--training-provider {
      .event__top-bar--right {
        background: $grey;
      }
    }
  }
}

.teaching-event {
  @mixin teaching-event-header-layout {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto) 1em;

    @include mq($from: tablet) {
      grid-template-rows: minmax(2rem, auto) minmax(5rem, auto) minmax(2rem, auto) 2rem;
      grid-template-columns: minmax(5rem, auto) minmax(auto, 40rem) 14rem minmax(auto, 20rem) minmax(5rem, auto);

      .heading {
        grid-area: 2 / 2 / 3 / 4;
      }

      .event-details {
        grid-area: 3 / 2 / 4 / 3;
      }

      .image {
        grid-area: 2 / 3 / 4 / 5;
      }

      .triangle {
        grid-area: 4 / 1 / 5 / 6;
      }
    }
  }

  header {
    $overhang: .4em;

    @include teaching-event-header-layout;

    display: grid;

    > *:not(.triangle) {
      padding-inline: 1rem;
    }

    @include mq($from: tablet) {
      padding-inline: 0;
    }

    &.yellow {
      background: $yellow;

      .button:focus {
        outline: 1px solid black;
      }
    }

    .heading {
      z-index: 5;

      display: flex;
      gap: 1em;
      flex-direction: column;
      justify-content: space-between;

      @include mq($until: tablet) {
        margin-top: $indent-amount;
      }
    }

    .event-details {
      padding-block: 1.5em;
      display: flex;
      gap: 1em;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .date-and-time {
        display: inline-block;
        border-bottom: 1px solid black;
        padding-bottom: 1em;
      }
    }

    .image {
      padding-bottom: 1rem;
      img {
        width: 100%;
      }

      @include mq($from: tablet) {
        img {
          margin: 1em;
          max-height: 14em;
          object-position: center;
        }
        padding-bottom: 0;
      }
    }

    .triangle {
      // slight hack, but helps ensure there's no gap between
      // the triangle and the block above
      margin-top: -2px;
      background-color: white;

      &.yellow {
        svg {
          fill: $yellow;
          stroke: $yellow;
          stroke-width: 1;
        }
      }
    }
  }

  &__info {
    max-width: $content-max-width;
    margin: auto auto 4em;

    display: flex;
    gap: 1em;
    flex-direction: column;

    article,
    aside {
      margin: 0 1em;
    }

    @include mq($from: tablet) {
      flex-direction: row;

      article {
        flex: 0 1 66%;
      }

      aside {
        flex: 0 0 32%;
      }
    }

    h2 {
      // standardise so smaller h2 in right col lines up
      margin-top: 2rem;
    }
  }

  &__message {
    background: $purple;
    color: $white;
    padding: .2em 1em;
    margin-bottom: 1em;

    p {
      @include reset;
    }
  }

  &__venue-information {
    .embedded-map {
      width: 80%;
      margin: unset;
    }

    ul {
      list-style: none;
      padding-left: 0;
    }
  }

  &__venue-image {
    margin-top: 2em;
    picture {
      img {
        height: auto;
        max-width: 80%;
      }
    }
  }

  &__attending-providers,
  &__scribble,
  &__how-to-attend {
    margin-top: 2em;
  }

  &__scribble {
    margin: 4em 1em;
    flex-grow: 1;
  }

  &__video {
    margin-block: 2em;
  }

  &__provider-information a {
    word-wrap: break-word;
  }
}

.teaching-events__about-ttt-banner {
  $desktop-unskew-amount: 12deg;
  $desktop-skew-amount: -12deg;

  $mobile-unskew-amount: 2deg;
  $mobile-skew-amount: -2deg;

  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  @include font-size(xsmall);
  background: $white;

  @include mq($from: mobile) {
    flex-direction: row;
  }

  @include mq($from: tablet) {
    margin-inline: 1em;
  }

  &--message {
    background: $pink;

    flex-basis: 60%;

    p {
      padding-inline: 1em;
    }

    @include mq($until: mobile) {
      padding-top: 1em;
      margin-top: -.5em;
      transform: skewY($mobile-skew-amount);

      p {
        margin: .5em;
        transform: skewY($mobile-unskew-amount);
      }
    }

    @include mq($from: mobile) {
      margin: 0 1rem;
      padding-left: 3em;
      margin-left: -2em;
      transform: skew($desktop-skew-amount);

      p {
        transform: skew($desktop-unskew-amount);
      }
    }
  }

  &--link {
    display: flex;
    flex-basis: 40%;
    align-items: center;
    justify-content: center;
    margin-block: 1em;

    a {
      @include mq($from: mobile) {
        margin-block: 0;
      }
    }
  }
}

.about-ttt-events {
  header {
    display: grid;
    margin: 1em 2em;

    grid-template-rows: min-content 1em min-content;
    grid-template-columns: auto;

    h1 {
      grid-area: 1 / 1 / 3 / 2;
    }

    picture {
      transform: rotate(3deg);
      grid-area: 2 / 1 / 4 / 2;
      text-align: right;
    }

    @include mq($from: tablet) {
      grid-template-rows: auto;
      grid-template-columns: 2fr 3em 1fr;

      h1 {
        grid-area: 1 / 1 / 2 / 3;
      }

      picture {
        grid-area: 1 / 2 / 2 / 4;
        text-align: left;
      }
    }

    picture {
      img {
        max-height: 12em;
        width: auto;
        height: auto;
      }
    }
  }

  article {
    max-width: 65ch;
    margin: 2em;

    .button {
      margin-block: 2em;
    }
  }

  .youtube-video-container {
    max-width: 40em;
    margin-block: 2em;
  }
}

.what-theyre-saying {
  margin-top: 4em;
  padding-bottom: 2em;
  display: grid;
  background: $yellow;

  grid-template-columns: auto minmax(2em, 30em) auto;
  grid-template-rows: 1em auto;

  @include mq($from: tablet) {
    grid-template-rows: 2em auto;
  }

  .triangle {
    grid-area: 1 / 1 / 2 / 4;
    background-color: white;
    margin-bottom: -5px;

    &.yellow {
      svg {
        fill: $yellow;
        stroke: $yellow;
        stroke-width: 1;
      }
    }
  }

  .subheading {
    grid-area: 1 / 2 / 2 / 3;
  }

  figure {
    grid-area: 2 / 2 / 3 / 3;
    margin-bottom: 1.5em;

    blockquote {
      @include font-size(small);

      font-weight: bold;
      margin: 2em 0 1em;
      padding: 0;
      position: relative;

      &:before,
      &:after {
        @include font-size(xlarge);
        color: $pink-dark;
      }

      &:before {
        content: open-quote;
        position: absolute;
        left: -.6em;
        top: -.3em;
      }

      &:after {
        position: absolute;
        content: close-quote;
        margin-left: .02em;
        margin-top: -.1em;
      }
    }

    figcaption {
      margin-top: .6em;
      @include font-size(xsmall);
    }
  }
}
