@mixin font {
  font-family: $git-font-family;
  font-style: normal;
}

p,
ul,
ol,
dl,
dd,
dt,
.badge {
  @include font;
  @include font-size("small");
  line-height: 1.5;
}

li {
  margin-bottom: 0.3em;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  @include font;
  color: $black;
  line-height: 1.5;

  &:focus {
    outline: 3px solid transparent;
    color: $black;
    background-color: $yellow;
    box-shadow: 0 -2px $yellow, 0 4px $black;
    text-decoration: none;
  }
}

.git-link {
  @include font;
  font-weight: bold;
  @include font-size("small");
  color: $black;
  text-decoration: none;
  display: inline-block;

  &:hover {
    color: inherit;
    text-decoration: underline;
  }

  i {
    margin-left: 4px;
    vertical-align: middle;
  }

  &:after {
    @extend .fas;
    @extend .fa-chevron-right;

    content: 'ÔÅî';
    width: 12px;
    height: 19px;
    margin-left: 8px;
  }

  &.white {
    color: $white;

    &:focus {
      color: $black;
    }
  }

  &.underline {
    text-decoration: underline;
    text-underline-offset: .2em;

    &:hover, &:focus {
      text-decoration: none;
    }

    &:after {
      content: none;
    }
  }
}

.strong {
  font-weight: bold;
}

.extra-bottom-margin {
  margin-bottom: 3em;
}

