@mixin font {
  font-family: $git-font-family;
  font-style: normal;
}

p,
ul,
ol,
dl,
dd,
dt,
.badge {
  @include font;
  @include font-size("small");
  line-height: 1.5;
}

li {
  margin-bottom: 0.5em; 

  &:last-child {
    margin-bottom: 0;
  }

  a {
    display: inline-block; 
    min-width: 24px; 
    min-height: 24px; 
  }
}

.strong {
  font-weight: bold;
}

.extra-bottom-margin {
  margin-bottom: 3em;
}
