h1 {
    font-size: 28px;
}

h2 {
    font-size: 19px;
    line-height: 1.4;
}

p {
    font-size: 19px;
    line-height: 1.6;
}

a {
    color: $black;
    line-height: 1.4;
}

.strapline-image {
    color: $white;
    font-size: 36px;
    background-color: $purple;
    display: inline-block;
    padding: 20px 40px 16px 40px;
}

.strapline {
    color: $white;
    font-size: 36px;
    background-color: $purple;
    display: inline-block;
    padding: 20px 20px 16px 20px;
}

.strapline-prominent {
    background-color: $pink;
    text-decoration: underline;
    font-size: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 18px;
}

.git-link {
    font-weight: bold;
    font-size: 19px;
    color: $black;
    text-decoration: none;
    display: inline-block;

    i {
        margin-left: 4px;
        vertical-align: middle;
    }
}

.git-link:hover {
    text-decoration: underline;
}

.telephone-number {
    color: $blue;
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {

    .strapline {
        font-size: 24px;
    }

    .strapline-prominent {
        font-size: 20px;
    }

}