$git-font-family: Sans-serif;

@mixin font {
    font-family: $git-font-family;
    font-style: normal;
}

h1 {
    @include font;
    font-size: 28px;
}

h2 {
    @include font;
    font-size: 19px;
    line-height: 1.25;
}

h3 {
    @include font;
    font-size: 19px;
    font-weight: bold;
}

h4 {
    @include font;
    font-size: 19px;
}

p {
    @include font;
    font-size: 19px;
    line-height: 1.5;
}

a {
    @include font;
    color: $black;
    line-height: 1.5;
    &:focus {
        outline: 3px solid transparent;
        color: $black;
        background-color: $yellow;
        box-shadow: 0 -2px $yellow, 0 4px $black;
        text-decoration: none;
    }
}

.strapline-image {
    @include font;
    color: $white;
    font-size: 24pt;
    background-color: $purple;
    display: inline-block;
    padding: 12px 20px 8px;
        &:after {
            content: ".";
        }
}

.strapline {
    @include font;
    color: $white;
    font-weight: bold;
    font-size: 24pt;
    background-color: $purple;
    display: inline-block;
    padding: 10px 20px;
    &:after {
        content: ".";
    }
    &--overlap {
        background-color: $blue-dark-90;
        padding: 10px 20px 10px 40px;
        margin: 20px -20px;
    }

    &--blue {
      background-color: $blue;
    }

    &--small {
      font-size: 0.8em;

      &:after {
        content: "";
      }
    }
}

.strapline-prominent {
    @include font;
    background-color: $pink;
    text-decoration: underline;
    font-size: 19px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 18px;
    min-width: 288px;
}

.git-link, .content__left a.git-link {
    @include font;
    font-weight: bold;
    font-size: 19px;
    color: $black;
    text-decoration: none;
    display: inline-block;

    &:hover {
        color: inherit;
    }

    i {
        margin-left: 4px;
        vertical-align: middle;
    }
}

.git-link:hover, .content__left a.git-link:hover {
    text-decoration: underline;
}

.telephone-number {
    @include font;
    color: $blue;
    text-decoration: underline;
    font-weight: bold;
}

.telephone-number:hover {
    text-decoration: none;
}

@include mq($until: tablet) {    
    .strapline {
        font-size: 24px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .strapline--small {
        font-size: 19px;
    }

    .strapline-image {
        font-size: 24px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .strapline-prominent {
        font-size: 19px;
    }
}
