article.urgent-call-for-qualified-teachers {
  p {
    max-width: 65ch;
  }

  .region-heading {
    @include content-heading($add_full_stops: false);

    margin-top: 2em;
  }

  details {
    max-width: 65ch;
    padding: .5em;
    summary {
      cursor: pointer;
    }

    &:last-of-type {
      margin-bottom: 4em;
    }

    p,
    ol,
    h4 {
      margin-left: .1em;
      padding-left: 1.5em;
    }

    &[open] {
      outline: 4px solid $grey;
    }
  }

  details + details {
    margin-top: 1em;
  }
}

ul.agencies-toc {
  margin-bottom: 3em;
  list-style: none;
}

ul.agencies-list {
  display: grid;
  list-style: none;
  gap: 3em;
  column-gap: 5em;
  padding-left: 0;

  @include mq($from: tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  li {
    outline: 2px solid $grey;
    padding: 1em;

    dl > div {
      display: flex;
      flex-direction: column;

      @include mq($from: tablet) {
        flex-direction: row;
      }

      dt {
        font-weight: bold;
        flex-basis: 25%;
        @include font-size("xsmall");
      }

      dd {
        @include font-size("xsmall");
        flex-basis: 75%;
        margin-left: 0;
      }
    }

    div + div {
      margin-top: .5em;
    }
  }

  &:last-of-type {
    margin-bottom: 4em;
  }
}
