.vertical-tags {
  $divider-colour: #0b0c0c;

  margin: 0;
  display: flex;
  gap: .4em;
  align-items: flex-start;
  border-left: 1px solid $divider-colour;
  overflow-x: hidden;
  min-height: 4em;

  flex-direction: column;

  padding-left: .8em;
  padding-block: 1em;

  .tag {
    padding: .4em 1em .4em 2em;
    display: inline-block;
    margin-left: -2em;

    color: $black;
    border: 1px solid $blue;
    background: $blue;
  }
}
