.responsive-video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

  &__iframe {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.video-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 1000;
  justify-content: center;
  align-items: center;

  &__background {
    opacity: .4;
    background-color: $black;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding: $indent-amount;
    position: absolute;
  }

  &__video-container {
    width: 100%;
    max-width: tablet;
    background-color: $white;
    padding: $indent-amount;
    box-sizing: border-box;
    position: relative;
    margin: 40px;

    &__dismiss {
      position: absolute;
      top: -25px;
      right: -25px;
      width: 60px;
      height: 60px;
      z-index: 1001;
      display: block;
      background-color: $pink-dark-90;
      overflow: hidden;
      border: none;

      .icon-close {
        transform: rotate(-3deg);
      }

      &:hover {
        background-color: $pink;
      }

      &:focus {
        background-color: $yellow;
        outline: none;
      }
    }

    &__wrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      height: 0;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@include mq($until: tablet) {
  .video-overlay {
    &__video-container {
      &__dismiss {

        width: 44px;
        height: 44px;
      }
    }
  }
}
@include mq($until: mobile) {
  .video-overlay__video-container {
    padding: 10px;
    margin: $indent-amount;
  }

  .video-overlay__video-container__dismiss {
    top: -18px;
    right: -16px;
  }

  .video-overlay__video-container__dismiss .icon-close {
    margin: 0;
  }
}
