.ways-to-train {
  .training-attributes {
    display: flex;
    padding: 1em 0 2em;
    gap: 1em;

    h4 {
      margin-top: .6em;
      padding-top: 0;
      flex-shrink: 0;
      flex-basis: 33%;
    }
  }

  .badges {
    display: flex;
    gap: .4em;
    padding-block: .8em;
    padding-right: 2em;
    flex-direction: column;
    align-items: flex-start;
    border-left: 1px solid $grey-mid;
    overflow-x: hidden;
    min-width: 20em;
  }

  .badge {
    $skew-amount: -10deg;
    $unskew-amount: 10deg;

    padding: .4em;
    display: inline-block;
    transform: skewx($skew-amount);
    margin-left: -1em;
    padding-left: 1.5em;
    padding-right: 1em;

    .badge-text {
      transform: skew($unskew-amount);

      abbr {
        text-underline-offset: .2em;
      }
    }

    &.pink {
      color: $white;
      border: 1px solid $pink-dark;
      background: $pink-dark;
    }

    &.dark-cyan {
      color: $white;
      border: 1px solid $dark-cyan;
      background: $dark-cyan;
    }

    &.yellow {
      color: $black;
      border: 1px solid $yellow;
      background: $yellow;
    }

    &.dark-blue {
      color: $white;
      border: 1px solid $blue-dark;
      background: $blue-dark;
    }

    &.purple {
      color: $white;
      border: 1px solid $purple;
      background: $purple;
    }
  }

  $space-between-definitions: 1.5em;

  dl {
    margin-top: 3em;
    margin-bottom: 3em;

    .training-option {
      align-items: baseline;
      display: flex;
      padding-bottom: $space-between-definitions;

      @include mq($until: mobile) {
        flex-direction: column;
        align-items: baseline;

        dt {
          margin-bottom: .3em;
        }

        dd {
          margin-left: 0;
        }
      }

      dt {
        flex-basis: 30%;
        @include font-size(small);
        font-weight: 900;
      }

      dd {
        display: flex;
      }
    }

    .training-option + .training-option {
      padding-top: $space-between-definitions;
      border-top: 1px solid darken($grey, 10%);
    }
  }
}
