.ways-to-train {
  .training-attributes {
    display: flex;
    padding: 1em 0 2em;
    gap: 1em;

    h4 {
      margin-top: 0;
      padding-top: 0;
      flex-shrink: 0;
      flex-basis: 33%;
    }
  }

  .badges {
    display: flex;
    gap: .4em;
    flex-direction: column;
    align-items: flex-start;
  }

  .badge {
    padding: .2em .4em;
    display: inline-block;
    border-radius: 5px;
    @include font-size("xsmall");

    &.pink {
      color: $white;
      border: 1px solid $pink-dark;
      font-weight: 900;
      background: $pink-dark;
    }

    &.dark-cyan {
      color: $white;
      border: 1px solid $dark-cyan;
      font-weight: 900;
      background: $dark-cyan;
    }

    &.yellow {
      color: $black;
      border: 1px solid $yellow;
      font-weight: 900;
      background: $yellow;
    }

    &.dark-blue {
      color: $white;
      border: 1px solid $blue-dark;
      font-weight: 900;
      background: $blue-dark;
    }

    &.purple {
      color: $white;
      border: 1px solid $purple;
      font-weight: 900;
      background: $purple;
    }
  }

  $space-between-definitions: 1.5em;

  dl {
    margin-top: 3em;
    margin-bottom: 3em;

    .training-option {
      align-items: baseline;
      display: flex;
      padding-bottom: $space-between-definitions;

      @include mq($until: mobile) {
        flex-direction: column;
        align-items: baseline;

        dt {
          margin-bottom: .3em;
        }

        dd {
          margin-left: 0;
        }
      }

      dt {
        flex-basis: 30%;
        @include font-size(small);
        font-weight: 900;
      }

      dd {
        display: flex;
      }
    }

    .training-option + .training-option {
      padding-top: $space-between-definitions;
      border-top: 1px solid darken($grey, 10%);
    }
  }
}
