.training-option {
  display: flex;
  flex-direction: column;

  @include mq($from: tablet) {
    gap: 2em;
    flex-direction: row;
  }

  &__title {
    font-weight: bold;

    @include mq($from: tablet) {
      flex-basis: 15rem;
      margin-top: 1em;
    }
  }

  &__options {
    margin: 0;
  }
}

.training-option + .training-option {
  margin-top: 2em;
}
