$z-indices: ("bottom": 5, "low": 10, "medium": 15, "high": 20, "top": 25);

.welcome-guide {
  max-width: $page-max-width;
  background-color: $grey;
  margin: 0 auto;

  img {
    display: block;
  }

  header {
    h1 { @include reset; }
  }

  // section-specific styles
  .landing {
    // LAYOUTS
    // grid-row-start grid-column-start grid-row-end grid-column-end
    @mixin welcome-to-teaching-layout {
      $mobile-overlap-amount: 2em;

      grid-template-columns: 1fr;
      grid-template-rows: max-content $mobile-overlap-amount max-content $mobile-overlap-amount 6em;

      .background { grid-area: 1 / 1 / 5 / 2; }
      h1 { grid-area: 1 / 1 / 2 / 2; }
      picture { grid-area: 2 / 1 / 4 / 2; }
      .slant { grid-area: 5 / 1 / 6 / 2; }

      @include mq($from: desktop) {
        grid-template-rows: minmax(2em, max-content) 3em 4em 4em minmax(3em, max-content);
        grid-template-columns: 1fr 10em 1fr;

        .background { grid-area: 1 / 1 / 4 / 4; }
        .slant { grid-area: 4 / 1 / 5 / 4; }
        h1 { grid-area: 1 / 1 / 3 / 3; }
        picture { grid-area: 2 / 2 / 6 / 4; }
      }
    }

    // GENERAL STYLES
    &.welcome-to-teaching {
      @include welcome-to-teaching-layout;

      display: grid;

      .background {
        background: $yellow;
        z-index: map-get($z-indices, "bottom");
      }

      .slant {
        display: flex;
        overflow: clip;

        .slant-area {
          background: $yellow;
          transform: rotate(3deg);
          flex-grow: 1;
          margin: 0 -2em;
        }
      }

      * {
        z-index: map-get($z-indices, "medium");
      }

      // desktop
      h1 {
        margin: 1rem 0 0 2em;
        @include font-size(xxxlarge);
        z-index: map-get($z-indices, "high");

        .caption {
          margin-top: 1rem;
        }

        .caption-l {
          @include font-size(xxxlarge);
        }

        .caption-m {
          @include font-size(xlarge);
        }

        .purple {
          padding: .3rem .6rem;
          background-color: $purple;
        }

        .no-wrap {
          white-space: nowrap;
        }

        .welcome-to-teaching {
          line-height: 1.2;

          .purple {
            padding-bottom: .3em;
          }
        }

        .underline {
          border-bottom: .1em solid $black;
          padding-bottom: .05em;
        }
      }

      picture {
        z-index: map-get($z-indices, "medium");

        img {
          width: 100%;
          max-height: 24em;
          object-fit: cover;
        }
      }
    }

    &.introduction {
      padding: 8em 0;

      .welcome-container {
        max-width: 30em;
        margin: 0 auto;
      }

      p {
        font-weight: bold;
        margin: 1em 2em;
      }

      mark {
        background-color: $yellow;
        padding: 0 .2em;
      }
    }
  }
}
