<div class="row">
  <section class="container">
    <section class="image-blocks">
      <%= render CallsToAction::MailinglistBlockComponent.new(
        text: "Sign up for free guidance and support on getting into teaching, including learning more about the age groups you could teach"
      ) %>
      <%= render CallsToAction::FindBlockComponent.new %>
      <%= render CallsToAction::AdviserBlockComponent.new %>
    </section>
  </section>
</div>
