<div class="row">
  <section class="category col-space-m">
    <section class="container category__cards main-section">
      <nav class="category__nav-cards">
          <ul>
          <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Age groups you could teach",
              description: "Explore the different ages and stages of teaching and decide which is right for you.",
              path: "/life-as-a-teacher/age-groups-and-specialisms/age-groups-you-could-teach",
            )) %>
            <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Teach in Primary",
              description: "Find out about teaching pupils in primary school (ages 5 to 11).",
              path: "/life-as-a-teacher/age-groups-and-specialisms/primary"
            )) %>
          <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Special educational needs and disabilities",
              description: "Find out about teaching pupils with special educational needs and disabilities (SEND).",
              path: "/life-as-a-teacher/age-groups-and-specialisms/special-educational-needs"
            )) %>
        </ul>
      </nav>
    </section>
  </section>
</div>
