<div class="row">
  <section class="col col-720">
    <%= render Content::MailingListComponent.new(
      title: "Discover how exciting teaching can be",
      intro: "Get one step closer to the classroom and find out what teaching's really like. If you're aged 16 years or over, sign up to get inspiring stories from teachers, and trainee teachers, sent straight to your inbox. Just answer a few quick questions about yourself."
    ) %>
  </section>
</div>
