<%= render(CallsToAction::Promo::PromoComponent.new) do |promo| %>
  <% promo.with_left_section( classes: %w[ml-background]) %>
  <% promo.with_right_section(
    heading: "Learn more about the benefits of teaching"
  ) do %>
      <p>If you're aged 16 years or over, find out how you can get into teaching in a primary or secondary school and shape your own path.</p>

      <%= link_to("Get tips and advice sent to your inbox", "/mailinglist/signup/name", class: "button") %>
  <% end %>
<% end %>
