<div class="hero" style="background-color: white">
  <img alt="Physics teacher explaining the concept of time to pupils on a whiteboard." data-lazy-disable="true" src="/packs/v1/media/images/content/hero-images/0013-3570599669a8da7d375320f4003d2d61.jpg">

  <div class="hero__title">
    <h1><span>Non-UK teachers</span></h1>
  </div>

  <div class="hero__subtitle">
    <p>
      If you’re interested in teaching or training to teach in England as an international citizen, we can help you understand your next steps.
    </p>
  </div>
</div>
