<div class="call-to-action call-to-action--chat-online">
  <div class="call-to-action__icon">
    <%= icon %>
  </div>

  <div class="call-to-action__text">
    If you're unsure whether your qualification is equivalent to a degree, you can talk to us
  </div>

  <div class="call-to-action__action">
    <button><span>Chat online</span></button>
  </div>
</div>
