<%= tag.div(class: %w[call-to-action call-to-action--next-steps]) do %>
  <%= icon %>

  <div class="call-to-action__contents">
    <h3 class="call-to-action__contents__header">
      Next steps
    </h3>

    <p>
    If you have a degree you can search for postgraduate teacher
    training courses using the GOV.UK service.
    </p>

    <p>
    You can find out details such as:
    </p>

    <ul>
      <li>the cost</li>
      <li>how the course is structured</li>
      <li>financial support available</li>
      <li>entry requirements</li>
      <li>how to apply</li>
    </ul>

    <div class="call-to-action__contents__options">
      <div class="call-to-action__contents__options__row">
        <%= link_to("#", class: "call-to-action__contents__options__row__button") do %>
          <div class="call-to-action__contents__options__row__button__text">Find</div>
          <div class="call-to-action__contents__options__row__button__chevron"></div>
        <% end %>

        <p class="call-to-action__contents__options__row__text">
          Use the GOV.UK service to find postgraduate teacher
          training providers near you.
        </p>
      </div>

      <div class="call-to-action__contents__options__row">
        <%= link_to("#", class: "call-to-action__contents__options__row__button") do %>
          <div class="call-to-action__contents__options__row__button__text">Contact</div>
          <div class="call-to-action__contents__options__row__button__chevron"></div>
        <% end %>

        <p class="call-to-action__contents__options__row__text">
          Our trained advisers can help you select the best training option
          and provider for you, they can also offer advice on potential
          funding support.
        </p>
      </div>
    </div>
  </div>
<% end %>
