<div class="row">
  <div class="grey col-space-0">
    <section class="col col-720 col-space-0">
      <%= render Content::MailingListComponent.new(
        title: "Everything you need to know to start a career in teaching sent straight to your inbox",
        color: "transparent",
        margin: false,
        heading: :l
      ) do %>

        <p>
          Find out how to get:
        </p>

        <ul>
          <li>personalised guidance on teacher training</li>
          <li>experience of life in the classroom</li>
          <li>free one-to-one support from an adviser</li>
          <li>alerts about teaching events near you</li>
        </ul>

        <br>

      <% end %>
    </section>
  </div>
  </div>
