<section class="container">
  <div>
    <h2 class="heading--box-blue">A job like no other</h2>
    <p class="inset">
      Looking for challenge and variety? As a teacher you'll work with lots of young people with a range of needs,
      thinking on your feet and finding creative solutions to problems.
    </p>
  </div>
</section>

<section class="container centered">
  <article class="campaign">
    <%= render Content::PhotoQuoteListComponent.new(
      [
        {
          image: "media/images/content/blog/thumbnails/stories-zainab.jpg",
          heading: "A dynamic work environment",
          text: "You encounter problems, as you would in any career, but you have the support of colleagues to try new approaches and techniques until you find the right solution.",
          accreditation: link_to("Read Gavin's story", page_path("blog/school-experience-helped-me-decide-to-switch")),
        },
        {
          image: "media/images/content/blog/thumbnails/stories-gavin.jpg",
          heading: "Always different",
          text: "I wasn't sure what I wanted to do, but I knew I wanted to travel. I completed a starter course and went to teach English abroad.",
          accreditation: link_to("Read Zainab's story", page_path("blog/no-two-days-are-the-same")),
        }
      ],
      colors: %w[purple],
      numbered: false
    ) %>
  </article>
</section>
