<div class="campaign">
  <article>
    <section class="statement narrow">
      <div class="inset">
        <h2>Are you eligible to teach?</h2>
        <p>
          As a general rule, to teach in a primary or secondary school in England you'll need:
        </p>
        <ul>
          <li>A bachelor's degree</li>
          <li>GCSE at grade C or above in English and Maths (plus science if you want to teach at primary school)</li>
        </ul>
        <p><%= link_to("See full eligibility details", root_path) %></p>
      </div>
    </section>
  </article>
</div>
