<div class="campaign">
  <article>
    <section class="grey">
      <section class="container">
        <%= render(CallsToAction::Promo::PromoComponent.new(border: :none, reverse: true)) do |promo| %>
          <% promo.left_section(heading: nil, classes: %w[history-background]) %>

          <% promo.right_section(heading: "Get school experience") do %>
              <p>Experience in the classroom can help you find out if teaching is the career for you. Explore which subject and age range your passion lies with.</p>

            <p>  <%= link_to("Find out more about school experience", "/train-to-be-a-teacher/get-school-experience", class: "link--black") %>.</p>
          <% end %>
        <% end %>
      </section>
    </section>
  </article>
</div>
