<section class="container centered">
  <article class="markdown campaign">
    <h2>Take a closer look at a career that gives something back</h2>

    <p>
      Choosing or changing your career can be a big decision.
      If you're wondering if teaching is the path for you, find out what it's really like and where it can lead.
    </p>
  </article>
</section>
