<section class="container">
  <div>
    <h2 class="heading--box-blue">Making a difference</h2>
    <p class="inset">
      As a teacher, your passion and creativity can help inspire and shape future generations.
    </p>
  </div>
</section>

<section class="container centered">
  <article class="campaign">
    <%= render Content::PhotoQuoteListComponent.new(
      [
        {
          image: "media/images/content/is-teaching-right-for-me/fellowship.jpg",
          heading: "Give something back",
          text: "I tried many things until I realised that working with young people and helping them develop skills truly inspired me.",
          accreditation: link_to("Read how Chris changed careers to teaching", root_path),
        },
        {
          image: "media/images/content/is-teaching-right-for-me/stories-zainab.jpg",
          heading: "Share your subject passion",
          text: "I love bringing real life science stories into the classroom so students can build knowledge of the world around them.",
          accreditation: link_to("Find out how Jessica uses her real world science knowledge", root_path),
        }
      ],
      colors: %w[purple],
      numbered: false
    ) %>
  </article>
</section>
