<%= render(CallsToAction::Promo::PromoComponent.new) do |promo| %>
  <% promo.left_section(
      heading: "What is a Get Into Teaching event?") do %>
      <p>Chat with teacher training providers, experienced teachers, and expert advisers about all things teaching.</p>

      <%= link_to("Find out more about Get Into Teaching events", "/events/about-train-to-teach-events", class: "button") %>
  <% end %>

  <% promo.right_section(
        heading: "Find in person events") do %>
      <p>Talk face to face with providers to find out more about becoming a teacher.</p>

      <%= link_to("Find an event near you", "/events", class: "button") %>
  <% end %>
<% end %>
