// campaign-specific hero styles
.hero {
  &__content {
    .hero__nav {
      font-weight: bold;
      counter-reset: item;
      list-style-type: none;
      padding-left: 0;

      li {
        counter-increment: item;
        display: flex;
        align-items: center;

        &:before {
          content: counter(item);
          flex: 0 0 1.5em;
          background-color: $pink-dark;
          text-align: center;
          color: $white;
          padding: .4em;
          margin: 1em;
        }

        a {
          display: flex;
          flex-grow: 1;
          color: $black;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }

          span {
            flex-grow: 1;
          }

          &:after {
            flex-basis: 2em;
            align-self: center;
            height: 2em;
            min-width: 4em;
            content: "   ";
            background-image: url('../images/icon-down.svg');
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
  }
}
