<div class="teaching-events__none" role="alert">
  <h3 class="heading--margin-top-0">
    0 events found
  </h3>

  <% if @event_search.train_to_teach? %>
    <p><strong>The summer programme of Train to Teach events has now ended. You can:</strong></p>
    <ul>
      <li>look again in September when the autumn programme starts</li>
      <li><%= link_to("attend an Online Q&A", events_path(teaching_events_search: { type: %w[onlineqa] })) %> to ask your questions to a panel of experts</li>
    </ul>
  <% else %>
    <p><strong>Why not try:</strong></p>
    <ul>
      <% if @event_search.distance.present? %>
        <li>expanding your search area</li>
      <% end %>
      <% if @event_search.in_person_only? %>
        <li>changing event type - <%= link_to("online events", events_path(add_online_events(params))) %> may be available</li>
      <% end %>

      <li><%= link_to("clearing your filters", events_path) %> to start again</li>
    </ul>
  <% end %>
</div>
