<div class="teaching-events__none" role="alert">
  <h3 class="heading--margin-top-0">
    0 events found
  </h3>

  <p><strong>Why not try:</strong></p>
  <ul>
    <% if @event_search.distance.present? %>
      <li>expanding your search area</li>
    <% end %>
    <% if @event_search.in_person_only? %>
      <li>changing event type - <%= link_to("online events", teaching_events_path(add_online_events(params))) %> may be available</li>
    <% end %>

    <li><%= link_to("clearing your filters", teaching_events_path) %> to start again</li>
  </ul>
</div>
