<div class="teaching-events__events teaching-events__events--none" role="alert">
  <h2 class="heading-m">
    0 events found
  </h2>

  <p><strong>Why not try:</strong></p>
  <ul>
    <% if @event_search.distance.present? %>
      <li>expanding your search area</li>
    <% end %>
    <% if @event_search.in_person_only? %>
      <li>changing event type - <%= link_to("online events", events_path(add_online_events(params))) %> may be available</li>
    <% end %>

    <li><%= link_to("clearing your filters", events_path) %> to start again</li>
  </ul>
</div>

<% if @national_git_events&.any? %>
<div class="teaching-events__events teaching-events__events--regular">
  <h2 class="heading-m">Other events you may be interested in</h2>
  <ol><%= render TeachingEvents::EventComponent.with_collection(@national_git_events) %></ol>
</div>
<% end %>
