<section class="container">
    <div class="category__nav-cards">
        <a href="/funding-and-support/tuition-fee-and-maintenance-loans" class="category__nav-card">
            <h2>Tuition fee and maintenance loans</h2>

            <p>
                Find out which loans you could get to help pay your fees and living expenses while you train.
            </p>
            <span class="icon"></span>
        </a>

        <a href="/funding-and-support/scholarships-and-bursaries" class="category__nav-card">
            <h2>Scholarships and bursaries</h2>

            <p>
                Find out if you're eligible for extra funding depending on the subject you're training to teach.
            </p>
            <span class="icon"></span>
        </a>

        <a href="/funding-and-support/if-youre-disabled" class="category__nav-card">
            <h2>If you’re disabled</h2>

            <p>
                Find out about the support you can get while training to teach if you're disabled.
            </p>
            <span class="icon"></span>
        </a>

        <a href="/funding-and-support/if-you-come-from-outside-england" class="category__nav-card">
            <h2>If you come from outside England</h2>
            <p>
                Find out about the different arrangements for getting financial support if you live outside England.
            </p>
            <span class="icon"></span>
        </a>

        <a href="/funding-and-support/if-youre-a-parent-or-carer" class="category__nav-card">
            <h2>If you’re a parent or carer</h2>
            <p>
                Find out what extra grants and schemes are available if you have children or other caring responsibilities.
            </p>
            <span class="icon"></span>
    </div>
</section>
