<div class="category__questions__container">

  <section class="container category__questions">

    <div class="category__question">
      <h2>Want your own personal adviser?</h2>

      <p>
        Advisers provide free, one-to-one support by phone, text or email.
        They can help you understand what funding and support you could get while training to teach.
      </p>

      <a href="https://adviser-getintoteaching.education.gov.uk/" class="button">Get an adviser</a>
    </div>

    <div class="category__question">
      <h2>Have a question about funding?</h2>

      <p>
        Attend a teacher training event, either online or in person, and ask an expert about what you could be eligible for.
      </p>

      <a href="/events" class="button">Find events</a>
    </div>

  </section>

</div>
