<div class="events-near-you">
  <div class="events-near-you__next-event">
    <div>
      <h2>
        <div class="caption">
          Next event:
        </div>
        <br/>

        <div>Train to Teach Middlesborough</div>
      </h2>
    </div>

    <div>
      <div class="date-and-time">
        <div>29th March 2022</div>
        <div>16:00 - 20:00</div>
      </div>
    </div>

    <div>
      <a href="/events/question-time-middlesbrough-event-210622" class="button button--white button--inline-block">View event</a>
    </div>
  </div>

  <div class="events-near-you__find-an-event">
    <h2>
      <div class="caption">
        Find events
      </div>

      Train to teach events
    </h2>

    <p>
      Meet the teachers and experts who can tell you what teaching is really like.
    </p>

    <form>
      <label for="postcode">Enter postcode</label>

      <div>
        <input name="postcode" maxlength="4">
        <button class="button">Search</button>
      </div>
    </form>
  </div>
</div>
