<section class="event-reg-main">
    <div class="event-reg-main__content container-1000">
        <div class="event-reg-main__content__left">
            <h1 class="strapline">Sign up complete</h1>
            <p>You are signed up for the following event:</p>
            <p>
                <h3>Train to Teach Coventry online event</h3>
                13th May 2020 at 17:00 - 18:30
            </p>
            <h2>What happens next?</h2>
            <p>
                You will receive a confirmation email with details of the event. If there is an issue with the event we will contact you via phone.
            </p>
        </div>
        <div class="event-reg-main__content__right">

        </div>
    </div>
</section>

<%= render "sections/talk-to-us" %>
