<section class="event-reg-main" role="main" id="main-content">	
    <div class="content container-1000">
        <div class="content__left">
            <h1 class="strapline">Sign up complete</h1>
            <br/><br/>	
            <h3>You are signed up for the following event:</h3>

            <b><%= @event.name %></b>
            <p><%= format_event_date @event, stacked: false %></p>

            <%- if params[:subscribed].to_s == "1" -%>
            <h3>You've also signed up for personalised updates</h3>
            <p>
                You're ready to receive personalised updates to help you get
                into teaching.
            </p>
            <%- end -%>

            <h2>What happens next?</h2>
            <p>
                You will receive a confirmation email with details of the event. If there is an issue with the event we will contact you via phone.
            </p>

            <span data-controller="pinterest"
                data-pinterest-action="track"
                data-pinterest-event="custom"></span>

            <span data-controller="pinterest"
                data-pinterest-action="track"
                data-pinterest-event="INVITE"></span>

            <span data-controller="pinterest"
                data-pinterest-action="track"
                data-pinterest-event="Event_Registrations"></span>
        </div>
        <div class="content__right">

        </div>
    </div>
</section>
