<% @hide_page_helpful_question = true %>

<% if @current_step.id == "personal_details" %>
  <%= render "form_first_page", current_step: @current_step, wizard: @wizard, event: @event %>
<% else %>
  <%= render "form/sign_up", current_step: @current_step, wizard: @wizard, event: @event, section_class: "event" do %>
    <div class="event-info">
      <%= render Events::DesktopSignupInfoComponent.new(@event) %>
      <%= render Events::MobileSignupInfoComponent.new(@event) %>
    </div>
  <% end %>
<% end %>
