<div class="row inset">
  <section class="col col-720">
    <p>
      If maths is your passion, you'll know that it's not just learning formulas or solving equations. It's a way of thinking and problem solving that’s important in every walk of life.
    </p>

    <p>
      An exciting career spent passing your knowledge on to the next generation could be for you.
    </p>
<p>Tax-free bursaries of £28,000 or scholarships of £30,000 are available for eligible trainee maths teachers.</p>
  </section>

  <section class="col col-space-s col-content-max">
    <%= render TextBlockWithTwoImagesComponent.new(
      heading: "Making maths add up",
      colour: "pink",
      image_1_path: "static/images/content/hero-images/0017.jpg",
      image_1_alt: "",
      image_2_path: "static/images/content/hero-images/0024.jpg",
      image_2_alt: "",
    ) do %>
      <p>Maths is critical to science, technology and engineering as well as being fundamental for most jobs.</p>
<p>A good understanding of maths has a lot of benefits for young people to prepare them for their future, like using financial maths and data handling.</p>
<p>It's also our government's goal for all young people to study maths to age 18, equipping them with the skills they need for life.</p>
    <% end %>
  </section>
  <section class="col col-720 col-horizontal col-space-m">
    <div>
      <h2>What you'll be teaching</h2>

      <p>You'll teach the <a href="https://www.gov.uk/government/publications/national-curriculum-in-england-mathematics-programmes-of-study/national-curriculum-in-england-mathematics-programmes-of-study#key-stage-3">national curriculum</a>.</p>
      <p>When teaching 11 to 16 year olds (key stage 3 and 4), you can use interactive games with conkers and dice to help your pupils understand algebra. Themes you’ll cover are:</p>
      <ul class="vertical-tags">
        <li class="tag">Numbers</li>
        <li class="tag">Algebra</li>
        <li class="tag">Ratio, proportion and rates of change</li>
        <li class="tag">Geometry and measures</li>
        <li class="tag">Probability and statistics</li>
      </ul>

      <p>Themes you’ll cover for 16 to 18 year olds (key stage 5) - A or AS level core maths:</p>
      <ul class="vertical-tags">
        <li class="tag">Analysis of data</li>
        <li class="tag">Maths for personal finance</li>
        <li class="tag">Estimation</li>
        <li class="tag">Critical analysis of given data and models</li>
      </ul>
      <section class="col col-720">
  <%= render Content::QuoteComponent.new(
    text: "I try to find out what they’re interested in, whether it’s card games, football or whatever, and use this to make maths relevant.",
    name: "Dimitra, maths teacher",
    large: true
  ) %>
</section>
    <p><a href="https://www.thenational.academy/teachers/programmes/maths-secondary-ks3-l/units">Explore what teaching a maths lesson would be like</a>.</p>
    </div>
</section>
<section class="col col-845 inset">
    <%= render Content::PhotoQuoteListComponent.new(
      [
        {
          image: "static/images/content/subjects/rotna-roy.jpeg",
          heading: "Empowering my pupils",
          text: "I enjoy showing my pupils that maths is essential in everyday life. Whether it is identifying patterns, interpreting data, managing finances, or understanding the spaces and structures around us, everything uses maths.",
          accreditation: "Rotna Roy, Maths Lead at a school in London",
        }
      ],
      colors: %w[yellow],
      numbered: false
    ) %>
  </section>

<section class="col col-space-m col-720">
<h2>Check your qualifications</h2>
<p>To train to teach in primary and secondary schools in England, you’ll need:</p>
<ul>
<li>GCSEs at grade 4 (C) or above in English and maths (and science if you want to teach primary)</li>
<li>a bachelor’s degree in any subject</li>
</ul>
<p>Maths teacher training courses have had successful applications from candidates with a range of degrees, including psychology, music, architecture and law.</p>
<p><a href="/non-uk-teachers/train-to-teach-in-england-as-an-international-student">Non-UK citizens can find out more about training to teach in England</a>.</p>
<p>If your training provider thinks you need to top up your maths knowledge, you might need to do a <a href="/how-to-apply-for-teacher-training/subject-knowledge-enhancement">subject knowledge enhancement (SKE) course</a> before you start your teacher training.</p>
<p><a href="/is-teaching-right-for-me/qualifications-you-need-to-teach">Find out more about the qualifications needed to train to teach</a>.</p>
<h2>Fund your teacher training</h2>
<p><a href="/funding-and-support/scholarships-and-bursaries">Tax-free bursaries of £28,000 or scholarships of £30,000 are available for eligible trainee maths teachers</a>. </p>
<p>You can receive this alongside a tuition fee and maintenance loan. </p>
<p>You may also be able to get <a href="/funding-and-support">extra funding support</a> if you are: </p>
<ul>
<li>a parent or carer </li>
<li>disabled </li>
</ul>
<p>Non-UK citizens without indefinite leave to remain in the UK are unlikely to be eligible for funding.</p>
<p>You can <a href="/non-uk-teachers/fees-and-funding-for-non-uk-trainees">find out more about fees and financial support available for non-UK citizens</a>.</p>

<h2>Paid internship</h2>
<p>If you’re currently doing an undergraduate or master's degree and are interested in teaching maths, you could apply for a <a href="/is-teaching-right-for-me/teaching-internship-providers">paid teaching internship</a>.</p>
<p>The 3-week programme could help you to understand what it’s really like in the classroom and get a feel for school life.</p>
</section>
</div>
