<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Making maths add up</h2>
    <div class="inset">
      <p>Maths is critical to science, technology and engineering as well as being fundamental for most jobs.</p>
      <p>A good understanding of maths can help children develop life skills such as cooking, managing a budget and problem solving. It's also our government's goal for all young people to study maths to age 18.</p>
    </div>
  </section>
    <section class="col col-720">
    <%= render Content::PhotoQuoteListComponent.new(
      [
        {
          image: "static/images/content/subjects/rotna-roy.jpeg",
          heading: "Empowering my pupils",
          text: "I enjoy showing my pupils that maths is essential in everyday life. Whether it is identifying patterns, interpreting data, managing finances, or understanding the spaces and structures around us, everything uses maths.",
          accreditation: "Rotna, maths teacher",
        }
      ],
      colors: %w[pink],
      numbered: false
    ) %>
  </section>
  <section class="col col-720">
    <h2 class="heading--box-blue">What you'll be teaching</h2>
    <p>
      You'll teach the <a href="https://www.gov.uk/government/publications/national-curriculum-in-england-mathematics-programmes-of-study/national-curriculum-in-england-mathematics-programmes-of-study">national curriculum for maths</a>.
    </p>
    <h4>
      Themes you’ll cover when you teach 11 to 16 year olds (key stage 3 and 4) include:
    </h4>
    <ul>
      <li>Numbers</li>
      <li>Algebra</li>
      <li>Ratio, proportion and rates of change</li>
      <li>Geometry and measures</li>
      <li>Probability and statistics</li>
    </ul>
    <p>
      When you're teaching key stages 3 and 4 you can use interactive games with conkers and dice to help your pupils understand algebra and probability.
    </p>
    <p>
      <a href="https://www.thenational.academy/teachers/programmes/maths-secondary-ks3-l/units">Explore what teaching a key stage 3 maths lesson would be like</a>.
    </p>
  </section>
  <section class="col col-720">
    <h4>Themes you’ll cover when you teach 16 to 18 year olds (key stage 5), A or AS level core maths include:</h4>
    <ul>
      <li>Analysis of data</li>
      <li>Maths for personal finance</li>
      <li>Estimation</li>
      <li>Critical analysis of given data and models</li>
    </ul>
  </section>
    <section class="col col-720">
      <%= render Content::QuoteComponent.new(
      text: "I try to find out what they’re interested in, whether it’s card games, football or whatever, and use this to make maths relevant.",
      name: "Dimitra, maths teacher",
      large: true
    ) %>
  </section>
  <section class="col col-space-m col-720">
    <h2 class="heading--box-blue">Start your teaching journey</h2>
    <h3>Check your qualifications</h3>
    <p>
      To train to teach in secondary schools in England, you’ll need:
    </p>
    <ul>
      <li>GCSEs at grade 4 (C) or above in English and maths</li>
      <li>a bachelor’s degree in any subject</li>
    </ul>
    <p>
      Maths teacher training courses have had successful applications from candidates with a range of degrees, including psychology, music, architecture and law.
    </p>
    <p>
      Find out more about what <a href="/is-teaching-right-for-me/qualifications-you-need-to-teach">qualifications you need to train to teach</a>.
    </p>
    <p>
      Non-UK citizens can <a href="/non-uk-teachers/non-uk-qualifications">check your eligibility to train to teach in England</a>.
    </p>
  </section>
  <section class="col col-space-m col-720">
    <h3>Subject knowledge enhancement course (SKE)</h3>
    <p>
      If your training provider thinks you need to top up your maths knowledge, you might need to do an <a href="/how-to-apply-for-teacher-training/subject-knowledge-enhancement">SKE course</a> before you start your teacher training.
    </p>
  </section>
  <section class="col col-space-m col-720">
    <h3>Fund your teacher training</h3>
    <p>
      <a href="/funding-and-support/scholarships-and-bursaries"> Tax-free bursaries of <%= v :bursaries_postgraduate_maths %> or scholarships of <%= v :scholarships_maths %></a> are available for eligible trainee maths teachers.
    </p>
    <p>
      You can get a bursary or scholarship alongside a tuition fee loan and maintenance loan.
    </p>
    <p>
      You may also be able to get <a href="/funding-and-support">extra funding and support</a> if you're:
    </p>
    <ul>
      <li>a parent or carer</li>
      <li>disabled</li>
    </ul>
    <p>
      Non-UK citizens without indefinite leave to remain in the UK are unlikely to be eligible for funding.
    </p>
    <p>
      Find out more about <a href="/non-uk-teachers/fees-and-funding-for-non-uk-trainees">fees and financial support for non-UK trainee teachers</a>.
    </p>
  </section>
  <section class="col col-space-m col-720">
    <h3>Paid internship</h3>
    <p>
      If you’re currently doing an undergraduate or master's degree and are interested in teaching maths, you could apply for a <a href="/is-teaching-right-for-me/teaching-internship-providers">paid teaching internship</a>.
    </p>
    <p>
      The 3-week programme could help you to understand what it’s really like in the classroom and get a feel for school life.
    </p>
  </section>
</div>
