<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <p>If you're thinking about changing careers to become a teacher, knowing where to start and understanding what your options are can seem overwhelming. There's lots of dedicated support available to help you navigate the change.</p>
    <h2 class="heading--box-blue">Get advice and guidance from an expert</h2>
    <h3>Teacher training advisers</h3>
    <p>Our experienced teacher training advisers offer free one-to-one support to thousands of people each year to support them through a career change into teaching. All of our advisers have years of teaching experience, so can also give practical advice and insights on what life in the classroom is like.</p>
    <p>If you're not sure if teaching is right for you, they may know of support available that you're not aware of, or can give practical advice on how other career changers have successfully trained to be a teacher.</p>
    <p>To sign up you'll need to have, or be studying for, a bachelor's degree with honours.</p>
    <p>You can chat to your dedicated adviser by phone, text or email.</p>
    <p>Find out more about <a href="/teacher-training-advisers">getting a teacher training adviser</a>.</p>
    <h3>Now Teach</h3>
    <p>If you have a degree, you may be able to get <a href="https://nowteach.org.uk/">support from the charity Now Teach</a>. They specifically help people get into teaching who are changing career.</p>
  </section>
  <section class="col col-720">
    <%= render Content::QuoteComponent.new(
    text: "Changing careers might seem daunting, but it will be the best decision you ever make. Teaching is such a rewarding career and offers levels of satisfaction that other professions could only dream of providing",
    name: "Phil, career changer",
    large: false
  ) %>
  </section>
  <section class="col col-720">
    <h2 class="heading--box-blue">Applying for teacher training</h2>
    <p>When you apply for teacher training, you'll need to include things like proof of qualifications, and a written personal statement explaining why you want to become a teacher.<p>
    <p>To help show your qualifications, you can <a href="https://www.gov.uk/replacement-exam-certificate">get a certified statement of your exam results</a> if you did GCSEs, CSEs, O levels or A levels in the UK. If you have a degree, you should also be able to request a copy of your degree certificate from the organisation where you studied in the UK.</p>
    <p>If it's been a while since you've applied for a training course, you can get one-to-one guidance from a teacher training adviser. For example, they can support you with writing a personal statements and preparing for interviews. You can also explore our guides and tips on <a href="/how-to-apply-for-teacher-training">how to apply for teacher training</a>.</p>
    <h2 class="heading--box-blue">During your training and early career</h3>
    <p>Your training will equip you with all the knowledge you need to thrive in teaching environments.</p>
    <p>You'll also get lots of support while you train. For example, if you do postgraduate initial teacher training, you'll have the support of a mentor.</p>
    <p>Your mentor will:</p>
    <ul>
      <li>guide you through your training, sharing learning and career development opportunities with you</li>
      <li>meet with you regularly to make sure your training is a positive experience</li>
    </ul>
    <p>All teacher training involves some for of school placement. Throughout your time in schools, you'll be part of a welcoming school community where you'll learn from fellow teachers through taught sessions, seminars and workshops.</p>
    <p>Once you've completed your initial teacher training, you'll continue to be supported during your first 2 years of teaching. Find out what support you'll get as <a href="/life-as-a-teacher/teaching-as-a-career/early-career-teachers">an early career teacher</a>.</p>
    <h2 class="heading--box-blue">Financial support</h2>
    <p>There are lots of financial support options available for trainee teachers. For example, you may be able to get bursaries and scholarships, student loans, or a place on a salaried training course. The financial support options vary depending on the teacher training route and eligibility criteria.</p>
    <p>Find out more about the different routes and <a href="/life-as-a-teacher/change-careers/how-to-change-careers-to-become-a-teacher">how to change career to become a teacher</a>.</p>
  </section>
</div>
