<div class="row inset">
  <section class="col col-720 col-space-l-top">
  <p>A dedicated teacher training adviser can give you free support and guidance, tailored to your circumstances.</p>

  <p>If teaching is just an idea, they can:</p>
  <ul>
    <li>help you understand what teaching is really like</li>
    <li>help you find school experience</li>
    <li>explain the steps to becoming a teacher</li>
  </ul>

  <p>If you’re ready to apply, they can support you with:</p>
  <ul>
    <li>writing your personal statement</li>
    <li>understanding different training options</li>
    <li>preparing for interviews</li>
  </ul>

  <p>If you’ve applied and been unsuccessful, they can help you:</p>
  <ul>
    <li>improve your application</li>
    <li>act on any feedback</li>
  </ul>
  </section>
</div>
