<div class="row inset">
  <section class="col col-720 col-space-l-top">
  <p>A dedicated teacher training adviser can give you free support and guidance, tailored to your circumstances.</p>

  <p>If teaching is just an idea, they can help you:</p>
  <ul>
    <li>understand what teaching is really like</li>
    <li>find school experience</li>
    <li>understand the steps to becoming a teacher</li>
  </ul>

  <p>If you’re ready to apply, they can help you:</p>
  <ul>
    <li>with your personal statement</li>
    <li>understand the different training options</li>
    <li>prepare for interviews</li>
  </ul>

  <p>If you’ve applied and been unsuccessful, they can help you:</p>
  <ul>
    <li>improve your application</li>
    <li>act on any feedback</li>
  </ul>
  <%= render "content/shared/quotes/quote_advisers_habiba" %>

  <p>All our advisers have years of teaching experience, and you can talk as little or as often as you need by phone, text or email.</p>
  </section>
</div>
