    <p>
      Teacher training advisers give you free, one-to-one support, whether you’re just thinking about teaching or you’re ready to apply.
    </p>

    <p>
      They have years of teaching experience and can answer all your questions about life in the classroom, as well as how you can get there.
    </p>
    <%= render Content::QuoteComponent.new(
      text: "They would answer any question I had, small or big, in a relaxed environment.",
      name: "Teacher training candidate",
      classes: "quote--indent"
    ) %>
    <h2 class="heading--box-blue">How does it work?</h2>
    <p>You’ll be matched with your own dedicated adviser. You’ll have the same adviser throughout your journey into teaching.</p>

    <p>How often you talk to them is up to you – this could be every week for more than a year, or just a few times for some one-to-one support.</p>

    <p>You can chat by phone, or by:</p>

    <ul>
      <li>email</li>
      <li>text</li>
      <li>WhatsApp</li>
    </ul>
    <h2 class="heading--box-blue">How can your adviser help you?</h2>
    <h3>If teaching is just an idea</h3>
    <p>
      Your adviser can talk to you about what teaching is really like and help you understand if it’s right for you.
    </p>

    <p>
      They can:
    </p>

    <ul>
      <li>talk through your questions and any doubts ​</li>
      <li>help you find school experience</li>
      <li>explain the steps to becoming a teacher</li>
    </ul>

    <h3>If you’re ready to apply</h3>

    <p>
      Your adviser can talk you through the application process step by step.
    </p>

    <p>
      They can support you with:
    </p>

    <ul>
      <li>writing your personal statement</li>
      <li>understanding your different training options</li>
      <li>preparing for interviews</li>
    </ul>

    <%= render Content::QuoteComponent.new(
      text: "The application process went smoothly thanks to the help of my teacher training adviser, Ellie.",
      name: "Habiba, teacher with a hearing impairment",
      classes: "quote--indent"
    ) %>

    <p>
      Read how <a href="/blog/overcoming-challenges-to-become-a-teacher-hearing-impairment">Habiba successfully applied to train to teach</a>.
    </p>

    <h3>If you’ve applied and been unsuccessful</h3>

    <p>
      Your adviser can help you improve your application if you were not successful the first time around
    </p>

    <p>
      They can help you:
    </p>

    <ul>
      <li>act on any feedback</li>
      <li>make your application stronger</li>
    </ul>

    <h2 class="heading--box-blue">Can I get an adviser?</h2>

    <p>To sign up you’ll need to have, or be in your final year of studying for, a bachelor’s degree with honours. You’ll need to have or be predicted a grade 2:2 or higher (or an equivalent).</p>

    <p>If you’re already a qualified teacher, you’ll need English qualified teacher status (QTS) and want to teach in an English state school.</p>

    <p>If you got your qualifications outside the UK, <a href="tel:08003892500">call us on 0800 389 2500 to check if you’re eligible for an adviser</a>.</p>
