<div class="row inset">
  <section class="col col-720 col-space-l-top">
  <p>A dedicated teacher training adviser can give you free support and guidance, tailored to your circumstances.</p>

  <p>If teaching is just an idea, they can:</p>
  <ul>
    <li>help you understand what teaching is really like</li>
    <li>help you find school experience</li>
    <li>explain the steps to becoming a teacher</li>
  </ul>

  <p>If you’re ready to apply, they can support you with:</p>
  <ul>
    <li>writing your personal statement</li>
    <li>understanding different training options</li>
    <li>preparing for interviews</li>
  </ul>

  <p>If you’ve applied and been unsuccessful, they can help you:</p>
  <ul>
    <li>improve your application</li>
    <li>act on any feedback</li>
  </ul>

  <%= render "content/shared/quotes/quote_advisers_habiba" %>

  <p>All our advisers have years of teaching experience, and you can talk as little or as often as you need by phone, text or email.</p>

  <h2>Who can get an adviser</h2>
  <p>To get an adviser, you need to have or be studying towards a bachelor’s degree.</p>
  
  <p>If you got your qualifications outside the UK, <a href="tel:08003892500">call us on 0800 389 2500 to check if you’re eligible</a>.</p>

  <p>If you’re a veteran, you do not need to have or be studying for a degree to get support from an adviser. <a href="tel:08003892500">Call us on 0800 389 2500</a> to get an adviser.</p>
  </section>
</div>
