<div class="row inset">
  <section class="col col-720 col-space-l-top">
  <h2 class="heading--box-blue">Who can get an adviser</h2>
  <p>To get an adviser, you need to have or be studying towards a bachelor’s degree. You’ll need to have or be predicted a grade 2:2 or higher (or an equivalent).</p>

  <p>If you got your qualifications outside the UK, <a href="tel:08003892500">call us on 0800 389 2500</a> to check if you’re eligible.</p>

  <p>If you’re a veteran, you do not need to have or be studying for a degree to get support from an adviser. <a href="tel:08003892500">Call us on 0800 389 2500</a> to get an adviser.</p>
  </section>
</div>
