    <h3>If you’re a veteran</h3>

    <p>If you’re a veteran, you do not need to have or be studying for a bachelor's degree to get support from an adviser.</p>

    <p><a href="tel:08003892500">Call us on 0800 389 2500</a> to get an adviser.</p>

    <p>Our telephone service is available Monday to Friday between 8:30am and 5:30pm, except on <a href="https://www.gov.uk/bank-holidays">bank holidays</a>.</p>

    <h2 class="heading--box-blue">Not a final year student or graduate?</h2>

    <p>You can still get an adviser if you’re an undergraduate student not in your final year.</p>

    <p>Our explore teaching advisers can help you find out what teaching is really like.</p>

    <p><a href="/explore-teaching-advisers">Find out more about explore teaching advisers</a>.</p>
