<%= render Header::BreadcrumbComponent.new %>

<div class="hero grey content-even">
  <%= image_pack_tag(@front_matter["image"], alt: "Teacher trainig advisers") %>
  <div class="hero__title">
    <h1 class="heading--box-padded heading--box-padding-l heading--box-yellow">Teacher training advisers</h1>
  </div>
</div>
