<div class="row">
  <div class="grey col-space-l">
    <section class="col col-720 col-space-0">
      <%= render Content::AdviserComponent.new(
        title: "",
        intro: "",
        color: "transparent",
        margin: false,
        heading: :l
      ) %>
    </section>
  </div>
</div>
