<div class="row">
  <section class="col col-720">
    <%= render Content::MailingListComponent.new(
      title: "Get free help and support tailored to you",
      intro: "Discover how exciting and rewarding teaching can be. To receive advice on getting into teacher training straight to your inbox, just answer a few quick questions about yourself."
    ) %>
  </section>
</div>
