<div class="row inset">
<section class="col col-720">
  <p> You can show your pupils the complex and diverse phenomena of both the natural and man-made worlds through chemistry.</p>
  <p> Teach pupils transferable skills that go beyond the periodic table. Communication, collaboration and critical thinking are all key when it comes to presenting findings, debating ideas and adapting to new challenges
  </section>
   <section class="col col-space-s col-content-max">
    <%= render TextBlockWithTwoImagesComponent.new(
      heading: "Spark curiosity",
      colour: "yellow",
      image_1_path: "static/images/content/hero-images/0012.jpg",
      image_1_alt: "Pupils listening to a science lesson.",
      image_2_path: "static/images/content/hero-images/0007.jpg",
      image_2_alt: "Teacher talking to a pupil in a classroom.",
    ) do %>
       <p>“Science had always been my passion in school; being on the other side of the teacher’s desk made me fall straight back in love with it.”</p>
  <p>Rachel Shaw - STEM teacher</p>
    <% end %>
</section>
<section class="col col-720">
      <h2>What you'll be teaching</h2>
<p>Key Stage 3 is formed of 19 themes from the 3 science disciplines: chemistry, biology and physics.</p>
<p>You'll teach themes from the <a href="https://www.gov.uk/government/publications/national-curriculum-in-england-science-programmes-of-study">national curriculum for chemistry</a>.</p>
      <p>When teaching 11 to 14 year olds (key stage 3), you could use interactive exercises during your lessons, like using water guns to make solutions in test tubes. Themes you might cover include:</p>
        <ul class="vertical-tags">
          <li class="tag">The particulate nature of matter </li>
          <li class="tag">Atoms, elements and compounds </li>
          <li class="tag">Pure and impure substances </li>
          <li class="tag">Chemical reactions </li>
          <li class="tag">Energetics </li>
          <li class="tag">The Periodic Table   </li>
          <li class="tag">Materials </li>
          <li class="tag">Earth and atmosphere </li>
        </ul>
      <p>You'll teach 14 to 16 year olds (key stage 4) chemistry as a GCSE qualification. You will use fun experiments like making ink disappear with electricity to spark their interest. Themes you might also cover include:</p>
       <ul class="vertical-tags">
        <li class="tag">Atomic structure and the Periodic Table </li>
        <li class="tag">Structure, bonding and the properties of matter</li>
        <li class="tag">Chemical changes </li>
        <li class="tag">Energy changes in chemistry </li>
        <li class="tag">Rate and extent of chemical change </li>
        <li class="tag">Chemical analysis  </li>
        <li class="tag">Chemical and allied industries </li>
        <li class="tag">Earth and atmospheric science </li>
        </ul>
<p><a href="https://www.thenational.academy/teachers/programmes/chemistry-secondary-ks4-l/units/atomic-structure-and-the-periodic-table-u68nqqc/lessons">Explore what teaching a chemistry lesson would be like.</a>.</p>
  </section>
   <section class="col col-720">
  <%= render Content::QuoteComponent.new(
    text: "quote",
    name: "name",
    background: "grey",
    large: true
  ) %>
</section>

 <section class="col col-space-s col-content-max">
    <%= render TextBlockWithOneImageComponent.new(
      heading: "Next steps into teacher training",
      colour: "yellow",
      image_path: "static/images/content/hero-images/0006.jpg",
      image_alt: "Classroom full of pupils.",
    ) %>
  </section>
<section class="col col-space-m col-720">
<h2>Check your qualifications</h2>
<p>To train to teach in secondary schools in England, you’ll need:</p>
<ul>
<li>GCSEs at grade 4 (C) or above in English and maths</li>
<li>a bachelor’s degree in any subject</li>
</ul>
<p><a href="/non-uk-teachers/train-to-teach-in-england-as-an-international-student">Non-UK citizens can find out more about training to teach in England</a>.</p>
<p>If your training provider thinks you need to top up your chemistry knowledge, you might need to do a <a href="/how-to-apply-for-teacher-training/subject-knowledge-enhancement">subject knowledge enhancement (SKE) course</a> before you start your teacher training.</p>
<p><a href="/is-teaching-right-for-me/qualifications-you-need-to-teach">Find out more about the qualifications needed to train to teach</a>.</p>
<p><a href="/is-teaching-right-for-me/qualifications-you-need-to-teach">Find out about the qualifications needed to teach</a>.</p>
<h2>Funding for training to teach chemistry</h2>
<p><a href="/funding-and-support/scholarships-and-bursaries">Bursaries of £28,000 or scholarships of £30,000 are available for eligible trainee chemistry teachers</a>.</p>
<p>You can receive this alongside a tuition fee and maintenance loan.</p>
<p>You may also be able to get <a href="/funding-and-support">extra funding support</a> if you are:</p>
<ul>
<li>a parent or carer</li>
<li>disabled</li>
</ul>
<p>Non-UK citizens without indefinite leave to remain in the UK are unlikely to be eligible for funding. </p>
<p>You can <a href="non-uk-teachers/fees-and-funding-for-non-uk-trainees">find out more about fees and financial support available for non-UK citizens</a>.</p>
<h2>>Paid internship</h2>
<p>If you’re currently doing an undergraduate or master's degree and are interested in teaching computing, you could apply for a <a href="/is-teaching-right-for-me/teaching-internship-providers">paid teaching internship</a>.</p>
<p>The 3 week programme could help you to understand what it’s really like in the classroom and get a feel for school life.</p>
<p>You can also find out what it's like to be in a classroom through <a href="/is-teaching-right-for-me/get-school-experience">unpaid school experience</a>.</p>
</section>
</div>
