<div class="row inset">
<section class="col col-720">
  <p> You can show your pupils the complex and diverse phenomena of both the natural and man-made worlds through chemistry. </p>

  </section>

   <section class="col col-space-s col-content-max">
    <%= render TextBlockWithTwoImagesComponent.new(
      heading: "Spark curiosity",
      colour: "yellow",
      image_1_path: "static/images/content/hero-images/0012.jpg",
      image_1_alt: "Pupils listening to a science lesson.",
      image_2_path: "static/images/content/hero-images/0007.jpg",
      image_2_alt: "Teacher talking to a pupil in a classroom.",
    ) do %>
       <p>
    “Science had always been my passion in school; being on the other side of the teacher’s desk made me fall straight back in love with it.”.
  </p>

  <p>
    Rachel Shaw - STEM teacher </p>
    <% end %>
</section>
<section class="col col-720">
      <h2>What you'll be teaching</h2>
      <p>
      Key Stage 3 is formed of 19 themes from the 3 science disciplines: chemistry, biology and physics. The chemistry themes for 11 to 14 year olds (key stage 3) are:</p>
        <ul class="vertical-tags">
          <li class="tag">The particulate nature of matter </li>
          <li class="tag">Atoms, elements and compounds </li>
          <li class="tag">Pure and impure substances </li>
          <li class="tag">Chemical reactions </li>
          <li class="tag">Energetics </li>
          <li class="tag">The Periodic Table   </li>
          <li class="tag">Materials </li>
          <li class="tag">Earth and atmosphere </li>
        </ul>
      <p>
        14 to 16 year olds (key stage 4):
      </p>
       <ul class="vertical-tags">
        <li class="tag">Atomic structure and the Periodic Table </li>
        <li class="tag">Structure, bonding and the properties of matter</li>
        <li class="tag">Chemical changes </li>
        <li class="tag">Energy changes in chemistry </li>
        <li class="tag">Rate and extent of chemical change </li>
        <li class="tag">Chemical analysis  </li>
        <li class="tag">Chemical and allied industries </li>
        <li class="tag">Earth and atmospheric science </li>

      </ul>
      
    <p>
      <a href="https://www.gov.uk/government/publications/national-curriculum-in-england-science-programmes-of-study/national-curriculum-in-england-science-programmes-of-study">Read the national curriculum for more information about physics lessons</a>.
    </p>

<p>You can look at <a href="https://www.thenational.academy/teachers/programmes/chemistry-secondary-ks4-l/units/atomic-structure-and-the-periodic-table-u68nqqc/lessons/atoms-elements-and-compounds-h3hasv#slide-deck">example lesson plans for a key stage 4</a>.</p>
    <p>
      You may also get the opportunity to teach other subjects, particularly for 11 to 16 year olds and in some cases for post-16. This will vary depending on individual schools.
    </p>
  </section>
   <section class="col col-720">
  <%= render Content::QuoteComponent.new(
    text: "quote",
    name: "name",
    background: "grey",
    large: true
  ) %>
</section>

 <section class="col col-space-s col-content-max">
    <%= render TextBlockWithOneImageComponent.new(
      heading: "Next steps into teacher training",
      colour: "yellow",
      image_path: "static/images/content/hero-images/0006.jpg",
      image_alt: "Classroom full of pupils.",
    ) %>
  </section>

  <section class="col col-space-m col-720">
    <h3>Funding for training to teach chemistry</h3>

    <p>To train to be a chemistry teacher, you'll need to do a teacher training course.</p>

<p>Bursaries of £28,000 and scholarships of £30,000 are available for <a href="https://getintoteaching.education.gov.uk/funding-and-support/scholarships-and-bursaries?funding_widget%5Bsubject%5D=chemistry&button=#funding-widget">eligible trainee chemistry teachers</a>.</p><p>

You can receive this alongside a tuition fee and maintenance loan.</p>

<p>You may also be able to get extra funding support if you are:</p>
<ul><li>
a parent or carer</li>
<li>disabled</li>
</ul>
<p>Non-UK citizens without indefinite leave to remain in the UK are unlikely to be eligible for funding.</p>
  </section>

  <section class="col col-space-m col-720">
    <h3>Check your qualifications</h3>
    <p>You'll need a bachelors degree before training to teach but it does not have to be in chemistry. Alongside chemistry, The most popular degrees people have before doing a teacher training course in chemistry are:</p>
<ul>
  <li>biomedical sciences</li>
<li>forensic science</li>
<li>pharmacology  </li>
</ul>

<p>To train to teach in primary and secondary schools in England, you’ll need:</p>
<ul>
<li>GCSEs at grade 4 (C) or above in English and maths (and science if you want to teach primary)</li>
<li>a bachelor’s degree in any subject</li>
</ul>

<p>Your training provider may need you to brush up on your computing knowledge before you become a computing teacher. You can do a <a href="https://getintoteaching.education.gov.uk/how-to-apply-for-teacher-training/subject-knowledge-enhancement">subject knowledge enhancement (SKE) course</a> before you start your teacher training to top up your subject knowledge.</p>


    <p>
      <a href="/is-teaching-right-for-me/qualifications-you-need-to-teach">Find out about the qualifications needed to teach</a>.
    </p>
  </section>

  <section class="col col-space-m col-720">
    <h3>Paid internship</h3>

    <p>
     If you’re currently doing an undergraduate or master's degree and are interested in teaching computing, you could apply for a <a href="https://getintoteaching.education.gov.uk/is-teaching-right-for-me/teaching-internship-providers">paid teaching internship</a>.</p>

<p>The 3 week programme could help you to understand what it’s really like in the classroom and get a feel for school life.</p>
<p>You can also find out what it's like to be in a classroom through <a href="https://getintoteaching.education.gov.uk/is-teaching-right-for-me/get-school-experience">unpaid school experience</a>. </p>
  </section>
  
</div>
