html:not(.js-enabled) {
  display: block;
}

.covid {
  @include font;
  @include font-size("xsmall");
  line-height: 1.25;
  background-color: $black;
  color: $white;
  padding: 10px 20px;
  display: none;

  &.visible {
    display: block;
  }

  .limit-content-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  p {
    @include font-size("xsmall");
    line-height: 1.25;
    margin: 0 0 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__header {
    display: block;
    font-weight: bold;
    flex-grow: 1;
  }

  &__close {
    background: url("../images/icon-close.svg");
    display: block;
    width: 44px;
    height: 44px;
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-left: 20px;
  }

  a {
    color: $white;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      color: $black;
    }
  }
}
