@import "accessible-autocomplete";

.extra-navigation {
  &__list {
    font-size: .9rem;
    background-color: $grey;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }

  &__link a {
    display: inline-block;
    padding: 0.6em $indent-amount;
    color: $black;
    text-decoration: none;

    .icon {
      margin-left: 0.5em;
      width: 20px;
      height: 20px;

      &.icon-close {
        display: none;
      }
    }
  }

  &__search a {
    background-color: $pink;
    padding: 0.6em $indent-amount / 2;

    .icon {
      margin: 0;
    }
  }

  &.open {
    .searchbar {
      display: flex;
    }

    .extra-navigation__link a {
      .icon.icon-search {
        display: none;
      }

      .icon.icon-close {
        display: inline-block;
      }
    }
  }
}

.autocomplete__option {
  padding-left: 1em;
  margin-bottom: 0;

  h3 {
    @extend .heading-s, .heading--margin-0;
  }

  &:hover,
  &:focus {
    p, h3 {
      color: $white;
    }
  }
}

.searchbar {
  display: none;
  background-color: $pink;
  padding: 0.6em;
  justify-content: flex-end;

  @include mq($from: tablet) {
    margin-bottom: 21px;
  }

  .autocomplete__wrapper {
    width: 100%;

    input {
      width: 100%;
      background-color: $white;
      margin: 0;
    }

    @include mq($from: tablet) {
      width: auto;

      input {
        width: 500px;
      }
    }
  }
}
