@import "accessible-autocomplete";

.extra-navigation {
  &__list {
    font-size: 14px;
    background-color: $grey;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }

  .extra-navigation__link {
    margin-bottom: 0;
  }

  &__flex {
    display: flex;

    @include mq($until: mobile) {
      margin-right: auto;
    }
  }

  &__link a {
    display: inline-block;
    padding: .75em 1em;
    line-height: 24px;

    @include mq($until: mobile) {
      padding: .75em .8em;
    }

    .icon {
      margin-left: .5em;
      width: 24px;
      height: 24px;

      &.icon-close {
        display: none;
      }
    }
  }

  &__mail a {
    &:not(:focus) {
      .icon-mail-white {
        display: none;
      }
    }

    &:focus {
      .icon-mail {
        display: none;
      }
    }
  }

  &__calendar a {
    &:not(:focus) {
      .icon-calendar-white {
        display: none;
      }
    }

    &:focus {
      .icon-calendar {
        display: none;
      }
    }
  }
}
