.logo-wrapper {
  z-index: 0;
  overflow: hidden;
  top: 8px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;

  @include mq($from: tablet) {
	  	overflow: visible;
	  	padding-bottom: 0;
	  	top: -23px;
	  	position: relative;
  }
}

.logo {
  display: block;
  overflow-x: clip;

  a {
    text-decoration: none;
    display: block;

    &:focus {
      &:before {
        content: "";
        display: block;
        background: $yellow;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
      }
    }
  }

  &__image {
    @include rotated-block;
    background-color: $green-dark-90;
    z-index: 1000;

    // position the logo slightly off the left of the page
    // and make sure there's a slight gap beneath the extra nav
    // and that the DfE logo's suitably far away
    margin: 1em 1em 0 -.5em;

    img {
      padding: 1em;
      transform: rotate(3deg);

      // use the margin to set the size/aspect ratio of the logo's background

      // from the styleguide the ratios around the checkbox in the logo should be (using the checkbox for scale)
      // - border-at-edge-of-screen: 1.5 (the left side on the main header logo)
      // - border-closest-to-centre-of-screen: 1 (the right side on the main header logo)
      // - border-below: 1.5
      margin: .3em 1em .2em 2em;
    }
  }
}

.dfe-logo {
  top: 4px;
  flex-shrink: 0;

  img {
    margin-top: .5em;
    width: 100%;
  }
}
