.logo-wrapper {
  // background-color: thistle;

  z-index: 0;
  overflow-x: hidden;
  top: 8px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.logo {
  display: block;

  a {
    text-decoration: none;
    display: block;

    &:focus {
      &:before {
        content: "";
        display: block;
        background: $yellow;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
      }
    }
  }

  &__image {
    @include rotated-block;
    background-color: $green-dark-90;
    position: relative;
    z-index: 1000;
    margin: 1em 1em 0 -1em;

    img {
      padding: 2em;
      transform: rotate(3deg);
    }
  }
}

.dfe-logo {
  position: relative;
  top: 4px;
  flex: 0 0 auto;

  img {
    width: 100%;
  }
}

#mobile-navigation-menu-button {
  flex-grow: 1;
  text-align: right;

  @include mq($from: desktop) {
    display: none;
  }

  button {
    margin-right: 2em;
  }
}
