.menu-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include mq($from: desktop) {
    display: none;
  }

  .menu-button__button {
    border: 2px solid $green;
    background: $white;
    display: flex;
    margin-right: 2em;
    margin-left: 1em;
    padding: .8em 1.4em;
    
    &:hover {
	    cursor: pointer;
	    background: $green;
	    
    }

    &.open {
      .menu-button__icon {
        background-image: url("../images/icon-hamburger-close.svg");
      }
    }

    @include mq($until: tablet) {
      flex: 1;
      margin: 1em;
    }
  }

  .menu-button__text {
    display: inline-block;
    margin-left: .6em;
  }

  .menu-button__icon {
    width: 2em;
    height: 1rem;
    display: inline-block;
    background-image: url("../images/icon-hamburger.svg");
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    content: "";
  }
}
