.menu-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include mq($from: desktop) {
    display: none;
  }

  .menu-button__button {
    @include button($bg: $white, $fg: $cta-green);

    border: 4px solid $cta-green;
    display: flex;
    margin-right: 2em;
    margin-left: 1em;
    padding: .8em 1em;

    &:active {
      background-color: $white;
      box-shadow: none;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      border-color: $black;
    }

    &.open {
      background-color: $cta-green;
      color: $white;

      &:focus {
        background-color: $black;
      }

      &:focus .menu-button__icon {
        background-image: url("../images/icon-arrow-up.svg");
      }

      .menu-button__icon {
        background-image: url("../images/icon-arrow-up.svg");
      }
    }

    @include mq($until: tablet) {
      flex: 1;
      justify-content: space-between;
      margin: 1rem $indent-amount $indent-amount;
    }

    &:focus .menu-button__icon {
      background-image: url("../images/icon-arrow-down-white.svg");
    }

    .menu-button__text {
      display: inline-block;
      margin-right: .6em;
      font-weight: bold;
      font-size: 1.2rem;
    }

    .menu-button__icon {
      width: 16px;
      height: 22px;
      display: inline-block;
      background-image: url("../images/icon-arrow-down.svg");
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      content: "";
    }
  }
}
