.menu-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include mq($from: desktop) {
    display: none;
  }

  .menu-button__button {
    @include button($bg: $white, $fg: black);

    border: 2px solid $green;
    display: flex;
    margin-right: 2em;
    margin-left: 1em;
    padding: .8em 1.4em;

    &:hover {
      cursor: pointer;
    }

    &.open {
      &:focus .menu-button__icon {
        background-image: url("../images/icon-hamburger-close-white.svg");
      }

      .menu-button__icon {
        background-image: url("../images/icon-hamburger-close.svg");
      }
    }

    @include mq($until: tablet) {
      flex: 1;
      margin: 1em;
    }

    &:focus .menu-button__icon {
      background-image: url("../images/icon-hamburger-white.svg");
    }

    .menu-button__text {
      display: inline-block;
      margin-left: .6em;
      font-weight: normal;
      font-size: 0.9rem;
    }

    .menu-button__icon {
      width: 2em;
      height: 1rem;
      display: inline-block;
      background-image: url("../images/icon-hamburger.svg");
      background-position: center;
      background-size: 80%;
      background-repeat: no-repeat;
      content: "";
    }
  }
}
