@mixin list-item-nav {
  @include font-size("xsmall");

  padding: .5em;

  a {
    display: inline-block;
  }
}

@mixin active-identifier($colour) {
  border-left: 6px solid $colour;
  border-bottom: none;

  @include mq($from: desktop) {
    border-bottom: 6px solid $colour;
    border-left: none;
  }
}

body > header nav {
  // general
  display: flex;
  flex-grow: 1;

  ol.primary {
    list-style: none;
    display: flex;

    > li {
      @include list-item-nav;
      @include reset;
      line-height: 1.2;
      margin-bottom: 0;
    }
  }

  li > a {
    cursor: pointer;
  }

  // mobile and tablet
  @include mq($until: desktop) {
    flex-direction: column-reverse;

    &.hidden-mobile {
      display: none;
    }

    ol.primary {
      flex-direction: column;
      margin:0;
      background: $grey;

      > li {
        border-left: 6px solid $grey;
        border-bottom: 1px solid $white;
        max-width: 80%;

        &.active {
          border-left: 6px solid $purple;
        }

        > a,
        div {
          display: block;
          padding: 1em;
        }
      }
    }
  }

  // desktop and wide
  @include mq($from: desktop) {
    ol.primary {
      flex-grow: 1;
      align-items: flex-end;
      justify-content: flex-end;
      margin: 0 1em;
      padding: 0 1em;

      > li {
        position: relative;
        flex-direction: row;
        border-bottom: 6px solid $white;
        padding: 1em 1em 1.5em 1em;

        &.active {
          border-bottom: 6px solid $purple;
        }

        &.down {
          background-color: $grey;
          border-bottom: 6px solid $grey;
        }

        a {
          &:hover {
            border-bottom: 2px solid $black;
          }
        }

        a, div {
          line-height: 1.2;
          display: inline-block;
          padding: 0em .2em 0;
          border-bottom: 2px solid $white;
        }
      }
    }
  }
}
