@mixin list-item-nav {
  @include font-size("xsmall");
  padding: .5em;
}

@mixin active-identifier($colour) {
  border-left: 5px solid $colour;
  border-bottom: none;

  @include mq($from: desktop) {
    border-bottom: 5px solid $colour;
    border-left: none;
  }
}

body > header {
  button.btn-as-link {
    border-style: none;
    font: inherit;
    text-align: start;
    -moz-appearance: none;
    line-height: 1.375;
  }

  .menu-link {
    cursor: pointer;
  }

  #primary-navigation {
    // general
    display: flex;
    flex-grow: 1;

    ol.primary {
      list-style: none;
      display: flex;

      li {
        @include list-item-nav;
        @include reset;
        line-height: 1.2;
        margin-bottom: 0;
      }

      // general (mobile and desktop)
      .nav-icon {
        &__contracted {
          background-image: url("../images/navigation/arrow-down-pink.svg");
        }

        &__expanded {
          background-image: url("../images/navigation/arrow-up-pink.svg");
        }
      }

      // mobile only
      @include mq($until: desktop) {

        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
        padding: 0 1em;

        li {
          // NB: this is for all <li> elements in the mobile menu
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          font-size: 1em;

          .break {
            flex-basis: 100%;
            height: 2px;
            padding: 0;
            margin: 0;
          }

          &:last-child {
            border-bottom: none;
          }
        }

        // root level item only
        > li {
          border-bottom: solid 1px #B7B9BB;

          &:last-child {
            border-bottom: solid 1px #B7B9BB;
          }

          > .menu-link {
            font-weight: bold;
            border-left: none;
            padding-left: 0.625em;

            .nav-icon {
              &__contracted {
                background-image: url("../images/navigation/arrow-down-black.svg");
              }

              &__expanded {
                background-image: url("../images/navigation/arrow-up-black.svg");
              }
            }

            &:focus {
              .nav-icon {
                &__contracted {
                  background-image: url("../images/navigation/arrow-down-pink.svg");
                }

                &__expanded {
                  background-image: url("../images/navigation/arrow-up-pink.svg");
                }
              }
            }
          }
        }

        // category-level item only
        ol.category-links-list > li > .menu-link {
          > .nav-icon {
            &__contracted {
              background-image: url("../images/navigation/arrow-down-pink.svg");
            }

            &__expanded {
              background-image: url("../images/navigation/arrow-up-black.svg");
            }
          }

          &:focus {
            .nav-icon {
              &__contracted {
                background-image: url("../images/navigation/arrow-down-pink.svg");
              }

              &__expanded {
                background-image: url("../images/navigation/arrow-up-pink.svg");
              }
            }
          }
        }

        ol.category-links-list > li.selected > .menu-link {
          &:focus {
            .nav-icon {
              &__contracted {
                background-image: url("../images/navigation/arrow-down-pink.svg");
              }

              &__expanded {
                background-image: url("../images/navigation/arrow-up-black.svg");
              }
            }
          }
        }

        // all mobile menu links
        .menu-link {
          display: flex;
          justify-content: space-between;
          align-items: start;

          // NB: this is for all <a> elements
          padding: 0.875em 1.25em;
          flex-basis: 80px; // NB: setting this too large can cause some
          // elements to unexpectedly increase in height
          flex-grow: 1;
        }

        .nav-icon {
          padding-right: 0;
        }
      } // mobile

      // desktop only
      @include mq($from: desktop) {
        flex-grow: 1;
        align-items: flex-end;
        justify-content: flex-end;
        margin: 0 1em;
        padding: 0 1em;

        > li {
          position: relative;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;

          &.selected > .menu-link {
            box-shadow: 0 4px $pink;
            outline: 4px solid transparent;
          }

          &.down {
            background-color: $grey;
            border-bottom: 5px solid $grey;
          }


          a,
          button.btn-as-link,
          div {
            line-height: 1.5;
          }

          .break {
            display: none;
          }
        }


        .menu-link {
          display: inline-grid;
          grid-template-columns: minmax(min-content, max-content) min-content;
          grid-template-rows: 1fr;
          grid-column-gap: 0;
          grid-row-gap: 0;
          padding: 1.25em 0.75em;

          .menu-title {
            grid-area: 1 / 1 / 2 / 2;
            display: block;
          }

          .nav-icon {
            grid-area: 1 / 2 / 2 / 3;
            display: block;
          }
        }
      } // desktop
    } // ol.primary

    ol.category-links-list {
      // mobile and tablet
      @include mq($until: desktop) {
        padding-top: 6px;
        padding-left: 0;
        flex-basis: 100%;

        > li.selected {
          background: #F162A3;

          > a, button.btn-as-link {
            font-weight: bold;
            background: transparent;
          }
        }

        > li.view-all {
          background: #ffffff;
          border-left: none;
        }

        > li {
          background: #F0F0F0;
          font-size: 1em;
          font-weight: normal;
          border-left: solid #F162A3 4px;
          margin-bottom: 4px;
        }
      }
    }

    ol.page-links-list {
      @include mq($until: desktop) {
        padding: 0;
        flex-basis: 100%;

        > li {
          background: #ffffff;
          border-bottom: solid 1px #B7B9BB;
        }

        > li.selected {
          > a, button.btn-as-link {
            font-weight: bold;
          }
        }
      }
    }

    // mobile and tablet
    @include mq($until: desktop) {
      flex-direction: column-reverse;
    }

    // desktop and wide screen
    @include mq($from: desktop) {
      .hidden-desktop {
        display: none;
      }
    }
  }

  // NB: desktop only - no mobile version of secondary menu
  #secondary-navigation {
    @include mq($from: desktop) {
      &.expanded {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      ol.category-links-list, ol.page-links-list {
        display: flex;
        list-style: none;
        flex-direction: column;
        margin: 0;
        padding: 0.8em 0 0;
        background: #F0F0F0;

        > li {
          @include list-item-nav;
          @include reset;

          button.menu-link {
            width: 100%;
          }

          .menu-link {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.63em 0.94em;
            border-left: solid #F0F0F0 4px;

            &:focus {
              .nav-icon {
                &__contracted, &__expanded {
                  background-image: url("../images/navigation/arrow-right-white.svg");
                }
              }
            }

            &:hover {
              color: $black;
              background: #DEDEDE;

              .nav-icon {
                &__contracted, &__expanded {
                  background-image: url("../images/navigation/arrow-right-black.svg");
                }
              }
            }

            &:last-child {
              border-bottom: none;
            }

            &.active {
              color: $black;
              background: #DEDEDE;
            }

            .menu-title {
              display: block;
              font-size: 1em;
              padding-left: 0;
            }
          }

          .break {
            display: none;
          }
        }

        > li.selected > .menu-link {
          border-left: solid $pink 4px;
          background: $white;

          &:hover {
            color: $black;
            background: #DEDEDE;

            .nav-icon {
              &__contracted, &__expanded {
                background-image: url("../images/navigation/arrow-right-black.svg");
              }
            }
          }

          &:focus {
            color: $white;
            background: $black;

            .nav-icon {
              &__contracted, &__expanded {
                background-image: url("../images/navigation/arrow-right-white.svg");
              }
            }
          }
        }
      }

      .nav-icon {
        padding-right: 0;
        width: 12px;
        height: 21px;
        margin-top: 0;

        &__contracted, &__expanded {
          background-image: url("../images/navigation/arrow-right-black.svg");
        }
      }
    }
  }

  // NB: this section must appear below main menu definitions and applies to both mobile and desktop menus
  #primary-navigation, #secondary-navigation {
    ol.hidden-menu {
      display: none;
    }

    @include mq($until: desktop) {
      &.hidden-mobile {
        display: none;
      }
    }

    .nav-icon {
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
      display: block;
      width: 21px;
      height: 21px;
      margin-left: 0.25em;
      margin-right: 0.25em;
    }
  }
}


