<div class="subject-knowledge">
  <h3>Improve your subject knowledge</h3>
  <p>If your training provider thinks you need to top up your subject knowledge in <%= @subject %> before you become a teacher, you can do a subject knowledge enhancement (SKE) course.</p>
  <p>There are lots of reasons why someone might need to complete an SKE course. For example, if you finished your degree more than 5 years ago or if you have an A level but not a degree in the subject you want to teach.</p>
  <p>Find out more about <a href="/how-to-apply-for-teacher-training/subject-knowledge-enhancement">subject knowledge enhancement courses</a>.</p>
</div>

