<%= f.govuk_text_area :explanation,
                      label: {
                        tag: 'h1',
                        text: "Tell us about your experience",
                      } do %>
  <p>
    You can give general feedback or tell us about a specific problem. Do not include any information that could identify you personally, such as your name.
  </p>
<% end %>
