<h1>Share your feedback</h1>

<p>
We review this feedback to make our website better for people like you. Answer up to 4 questions to help us find out how we can improve.
</p>

<p>All feedback is anonymous and we cannot respond to individual queries. </p>

<p>If you have a question or need help, please visit our get help and support page. </p>

<%= f.govuk_fieldset legend: { text: "What would you like to do?", tag: "h1" } do %>
<%= f.govuk_select :action, f.object.class::OPTIONS, options: { prompt: "Please select" }, label: { text: "You can choose to either give feedback about our website or tell us about a specific problem you’re having." } %>
<% end %>
