<h1 class="govuk-label-wrapper">
  <label class="govuk-label">Share your feedback</label>
</h1>

<p>
Answer up to 4 questions to let us know how we can improve.
</p>

<p>All feedback is anonymous and we cannot respond to individual queries. </p>

<p>If you have a question or need help, please visit our get help and support page. </p>

<%= f.govuk_collection_select :topic,
      f.object.options,
      :id,
      :value,
      options: { prompt: "Please select" },
      label: { text: "What would you like to do?" } do
%>
<p>
  You can choose to either give feedback about our website or tell us about a specific problem you’re having.
</p>
<% end %>
