<h1 class="govuk-label-wrapper">Share your feedback</h1>

<p>We'll review this feedback to make our website better. Answer 3 questions to let us know how we can improve.</p>

<p>All feedback is anonymous and we cannot respond to individual queries. Do not enter any sensitive information, this includes things like your name and phone number.</p>

<p>If you have a question or need help, please visit our get <%= link_to "help and support page", "/help-and-support" %>.</p>

<%= f.govuk_collection_select :topic,
      f.object.options,
      :id,
      :value,
      options: { prompt: "Please select" },
      label: { text: "What would you like to do?" } do
%>
<p>
  You can choose to either give feedback about our website or signing up for a specific service.
</p>
<% end %>
