<%= f.govuk_text_area :unsuccessful_visit_explanation, label: { text: "Tell us about your experience signing up for #{feedback_session['subject']}"} do %>
<p>
  You can give general feedback or tell us about a specific problem.
  Do not include any information that could identify you personally, such as your name.
</p>
<% end %>

<%= f.govuk_collection_radio_buttons :rating,
  f.object.ratings,
  :id,
  :value,
  legend: { text: "Overall, how satisfied were you with our website?"}
%>
