<% topic = feedback_session.key?('topic') ? feedback_session['topic'].split.last(2).reject { |a| a == 'for' }.join(' ') : '' %>

<%= f.govuk_collection_radio_buttons :successful_visit,
  f.object.options,
  :id,
  :value,
  legend: { tag: "h1", text: "Give feedback on this sign-up form" } do
%>
<p>
  Tell us about your experience signing up for an adviser.
</p>
<p>
  Did you achieve what you wanted from your visit?
</p>
<% end %>

<%= f.govuk_text_area :unsuccessful_visit_explanation, label: { text: "What would you like to tell us about your experience signing up for #{topic}?"} do %>
<p>
  You can choose to either give general feedback or tell us about a specific problem you’re having.
  Do not include any information that could identify you personally, such as your name.
</p>
<% end %>

<%= f.govuk_collection_radio_buttons :rating,
  f.object.ratings,
  :id,
  :value,
  legend: { text: "Overall, how satisfied were you with your experience on our website?"}
%>
