<h1 class="govuk-label-wrapper">
  <label class="govuk-label">Give feedback about the website</label>
</h1>

<p>You can give general feedback about the website or tell us about an issue you are having.</p>

<%= f.govuk_select :value, f.object.class::OPTIONS, options: { prompt: "Please select" }, label: { text: "What would you like to do?", tag: "h1" } %>
