<%= f.govuk_text_area :unsuccessful_visit_explanation, label: { tag: 'h1', text: "Tell us about your issue."} do %>
<p>
  You can tell us what and where the issue is, as well as ways we could improve.
</p>
<% end %>

<%= f.govuk_collection_radio_buttons :rating,
  f.object.options,
  :id,
  :value,
  legend: nil do
%>
<p>
  Overall, how satisfied were you with your experience on our website?
</p>
<% end %>
