<% @hide_page_helpful_question = true %>

<section>
  <h1 class="heading-l heading--box-green feedback-thankyou">Thank you for your feedback</h1>

  <p class="heading-m">Your response has been submitted and will be reviewed by a member of our team.</p>
</section>
