<% @hide_page_helpful_question = true %>

<section>
  <h1 class="heading-l heading--box-blue feedback-thankyou">Thank you for your feedback</h1>

  <p>Your response has been submitted and will be reviewed by a member of our team.</p>
  <p><%= link_to "Go to the Get Into Teaching home page", '/' %>.</p>
</section>
