<div class="row">
  <div class="inset">
  <section class="col col-720">
    <h2 class="heading-l heading--box-blue">Set your goals</h2>

      <p>
        Setting yourself goals means you’ll know exactly what you want to get out of the day.
      </p>

      <p>
        It’s one of the most important things you can do to make sure you’re clear on your next steps. You might want to know:
      </p>

      <ul>
        <li>what the application process involves</li>
        <li>which training courses are available and the entry requirements</li>
        <li>how to decide which subject you’ll teach</li>
      </ul>

    <h2 class="heading-l heading--box-blue">Sort your questions</h2>

      <p>
        Sorting out which questions you want to ask means you’ll be prepared to get the right answers from the right experts.
      </p>

      <p>
        You may have sorted some already. If not, here are a few to get you started.
      <p>

      <p>You could ask teachers:</p>
      <ul>
        <li>how they built their confidence in the classroom</li>
        <li>what they enjoy most about the job</li>
        <li>how they juggle teaching with home life</li>
      </ul>

      <p>You could ask teacher training advisers:</p>
      <ul>
        <li>about the different routes into teaching</li>
        <li>about the funding options available</li>
        <li>to review your personal statement</li>
      </ul>

      <p>You could ask training providers:<p>
      <ul>
        <li>what a typical training term is like</li>
        <li>how much time would be spent in school or on academic learning</li>
        <li>how trainees are assessed with exams and coursework</li>
      </ul>

    <h2 class="heading-l heading--box-blue">Shape your day</h2>

      <p>
        Shaping your day now will help you work out the best way to spend your time.
      </p>

      <p>
         We recommend you start by attending a presentation.
      </p>
      <p>
      The following two presentations take place every hour during the event. They’ll give you lots of food for thought when you chat to our experts.
      </p>

      <ol>
        <li><strong> An introduction to teacher training </strong> is ideal if you want to explore your training options. You’ll get an overview of everything you need to know about the training process.</li>
        <li><strong>Ready to apply </strong> is great if you’ve decided to apply for training and want guidance on the application process.</li>
      </ol>
  </section>

  <section class="col col-space-s col-content-max">
    <%= render TextBlockWithTwoImagesComponent.new(
      heading: "Where to find the experts",
      colour: "yellow",
      image_1_path: "static/images/content/events/collage1.jpeg",
      image_1_alt: "A lady holding papers standing in front of someone smiling with other people and an event banner in the background.",
      image_2_path: "static/images/content/events/collage2.jpeg",
      image_2_alt: "A man holding an iPad wearing a blue Get Into Teaching t-shirt talking to a lady with an event banner behind.",
    ) do %>
      <p>
        From teachers to teacher training advisers and training providers, learn where to find the people who will help you take the next step into teaching.
      </p>
    <% end %>
  </section>

<section class="col col-720">

      <h3>Teachers</h3>

      <p>
        Find them in the Teacher Hub and discover what teaching is really like.
      </p>
      <p>
        Have one-to-one conversations and group discussions with teachers from primary and secondary schools specialising in a range of subjects.
      </p>

      <h3>Teacher training advisers</h3>

      <p>
        Find them in the Advice Zone and the Funding Zone.
      </p>
      <p>
        Speak to people with years of experience who specialise in supporting people on their journey into teaching.
      </p>

      <h3>Teacher training providers</h3>
      <p>
        Find them in the Provider Zone to chat about training courses and entry requirements.
      </p>

      <h3>Event staff</h3>
      <p> Our friendly team will be there to welcome you at the door. Ask them about the event, where to find the experts, and where you can get overseas qualifications checked.</p>

    <h3>Hear from attendees at Get Into Teaching events</h3>
    <p>Watch our video to see how people like you have got help and advice on training to teach at Get Into Teaching events.</p>

    <div class="video">
      <%= render Content::YoutubeVideoComponent.new(
        id: "w3AVk-ByUaA",
        title: "A video about What happens at a Get Into Teaching event"
      ) %>
      <p><a href="/events/what-happens-at-events-transcript">Read the transcript for the 'What happens at a Get Into Teaching event' video</a>.</p>
    </div>

    <h2 class="heading-l heading--box-blue">You're good to go</h2>
    <p>Put the time in now to make the most of this event and you’ll be all set for a great future.</p>
    <p>Want this information to hand on the day? Just bookmark it, take a picture of the bits you want to keep, or add it to the notes on your phone.</p>
    <h2 class="heading-l heading--box-blue">Need some help?</h2>
      <p>
        <a href="tel:08003892500">Call us on 0800 389 2500</a> Monday to Friday between 8:30am and 5:30pm, (except on <a href="https://www.gov.uk/bank-holidays">bank holidays</a>).
      </p>
    </div>
  </section>
</div>
