<div class="row" style="margin-top:60px">
  <div class="inset">
    <section class="col col-720 centered">

      <p>

      All the information you need for an exciting career in teaching.

      Now is the time to make sure everything is in place to get the most out of your event.
      </p>

      <ol class="steps">
        <li class="step">
          <header class="step__header">
            <div class="step__number">1</div>
            <span class="heading-m">Set your goals</span>
          </header>
        </li>
        <li class="step">
          <header class="step__header">
            <div class="step__number">2</div>
            <span class="heading-m">Sort your questions</span>
          </header>
        </li>
        <li class="step">
          <header class="step__header">
            <div class="step__number">3</div>
            <span class="heading-m">Shape your day</span>
          </header>
        </li>
      </ol>
    </section>
  </div>
</div>
