<%= render "sections/hero",  
    :header => "Schools and university events", 
    :image => "media/images/hero-events.png" 
%>

<section class="types-of-event content container-1000">

    <div class="content__left">
        <%= link_to "All events", events_path, class: "backlink" %>
        <p>
            At our Train to Teach events, you can meet experienced teaching professionals who can answer all of your questions. 
        </p>
    </div>

</section>

<section class="search-for-events-results content container-1000">
  <% 6.times.do %>
    <a class="event-link" href="/eventschool">
        <%= render "components/eventbox", 
            :title => "Heart TSA - Zoom train to teach information event",
            :datetime => "11 May 2020 at 17:00 - 18:30",
            :description => "Find out more about how you can #inspireageneration by training to teach with Heart TSA.",
            :type => GetIntoTeachingApi::Constants::EVENT_TYPES["School and University Event"],
            :online => true
        %>
    </a>
  <% end %>
</section>

