<%= render "sections/hero",  
    :header => "Train to teach events", 
    :image => "media/images/hero-events.png",
    :deep => false,
    :mailinglist => false 
%>

<section class="types-of-event content container-1000">

    <div class="content__left">
        <%= link_to "All events", events_path, class: "backlink" %>
        <p>
            At our Train to Teach events, you can meet experienced teaching professionals who can answer all of your questions. 
        </p>
        <h3>You’ll get the chance to:</h3>
        <ul>
            <li><span>Speak to experts about ways into teacher training and available funding</span></li>
            <li><span>Talk one-to-one with experienced and newly qualified teachers to find out what Teaching is really like</span></li>
            <li><span>Get advice on your teacher training application</span></li>
            <li><span>Talk to schools and universities in your area to help you decide on the best place for you to train and how to apply</span></li>
        </ul>
        <p>
            You can drop in at any time. Allow at least two hours to make the most of your visit. Train to Teach presentations run hourly throughout the event. 
        </p>
        <p>
            Check event timetables to make sure you don’t miss anything.
        </p>
    </div>

</section>

<section class="search-for-events-results content container-1000">
  <% 9.times.do %>
    <a class="event-link" href="/event">
        <%= render "components/eventbox", 
            :title => "Train to teach Bristol Online event",
            :datetime => "11 May 2020 at 17:00 - 18:30",
            :description => "This online event specifically for anybody looking to train to teach in Bristol will give you the opportunity to ask our experts questions about teacher training.",
            :type => GetIntoTeachingApiClient::Constants::EVENT_TYPES["Train to Teach event"],
            :online => false,
            :location => "Bristol"
        %>
    </a>
  <% end %>
</section>

