<%= render "sections/hero",  :header => "Aspire - School Direct Information morning and application advice", :image => "media/images/hero-events.png" %>

<section class="event-info content container-1000" role="main">
    <div class="content__right">
        <%= render "components/eventboxshort", 
            :title => "Train to teach Coventry Online event",
            :datetime => "11 May 2020 at 17:00 - 18:30",
            :schooloruni => false,
            :description => "This online event specifically for anybody looking to train to teach in Coventry will give you the opportunity to ask our experts questions about teacher training.",
            :traintoteach => false,
            :online => true,
            :location => "Overton"
        %>
    </div>
    <div class="content__left">
        <h1 class="strapline-article">Event information</h1>
        <p>
            Our local Train to Teach events have gone online and will now take the format of online question and answer sessions. 
        </p>
        <p>
            This event is specifically for those who are looking to train to teach in Coventry and will give you the opportunity to ask our teaching experts questions on eligibility, the application process and funding. 
        </p>
        <p>
            When you sign up we will send you links to the Train to Teach presentations which give an overview of teacher training, the different options available, financial support and the application process.
        </p>
    </div>
    <div class="event-info__venue">
        <h1 class="strapline-article">Venue information</h1>
        <p>
            Overton CE Primary School, Court Drove, Overton, RG25 3ES. 
        </p>
        <p>
            Visit venue website.
        </p>
        <div class="event-info__venue__map"></div>
        <h1 class="strapline-article">How to attend</h1>
        <p>
            To access this event, please sign up on this page and watch out for the reminder email we will send the day before the event. It will contain an access link to the live online event and a directory of some of the local training providers.
        </p>
        <a href="events/21849bfb-0cba-ea11-a812-000d3a44afcc/apply" class="call-to-action-button">
            Sign up for this <span>event</span>
        </a>
    </div>
</section>