<div class="quote-itasha">
 <%= render Content::QuoteComponent.new(
      text: "I love theatre and teaching young people how to practise life! Watching their journey from year 7 to 13 is priceless.",
      name: "Itasha, drama teacher",
      large: true
    ) %>
</div>
