<div class="row inset">
  <section class="col col-720">
    <%= render Content::QuoteComponent.new(
      text: "I promise the level of satisfaction is like nothing you’ll get in another job.
        I wake up every morning and want to get into school.",
      name: "Phil, teacher",
      large: true
    ) %>
  </section>
</div>