<div class="row">
  <div class="col-space-l col-space-l-top">
    <%= render Content::QuoteWithImageComponent.new(
       title: "Teacher stories",
      text: "<p>When I saw them start to turn up to play rugby in their own time, I really felt like I’d achieved something.</p><p><a href='/life-as-a-teacher/teaching-as-a-career/turning-a-tough-lesson-into-a-success'>Read about how Danny engages pupils in his PE lessons</a>.</p>",
      quotes: true,
      background_color: "blue",
      heading_color: "pink",
     ) %>
  </div>
</div>
