<div class="quote-richard">
 <%= render Content::QuoteComponent.new(
      text: "In teaching, you see young people grow into mature adults. It’s an incredible feeling to know you’ve played a part in shaping their futures.",
      name: "Richard, art teacher",
      large: true
    ) %>
</div>
