<div class="quote-sandra">
 <%= render Content::QuoteComponent.new(
      text: "The teachers who stick in my mind are the ones that gave me their time and effort, and really prepared me for my future. I chose to train as a teacher so that I could do the same and give something back.",
      name: "Sandra, religious education teacher",
      large: true
    ) %>
</div>
