<div class="quote-tom">
  <%= render Content::QuoteComponent.new(
    text: "Teaching languages is so much more than teaching grammar and vocabulary. You get to introduce students to new cultures and a different way of doing things. In an increasingly globalised world, you’re providing kids with an incredibly valuable skill that they’ll cherish for their entire lives.",
    name: "Tom, languages teacher",
    large: true
  ) %>
</div>
