<div class="quote-laura">
 <%= render Content::QuoteComponent.new(
      text: "When a student can read and talk about their views, it opens them up to so many opportunities. It’s all about having confidence, and I can actually play a part in making that happen.",
      name: "Laura, English teacher",
      large: true
    ) %>
</div>
