<div class="row">
  <div class="col-space-l col-space-l-top">
    <%= render Content::QuoteWithImageComponent.new(
      title: "Example title to go here",
      text: "<p>Example information or quote</p><a href='#'>Link text</a>",
      quotes: true,
      background_color: "blue",
      heading_color: "pink",
      image_path: "static/images/content/case-studies/abigail.jpg"
    ) %>
  </div>
</div>