<div class="quote-jaqui">
   <%= render Content::QuoteComponent.new(
    text: "There’s a lot of sharing of stories and the kids can be so funny, they really crack me up. Plus, I enjoy the holidays. I get to travel still and can keep up with my languages.",
    name: "Jacqui, languages teacher",
    large: true
  ) %>
</div>
