<div class="quote-jon">
 <%= render Content::QuoteComponent.new(
      text: " I realised my real passion lay in teaching geography. In addition, it was clear to me that geography is becoming a subject that will rise in importance and be in far more demand over the next decade.",
      name: "Jon, geography teacher",
      large: true
    ) %>
</div>
