<div class="row">
  <div class="col-space-l col-space-l-top">
    <%= render Content::QuoteWithImageComponent.new(
      title: "Teacher career progression stories",
      text: "<p>I completed the National Professional Qualification for Senior Leadership (NPQSL), which involved running a project across the whole school. This has given me the opportunity to work more closely with the senior leadership team and has helped strengthen my relationships with colleagues in other departments in the school.</p><p><a href='/life-as-a-teacher/teaching-as-a-career/abigails-career-progression-story'>Read Abigail's career progression story</a>.</p>",
      quotes: true,
      background_color: "blue",
      heading_color: "pink",
      image_path: "static/images/content/case-studies/abigail.jpg"
    ) %>
  </div>
</div>
