<div class="quote-shiulee">
 <%= render Content::QuoteComponent.new(
      text: "Every lesson presents an opportunity to delve into the latest advancements in the field and inspire students to become innovators. Teaching computing is about fostering a deep understanding of technology while enabling students to develop the skills and resilience to thrive in this digital age.",
      name: "Shiulee, Curriculum lead for computing and business",
      large: true
    ) %>
</div>
