<div class="quote-rotna">
   <%= render Content::PhotoQuoteListComponent.new(
      [
        {
          image: "static/images/content/subjects/rotna-roy.jpeg",
          heading: "Empowering my pupils",
          text: "I enjoy showing my pupils that maths is essential in everyday life. Whether it is identifying patterns, interpreting data, managing finances, or understanding the spaces and structures around us, everything uses maths.",
          accreditation: "Rotna, maths teacher",
        }
      ],
      colors: %w[pink],
      numbered: false
    ) %>
</div>
