<div class="quote-abbe">
 <%= render Content::QuoteComponent.new(
      text: "My mentor was the special educational needs co-ordinator. This meant I was able to learn more about this role and improve my understanding of the strategies and support available for children with special educational needs and disabilities.",
      name: "Abbe, trainee teacher",
      large: true
    ) %>
</div>