<section role="region" aria-label="Find out how coronavirus is affecting teacher training" class="covid" data-controller="banner" data-banner-name="Covid">
  <div class="limit-content-width">
    <span class="covid__header"><a href="/covid-19">Find out how coronavirus is affecting teacher training</a></span>
    <a href="#" data-action="click->banner#hide" class="covid__close"><span class="visually-hidden">Hide this message</span></a>
  </div>
</section>

<section class="extra-links-container">
  <div class="extra-links">
    <ul>
      <li>Search</li>
      <li>Sign up to the mailing list</li>
    </ul>
  </div>
</section>

<header>
  <%= render("components/logo") %>
  <nav role="navigation" data-controller="navigation">
    <ol class="primary">
      <% primary_items.each do |primary_item| %>
        <%= primary_item %>
      <% end %>
    </ol>
  </nav>
</header>
