<div class="hero">
  <header>
      <div class="hero__titles">
        <div class="hero__titles__title">
          <h1><%= tag.span(title) %></h1>
        </div>
      </div>
      <div class="hero__img">
        <%= responsive_image %>
      </div>
  </header>
</div>