<div>
  <%= link_to "Return to pending events",
              internal_events_path, method: :get,
              class: "govuk-back-link" %>

  <div class="markdown">
    <%= render template:"events/show" %>
  </div>
</div>
