<div class="row inset">
  <section class="col col-720 col-space-l-top">
      <p>The best thing about teaching is having a positive impact on pupils’ school experience by helping them to understand maths and enjoy learning about it too! I also enjoy being a form tutor and looking out for pupils’ wellbeing.</p>
  </section>
  <section class="col col-720">
    <%= render Content::QuoteComponent.new(
    text: "Building good relationships with pupils so they are keen to learn and keep trying, even when they find topics challenging, is really rewarding.",
    large: true
  ) %>
  </section>
    <section class="col col-720 col-space-l-top">
      <p>Pupils can have mixed feelings about maths, so it is great when they try really hard and master a new concept.</p>
      <p>And finally, I do love the holidays! I try to switch off outside of term time and travel as much as possible.</p>
      <p>My advice for anyone thinking of getting into teaching is to remember that you will make a difference, even though it might be challenging at times!</p>
      <p>When pupils are in your classroom, you have the opportunity to grow their minds and improve their understanding of the world. You are responsible for helping pupils achieve the best possible outcomes and for inspiring them to build their resilience and determination.</p>
  </section>
    <section>
  <%= render Content::PurpleBoxComponent.new(
  heading: "Explore how to become a teacher",
  text: "Find out which qualifications you need, what funding you can get and how to train to teach.",
  cta: {
    text: "Find your route into teaching",
    path: "/steps-to-become-a-teacher",
  },
  image: image_pack_tag("static/images/steps-graphic-black.png", **image_alt_attribs_for_text("")),
  ) %>
  </section>
</div>
