<section class="case-study advice">
  <figure>
    <p>My advice to you?</p>
    <blockquote>That’s easy, it’s got to be the kids – their energy is what keeps me going. I just love working with them every day.</blockquote>
  </figure>

  <div class="back bottom">
    <%= link_to("/welcome") do %>
      &#8592; Back to welcome
    <% end %>
  </div>
</section>
