<article class="case-study">
  <p class="intro">
    Andrew is a Food Technology teacher from Birmingham who uses cooking to
    teach teenagers important life lessons.
  </p>

  <p>
    My passion is simple: food. It brings everyone together; we can all connect
    over it. So making the decision to teach food tech was simple too. Since I
    began teaching, I’ve focused on how my lessons can expand the horizons of
    my students – using cooking to build their confidence.
  </p>

  <p>
    I run my classes like a Michelin-starred restaurant. There are loads of little
    rules, like the kids always greet me as ‘Chef’ and they have
    to follow orders, but it really pays off. I’m setting them up for the future
    and showing them that they can achieve anything if they work hard.
  </p>

  <p>
    In fact, they recently cooked a four-course meal for a black-tie event; it
    was a long day, but you could really see the sense of achievement they felt.
    We were all buzzing for days. Some of my previous students have even gone on
    to work in some really successful restaurants too, so it gives the kids a
    load of inspiration, and the confidence to know they can be a success.
  </p>

  <p>
    Now I want to get even more kids involved with food. My plan is to expand the
    ‘Grub Club’ – an after-school club for students that exposes them to foods
    and flavours from different cultures around the world. This is my real
    passion; I’ll never leave the kids &amp; the kitchen - I’d miss them too much!
  </p>
</article>
