@import "accessible-autocomplete";

.searchbox {
  border-bottom: 1px solid $grey-light;

  &:not(&--opened) {
    a.searchbox__close {
      display: none;
    }

    .searchbox__bar {
      display: none;
    }
  }

  &--opened {
    a.searchbox__search {
      display: none;
    }
  }

  &__container {
    text-align: right;
  }

  &__bar {
    box-sizing: border-box;
    margin-right: 0;
    margin-left: auto;
    max-width: 30rem;
    padding: 0 1rem 1rem;

    label {
      display: none;
    }

    input {
      box-sizing: border-box;
      margin-left: 0;
      margin-right: 0;
    }

    @include mq($until: 900px) {
      margin-top: 1.2rem;
      max-width: initial;
    }

    li:hover,
    li.autocomplete__option--focused {
      .search-result {
        color: govuk-colour("white");

        p {
          color: $grey;
        }
      }
    }
  }

  .search-result {
    margin-left: .3rem;
    margin-right: .3rem;
    padding: .4em 0;

    p {
      margin-top: 0;
      color: $govuk-secondary-text-colour;
      font-size: .8em;

      &:hover {
        color: $grey;
      }
    }

    h3 {
      margin-bottom: 0;
    }
  }
}
