---
http_interactions:
- request:
    method: get
    uri: https://get-into-teaching-api-dev.london.cloudapps.digital/api/privacy_policies/invalid-id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ENV[api_key]
  response:
    status:
      code: 400
      message: ''
    headers:
      content-type:
      - application/problem+json; charset=utf-8
      x-vcap-request-id:
      - cc2f367c-31f3-4e7e-77fe-5508573a881b
    body:
      encoding: UTF-8
      string: '{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One
        or more validation errors occurred.","status":400,"traceId":"|b5d48eaf-4e740aa9776a1edc.","errors":{"id":["The
        value ''invalid-id'' is not valid."]}}'
      effective_url: https://get-into-teaching-api-dev.london.cloudapps.digital/api/privacy_policies/invalid-id
  recorded_at: Sat, 22 Aug 2020 13:27:21 GMT
recorded_with: VCR 6.0.0
