<div class="row">
  <section class="col col-720">
    <h2 class="heading--box-blue">What qualification will I get?</h2>

    <div class="inset">
      <p>
      Through teacher training, you can get:
      </p>

      <ul>
        <li>qualified teacher status (QTS)</li>
        <li>postgraduate certificate in education (PGCE)</li>
      </ul>

      <p>
      Lots of teacher training courses offer both.
      </p>

      <p>
      You do not need a PGCE to teach, but you do need QTS to teach in maintained primary, secondary and special schools in England (schools which are funded by local authorities).
      </p>

      <p><%= link_to("Find out more about how to train to be a teacher", page_path("train-to-be-a-teacher/if-you-have-a-degree")) %>.</p>
    </div>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">How can I fund my teacher training?</h2>

    <div class="inset">
      <p>
      Most teacher training courses are non-salaried, meaning you have to pay course fees and will not earn a salary while you train.
      </p>

      <p>
      Fees are usually around $fees_pgitt_domesticfulltime$, and can be higher for non-UK citizens.
      </p>

      <p>
      There is funding available to help you train, including:
      </p>

      <ul>
        <li>bursaries and scholarships</li>
        <li>tuition fee and maintenance loans</li>
        <li>grants if you're a parent or carer, disabled, or a veteran</li>
      </ul>

      <p>
      Salaried courses are sometimes available for specific candidates, such as if you’re working as an unqualified teacher. These are in high demand and very competitive. Places fill up quickly.
      </p>

      <p><%= link_to("Find out how you could fund your teacher training", page_path("funding-and-support")) %>.</p>
    </div>
  </section>
</div>
