<div class="row">
  <section class="col col-720">
    <%= render Content::MailingListComponent.new(
      title: "Find out more about teacher training",
      intro: "Get more information about teacher training, including how to find funding and tips to submit a successful application."
    ) %>
  </section>
</div>
