<li class="category__nav-card">
  <%= link_to(path, class: "link--black") do %>
    <div class="category__nav-card--content">
      <%= content_tag(heading_tag, title) %>

      <%= tag.p(description) %>
    </div>

    <div class="category__nav-card--icon"></div>
  <% end %>
</li>
