<div class="row">
  <section class="col col-720">
    <div class="inset">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut varius felis.
        Phasellus tortor massa, luctus eget iaculis sit amet, aliquet eu lacus. Integer
        vitae mauris nec nibh ultricies gravida eget sed libero. Integer iaculis urna
        sit amet odio lacinia rutrum. Vestibulum malesuada ac dui nec consectetur.
        Integer ultricies risus quis interdum vehicula. Nullam eros urna, posuere in
        venenatis sit amet, sodales et felis.
      </p>

      <ul>
        <li>point one</li>
        <li>point two</li>
        <li>point three</li>
        <li>point four</li>
      </ul>

      <p>
        Nullam a sollicitudin diam. Sed luctus dapibus lectus sit amet vehicula.
        Integer ac sem nulla. In consequat consectetur turpis, elementum sodales justo
        mattis nec. Aliquam erat volutpat. Donec consequat tellus odio, sed placerat
        nibh maximus non. Nulla nulla est, viverra porta nibh aliquam, porttitor
        finibus lacus. Sed malesuada dui ut purus interdum convallis. Nulla ornare dui
        consequat, lobortis nisi in, ornare diam.
      </p>
    </div>
  </section>
</div>
