<div class="row">
  <div class="grey col-space-l">
    <section class="col col-720 col-space-0">
      <%= render Content::MailingListComponent.new(
        title: "Get free advice and support tailored to you",
        intro: "Whether you’re just thinking about teaching or you’re ready to apply, we’re here to help guide you through the steps involved to becoming a teacher.
        
        Find out how to get:
        
        * personalised guidance on teacher training
        * experience of life in the classroom
        * free one-to-one support from an adviser
        * tips from trainees and teachers",
      
        color: "transparent",
        margin: false,
        heading: :l
      ) %>
    </section>
  </div>
  </div>
