<div class="row">
  <div class="grey col-space-l">
    <section class="col col-720 col-space-0">
      <%= render Content::MailingListComponent.new(
        title: "We'll help you do the homework before becoming a teacher",
        intro: "If you're interested in training to teach in primary, secondary and special schools in England, get everything you need to know straight to your inbox.,
        <p>
Find out how to get:
</p>

<ul>
  <li> personalised guidance on teacher training</li>
  <li> experience of life in the classroom</li>
  <li> free one-to-one support from an adviser</li>
  <li> tips from trainees and teachers</li>
</ul>"

        color: "transparent",
        margin: false,
        heading: :l
      ) %>
    </section>
  </div>
