<h1>We're sorry, but to sign up for our emails, you need to be interested in training to teach</h1>

<p>
  If you're already a qualified teacher from outside the UK, you can <%= link_to("find out more about teaching in England if you trained overseas", "/non-uk-teachers/teach-in-england-if-you-trained-overseas") %>.
</p>

<p>
  If you're already qualified to teach in England, you can <%= link_to("find out more about how you can return to teaching", "/returning-to-teaching") %>.
</p>
