<h1>We're sorry, but our emails are for people who are not already qualified to teach</h1>

<p>
  If you qualified as a teacher outside the UK, <%= link_to("find out more about teaching in England if you trained overseas", "/non-uk-teachers/teach-in-england-if-you-trained-overseas") %>.
</p>

<p>
  If you completed your teacher training in England, <%= link_to("find out how you can return to teaching", "https://teaching-vacancies.campaign.gov.uk/return-to-teaching/") %>.
</p>
