<%= f.govuk_collection_radio_buttons :citizenship,
                                     f.object.citizenships,
                                     :id,
                                     ->(option) { format_option_value(option, "mailing_list_steps.citizenship.citizenship") },
                                     ->(option) { format_option_hint(option, "mailing_list_steps.citizenship.citizenship") },
                                     legend: { tag: "h1", text: t('helpers.label.mailing_list_steps_citizenship.citizenship', **Value.data) },
                                     hint: { text: t('helpers.hint.mailing_list_steps_citizenship.citizenship', **Value.data) }
%>

<div class="non-uk-qualifications">
  <%= render Content::ExpanderComponent.new(
    header: "Check if you're a UK citizen",
    title: ":",
    text: "A UK citizen is someone who has the right to live and work in the UK without immigration restrictions and can apply for a UK passport. If you or your parents were born in the UK, you might automatically be a UK citizen.",
    link_title: "Check if you are a UK citizen [UPDATE THIS LINK]",
    link_url: "https://test.test",
    expanded: true
    ) %>
</div>
