<h1>Your degree stage</h1>

<p>
  We want to send you information relevant to the stage you're at with your
  degree.
</p>

<%= f.govuk_error_summary %>

<%= f.govuk_collection_select :degree_status_id,
      f.object.degree_status_options,
      :id,
      :value %>
