<% if f.object.magic_link_token_used? %>
<div class="content-alert content-alert--fullwidth">
  <div>
    <p>Tell us more about you so that you only get emails relevant to your circumstances.</p>
  </div>
</div>
<% end %>

<%= f.govuk_collection_radio_buttons :degree_status_id,
  f.object.degree_status_options,
  :id,
  ->(option) { degree_status_text(option) },
  ->(option) {
    content_tag(:div, class: "field__hidden_subfield") do
      f.govuk_text_field(
        :graduation_year,
        maxlength: 4,
        label: { text: "Which year will you graduate?" },
        hint: { text: "For example; #{Date.current.year + 2}"}
      )
    end if option.id == MailingList::Steps::DegreeStatus::GRADUATION_YEAR_DEPENDENT_OPTION_ID
  },
  legend: { tag: 'h1', text: t("helpers.label.mailing_list_steps_degree_status.degree_status_id", **Value.data) } do
%>
  <p>
    You'll find out how to become a teacher based on your current circumstances.
  </p>
<% end %>
