<%= f.govuk_text_field :address_postcode,
  autocomplete: "postal-code",
  width: 10,
  label: {
    tag: 'h1',
    size: "xl",
    text: t('helpers.label.mailing_list_steps_postcode.address_postcode'),
  } do %>
  <p>If you give us your postcode, we'll let you know about events happening near you.</p>
<% end %>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What if I do not have a UK postcode?
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>We run in-person events in the UK that we can tell you about if you give us your UK postcode.</p>
    <p>If you do not live in the UK, you do not need to give us your postcode.</p>
    <p>Instead, you can just select 'Complete sign up' to receive tailored guidance around teacher training.</p>
  </div>
</details>
