<%= f.govuk_error_summary %>

<%= f.govuk_text_field :address_postcode,
  autocomplete: "postal-code",
  width: 10,
  label: {
    tag: 'h1',
    size: "xl",
    text: t('helpers.label.mailing_list_steps_postcode.address_postcode'),
  } do %>
  <p>If you give us your postcode, we'll let you know about events happening near you.</p>
<% end %>
