<%= f.govuk_collection_radio_buttons :qualified_to_teach,
  { "1": "Yes", "0": "No" },
  :first,
  :last,
  legend: { tag: "h1", text: "Are you already qualified to teach?" } do
%>
<p>
  We provide tips and guidance for people interested in teacher training in England.
</p>
<% end %>
