<h1>Select a subject</h1>

<p>
  Select a subject even if you're not sure yet. You can change your prefences later.
</p>

<%= f.govuk_error_summary %>

<%= f.govuk_collection_select :preferred_teaching_subject_id,
      f.object.teaching_subjects,
      :id,
      :value,
      options: { prompt: "Please select" } %>
