<%= f.govuk_collection_select :preferred_teaching_subject_id,
      f.object.teaching_subjects,
      :id,
      :value,
      options: { prompt: "Please select" },
      label: { tag: 'h1', size: "xl", text: t('helpers.label.mailing_list_steps_subject.preferred_teaching_subject_id', **Value.data) } do
%>
<p>
The subjects listed are for secondary teaching. If you're interested in primary, select primary from the list.
</p>
<% end %>
