<h1>Choose your subject</h1>

<p>
  We want to send you relevant information about the subject you're most
  interested in.
</p>

<%= f.govuk_error_summary %>

<%= f.govuk_collection_select :preferred_teaching_subject_id,
      f.object.teaching_subjects,
      :id,
      :value,
      options: { prompt: "Please select" } %>
