<h1>How close are you to applying for teacher training?</h1>

<p>
  You'll get the most relevant guidance to support you depending on your circumstances.
</p>

<%= f.govuk_error_summary %>

<%= f.govuk_collection_radio_buttons :consideration_journey_stage_id,
  f.object.consideration_journey_stages,
  :id,
  :value,
  legend: { text: t('helpers.label.mailing_list_steps_teacher_training.consideration_journey_stage_id') }
%>
