<section class="mailing-reg-main">
    <div class="content container-1000">
        <div class="content__left">
            <h1 class="strapline">You've signed up</h1>
            <p>You’re ready to receive personalised updates to help you get into teaching.</p>

            <h2>What happens next?</h2>

            <p>
              You’ll receive an email to the address you gave us when you signed up.
              You can unsubscribe if you change your mind. To find out how we
              handle your personal data, you can read our privacy policy.
            </p>

            <span data-controller="pinterest"
                data-pinterest-action="track"
                data-pinterest-event="lead"
                data-pinterest-event-data='{"lead-type" : "Newsletter"}'></span>

            <span data-controller="pinterest"
                data-pinterest-action="track"
                data-pinterest-event="SUBSCRIBE"></span>

            <span data-controller="pinterest"
                data-pinterest-action="trackCustom"
                data-pinterest-event="Newsletter_Subscribers"></span>
        </div>
        <div class="content__right">

        </div>
    </div>
</section>

