<% @hide_page_helpful_question = true %>

<div data-sub-channel-id="<%= session.dig("mailinglist", "sub_channel_id") %>"></div>

<% if have_degree_low_commitment? %>
  Have a degree, low commitment content
<% elsif have_degree_high_commitment? %>
  Have a degree, high commitment content
<% elsif final_year_low_commitment? %>
  Final year student, low commitment content
<% elsif final_year_high_commitment? %>
  Final year student, high commitment content
<% elsif first_or_second_year_low_commitment? %>
  Studying, high commitment content
<% elsif first_or_second_year_high_commitment? %>
  Studying, high commitment content
<% elsif no_degree_low_commitment? %>
  No degree (and not studying), low commitment content
<% elsif no_degree_high_commitment? %>
  No degree (and not studying), high commitment content
<% elsif other_low_commitment? %>
  Other, low commitment content
<% elsif other_high_commitment? %>
  Other, high commitment content
<% end %>
