<% @hide_page_helpful_question = true %>

<div data-sub-channel-id="<%= session.dig("mailinglist", "sub_channel_id") %>"></div>

<% if have_degree_low_commitment? %>

  <h1 class="heading-l heading--box-green">You've signed up</h1>

  <p>
    You’ll get your first email shortly. If you change your mind, you can unsubscribe at any time.
  </p>

  <h2 class="heading-m">What’s next?</h2>

  <h3> Continue your journey </h3>

  <p>
    We’ve developed a <a href="/welcome"> helpful guide</a>, with advice, tips and stories from teachers who were once where you are now.
  </p>

  <h3> Get an adviser </h3>

  <p>
    Get <a href="/teacher-training-advisers"> free, one-to-one support from an adviser</a> with years of teaching experience. They can help with everything from deciding if teaching is right for you to how to apply. Chat by phone, text or email, as little or as often as you need.
  </p>

<% elsif have_degree_high_commitment? %>

  <h1 class="heading-l heading--box-green">You've signed up</h1>

  <p>
    You’ll get your first email shortly. If you change your mind, you can unsubscribe at any time.
  </p>

<h2 class="heading-m">What’s next?</h2>

<h3> Get an adviser </h3>

<p>

  Maximise your chances of submitting a successful application by getting <a href="/teacher-training-advisers">free support from a dedicated adviser</a> with years of teaching experience.
</p>

<% elsif final_year_low_commitment? %>
  <h1 class="heading-l heading--box-green">You've signed up</h1>

  <p>
    You’ll get your first email shortly. If you change your mind, you can unsubscribe at any time.
  </p>

  <h2 class="heading-m">What’s next?</h2>

  <h3> Continue your journey </h3>

  <p>
    We’ve developed a <a href="/welcome"> helpful guide</a>, with advice, tips and stories from teachers who were once where you are now.
  </p>

  <h3> Get an adviser </h3>

  <p>
    Get <a href="/teacher-training-advisers"> free, one-to-one support from an adviser</a> with years of teaching experience. They can help with everything from deciding if teaching is right for you to how to apply. Chat by phone, text or email, as little or as often as you need.
  </p>
<% elsif final_year_high_commitment? %>
  Final year student, high commitment content
<% elsif first_or_second_year_low_commitment? %>
  Studying, high commitment content
<% elsif first_or_second_year_high_commitment? %>
  Studying, high commitment content
<% elsif no_degree_low_commitment? %>
  No degree (and not studying), low commitment content
<% elsif no_degree_high_commitment? %>
  No degree (and not studying), high commitment content
<% elsif other_low_commitment? %>
  Other, low commitment content
<% elsif other_high_commitment? %>
  Other, high commitment content
<% end %>
