<div class="row inset">
  <section class="col col-720 col-space-l-top">
  <p>A dedicated explore teaching adviser can help you:</p>
  <ul>
    <li>understand what teaching is really like</li>
    <li>connect with other students</li>
    <li>build your confidence and transferable skills</li>
    <li>get classroom experience</li>
    <li>find out the steps to become a teacher</li>
  </ul>

  <p>Our advisers may also run events at your university or have connections with your university careers service.</p>

  <p>All our advisers have years of teaching experience, and you can talk as little or as often as you need by phone, text or email.</p>
  </section>
</div>
