<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Find your future career</h2>
    <p>Our explore teaching advisers can help you discover whether the classroom is where you belong. Your dedicated adviser will give you free support and guidance, and can answer all your questions about what teaching is really like.</p>
    <p>All our advisers have years of teaching experience and can help you gain an insight into the world of teaching. You can talk to your own adviser as little or as often as you need by phone, text or email.</p>
  </section>

  <section class="col col-720">
    <%= render Content::QuoteComponent.new(
      text: "I promise the level of satisfaction is like nothing you’ll get in another job.
        I wake up every morning and want to get into school.",
      name: "Phil, teacher",
      large: true
    ) %>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">What explore teaching advisers can do</h2>
    <h3>Your adviser can help you:</h3>
    <ul>
      <li>understand what teaching is really like</li>
      <li>connect with other students</li>
      <li>build your confidence and transferable skills</li>
      <li>get classroom experience</li>
      <li>find out the steps to become a teacher</li>
    </ul>
  </section>

   <section class="col col-720">
    <h2 class="heading--box-blue">Who can get an explore teaching adviser</h2>
    <h3>To be eligible for an explore teaching adviser, you just need:</h3>
    <ul>
      <li>to be studying for an undergraduate degree and not in your final year of study</li>
      <li>an interest in teaching</li>
    </ul>
    <p>If you're in your final year of study or you already have a degree, you can still get a <a href="/teacher-training-advisers">teacher training adviser</span></a>.</p>
  </section>
</div>
