<div class="row inset">
  <section class="col col-720 statement">
    <div style="margin-top:60px">
      <span class="pink xlarge bold">Teaching is&hellip;</span>
    </div>

    <div>
      <span class="pink medium bold">
        <ul class="slashed-list">
          <li>generation-shaping</li>
          <li>innovative</li>
          <li>life-changing</li>
        </ul>
      </span>
    </div>
  </section>

  <section class="col col-720">
    <h2 class="heading-s">Find your future career</h2>

    <p>
      Finding out which career is right for you is not always easy. How do you know what something is like if you've never done it before?

    <p>
      Our explore teaching advisers can help you discover whether the classroom is where you belong. Your dedicated adviser will give you free support and guidance, and can answer all your questions about what teaching is really like.
    </p>

    <p>
      All our advisers have years of teaching experience and can help you gain an insight into the world of teaching. You can talk to your own adviser as little or as often as you need by phone, text or email.
    </p>
  </section>

  <section class="col col-content-max">
    <%= render TextBlockWithTwoImagesComponent.new(
      heading: "What kind of teacher could you be?",
      colour: "pink",
      image_1_path: "static/images/content/blog/abigail-beeley.jpg",
      image_1_alt: "Maths teacher Abigail Beeley in front of a maths display board.",
      image_2_path: "static/images/content/blog/giorgio-rubbo.jpg",
      image_2_alt: "Biology teacher Giorgio Rubbo wearing a suit and tie.",
    ) do %>

      <p>
        Every teacher brings something different to the classroom.
      </p>

      <p>
      What could you bring?
      </p>
    <% end %>
  </section>

  <section class="col col-640">
    <%= render Content::QuoteComponent.new(
      text: "I promise the level of satisfaction is like nothing you’ll get in another job.
        I wake up every morning and want to get into school.",
      name: "Phil, teacher",
      large: true
    ) %>
  </section>

  <section class="col col-720 col-horizontal">
    <div>
      <h2 class="heading-s">What explore teaching advisers can do</h2>

      <p>
        Your adviser can help you:
      </p>
    </div>

    <div>
      <ul class="vertical-tags">
        <li class="tag">understand what teaching is really like</li>
        <li class="tag">connect with other students</li>
        <li class="tag">build your confidence and transferable skills</li>
        <li class="tag">get classroom experience</li>
        <li class="tag">find out the steps to become a teacher</li>
      </ul>
    </div>
  </section>

  <section class="col col-720">
    <h2 class="heading-s">Who can get an explore teaching adviser</h2>

    <p>
        To be eligible for an explore teaching adviser, you just need:
    </p>

    <ul>
      <li>
        to be studying for an undergraduate degree and not in your final year of study
      </li>
      <li>
        an interest in teaching
      </li>
    </ul>

    <p>
    If you're in your final year of study or you already have a degree, you can still get a <a href="/teacher-training-advisers">teacher training adviser</span></a>.
    </p>
  </section>
</div>
