<div class="row inset">
  <section class="col col-720 col-space-l-top">
  <%= render 'content/shared/quotes/quote_explore_advisers_sean' %>
  <h2 class="heading--box-blue">Who can get an adviser</h2>
  <p>To get an adviser, you need to have or be studying towards a bachelor’s degree. It's never too early to get guidance and support from an adviser. They can help you explore a career in teaching at any stage in your studies, even from your first year at university.</p>

  <p>If you got your qualifications outside the UK, <a href="tel:08003892500">call us on 0800 389 2500 to check if you’re eligible</a>.</p>
  </section>
</div>
