<div class="row inset">
  <section class="col col-720 col-space-l-top">
  <h2 class="heading--box-blue">Is teaching right for me?</h2>
  <h3>Use your subject passion</h3>
  <p>Bring your subject to life for your pupils. Help them be as inspired by it as you are.</p>
    <p>
      <a href="/blog/the-head-of-science-inspiring-students-in-blackpool">Find out how Jessica brings real life science stories into the classroom</a>.
    </p>
  </section>

  <section class="col col-720">
    <h3>Join a community</h3>
    <p>Teaching is about more than just what happens in the classroom. You become part of a tight-knit team with your fellow teachers and support staff.</p>
    <p>
      <a href="/blog/the-fellowship-of-teachers">Explore the friendship Mike and Phil have made outside of the classroom</a>.
    </p>
  </section>

  <section class="col col-720">
    <h3>Make a difference</h3>
    <p>Every lesson shapes a life. As a teacher, you can make a significant impact on a child's ability, confidence, and determination to succeed.</p>
    <p>
      <a href="/blog/going-back-and-giving-back">Read about Sandra's experience going back and giving back</a>.
    </p>
  </section>
</div>
