<div class="row">
  <div class="white col-space-l">
    <section class="col col-720 tta-container">
      <%= render Content::AdviserComponent.new(
        title: "Get an explore teaching adviser",
        intro: "Answer a couple of questions about yourself and we'll match you with an adviser for free one-to-one support.",
      ) %>
    </section>
  </div>
</div>
