article {
  $colours: ("pink": $pink, "blue": $blue, "yellow": $yellow, "purple": $purple);

  @each $name, $val in $colours {
    .#{$name} {
      padding: 1rem .7rem;
      background: $val;
      display: inline-block;

      p {
        margin-block: 0;
      }

      @include mq($from: tablet) {
        max-width: 50%;
      }
    }

    .#{$name} + .#{$name} {
      margin-top: .5rem;
    }
  }

  $sizes: "xlarge", "xxlarge", "xxxlarge";

  @each $name in $sizes {
    .#{$name} {
      @include font-size($name);
      padding-block: .5rem;
    }
  }

  > * {
    max-width: 65ch;
    margin: auto;
  }

  > section {
    padding-inline: 1rem;

    &.fullwidth {
      max-width: 100%;
    }

    &.columns {
      display: flex;
      flex-direction: column;
      gap: 2em;

      @include mq($from: tablet) {
        flex-direction: row;

        div:nth-of-type(1) {
          flex-basis: 50%;
        }

        div:nth-of-type(2) {
          flex-basis: 50%;
        }
      }
    }

    &:last-child {
      margin-bottom: 4em;
    }
  }

  > section + section {
    margin-top: 4em;
  }

  @include mq($from: tablet) {
    margin: auto;
  }

  .bold {
    font-weight: bold;
  }

  .grey-bg {
    background-color: $grey;
  }

  .no-margin {
    margin: 0 auto;
  }

  .no-padding {
    padding: 0;
  }

  .bottom-padding {
    padding-bottom: 4em;
  }

  .category__cards {
    padding-bottom: 0;
  }

  .statement {
    div + div {
      margin-top: .5rem;
    }

    p + p {
      margin-top: .5rem;
    }

    .slashed-list {
      @include reset;
      list-style: none;

      li {
        display: inline;
      }

      li + li {
        &:before {
          content: "/";
          margin-inline: .3em .5em;
        }
      }
    }
  }

  .videos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $indent-amount;
    margin-top: $indent-amount;

    @include mq($from: tablet) {
      flex-direction: row;

      > * {
        width: 50%;
      }
    }

    > * {
      iframe {
        width: 100%;
        height: 300px;
        border: 3px solid $pink;
      }
    }
  }
}
