.text-block-with-one-image,
.text-block-with-two-images {
  display: grid;

  .statement {
    z-index: 20;

    * {
      max-width: unset;
    }
  }

  picture {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.text-block-with-one-image {
  max-width: 50em;

  @include mq($from: tablet) {
    grid-template-columns: 1fr 5em 20em 1fr;
    grid-template-rows: repeat(3, minmax(2em, max-content));
  }

  .statement {
    @include mq($from: tablet) {
      grid-area: 1 / 2 / 3 / 4;
    }
  }

  .content {
    padding-block: 1em;

    @include mq($from: tablet) {
      grid-area: 4 / 2 / 5 / 4;
    }
  }

  picture {
    transform: rotate(-4deg);

    @include mq($from: tablet) {
      grid-area: 2 / 3 / 4 / 5;
    }
  }
}

.text-block-with-two-images {
  max-width: 60em;

  @include mq($from: tablet) {
    grid-template-columns: repeat(2, 1fr) repeat(2, .8fr) 1fr;
    grid-template-rows: .2fr 15em 1fr;
  }

  .statement {
    @include mq($from: tablet) {
      grid-area: 1 / 3 / 4 / 5;
    }
  }

  picture:nth-of-type(1) {
    transform: rotate(-3deg);

    @include mq($from: tablet) {
      grid-area: 2 / 1 / 5 / 4;
    }
  }

  picture:nth-of-type(2) {
    transform: rotate(5deg);

    @include mq($from: tablet) {
      grid-area: 3 / 3 / 5 / 6;
    }
  }
}
