<div class="row">
  <section class="col col-720">
    <h2 class="heading--box-blue">Career progression</h2>

    <div class="inset">
      <p>
      Whether you want to climb the ladder into leadership roles, or focus on the areas that motivate you, life as a teacher offers varied and exciting prospects. There are lots of ways for you to develop your career, each bringing its own rewards and challenges. 
      </p>

      <p>
      Once you're an established classroom teacher, you could take on more responsibility within your school. How you do that is up to you. You can choose your own path and:
      </p>
      - use your passion about your subject to help shape the curriculum 
      - support pupil wellbeing, for example, work with children with special educational needs (SEN), or be a form tutor 
      - become a head and inspire the teachers and pupils at your school 
      </p>

      </p>

      <p><%= link_to("Find out more about career progression", page_path("is-teaching-right-for-me/teacher-pay-and-benefits")) %>.</p>
    </div>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">Personal development</h2>

    <div class="inset">
      <p>
      As a teacher your learning never stops. Teaching is a career that encourages you to grow, both personally and professionally. Not only can you make a difference to the lives of the pupils you teach, you can make a difference to your own. 
      </p>

      <p>
      If your teacher training course leads to qualified teacher status (QTS), you get a whole package of training and support as an early career teacher (ECT). This includes regular catch ups with a mentor to help you boost your confidence, learn new skills and guide you through any challenges you might have. 
      </p>

      <p><%= link_to("Find out more about support and development for ECTs", page_path("/support-for-early-career-teachers")) %>.</p>
    </div>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">Teacher's pay</h2>

    <div class="inset">
      <p>
      Teachers get a competitive starting salary of £30k (or more in London) and there are plenty of opportunities for you can increase your pay as you progress your career:  
      </p>

      <ul>
      <li>your salary is reviewed annually. Most teachers get a pay rise every year, depending on how your school has performed<li> 
      <li>you may get extra payments for taking on additional responsibilities, for example creating a timetable or becoming head of a department<li> 
      <li>as a head you can expect to earn between £53k to £139k depending on your location and school<li> 
      </ul>

      <p><%= link_to("Find out more about teacher pay and benefits", page_path("is-teaching-right-for-me/teacher-pay-and-benefits")) %>.</p>
    </div>
  </section>
</div>
