// A grid where each of the child elements is an equal width. Use
// flexbox first and foremost and then, if Grid is supported,
// override the flexbox settings. This will give us graceful
// degredation back to IE10.
// Older browsers will just get a list.
@use "sass:math";

@mixin cards-grid($columns: 3, $gap: 1em) {
  // fall back to flexbox if there's no
  // css grid support
  display: flex;
  flex-wrap: wrap;

  @supports (display: grid) {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat($columns, minmax(0, 1fr));
    grid-gap: $gap;
  }

  > * {
    flex: 1;
    flex-basis: (math.div(100%, $columns) - 2%);
    flex-grow: inherit;
    margin-right: 1em;
    margin-bottom: 1em;

    @supports (display: grid) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  @include mq($until: tablet) {
    grid-template-columns: none;

    > * {
      flex: 1;
      flex-basis: auto;
    }
  }
}
