@mixin content-heading {
  display: inline-block;
  margin-top: 0;
  margin-bottom: .2rem;
  padding: .4rem $indent-amount;
  background: $blue;
  font-size: $fs-24;
  font-weight: 700;
  margin-right: 8rem;
  color: $white;

  &:after {
    content: ".";
  }

  &.purple {
    background-color: $purple;
  }

  &.green {
    background-color: $green;
  }

  &.small {
    font-size: $fs-19;
  }

  @include mq($from: tablet) {
    font-size: $fs-32;

    &:not(.always-indent) {
      margin-right: 0;
    }
  }
}
