@mixin content-heading {
  display: inline-block;
  margin-top: 0;
  margin-bottom: .2rem;
  padding: .4rem $indent-amount;
  background: $blue;
  font-size: size("medium");
  font-weight: 700;
  box-sizing: border-box;
  max-width: calc(100% - 1.25rem);
  color: $white;

  &:after {
    content: ".";
  }

  &.purple {
    background-color: $purple;
  }

  &.green {
    background-color: $green;
  }

  &.small {
    font-size: size("small");
  }

  @include mq($from: tablet) {
    font-size: size("large");

    &:not(.always-indent) {
      margin-right: 0;
    }
  }
}
