@mixin quote-icon($quote-size) {
  @include icon;
  background-image: url('../images/white-quote.svg');
  width: $quote-size;
  height: $quote-size;
  fill: $white;
  content: "";
}

@mixin quote {
  background-color: $yellow;
  position: relative;

  p {
    font-weight: bold;
  }
}

$quote-size: 17px;

@mixin fancy-quotes-before {
  &:before {
    @include quote-icon($quote-size);
    position: absolute;
    left: 1em;
  }
}

@mixin fancy-quotes-after {
  &:after {
    @include quote-icon($quote-size);
    position: inline;
    transform: rotate(180deg);
    margin-left: 7px;
  }
}
