$bg-color: $yellow;
$quote-color: $white;

@mixin quote-icon($quote-color) {
  position: absolute;
  font-size: 2em;
  color: $quote-color;
}

@mixin quote($bg-color) {
  background-color: $bg-color;
  position: relative;

  p,
  span {
    position: relative;
    font-weight: bold;
  }
}

@mixin fancy-quotes-before($quote-color) {
  &:before {
    color: $quote-color;
    content: '"';
  }
}

@mixin fancy-quotes-after($quote-color) {
  &:after {
    color: $quote-color;
    content: '"';
  }
}
