<div data-controller="cookie-acceptance" data-target="cookie-acceptance.modal" role="complementary">
    <div class="dialog" data-target="cookie-acceptance.overlay">
        <div class="dialog__background"></div>
        <div class="dialog__content">
            <div>
                <div class="logo__image">
                    <span href="/">
                        <img src="<%= asset_pack_path 'media/images/getintoteachinglogo.svg'%>" alt="Get Into Teaching" />
                    </span>
                </div>
                <h2>Help us improve</h2>
            </div>
            <p>
                Welcome to the new Get Into Teaching website. We invite you to try the latest beta version of the site and 
                help us improve the services we offer.
            </p>
            <p>
                To use the new website, we need you to agree to our cookie policy. This means we can use your data to understand how to improve the 
                website for all of our users.
            </p>
            <a href="#" class="call-to-action-button" data-action="click->cookie-acceptance#accept" data-target="cookie-acceptance.agree" id="cookies-agree">
                Accept all cookies <i class="fas fa-chevron-right"></i>
            </a>
            <a class="secondary-link" href="/cookie_preference" data-target="cookie-acceptance.disagree" id="cookies-disagree">
                Set cookie preferences <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>
