<div class="feedback-bar" data-controller="feedback" data-banner-name="Feedback">
  <section class="container">
      <div class="feedback-bar__inner">
          <div class="feedback-bar__left">
              <span class="feedback-bar__label">FEEDBACK</span>
              <span class="feedback-bar__description">Give us <a href="https://docs.google.com/forms/d/1Fp6At8Jrfg9umL42jT9iM4faS0rtWEA29dLrFbuKPXk/viewform" target="blank" data-action="click->feedback#giveFeedback">feedback on this website</a>.</span>
          </div>
          <a href="" class="feedback-bar__close" id="hide-feedback-bar" data-action="click->feedback#dismiss">Hide</a>
      </div>
  </section>
</div>
