<div class="feedback-bar">
  <section class="feedback-bar__inner limit-content-width">
    <div class="feedback-bar__left">
      <h2 class="blue small">FEEDBACK</h2>
    </div>
    <div class="feedback-bar__right">
      <div id="page-helpful" data-controller="feedback">
        <div>
          <strong data-feedback-target="text">Is this page helpful?</strong>
          <a href="javascript:void(0)" class="page-question__answer strong" data-feedback-target="link" data-action="feedback#answer">Yes</a>
          <a href="javascript:void(0)" class="page-question__answer strong" data-feedback-target="link" data-action="feedback#answer">No</a>
        </div>
      </div>
      <div>
        <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSdBXbU5nwP6_3TH7HY5rB4ehkSDNzfKqB5X2G7wG4K6LY97-g/viewform">Tell us what you think about this service</a>
      </div>
    </div>
  </section>
</div>
