<section id="footer-signup" class="footer-signup">
    <section class="container">
        <div class="footer-signup__inner">
            <span class="footer-signup__text">Get personalised information and advice about getting into teaching</span>
            <%= link_to(mailing_list_steps_path, class: "call-to-action-button call-to-action-button--white") do %>
                <span>Sign up here <span class="visually-hidden">to receive information via email</span></span>
            <% end %>
        </div>
    </section>
</section> 
