<nav role="navigation" aria-label="main">
    <section class="covid" data-controller="banner" data-banner-name="Covid">
        <div class="limit-content-width">
            <span class="covid__header">Coronavirus (COVID-19)</span>
            <p>
                Whether you're currently training to be a teacher, ready to apply for teacher training or exploring teaching as a potential career, you may have questions about the impact of COVID-19. <a href="/covid-19">Please check here for updates</a>
            </p>
            <p>
                <a href="#" data-action="click->banner#hide">Hide this message</a>
            </p>
        </div>
    </section>
    <%= render(Navbar::NavbarComponent.new) %>
</nav>
