<nav role="navigation" aria-label="main">
    <section class="covid" data-controller="banner" data-banner-name="Covid">
        <div class="limit-content-width">
            <span class="covid__header"><a href="/covid-19">Find out how coronavirus is affecting teacher training</a></span>
                <a href="#" data-action="click->banner#hide" class="covid__close"><span class="visually-hidden">Hide this message</span></a>
        </div>
    </section>
    <%= render(Header::NavigationComponent.new) %>
</nav>

<%= render Header::HeroComponent.new(@front_matter) %>
