<div class="mailing-list-bar" data-controller="mailing-list" data-banner-name="MailingList">
  <section class="mailing-list-bar__inner limit-content-width">
    <div class="mailing-list-bar__left">
      Get personalised information and advice about getting into teaching
    </div>
    <div class="mailing-list-bar__right">
      <a href="/mailinglist/signup" class="mailing-list-bar__sign-up button button--white button--nowrap" data-action="click->mailing-list#beginMailingListJourney">Sign up here</a>
      <a href="" class="mailing-list-bar__close" data-action="click->mailing-list#dismiss">Not now</a>
    </div>
  </section>
</div>
