<div data-controller="mailing-list-popup" data-mailing-list-popup-target="modal" role="complementary">
    <div class="dialog" data-mailing-list-popup-target="dialog">
        <div class="dialog__background"></div>
        <div class="dialog__content">
            <div>
                <div class="logo__image">
                    <span href="/">
                        <%= image_pack_tag "media/images/getintoteachinglogo.svg", alt: "Get Into Teaching", size: "140x48" %>
                    </span>
                </div>
                <h2>Before you go&#8230;</h2>
            </div>
            <p>
              Whether you’re ready to apply, or simply exploring teaching as an
              option, we can send you the information you need.
            </p>


            <div class="dialog__buttons">
              <a id="mailing-list-popup-accept" href="/mailinglist/signup/name" class="button call-to-action-button" data-action="click->mailing-list-popup#accept">
                  <span>Register your interest</span>
              </a>

              <a id="mailing-list-popup-dismiss" class="button button--secondary" href="#" id="cookies-disagree" data-action="click->mailing-list-popup#dismiss">
                  <span>No thanks</span>
              </a>
            </div>
        </div>
    </div>
</div>
