<div id="top-links" class="limit-content-width">
	
  <nav>
    <ol>
      <li><a href="#">Register your interest<a></li>
      <li><a href="#">Search<a></li>
    </ol>
  </nav>
  
</div>

<div id="main-navigation" class="limit-content-width">  
  
  <div class="main-logo">
    Get Into Teaching
  </div>
  
  <nav>
    <ol class="primary">
      <li><a href="/">Home<a></li>
      <li><a href="/steps-to-become-a-teacher">Steps to become a teacher<a></li>
      <li class="active category"><span class="category">Ways to train</li>
      <li><a href="/funding-your-training">Funding your training<a></li>
      <li><a class="category" href="/salaries-and-benefits">Salaries and benefits<a></li>
    </ol>
	<ol class="secondary">         
	  <li><a href="/">One<a></li>  
	  <li><a href="/">Two<a></li>  
	  <li><a href="/">Three<a></li>
	  <li><a href="/">Four<a></li> 
	  <li><a href="/">Five<a></li> 
	</ol>  
  </nav>
</div>
