<div id="main-navigation" class="limit-content-width">
  <div class="main-logo">
    Get Into Teaching
  </div>

  <nav>
    <ol class="primary">
      <li><a href="/">Home<a></li>
      <li><a href="/steps-to-become-a-teacher">Steps to become a teacher<a></li>
      <li><span class="category">Ways to train</li>
      <li><a href="/funding-your-training">Funding your training<a></li>
      <li><a href="/salaries-and-benefits">Salaries and benefits<a></li>
    </ol>

  </nav>
</div>
