<div class="page-question-wrapper" data-controller="page-helpful">
    <div class="page-question">
        <div class="page-question__left">
            <strong data-target="page-helpful.text">Is this page helpful?</strong>
        </div>
        <div class="page-question__right">
            <a href="javascript:void(0)" class="page-question__answer" data-target="page-helpful.link" data-action="page-helpful#answer">Yes</a>
            <a href="javascript:void(0)" class="page-question__answer" data-target="page-helpful.link" data-action="page-helpful#answer">No</a>
        </div>
    </div>
</div>