<div class="page-question-wrapper">
    <div class="page-question">
        <div class="page-question__left">
            <strong>Is this page helpful?</strong>
        </div>
        <div class="page-question__right">
            <a href="#" class="page-question__answer">Yes</a>
            <a href="#" class="page-question__answer">No</a>
        </div>
    </div>
</div>