<div class="page-question" data-controller="page-helpful">
    <div>
        <strong data-page-helpful-target="text">Is this page helpful?</strong>
    </div>
    <div>
        <a href="javascript:void(0)" data-page-helpful-target="link" data-action="page-helpful#answer">Yes</a>
        <a href="javascript:void(0)" data-page-helpful-target="link" data-action="page-helpful#answer">No</a>
    </div>
</div>
