<div class="page-helpful" data-controller="feedback">
    <div>
        <strong data-feedback-target="text">Is this page helpful?</strong>
    </div>
    <div>
        <a href="javascript:void(0)" class="page-question__answer" data-feedback-target="link" data-action="feedback#answer">Yes</a>
        <a href="javascript:void(0)" class="page-question__answer" data-feedback-target="link" data-action="feedback#answer">No</a>
    </div>
</div>
