<div class="phase-banner container-1000" data-controller="banner">
    <div class="phase-banner__left">
        <span class="phase-banner__label">BETA</span>
        <span class="phase-banner__description">We’d like your feedback on our new Get into teaching website. <a href="#">Tell us what you think</a></span>
    </div>
    <a href="" class="phase-banner__close" id="hide-phase-banner" data-action="click->banner#hide">Hide</a>
</div>