<div class="phase-banner" data-controller="feedback" data-banner-name="Phase">
<div class="container-1000">
    <div class="phase-banner__inner">
        <div class="phase-banner__left">
            <span class="phase-banner__label">FEEDBACK</span>
            <span class="phase-banner__description">Give us <a href="https://docs.google.com/forms/d/1Fp6At8Jrfg9umL42jT9iM4faS0rtWEA29dLrFbuKPXk/viewform" target="blank" data-action="click->feedback#giveFeedback">feedback on this website</a>.</span>
        </div>
        <a href="" class="phase-banner__close" id="hide-phase-banner" data-action="click->feedback#dismiss">Hide</a>
    </div>
</div>
