<section class="talk-to-us">
   <section class="container">
      <div class="talk-to-us__inner">
         <h2 class="purple" id="talk-to-us">Talk to us</h2>
         <div class="talk-to-us__inner__table">
            <section class="talk-to-us__inner__table__column" data-controller="talk-to-us">
               <h3 class="talk-to-us__inner__table__column__heading">Chat online</h3>
               <p>
                  Get the answers you need through online chat, Monday to Friday between 8.30am and 5.30pm.
               </p>
               <a href="#" class="button" data-action="click->talk-to-us#startChat">
                 Chat online
               </a>

            </section>
            <section class="talk-to-us__inner__table__column" data-talk-to-us-target="tta">
               <h3 class="talk-to-us__inner__table__column__heading">Get a teacher training adviser</h3>
               <p>
                  An experienced teaching professional can help if you're ready to get into teaching or if you're returning to teaching and qualified to teach maths, physics or languages.
               </p>
               <a href="/tta-service" class="button">
                 Get an adviser
               </a>
            </section>

         </div>
               <div class="talk-to-us__inner__freephone">
                  <h3 class="talk-to-us__inner__table__column__heading">Call us</h3>
                  <p>
                     You can call us for free about teacher training on <a href="tel:08003892500" class="telephone-number" aria-label="Telephone">0800 389 2500</a>, Monday to Friday between 8.30am and 5.30pm. You can also use this number to update or amend your details.
                  </p>
               </div>
      </div>
   </section>
</section>
