<section id="talk-to-us" class="talk-to-us">
    <div class="container-1000">
        <div class="talk-to-us__inner">
            <h2 class="strapline">Talk to us</h2>    
            <p class="talk-to-us__inner__label">
                How can we help you take your next step towards teacher training?
            </p>
            <div class="talk-to-us__inner__table">
            
                <div class="talk-to-us__inner__table__column">
                    <p>
                        <b>Chat online</b> <br/>
                        If you have questions about getting into teaching, we can help you get the answers you need with our one-to-one live online chat service, 
                        Monday-Friday between 8.30am and 5pm.
                    </p>
                    <a href="/" class="call-to-action-button">
                        Chat <span>online</span>
                    </a>
                </div>


                <div class="talk-to-us__inner__table__column">
                    <p>
                        <b>Sign up to talk to a teacher training adviser</b> <br/>
                        If you're ready to get into teaching, you can get support from a dedicated and experienced teaching professional 
                        who can guide you through each step of the process.
                    </p>
                    <p>
                        If you’re returning to teaching and are qualified to teach maths, physics or languages, you can also get support by using this service.
                    </p>
                    <a href="<%= ENV["TTA_SERVICE_URL"] %>" class="call-to-action-button">
                      Sign up to talk to a teacher training <span>adviser</span>
                    </a>
                </div>
                
            </div>

            
            <div class="talk-to-us__inner__freephone">
                <p>
                    If you’d prefer, you can call us about teaching or teacher training on Freephone <a href="tel:08003892500" class="telephone-number" aria-label="Telephone">0800 389 2500</a>, Monday-Friday between 8.30am and 5pm. <a href="tel:08003892500" class="telephone-number" aria-label="Telephone">0800 389 2500</a>. You can also use this number to update or amend any of your details.
                </p>
            </div>
        </div>
    </div>
</section>
