<section class="content container-1000">
  <div class="content__left">
    <h2>Organised by <%= organised_by %></h2>
  </div>

  <% category_groups.each do |type_id, events| %>
    <% if events.any? || display_empty_types %>
      <%= render partial: "event_group", locals: { type_id: type_id, events: events, show_see_all_events: true } %>
    <% end %>
  <% end %>
</section>
