<% @fullwidth = true %>
<% @page_title = "Unfortunately, that event has already happened" %>

<h1>Unfortunately, that event has already happened.</h1>

<p>Would you like to see what's coming up?</p>

<%= link_to(events_path, class: "button") do %>
  <span>All events</span>
<% end %>
