<%= render "sections/hero",  
    :header => "Find an event near you", 
    :image => "media/images/hero-events.png" ,
    :deep => false,
    :mailinglist => false
%>
<section role="main" id="main-content">
    <div class="types-of-event content container-1000">

        <div class="content__left">
            <p>
                <strong>Our nationwide events are informal opportunities for you to get free expert advice about your next steps into teaching.</strong>
            </p>
        </div>

    </div>

    <section class="search-for-events">
        <div class="container-1000">
            <h1 id="searchforevents" class="strapline search-for-events__header">Search for events</h1>
            <div class="search-for-events__content">
                <%= render 'search_form', event_search: @event_search %>
            </div>
        </div>
    </section>

    <%= render partial: "event_category", collection: @events_by_type %>

    <% if @display_all_events_section && !@events.empty? %>
    <section class="search-for-events-results content container-1000">
        <div class="content__left">
            <h2 class="types-of-event__header types-of-event__header--ttt">All events</h2>
        </div>
        <div class="content__right">
        </div>

        <%= render partial: "event", collection: @events %>
    </section>
    <% end %>

    <% if @events.empty? %>
      <section class="content container-1000">
        <div class="content__left">
          <div class="search-for-events-no-results">
            There are no events that match your search criteria. Try widening your search and updating your results.
          </div>
        </div>
      </section>
    <% end %>
</section>
