<%= render "sections/hero",  
    :header => "Find an event near you", 
    :image => "media/images/events-hero-dt.jpg",
    :mobileimage => "media/images/events-hero-mob.jpg",
    :deep => false,
    :mailinglist => false
%>
<section role="main" id="main-content">
    <section class="event-type-descriptions">
      <div class="container-1000">
        <h2 class="strapline strapline--blue">Types of Events</h2>
        <section class="event-type-descriptions__content">
          <% GetIntoTeachingApiClient::Constants::EVENT_TYPES.values.each do |type_id| %>
            <%= render Events::TypeDescriptionComponent.new(type_id) %>
          <% end %>
        </section>
      </div>
    </section>

    <section class="search-for-events">
        <div class="container-1000">
          <%= render Events::SearchComponent.new(@event_search, search_events_path(anchor: "searchforevents")) %>
        </div>
    </section>

    <% if @events_by_type.any? %>
      <section class="content container-1000">
        <% @group_presenter.sorted_events_by_type.each do |type_id, events| %>
          <%= render partial: "event_group", locals: { type_id: type_id, events: events, show_see_all_events: true } %>
        <% end %>
      </section>
    <% else %>
      <section class="content container-1000">
        <div class="content__left">
          <div class="search-for-events-no-results">
            Sorry your search has not found any events, try a different type, location or month.
          </div>
        </div>
      </section>
    <% end %>
</section>
