<% display_no_ttt_events_message = display_no_ttt_events_message?(@performed_search, @events_by_type, @events_search_type) %>

<% @search_component = Events::SearchComponent.new(
  @event_search,
  search_events_path(anchor: "searchforevents")
) %>

<% @before_search_fullwidth = true %>

<% if display_no_ttt_events_message %>
  <%= render(Events::NoResultsComponent.new) do %>
    <p>DfE's Train to Teach events will return in September. Sign up for updates to be notified about spaces.</p>
    <%= link_to('Sign up for notifications', mailing_list_steps_url, class: "button") %>
  <% end %>
<% end %>

<% unless @no_results %>
  <% @events_by_type.each do |type_id, events| %>
    <%= render "event_group",
      type_id: type_id,
      events: events,
      page_param_name: @performed_search ? @group_presenter.page_param_name(type_id) : nil,
      show_see_all_events: display_no_ttt_events_message ? true : false
    %>
  <% end %>
<% else %>
  <% if @performed_search && @events_search_type != "222750001" %>
    <%= render(Events::NoResultsComponent.new) do %>
      Sorry your search has not found any events, try a different type, location or month.
    <% end %>
  <% end %>
<% end %>

<section class="content-cta">
  <h3>Do you have a teaching event?</h3>
  <p>
    If you'd like to advertise your teaching event in this listing, <a href="https://form.education.gov.uk/service/Provider-event-details---Get-into-Teaching-website"
      title="Submit your event details on GOV.UK"
      target="_blank"
      rel="noopener norefferer">
    please fill in our online form</a>.
  </p>
</section>

<span data-controller="lid" data-lid-action="track" data-lid-event="Events"></span>
