<%= render "sections/hero",  
    :header => "Find an event near you", 
    :image => "media/images/events-hero-dt.jpg",
    :mobileimage => "media/images/events-hero-mob.jpg",
    :deep => false,
    :mailinglist => false
%>
<section role="main" id="main-content">
    <div class="types-of-event content container-1000">
        <div class="content__left">
            <p>
                <strong>Our nationwide events are informal opportunities for you to get free expert advice about your next steps into teaching.</strong>
            </p>
            <p>
              If you’d like to advertise your teaching event in this listing, please 
              <a  href="https://form.education.gov.uk/fillform.php?self=1&amp;form_id=KGRAPEGQYmw&amp;type=form&amp;ShowMsg=1&amp;skipExtraPage=1&amp;form_name=Provider+event+details+-+Get+into+Teaching+website&amp;noRegister=false&amp;ret=/MyServices&amp;blackListId=KGRAPEGQYmw&amp;cancelRedirectLink=%2F&amp;noLoginPrompt=1" 
                  title="Submit your event details on GOV.UK"   
                  target="_blank"
                  rel="noopener norefferer">
                fill in our online form<span class="govuk-visually-hidden">(Link opens in new window)</span><i class="icon icon-external"></i>
              </a>
            </p>
        </div>
    </div>

    <section class="search-for-events">
        <div class="container-1000">
          <%= render Events::SearchComponent.new(@event_search, search_events_path(anchor: "searchforevents")) %>
        </div>
    </section>

    <% if @events_by_type.any? %>
      <% if @group_presenter.get_into_teaching_events.values.flatten.any? || @display_empty_types %>
        <%= render partial: "event_category", locals: { 
          organised_by: t("event_groups.get_into_teaching"), 
          category_groups: @group_presenter.get_into_teaching_events,
          display_empty_types: @display_empty_types,
        } %>
      <% end %>

      <% if @group_presenter.school_and_university_events.values.flatten.any?  || @display_empty_types %>
        <%= render partial: "event_category", locals: { 
          organised_by:  t("event_groups.222750009"), 
          category_groups: @group_presenter.school_and_university_events,
          display_empty_types: @display_empty_types,
        } %>
      <% end %>
    <% else %>
      <section class="content container-1000">
        <div class="content__left">
          <div class="search-for-events-no-results">
            There are no events that match your search criteria. Try widening your search and updating your results.
          </div>
        </div>
      </section>
    <% end %>
</section>
