<% category_name = t("event_types.#{@type.id}.name.plural") %>

<% @page_title = category_name %>

<%= render "sections/hero",  
  header: category_name,
  image: "media/images/events-hero-dt.jpg",
  deep: false,
  mailinglist: false 
%>

<section class="types-of-event content container-1000">

    <%= back_link(internal_referer || events_path, text: "All events") %>
    <%= render partial: "event_group", locals: { type_id: @type.id, events: @events } %>
</section>
