<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <p>I started my teaching career in quite a hard school in a deprived area. I taught there for 3 years and it was tough, but extremely rewarding.</p>
    <p>Behaviour management skills need to be absolutely spot-on if students are to learn in your lessons, because there are a lot of barriers that can prevent the students from accessing that learning.</p>
    <p>I’ve worked with students who are almost PE refusers. Most you manage to get onside and work with, but some have a preconceived view that it’s not for them. They arrive to lessons and detest the idea. It takes a lot of work and a great deal of effort to turn their minds around to see what sport can offer them.</p>
    <p>On one particular occasion, a group of year 10s had arrived with the view that they weren’t going to do rugby and that it wasn’t for them. Once we got out to the field, they weren’t prepared to take part at all.</p>
    <p>So, I started my lesson with a talk about how I would deliver the lesson in a way that’s accessible to them, that they could enjoy.</p>
  </section>
  <section class="col col-720">
    <%= render Content::QuoteComponent.new(
    text: "I basically asked them to give me a chance, to go with it and see how they get on.",
    large: true
  ) %>
  </section>
  <section class="col col-720 col-space-l-top">
    <p>That lesson had been quite a challenge for me to turn around, but when I saw them start to turn up to play rugby in their own time, I really felt like I’d achieved something.</p>
  </section>
</div>
