<div class="row">
  <div class="grey col">
    <section class="col col-full-content">
      <div class="inset">
        <p class="col-720">There are lots of reasons why teaching is a rewarding career. Not only can you inspire the pupils you teach, you also get to learn new skills, build your confidence and become your best self. As a teacher you'll be able to:</p>
        <%= render Content::ChecklistCollageComponent.new(
          checklist: [
            "make a difference to childrens' lives, and your own",
            "use your skills and experience",
            "give back to your community"
          ],
          image_paths: [
            "static/images/content/grow/Smiling_Student.jpg",
          ]
        ) %>
      </div>
    </section>
  </div>
</div>
