<div class="row">
  <div class="grey col">
    <section class="col col-full-content">
      <div class="inset">
        <p class="col-720">There are lots of reasons why teaching is a rewarding career choice. The benefits of being a teacher include:</p>
        <%= render Content::ChecklistCollageComponent.new(
          checklist: [
            "make a difference",
            "use your skills and experience",
            "no two days are the same"
          ],
          image_paths: [
            "static/images/content/grow/Smiling_Student.jpg",
          ]
        ) %>
      </div>
    </section>
  </div>
</div>
