<section class="text-content mailing-list__completed">
  <%= tag.h1(heading_text, class: 'completed') %>

  <p>
    We'll send your first email shortly. From teacher stories to practical
    information, we've got all the info you need to become a teacher.
  </p>

  <p>
    You can unsubscribe at any time.
  </p>

  <%= link_to "Continue your journey", "/welcome", class: "button" %>
</section>
