<div class="row">
  <section class="category col-space-m">
    <section class="container category__cards main-section">
      <nav class="category__nav-cards">
        <ul>
          <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Computing",
              description: "Discover how computing is vital in helping pupils learn digital skills they'll need throughout life.",
              path: "/life-as-a-teacher/explore-subjects/computing",
            )) %>
          <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Maths",
              description: "Find out how to become a maths teacher, so you can show pupils how important maths is in everyday life and in understanding the world.",
              path: "/life-as-a-teacher/explore-subjects/maths"
            )) %>
          <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Languages",
              description: "Become a languages teacher and help pupils recognise the importance of learning another language.",
              path: "/life-as-a-teacher/explore-subjects/languages",
            )) %>
          <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Physics",
              description: "Find out how to become a physics teacher and inspire the next generation of scientists, engineers and innovators.",
              path: "/life-as-a-teacher/explore-subjects/physics"
            )) %>
        </ul>
      </nav>
    </section>
  </section>
</div>
