<div class="funding">
  <p>You can get a bursary or scholarship alongside a tuition fee and maintenance loan. Even if you've had financial support for a previous course, you could still be eligible for funding to support your teacher training.</p>
  <p>You may also be able to get <a href="/funding-and-support">extra funding and support</a> if you're:</p>
  <ul>
    <li>a parent or carer</li>
    <li>disabled</li>
    <li>a veteran</li>
  </ul>
</div>
