<section class="col col-space-m col-720">
  <div class="internships">
    <h3>Apply for a paid internship</h3>
    <p>If you're currently doing an undergraduate or master's degree and are interested in teaching <%= @front_matter["subject"] %>, you could apply for a <a href="/train-to-be-a-teacher/teaching-internships">paid teaching internship</a>.</p>
    <p>The 3-week programme could help you to understand what it's really like in the classroom and get a feel for school life.</p>
  </div>
</section>
