<section class="col col-720">
    <div class="shape_futures">
      <p>By solving challenging problems, your pupils could make significant contributions to these impactful areas.</p>
      <p>Your pupils will learn more from you than you might think.  As their teacher, you’ll guide your pupils though the skills they need to show their understanding of chemistry. You'll teach them valuable life skills such as critical thinking, decision making and communication.</p>
    </div>
</section>