.event-reg-main {
    border-top: 1px solid $black;
    padding-top: 70px;
    padding-bottom: 120px;
    
    &__content {

        display: table;
        width: 100%;

        &__left {
            display: table-cell;
            text-align: left;
            vertical-align: top;

            h1 {
                font-size: 42px;
                margin: 0;
                padding: 0;
            }

            h2 {
                font-size: 28px;
                margin: 0;
                padding: 0;
            }
        }

        &__right {
            display: table-cell;
            width: 350px;
            text-align: right;
            vertical-align: top;
        }   
    }

}