<div class="govuk-!-text-align-centre">
  <h2>[Chat goes here]</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin maximus
    imperdiet lectus ac cursus. Integer bibendum velit sed convallis mattis.
    Aliquam efficitur dolor elementum nisl auctor, id venenatis ante cursus.
    Vestibulum dui magna, tempor at nunc id, molestie feugiat ligula. Integer
    malesuada dignissim volutpat. Quisque vitae dignissim ipsum, et eleifend
    eros. Ut viverra condimentum sapien, vitae rutrum nunc.
  </p>
</div>

