<section class="event-info content container-1000" role="main">
    <div class="content__left">
        <h2>Accessibility</h2>
        <h3>Accessibility information</h3>
        <p>Accessibility information to go here</p>
    </div>
    <div class="content_right"></div>
</section>