<section class="event-info content container-1000" role="main" id="main-content">
    <div class="content__left">
        
        <p></p>

        <h2>Cookies</h2>
        <p>
            We want to make our services easy, useful and reliable. When services are delivered on the internet, this sometimes involves placing small amounts of information on your computer, tablet, or mobile phone – whichever device you use to access our site. These include small files known as cookies.
        </p>
        <p>
            The information below shows the cookies that are set by <a href="https://www.gov.uk/government/organisations/department-for-education" target="_blank" rel="noopener noreferrer">education.gov.uk<span class="govuk-visually-hidden">(Link opens in new
window)</span> <i class="fas fa-external-link-alt"></i></a> and the third-party services we use. At the header and footer of this page, you can change your preferences at any time for marketing cookies. 
        </p>

        <h3>1. Functional cookies</h3>
        <p>
            These functional cookies are strictly necessary cookies, which help to make your experience on the site as smooth as possible and do not gather information about you.
        </p>
        <p>Some examples of these cookies include:</p>
        <ul>
            <li>enabling a service to recognise your device so you don’t have to give the same information several times during one task</li>
            <li>recognising that you may already have given a username and password so that you don’t need to do so for every webpage requested</li>
            <li>measuring how many people are using our services so that we can make them easier to use and ensure that there is enough capacity to make sure they are fast</li>
        </ul>

        <p>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires</th>
                </tr>
                <tr>
                    <td>_dfe_session</td>
                    <td>temporary session data</td>
                    <td>End of browser session</td>
                </tr>
                <tr>
                    <td>GiTBetaCookie</td>
                    <td>Record acceptance of beta site cookie policy</td>
                    <td>31 December 2021</td>
                </tr>
            </table>
        </p>

        <h3>2. None functional cookies</h3>
        <p>These cookies allow us to provide a more enhanced service and help us to learn what content our users like or don’t like, so we can make the service even better. They also help us to provide you with personalised content and teaching-related advertisements to help you with your consideration of Initial Teacher Training and returning to teaching . Whilst these cookies don’t collect your name or address, they do collect a unique user identifier code, which is linked to your device.</p>
        <p>The types of non-functional cookies we set are:</p>
        
        <h3>Website usage</h3>
        <p>We measure website usage so that we can gain a better understanding of how people use our site. This enables us to improve the information that we provide. It also ensures that the service is available when you want it, and that it delivers information quickly. We use Google Analytics to gather this data.</p>
        <p>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires</th>
                </tr>
                <tr>
                    <th>_ga</th>
                    <th>Used by Google Analytics, this helps count how many people visit this site by tracking if you’ve visited before</th>
                    <th>2 years</th>
                </tr>
                <tr>
                    <th>_gat_UA_159214613-2</th>
                    <th>Used by Google Analytics, this registers a unique ID to generate statistics about how you use the website</th>
                    <th>1 minute</th>
                </tr>
                <tr>
                    <th>_gid</th>
                    <th>Used by Google Analytics, this helps count how many people visit this site by tracking if you’ve visited before</th>
                    <th>24 hours</th>
                </tr>
            </table>
        </p>

        <h3>Marketing</h3>
        <p>We use cookies to make our marketing more engaging and relevant to users. We use cookie information to focus our marketing on what’s relevant to specific users, to improve performance reporting, and to avoid showing ads that the user has already seen.</p>
        <p>For example, we use cookies to remember your most recent searches, your previous interactions with our ads or search results, and your visits to our website.</p>
        <p>We may also use data from conversion cookies to determine how many people who click on our ads go on to sign up for services on our website. Conversion cookies are not used by Google for interest-based ad targeting and persist for a limited time only.</p>
        <p>We place marketing tags on our pages to simply track the success of our content per channel. Some of our pages may contain content from other sites, like YouTube, which may set their own cookies. These sites are sometimes called 'third party' services. This tells us how many people are seeing the content and whether it's useful.</p>
        <p>In addition, if you share a link to one of our pages, the service you share it on (for example, Facebook) may set a cookie. We have no control over cookies set on other websites - you can turn them off, but not through us.</p>
        <p>
            <table>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
            </table>
        </p>

        <h3>How to control your cookies</h3>
        <p>You can delete or manage all cookies from your browser. The links below take you to the ‘Help' sections for each of the major browsers, so that you can find out more about how to manage your cookies.</p>
        <p>
            <ul>
                <li>
                    <a href="https://support.google.com/chrome/answer/95647?hl=en-GB&p=cpn_cookies" target="_blank" rel="noopener noreferrer">
                    Google Chrome <span class="govuk-visually-hidden">(Link opens in new
window)</span> <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies#ie=ie-11" target="_blank" rel="noopener noreferrer">
                    Internet Explorer <span class="govuk-visually-hidden">(Link opens in new
window)</span> <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="https://support.microsoft.com/en-us/help/4468242/microsoft-edge-browsing-data-and-privacy" target="_blank" rel="noopener noreferrer">
                    Microsoft Edge <span class="govuk-visually-hidden">(Link opens in new
window)</span> <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="https://support.apple.com/kb/ph21411?locale=en_GB" target="_blank" rel="noopener noreferrer">
                    Safari for Mac and mobile devices <span class="govuk-visually-hidden">(Link opens in new
window)</span> <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer?redirectlocale=en-US&redirectslug=Cookies" target="_blank" rel="noopener noreferrer">
                    Mozilla Firefox. <span class="govuk-visually-hidden">(Link opens in new
window)</span> <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
            </ul>
        </p>
        <p>Find out how we use your personal data when you sign up for our services.</p>
    </div>
    <div class="content_right"></div>
</section>
