<% @page_title = "Cookies" %>
<% @skip_hero = true %>
<h2>Cookies</h2>
<p>
        We want to make our services easy, useful and reliable. When services are delivered on the internet, this sometimes involves placing small amounts of information on your computer, tablet, or mobile phone – whichever device you use to access our site. These include small files known as cookies.
    </p>
<p>
        The information below shows the cookies that are set by
	<a href="https://www.gov.uk/government/organisations/department-for-education" target="_blank" rel="noopener noreferrer">education.gov.uk
		<span class="govuk-visually-hidden">(Link opens in new
window)</span>
	</a> and the third-party services we use. At the header and footer of this page, you can change your preferences at any time for marketing cookies.

</p>
<h3>1. Functional cookies</h3>
<p>
        These functional cookies are strictly necessary cookies, which help to make your experience on the site as smooth as possible and do not gather information about you.
    </p>
<p>Some examples of these cookies include:</p>
<ul>
	<li>enabling a service to recognise your device so you don’t have to give the same information several times during one task</li>
	<li>recognising that you may already have given a username and password so that you don’t need to do so for every webpage requested</li>
	<li>measuring how many people are using our services so that we can make them easier to use and ensure that there is enough capacity to make sure they are fast</li>
</ul>
<p>
	<table class="govuk-table">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th>Name</th>
				<th>Purpose</th>
				<th>Expires</th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">_dfe_session
				</th>
				<td class="govuk-table__cell">temporary session data
				</th>
				<td class="govuk-table__cell">End of browser session
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">git-cookie-preferences-v1
				</th>
				<td class="govuk-table__cell">Record acceptance of beta site cookie policy
				</th>
				<td class="govuk-table__cell">90 days
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">_vwo_uuid_v2
				</th>
				<td class="govuk-table__cell">Redirection from original site to new Beta site
				</th>
				<td class="govuk-table__cell">1 year
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">GiTBetaFeedbackPrompt
				</th>
				<td class="govuk-table__cell">Record response to our request for feedback
				</th>
				<td class="govuk-table__cell">End of browser session
				</th>
			</tr>
		</tbody>
	</table>
</p>
<h3>2. Non-functional cookies</h3>
<p>These cookies allow us to provide a more enhanced service and help us to learn what content our users like or don’t like, so we can make the service even better. They also help us to provide you with personalised content and teaching-related advertisements to help you with your consideration of Initial Teacher Training and returning to teaching. Whilst these cookies don’t collect your name or address, they do collect a unique user identifier code, which is linked to your device.</p>
<p>The types of non-functional cookies we set are:</p>
<h3>Website usage</h3>
<p>We measure website usage so that we can gain a better understanding of how people use our site. This enables us to improve the information that we provide. It also ensures that the service is available when you want it, and that it delivers information quickly. We use Google Analytics to gather this data.</p>
<p>
	<table class="govuk-table">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th>Name</th>
				<th>Purpose</th>
				<th>Expires</th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">_ga
				</th>
				<td class="govuk-table__cell">Used by Google Analytics, this helps count how many people visit this site by tracking if you’ve visited before
				</th>
				<td class="govuk-table__cell">2 years
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">UA-179982899-1
				</th>
				<td class="govuk-table__cell">Used by Google Analytics, this registers a unique ID to generate statistics about how you use the website
				</th>
				<td class="govuk-table__cell">1 minute
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">_gid
				</th>
				<td class="govuk-table__cell">Used by Google Analytics, this helps count how many people visit this site by tracking if you’ve visited before
				</th>
				<td class="govuk-table__cell">24 hours
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">_hjid
				</th>
				<td class="govuk-table__cell">Used by Hotjar. This registers a unique ID to generate statistics abouthow you use the website.
				</th>
				<td class="govuk-table__cell">365 days
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">_hjRecordingLastActivity
				</th>
				<td class="govuk-table__cell">Used by Hotjar. This gets updated when a visitor recording starts and when you perform an action that Hotjar records.
				</th>
				<td class="govuk-table__cell">Session
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">_hjTLDTest
				</th>
				<td class="govuk-table__cell">Used by Hotjar. This is used to determine where cookies will be stored. After this check, the cookie is removed.
				</th>
				<td class="govuk-table__cell">Session
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">_hjUserAttributesHash
				</th>
				<td class="govuk-table__cell">Used by Hotjar. Information about your visit is cached for the duration of the session in order to know when anattribute has changed and needs to be updated.
				</th>
				<td class="govuk-table__cell">Session
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">_hjCachedUserAttributes
				</th>
				<td class="govuk-table__cell">Used by Hotjar. This cookie stores User Attributes which are sent whenever the user is not in the sample.
				</th>
				<td class="govuk-table__cell">Session
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">_hjLocalStorageTest
				</th>
				<td class="govuk-table__cell">Used by Hotjar. This cookie is used to check if the Hotjar Tracking Script can use local storage.
				</th>
				<td class="govuk-table__cell">Under 100ms
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">_hjIncludedInPageviewSample
				</th>
				<td class="govuk-table__cell">Used by Hotjar. This cookie is set to let Hotjar know whether you are included in data sampling.
				</th>
				<td class="govuk-table__cell">30 minutes
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">_hjIncludedInSessionSample
				</th>
				<td class="govuk-table__cell">Used by Hotjar. This cookie is set to let Hotjar know whether you are included in data sampling.
				</th>
				<td class="govuk-table__cell">30 minutes
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">_hjAbsoluteSessionInProgress
				</th>
				<td class="govuk-table__cell">Used by Hotjar. This cookie is used to detect your first pageview session.
				</th>
				<td class="govuk-table__cell">30 Minutes
				</th>
			</tr>
		</tbody>
	</table>
</p>
<h3>Marketing</h3>
<p>We use cookies to make our marketing more engaging and relevant to users. We use cookie information to focus our marketing on what’s relevant to specific users, to improve performance reporting, and to avoid showing ads that the user has already seen.</p>
<p>For example, we use cookies to remember your most recent searches, your previous interactions with our ads or search results, and your visits to our website.</p>
<p>We may also use data from conversion cookies to determine how many people who click on our ads go on to sign up for services on our website. Conversion cookies are not used by Google for interest-based ad targeting and persist for a limited time only.</p>
<p>We place marketing tags on our pages to simply track the success of our content per channel. Some of our pages may contain content from other sites, like YouTube, which may set their own cookies. These sites are sometimes called 'third party' services. This tells us how many people are seeing the content and whether it's useful.</p>
<p>In addition, if you share a link to one of our pages, the service you share it on (for example, Facebook) may set a cookie. We have no control over cookies set on other websites - you can turn them off, but not through us.</p>
<p>
	<table class="govuk-table">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th>Name</th>
				<th>Purpose</th>
				<th>Expires</th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">_pin_unauth
				</th>
				<td class="govuk-table__cell">We work with Pinterest to make our Pinterest ads more effective by being able to retarget those that have already visited our website and create lookalike audiences.
				</th>
				<td class="govuk-table__cell">1 year later
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">_scid
				</th>
				<td class="govuk-table__cell">Snapchat uses this cookie to deliver advertisements, to make them more relevant and meaningful to consumers, and to track the efficiency of advertising campaigns.
				</th>
				<td class="govuk-table__cell">13 months later
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">_derived_epik
				</th>
				<td class="govuk-table__cell">gets set by Pinterest
				</th>
				<td class="govuk-table__cell">1 year later
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">fr
				</th>
				<td class="govuk-table__cell">These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising
				</th>
				<td class="govuk-table__cell">90 days later
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">ATN
				</th>
				<td class="govuk-table__cell">athmt.com
				</th>
				<td class="govuk-table__cell">2 years later
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">X-AB
				</th>
				<td class="govuk-table__cell">sc-static.net
				</th>
				<td class="govuk-table__cell">24 hours later
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">_pineterest_ct_ua
				</th>
				<td class="govuk-table__cell">Pinterest marketing.
				</th>
				<td class="govuk-table__cell">1 year later
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">GPS
				</th>
				<td class="govuk-table__cell">YouTube may set this cookie on your computer once you click on the YouTube video player
				</th>
				<td class="govuk-table__cell">30 minutes later
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">PREF
				</th>
				<td class="govuk-table__cell">YouTube may set this cookie on your computer once you click on the YouTube video player
				</th>
				<td class="govuk-table__cell">2 years later
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">VISITOR_INFO1_LIVE
				</th>
				<td class="govuk-table__cell">YouTube may set this cookie on your computer once you click on the YouTube video player
				</th>
				<td class="govuk-table__cell">180 days later
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">YSC
				</th>
				<td class="govuk-table__cell">YouTube may set this cookie on your computer once you click on the YouTube video player
				</th>
				<td class="govuk-table__cell">End of browser session
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">IDE
				</th>
				<td class="govuk-table__cell">Double-click advertising
				</th>
				<td class="govuk-table__cell">390 days later
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">sc_at
				</th>
				<td class="govuk-table__cell">Snapchat uses this cookie to deliver advertisements, to make them more relevant and meaningful to consumers, and to track the efficiency of advertising campaigns.
				</th>
				<td class="govuk-table__cell">390 days later
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">personalization_id
				</th>
				<td class="govuk-table__cell">Twitter uses this cookie to deliver advertisements, to make them more relevant and meaningful to consumers, and to track the efficiency of advertising campaigns.
				</th>
				<td class="govuk-table__cell">2 years later
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">bam-session
				</th>
				<td class="govuk-table__cell">BAM use this cookie to attribute mailing list sign ups back to the agent at a teaching event that presented a QR code to the candidate.
				</th>
				<td class="govuk-table__cell">30 days
				</th>
			</tr>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">dax_listenerid
				</th>
				<td class="govuk-table__cell">DAX use this cookie for campaign effectiveness measurement for digital audio activity.
				</th>
				<td class="govuk-table__cell">3 months
				</th>
			</tr>
		</tbody>
	</table>
</p>
<h3>How to control your cookies</h3>
<p>You can delete or manage all cookies from your browser. The links below take you to the ‘Help' sections for each of the major browsers, so that you can find out more about how to manage your cookies.</p>
<p>
	<ul>
		<li>
			<a href="https://support.google.com/chrome/answer/95647?hl=en-GB&p=cpn_cookies" target="_blank" rel="noopener noreferrer">
                Google Chrome
				<span class="govuk-visually-hidden">(Link opens in new
window)</span>
				<i class="fas fa-external-link-alt"></i>
			</a>
		</li>
		<li>
			<a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies#ie=ie-11" target="_blank" rel="noopener noreferrer">
                Internet Explorer
				<span class="govuk-visually-hidden">(Link opens in new
window)</span>
				<i class="fas fa-external-link-alt"></i>
			</a>
		</li>
		<li>
			<a href="https://support.microsoft.com/en-us/help/4468242/microsoft-edge-browsing-data-and-privacy" target="_blank" rel="noopener noreferrer">
                Microsoft Edge
				<span class="govuk-visually-hidden">(Link opens in new
window)</span>
				<i class="fas fa-external-link-alt"></i>
			</a>
		</li>
		<li>
			<a href="https://support.apple.com/kb/ph21411?locale=en_GB" target="_blank" rel="noopener noreferrer">
                Safari for Mac and mobile devices
				<span class="govuk-visually-hidden">(Link opens in new
window)</span>
				<i class="fas fa-external-link-alt"></i>
			</a>
		</li>
		<li>
			<a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer?redirectlocale=en-US&redirectslug=Cookies" target="_blank" rel="noopener noreferrer">
                Mozilla Firefox.
				<span class="govuk-visually-hidden">(Link opens in new
window)</span>
				<i class="fas fa-external-link-alt"></i>
			</a>
		</li>
	</ul>
</p>
<p>Find out how we use your personal data when you sign up for our services.</p>
