<section class="event-info content container-1000" role="main" id="main-content">
    <div class="content__left">
        
        <p></p>

        <h2>Cookies</h2>
        <p>
            We want to make our services easy, useful and reliable. When services are delivered on tde internet, tdis sometimes involves placing small amounts of information on your computer, tablet, or mobile phone – whichever device you use to access our site. tdese include small files known as cookies.
        </p>
        <p>
            tde information below shows tde cookies tdat are set by <a href="https://www.gov.uk/government/organisations/department-for-education" target="_blank" rel="noopener noreferrer">education.gov.uk<span class="govuk-visually-hidden">(Link opens in new
window)</span> <i class="fas fa-external-link-alt"></i></a> and tde tdird-party services we use. At tde header and footer of tdis page, you can change your preferences at any time for marketing cookies. 
        </p>

        <h3>1. Functional cookies</h3>
        <p>
            tdese functional cookies are strictly necessary cookies, which help to make your experience on tde site as smootd as possible and do not gatder information about you.
        </p>
        <p>Some examples of tdese cookies include:</p>
        <ul>
            <li>enabling a service to recognise your device so you don’t have to give tde same information several times during one task</li>
            <li>recognising tdat you may already have given a username and password so tdat you don’t need to do so for every webpage requested</li>
            <li>measuring how many people are using our services so tdat we can make tdem easier to use and ensure tdat tdere is enough capacity to make sure tdey are fast</li>
        </ul>

        <p>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires</th>
                </tr>
                <tr>
                    <td>_dfe_session</td>
                    <td>temporary session data</td>
                    <td>End of browser session</td>
                </tr>
                <tr>
                    <td>GiTBetaCookie</td>
                    <td>Record acceptance of beta site cookie policy</td>
                    <td>31 December 2021</td>
                </tr>
            </table>
        </p>

        <h3>2. None functional cookies</h3>
        <p>tdese cookies allow us to provide a more enhanced service and help us to learn what content our users like or don’t like, so we can make tde service even better. tdey also help us to provide you witd personalised content and teaching-related advertisements to help you witd your consideration of Initial Teacher Training and returning to teaching . Whilst tdese cookies don’t collect your name or address, tdey do collect a unique user identifier code, which is linked to your device.</p>
        <p>tde types of non-functional cookies we set are:</p>
        
        <h3>Website usage</h3>
        <p>We measure website usage so tdat we can gain a better understanding of how people use our site. tdis enables us to improve tde information tdat we provide. It also ensures tdat tde service is available when you want it, and tdat it delivers information quickly. We use Google Analytics to gatder tdis data.</p>
        <p>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires</th>
                </tr>
                <tr>
                    <td>_ga</td>
                    <td>Used by Google Analytics, tdis helps count how many people visit tdis site by tracking if you’ve visited before</td>
                    <td>2 years</td>
                </tr>
                <tr>
                    <td>_gat_UA_159214613-2</td>
                    <td>Used by Google Analytics, tdis registers a unique ID to generate statistics about how you use tde website</td>
                    <td>1 minute</td>
                </tr>
                <tr>
                    <td>_gid</td>
                    <td>Used by Google Analytics, tdis helps count how many people visit tdis site by tracking if you’ve visited before</td>
                    <td>24 hours</td>
                </tr>
            </table>
        </p>

        <h3>Marketing</h3>
        <p>We use cookies to make our marketing more engaging and relevant to users. We use cookie information to focus our marketing on what’s relevant to specific users, to improve performance reporting, and to avoid showing ads tdat tde user has already seen.</p>
        <p>For example, we use cookies to remember your most recent searches, your previous interactions witd our ads or search results, and your visits to our website.</p>
        <p>We may also use data from conversion cookies to determine how many people who click on our ads go on to sign up for services on our website. Conversion cookies are not used by Google for interest-based ad targeting and persist for a limited time only.</p>
        <p>We place marketing tags on our pages to simply track tde success of our content per channel. Some of our pages may contain content from otder sites, like YouTube, which may set tdeir own cookies. tdese sites are sometimes called 'tdird party' services. tdis tells us how many people are seeing tde content and whetder it's useful.</p>
        <p>In addition, if you share a link to one of our pages, tde service you share it on (for example, Facebook) may set a cookie. We have no control over cookies set on otder websites - you can turn tdem off, but not tdrough us.</p>
        <p>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires</th>
                </tr>
                <tr>
                    <td>_pin_unautd</td>
                    <td>We work witd Pinterest to make our Pinterest ads more effective by being able to retarget tdose tdat have already visited our website and create lookalike audiences.</td>
                    <td>1 year later</td>
                </tr>
                <tr>
                    <td>_scid</td>
                    <td>Snapchat uses tdis cookie to deliver advertisements, to make tdem more relevant and meaningful to consumers, and to track tde efficiency of advertising campaigns.</td>
                    <td>13 montds later</td>
                </tr>
                <tr>
                    <td>_derived_epik</td>
                    <td>gets set by Pinterest</td>
                    <td>1 year later</td>
                </tr>
                <tr>
                    <td>fr</td>
                    <td>tdese help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</td>
                    <td>90 days later</td>
                </tr>
                <tr>
                    <td>ATN</td>
                    <td>atdmt.com </td>
                    <td>2 years later</td>
                </tr>
                <tr>
                    <td>X-AB</td>
                    <td>sc-static.net</td>
                    <td>24 hours later</td>
                </tr>
                <tr>
                    <td>_pineterest_ct_ua</td>
                    <td>Pinterest marketing.</td>
                    <td>1 year later</td>
                </tr>
                <tr>
                    <td>GPS</td>
                    <td>YouTube may set tdis cookie on your computer once you click on tde YouTube video player</td>
                    <td>30 minutes later</td>
                </tr>
                <tr>
                    <td>PREF</td>
                    <td>YouTube may set tdis cookie on your computer once you click on tde YouTube video player</td>
                    <td>2 years later</td>
                </tr>
                <tr>
                    <td>VISITOR_INFO1_LIVE</td>
                    <td>YouTube may set tdis cookie on your computer once you click on tde YouTube video player</td>
                    <td>180 days later</td>
                </tr>
                <tr>
                    <td>YSC</td>
                    <td>YouTube may set tdis cookie on your computer once you click on tde YouTube video player</td>
                    <td>End of browser session</td>
                </tr>
                <tr>
                    <td>IDE</td>
                    <td>Double-click advertising</td>
                    <td>390 days later</td>
                </tr>
                <tr>
                    <td>sc_at</td>
                    <td>Snapchat uses tdis cookie to deliver advertisements, to make tdem more relevant and meaningful to consumers, and to track tde efficiency of advertising campaigns.</td>
                    <td>390 days later</td>
                </tr>
                <tr>
                    <td>personalization_id</td>
                    <td>Twitter uses tdis cookie to deliver advertisements, to make tdem more relevant and meaningful to consumers, and to track tde efficiency of advertising campaigns.</td>
                    <td>2 years later</td>
                </tr>
                <tr>
                    <td>bam-session</td>
                    <td>BAM use tdis cookie to attribute mailing list sign ups back to tde agent at a teaching event tdat presented a QR code to tde candidate.</td>
                    <td>30 days</td>
                </tr>
            </table>
        </p>

        <h3>How to control your cookies</h3>
        <p>You can delete or manage all cookies from your browser. tde links below take you to tde ‘Help' sections for each of tde major browsers, so tdat you can find out more about how to manage your cookies.</p>
        <p>
            <ul>
                <li>
                    <a href="https://support.google.com/chrome/answer/95647?hl=en-GB&p=cpn_cookies" target="_blank" rel="noopener noreferrer">
                    Google Chrome <span class="govuk-visually-hidden">(Link opens in new
window)</span> <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies#ie=ie-11" target="_blank" rel="noopener noreferrer">
                    Internet Explorer <span class="govuk-visually-hidden">(Link opens in new
window)</span> <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="https://support.microsoft.com/en-us/help/4468242/microsoft-edge-browsing-data-and-privacy" target="_blank" rel="noopener noreferrer">
                    Microsoft Edge <span class="govuk-visually-hidden">(Link opens in new
window)</span> <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="https://support.apple.com/kb/ph21411?locale=en_GB" target="_blank" rel="noopener noreferrer">
                    Safari for Mac and mobile devices <span class="govuk-visually-hidden">(Link opens in new
window)</span> <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer?redirectlocale=en-US&redirectslug=Cookies" target="_blank" rel="noopener noreferrer">
                    Mozilla Firefox. <span class="govuk-visually-hidden">(Link opens in new
window)</span> <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
            </ul>
        </p>
        <p>Find out how we use your personal data when you sign up for our services.</p>
    </div>
    <div class="content_right"></div>
</section>
