<%= render "sections/hero",  :header => "Aspire - School Direct Information morning and application advice", :image => "media/images/hero-events.png" %>

<section class="event-info container-1000">
    event info
</section>

<%= render "sections/talk-to-us" %>