<%= render "sections/hero",  :header => "Find an event near you", :image => "hero-events.png" %>

<section class="types-of-event container-1200"> 
    <div class="types-of-event__content">
        <h2 class="strapline strapline-prominent">Jump to the event finder</h2>
        <h2>Our nationwide events are informal opportunities for you to get free expert advice about your next steps into teaching.</h2>
        <h1 class="strapline types-of-event__header">Types of event</h1>
        <div class="types-of-event__content__nested">
            <h1>Train to teach</h1>
            <p>
                At our Train to Teach events, you can meet experienced teaching professionals who can answer all of your questions.
            </p> 
            <h2>You’ll get the chance to:</h2>
            <ul>
                <li><span>Speak to experts about ways into teacher training and available funding</span></li>
                <li><span>Talk one-to-one with experienced and newly qualified teachers to find out what Teaching is really like</span></li>
                <li><span>Get advice on your teacher training application</span></li>
                <li><span>Talk to schools and universities in your area to help you decide on the best place for you to train and how to apply</span></li>
            </ul>
            <p>
                You can drop in at any time. Allow at least two hours to make the most of your visit. Train to Teach presentations run hourly throughout the event. 
            </p>
            <p>
                Check event timetables to make sure you don’t miss anything.
            </p>
        </div>
    </div>
</section>

<section class="types-of-event-quote container-1200">
    <div class="types-of-event-quote__left">
        <div class="types-of-event-quote__left__graphic">
            <i class="fas fa-quote-left fa-2x"></i>
        </div>
        <div class="types-of-event-quote__left__quote">
            <q>The best part of teaching for me is seeing that lightbulb moment when a child suddenly understands something they didn’t before</q>
            <div class="types-of-event-quote__left__quote--quotee">Simon, teacher</div>
        </div>
    </div>
</section>

<section class="types-of-event-types container-1200">
    <div class="types-of-event-types__content">
        <h1>Online</h1>
        <p>
            These interactive sessions let you talk with a panel of specialist advisers and get questions answered within minutes. See what matters to other potential trainee teachers too. Joining a conversation is easy – check in regularly to see what discussions we’ve got lined up.
        </p>

        <h1>School and university events</h1>
        <p>
            Schools and universities that run teacher training courses often hold their own events. Typically they cover areas such as:
        </p>
        <ul>
            <li><span>Course information</span></li>
            <li><span>Application advice</span></li>
            <li><span>School experience</span></li>
            <li><span>Opportunities to talk to current trainees or staff</span></li>
        </ul>
    </div>
</section>

<section class="search-for-events container-1200">
    <h1 class="strapline search-for-events__header">Search for events</h1>
    <div class="search-for-events__content">
        <div>
            <form>
                Showing 
                <select>
                    <option>All events</option>
                    <option>Some events</option>
                    <option>Other events</option>
                </select> 
                happening 
                <select>
                    <option>Nationwide</option>
                    <option>the North</option>
                    <option>the South</option>
                </select> 
                in 
                <select>
                    <option>March 2020</option>
                    <option>April 2020</option>
                    <option>May 2020</option>
                </select> 
            </form>
        </div>
        <div class="search-for-events__content__update">
            <div class="request-button">Update results <i class="fas fa-sync"></i></div>
        </div>
    </div>
</section>

<section class="search-for-events-results container-1200">
    <p>no results</p>
</section>
<%= render "sections/talk-to-us" %>