<div class="home-hero" style="background-image: url('<%= asset_pack_path 'media/images/homehero.png' %>')">
    <div class="hero-banner home-hero-banner">
        <h1>Inspire The Next Generation.</h1>
        <p>Get information and support to help you become a teacher</p>
    </div>
    <div class="hero-banner-mobile home-hero-banner">
        <h1>Inspire The <br/> Next Generation.</h1>
        <p>Get access to postgraduate training and become a teacher</p>
    </div>
</div>

<div style="height:500px">
    &nbsp;
</div>