<section class="event-info content container-1000" role="main" id="main-content">
  <div class="content__left">
    <h2>Privacy Policy</h2>
    <h3>Legal information</h3>
    <%= safe_format @privacy_policy.text %>
  </div>
  <div class="content_right"></div>
</section>
