<div role="main" id="main-content">
    <br/><br/>
    <div class="scrbbl-embed" data-src="/event/2931242/38942"></div>
    <script>(function(d, s, id) {var js,ijs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//embed.scribblelive.com/widgets/embed.js";ijs.parentNode.insertBefore(js, ijs);}(document, 'script', 'scrbbl-js'));</script>
    <br/><br/>
</div>