<% @page_title = "Session Expired" %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-heading-l">
        Session expired
      </div>
      <p>
        Your session has expired.
      </p>
      <%= link_to 'Restart your application', root_path %>
    </div>
  </div>
</div>
