<h1>Values</h1>
<table>
  <thead>
    <tr>
      <td>
        Key
      </td>
      <td>
        Value
      </td>
    </tr>
  </thead>
  <tbody>
    <% Value.data.each do |key, value| %>
      <tr>
        <td>
          <code>
            $<%= key %>$
          </code>
        </td>
        <td>
          <%= value %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
