<div class="hero" style="background-color: white">
  <img alt="Physics teacher explaining the concept of time to pupils on a whiteboard." data-lazy-disable="true" src="/packs/v1/media/images/content/hero-images/0013-3570599669a8da7d375320f4003d2d61.jpg">

  <div class="hero__title">
    <h1><span>Fund your training</span></h1>
  </div>

  <div class="hero__subtitle">
    <p>
      You can get support while you are training, from a range of financial support to help pay your fees to practical assistance if you are disabled.
    </p>
  </div>
</div>
