<section class="container">
    <div class="category__nav-cards">
        <a href="/fund-your-training/if-you-have-a-degree" class="category__nav-card">
            <h2>If you have a degree</h2>

            <p>
                Find out how to get QTS if you have a degree or you’re studying for one now. There are different options you can choose.
            </p>
            <span class="icon"></span>
        </a>

        <a href="/fund-your-training/tuition-fees-and-maintenance-loans" class="category__nav-card">
            <h2>Tuition fees and maintenance loans</h2>

            <p>
                Find out how much money you could get to help pay your fees and living expenses while you train.
            </p>
            <span class="icon"></span>
        </a>

        <a href="/fund-your-training/scholarships-and-bursaries" class="category__nav-card">
            <h2>Scholarships and bursaries</h2>

            <p>
                There is extra funding available for some subject areas, find out if you are eligible.
            </p>
            <span class="icon"></span>
        </a>

        <a href="/fund-your-training/if-youre-disabled" class="category__nav-card">
            <h2>Support if you’re disabled</h2>

            <p>
                If you are disabled there is financial and practical support available to help you train.
            </p>
            <span class="icon"></span>
        </a>

        <a href="/fund-your-training/if-you-come-from-outside-england" class="category__nav-card">
            <h2>If you come from outside England</h2>
            <p>
                There are different arrangements for getting financial support if you live outside England.
            </p>
            <span class="icon"></span>
        </a>

        <a href="/fund-your-training/if-you-come-from-outside-england" class="category__nav-card">
            <h2>If you’re a parent or carer</h2>
            <p>
                If you have children or other caring responsibilities you may be able to get extra financial support.
            </p>
            <span class="icon"></span>
    </div>
</section>
