<div class="row">
  <section class="category col-space-m">
    <section class="container category__cards main-section">
      <nav class="category__nav-cards">
        <ul>
          <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Pay and benefits",
              description: "Find out the starting salary for a qualified teacher and how your pay could increase during your career.",
              path: "/life-as-a-teacher/pay-and-benefits",
              image: "static/images/content/hero-images/teacher.jpg"
            )) %>
        </ul>
      </nav>
    </section>
  </section>
</div>
