<div class="row">
  <section class="container">
    <section class="image-blocks">
      <%= render CallsToAction::LifeasateacherBlockComponent.new %>
      <%= render CallsToAction::TeacherStoriesBlockComponent.new %>
      <%= render CallsToAction::GetSupportBlockComponent.new %>
    </section>
  </section>
</div>
