<section class="row">
  <div class="col col-full-content col-space-l-top">
    <section class="homepage-feature image-blocks">
      <%= render Content::ImageBlockComponent.new(
        title: "Life as a teacher",
        image_path: "static/images/content/directory/directory1.jpg"
      ) do %>
        <ul>
          <li><a href="/life-as-a-teacher/pay-and-benefits">Pay and benefits</a></li>
          <li><a href="/life-as-a-teacher/teaching-as-a-career">Teaching as a career</a></li>
           <li><a href="/life-as-a-teacher/who-you-could-teach">Who you could teach</a></li>
          <li><a href="/life-as-a-teacher/what-you-could-teach">What you could teach</a></li>
        </ul>
      <% end %>

      <%= render Content::ImageBlockComponent.new(
        title: "Teacher stories",
        image_path: "static/images/content/directory/directory2.jpg"
      ) do %>
        <ul>
          <li><a href="/life-as-a-teacher/abigails-career-progression">Abigail's career progression story</a></li>
        </ul>
     <% end %>

      <%= render Content::ImageBlockComponent.new(
       title: "Take the next step",
       image_path: "static/images/content/directory/directory3.jpg"
     ) do %>
        <ul>
          <li><a href="/teacher-training-adviser/sign_up/identity">Get an adviser</a></li>
          <li><a href="/steps-to-become-a-teacher">How to become a teacher</a></li>
          <li><a href="/events">Find an event</a></li>
          <li><a href="/mailinglist/signup/name">Sign up for personalised updates</a></li>
        </ul>
      <% end %>
    </section>
  </div>
</section>
