---
http_interactions:
- request:
    method: get
    uri: https://get-into-teaching-interface-api-qa.test.teacherservices.cloud/api/privacy_policies/123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 6kvDMYpsvUxqey5s8Wje
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"error":"BadRequest","message":"The value ''123'' is not
        valid.","attribute":"id"}]}'
  recorded_at: Mon, 13 Jul 2026 13:51:25 GMT
recorded_with: VCR 6.4.0
