---
http_interactions:
- request:
    method: get
    uri: https://get-into-teaching-interface-api-qa.test.teacherservices.cloud/api/privacy_policies/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 6kvDMYpsvUxqey5s8Wje
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c711e90a1f3a9ea5915b50038861ea35"
    body:
      encoding: UTF-8
      string: '{"id":"4872c8ed-0229-f111-8342-7c1e5285e3ab","text":"<p><h2>Privacy
        notice for Get Into Teaching</h2></p>\n    <p>Last updated: 26 March 2026</p>\n    <p>Date
        of next review: April 2026</p>\n    <p>We might make changes before the review
        date. Check regularly for updates.</p>\n    <p>This privacy notice explains
        how the Department for Education (DfE) uses personal information in the Get
        Into Teaching service. This includes information you give to us, or information
        that we may collect about you.</p>\n    <p>Get Into Teaching is a project
        aimed at helping individuals get Into teaching giving support and guidance
        via the help portals mentioned below.</p>\n    <p>To access our adviser service,
        you need to be 18 years old or older. To access our personalised emails and
        events services, you need to be 16 years old or older.</p>\n    <p><h3>We''ve
        created a service that lets you:</h3></p>\n    <ul>\n        <li><p><a href=\"#getanadviser\">Get
        an adviser</a></p></li>\n        <li><p><a href=\"#schoolexperience\">Get
        school experience</a></p></li>\n        <li><p><a href=\"#manageschoolexperience\">Manage
        school experience</a></p></li>\n        <li><p><a href=\"#signupforemails\">Sign
        up for personalised emails</a></p></li>\n        <li><p><a href=\"#talktoanagentviawebchat\">Talk
        to an agent via webchat </a></p></li>\n    </ul>\n    <p>When you provide
        us[...]
