<div class="row">
  <div class="grey col">
    <section class="col col-full-content">
      <div class="inset">
        <p class="col-720">
          Every day, people are being accepted onto teacher training courses starting this September..
        </p>
        <p class="col-720">
        Places fill up quickly at this time of year so don’t miss your opportunity to join a course while there’s still time to apply. 
        </p>

    </section>
  </div>
</div>
