<div class="row">
  <section class="col col-720 col-space-l-top">
    <div class="inset">
      <p>You still have time to join a teacher training course starting in September. Places fill up quickly this time of year so don't miss your chance to apply.</p>
    </div>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">Get help to apply</h2>
    <div class="inset">
      <p>Our teacher training advisers can guide you through everything you need to do to apply for teacher training.</p>
      <p>They can give you free support to:</p>
      <p>
      <li>create a personal statement that shows off your strengths</li>
      <li>prepare for your interviews so you feel confident on the day</li>
      <li>understand your funding and finance options</li>
      </p>
      <p><%= link_to("Find out more about how you can get support from a teacher training adviser by email, text or phone", page_path("help-and-support")) %>.</p>
    </div>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">Find a teacher training course</h2>
    <div class="inset">
      <p>Teacher training courses usually take 9 months full-time, or 18 to 24 months part-time.</p>
      <p>Most courses combine theoretical learning with school placements, where you can experience life in the classroom.</p>
      <p><%= link_to("Find postgraduate teacher training",("https://www.find-postgraduate-teacher-training.service.gov.uk/")) %>.</p>
    </div>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">If you're a non-UK citizen</h2>
    <div class="inset">
      <p>If you're a non-UK citizen, the application process takes longer so not all providers will accept you onto a course at this stage. If you're not accepted onto a course this year, you can still get ready to apply for next year.</p>
      <p>Learn more about <%= link_to("training to teach in England as a non-UK citizen", page_path("non-uk-teachers/train-to-teach-in-england-as-an-international-student")) %>.</p>
    </div>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">If you need more time</h2>
    <div class="inset">
      <p>Don't worry if you're not ready to apply yet. Applications will open in October for next year's courses. You can still talk to an adviser now, to find out more about applying next year.</p>
      <p><%= link_to("Get a reminder to apply for next year’s courses", page_path("mailinglist/signup")) %> nearer the time, as well as helpful tips and advice, sent straight to your inbox.</p>
    </div>
  </section>
</div>
