<div class="row">
  <section class="col col-720">
    <h2 class="heading-l heading--box-gitlilac">Start your teacher training in September</h2>

    <div class="inset">
      <p>
        <p>You still have time to join a teacher training course starting in September. Places fill up quickly at this time of year so don't miss your chance to apply.</p>
      
    </div>
  </section>

  <section class="col col-720">
    <h2 class="heading-l heading--box-gitlilac">Get help to apply</h2>

    <div class="inset">
      <p>
        <p>Our teacher training advisers can guide you through everything you need to do to apply for teacher training.</p>
      
        <p>They can give you free support to:</p>

      <ul>
        <li>create a personal statement that shows off your strengths</li>
        <li>prepare for your interviews so you feel confident on the day</li>
        <li>understand your funding and finance options</li>
      </ul> 

</p>

      <p> 
         <%=link_to("Learn more about how you can get free support from a teacher training adviser", page_path("/help-and-support"))%>.
</p>

 </div>
</section>

 <section class="col col-720">
      <p> <h2 class="heading-l heading--box-gitlilac">Find a teacher training course</h2>

<div class="inset">

      <p> Postgraduate teacher training courses usually take 9 months full-time, or 18 to 24 months part-time.</p>
      <p> Most courses combine theoretical learning with school placements, where you can experience life in the classroom.</p>
      <p>
        <%=link_to("Find a postgraduate teacher training course", page_path("train-to-be-a-teacher/if-you-have-a-degree"))%>.
      </p>

 </div>
</section>

<section class="col col-720">
    <h2 class="heading-l heading--box-gitlilac">If you're a non-UK citizen</h2>

<div class="inset">

      <p>If you're a non-UK citizen, the application process takes longer so not all providers will accept you onto a course at this stage. If you're not accepted onto a course this year, you can still get ready to apply for next year.<p>
      
      <p>Learn more about <%=link_to("training to teach in England as a non-UK citizen",page_path("non-uk-teachers/train-to-teach-in-england-as-an-international-student"))%>.
  </p>

 </div>
</section>

<section class="col col-720">
    <h2 class="heading-l heading--box-gitlilac">If you need more time</h2>

    <div class="inset">

      <p>If you're not ready to apply yet, you can apply for next year's courses from October. You can still talk to an advisor now to find out more about applying next year.</p>
         <%=link_to("Get a reminder to apply for next year's courses", page_path("non-uk-teachers/train-to-teach-in-england-as-an-international-student"))%> nearer the time, as well as helpful tips and advice, sent straight to your inbox.
</p>
