<div class="row inset">
  <section class="col col-720">
    <p>
      If maths is your passion, you'll know that it's not just learning formulas or solving equations. It's a way of thinking and problem solving that’s important in every walk of life.
    </p>

    <p>
      An exciting career spent passing your knowledge on to the next generation could be for you.
    </p>

    <p>
      If you train to teach maths, you could also be eligible to receive a scholarship or bursary of up to £30,000.
    </p>
  </section>

  <section class="col col-space-s col-content-max">
    <%= render TextBlockWithTwoImagesComponent.new(
      heading: "Making maths add up",
      colour: "pink",
      image_1_path: "static/images/content/hero-images/0017.jpg",
      image_1_alt: "A teacher sitting with a student helping them with a maths problem",
      image_2_path: "static/images/content/hero-images/0024.jpg",
      image_2_alt: "A maths teacher standing at the front of a full classroom delivering a lesson",
    ) do %>
      <p>
        Maths is critical to science, technology and engineering as well as being fundamental for most jobs.
      </p>

      <p>
        A good understanding of maths provides big benefits for young people and helps create a strong economy.
      </p>

      <p>
        It's also our government's goal for all young people to study maths to age 18, equipping them with the skills they need for life.
      </p>
    <% end %>
  </section>

  <section class="col col-720 col-horizontal col-space-m">
    <div>
      <h2>What you'll be teaching</h2>
      <p>You'll teach the national curriculum. The themes you're likely to cover include: </p>
      <p>11 to 16 year olds (key stage 3 and 4):</p>
      <ul class="vertical-tags">
        <li class="tag">Numbers</li>
        <li class="tag">Algebra</li>
        <li class="tag">Ratio, proportion and rates of change</li>
        <li class="tag">Geometry and measures</li>
        <li class="tag">Probability and statistics</li>
      </ul>

      <p>16 to 18 year olds (key stage 5) - A or AS level core maths:</p>
      <ul class="vertical-tags">
        <li class="tag">Analysis of data</li>
        <li class="tag">Maths for personal finance</li>
        <li class="tag">Estimation</li>
        <li class="tag">Critical analysis of given data and models</li>
      </ul>
      <p>Optional content includes:</p>
      <ul class="vertical-tags">
        <li class="tag">The normal distribution</li>
        <li class="tag">Probabilities and estimation</li>
        <li class="tag">Correlation and regression</li>
        <li class="tag">Critical path and risk analysis</li>
        <li class="tag">Expectation</li>
        <li class="tag">Cost benefit analysis</li>
        <li class="tag">Graphical methods</li>
        <li class="tag">Rates of change</li>
      </ul>

    <p><a href="https://www.gov.uk/government/publications/national-curriculum-in-england-mathematics-programmes-of-study/national-curriculum-in-england-mathematics-programmes-of-study#key-stage-3">
        Read the full national curriculum for more information about teaching maths in secondary schools</a>.</p>
     <p>You can also search for past exam papers online to see the type of questions that were asked in previous years.</p>
    <p>You may also get the opportunity to teach other subjects, particularly for 11 to 16 year olds and in some cases for post-16. This will vary depending on individual schools.
    </div>
</section>

<section class="col col-845 inset">
    <%= render Content::PhotoQuoteListComponent.new(
      [
        {
          image: "static/images/content/subjects/rotna-roy.jpeg",
          heading: "Empowering my students",
          text: "I enjoy showing my students that maths is essential in everyday life. Whether it is identifying patterns, interpreting data, managing finances, or understanding the spaces and structures around us, everything uses maths.",
          accreditation: "Rotna Roy, Maths Lead at a school in London",
        }
      ],
      colors: %w[yellow],
      numbered: false
    ) %>
  </section>

  <section class="col col-space-m col-720">
    <h2 class="heading-s">Help to become a maths teacher</h2>

    <p>Our experienced teacher training advisers can guide you through everything you need to know to apply for maths teacher training, free of charge. They can help you to:</p>

    <ul>
      <li>understand more about maths courses</li>
      <li>answer questions about fees and funding</li>
      <li>make an application for a maths course</li>
    </ul>

    <p><a href="/teacher-training-advisers">Find out about advisers</a>.</p>

    <h2 class="heading-s">Check your qualifications</h2>

    <p>To train to teach maths in England, you'll need a bachelor's degree, but it does not have to be in maths.</p>

    <p><a href="/is-teaching-right-for-me/qualifications-you-need-to-teach">Find out about the qualifications needed to teach</a>.</p>

    <h2 class="heading-s">Funding for teaching maths</h2>

    <p>Scholarships of £30,000 or bursaries of £28,000 are available if you start your maths teacher training course between September 2024 and July 2025.</p>

    <p><a href="/funding-and-support/scholarships-and-bursaries">Check your eligibility for bursaries and scholarships</a>.</p>
    <p>You can <a href="https://teachingmathsscholars.org/home">find out more about the maths scholarship from The Institute of Mathematics and its Applications, and partners</a>.</p>

    <h2 class="heading-s">Experience school life</h2>

    <p>If you’re currently doing an undergraduate or master's degree and are interested in teaching maths, you could <a href="/is-teaching-right-for-me/teaching-internship-providers">apply for a paid teaching internship</a>.</p>
    <p>The 3 week programme could help you to understand what it’s really like in the classroom and get a feel for school life.</p>
    <p>You can also find out what it's like to be in a classroom through unpaid <a href="/is-teaching-right-for-me/get-school-experience">school experience</a>.</p>

    <h2 class="heading-s">Improving your maths subject knowledge</h2>

    <p>If you need to brush up on your maths knowledge before you become a maths teacher, you can do a subject knowledge enhancement course.</p>

    <p><a href="/how-to-apply-for-teacher-training/subject-knowledge-enhancement">Find out about subject knowledge enhancement courses</a>.</p>
  </section>
</div>
