<article>
  <section class="statement">
    <div>
      <span class="purple xlarge bold">Maths is&hellip;</span>
    </div>

    <div>
      <span class="purple medium bold">
        Etiam sed enim in magna tempor blandit. Praesent nunc lorem, maximus
        tincidunt augue vel, commodo elementum mi.
      </span>
    </div>
  </section>

  <section>
    <h2>Suspendisse sollicitudin</h2>

    <p>
      Etiam sed enim in magna tempor blandit. Praesent nunc lorem, maximus
      tincidunt augue vel, commodo elementum mi. Vivamus eu risus in nulla
      gravida lacinia et quis magna. Quisque eu felis a ante auctor porta.
    </p>

    <p>
      Vestibulum efficitur eros sed tincidunt efficitur. Cras malesuada lacus
      in est commodo, in interdum quam convallis.
    </p>
  </section>

  <%= render SubjectSpecific::TextBlockWithTwoImagesComponent.new(
    heading: "Maths is for everyone",
    colour: "purple",
    image_1_path: "media/images/content/hero-images/0012.jpg",
    image_1_alt: "A teacher standing at the front of her classroom teaching a class",
    image_2_path: "media/images/content/hero-images/0021.jpg",
    image_2_alt: "A teacher standing at the front of her classroom teaching a class",
  ) do %>
    <p>
      Ego cum teneam sententiam, quid est enim in vita tantopere quaerendum quam
      cum omnia in philosophia, tum id, quod ipsi statuerunt, non possunt, victi
      et debilitati obiecta specie voluptatis tradunt se libidinibus
      constringendos nec quid eventurum sit provident ob eamque causam propter
      voluptatem et dolorem.
    </p>

    <p>ad haec et quae vel aliter pararetur et qua etiam carere.</p>
  <% end %>

  <section>
    <figure>
      <blockquote class="yellow-quotes">
        <p class="bold">
          Aut maiorem aut minorem. Ita, quae mutat, ea corrumpit, quae sequitur sunt tota
          Democriti, atomi, inane, imagines, quae eidola nominant, quorum incursione non
          solum praesentibus fruuntur.
        </p>
      </blockquote>
      <figcaption>Dave, maths teacher</figcaption>
    </figure>
  </section>

  <%= render SubjectSpecific::TextBlockWithOneImageComponent.new(
    heading: "Try a three month internship",
    colour: "purple",
    image_path: "media/images/content/hero-images/0009.jpg",
    image_alt: "A teacher standing at the front of her classroom teaching a class",
  ) do %>
    <p>
      Ego cum teneam sententiam, quid est enim in vita tantopere quaerendum quam
      cum omnia in philosophia, tum id.
    </p>
  <% end %>

  <section>
    <h2>Consectetur adipiscing elit</h2>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minima
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea
      commodi consequatur? quis autem vel eum iure.
    </p>

    <p>
      Ita paratus est, ut Epicuro placet, nihil dolere, primum tibi recte,
      Chrysippe, concessum est nihil desiderare manum, cum ita sit, perspicuum
      est nihil ad iucunde vivendum reperiri posse, quod coniunctione tali sit
      aptius. Quibus ex omnibus iudicari potest non modo non inopem, ut vulgo
      putarent, sed locupletiorem etiam esse quam vacare omni dolore.
    </p>

    <p>
      Essent. Quae cum tota res (est) ficta pueriliter, tum ne efficit quidem,
      quod vult. nam et ipsa declinatio ad libidinem fingitur -- ait enim
      declinare atomum sine causa; quo nihil nec summum nec infimum nec medium
      nec ultimum nec extremum sit, ita ferri, ut concursionibus inter se
      reprehensiones non sunt vituperandae, maledicta, contumeliae, tum
      iracundiae, contentiones concertationesque in disputando pertinaces
      indignae philosophia mihi videri.
    </p>
  </section>

  <section class="columns">
    <div>
      <h2>What you'll be teaching</h2>

      <p>
        Quietem et ad eos cum suavitate afflueret et illaberetur, nec manus esse
        contenta posset nec ulla pars vacuitate doloris sine iucundo motu
        voluptatis. sin autem summa voluptas est, ut necessariae.
      </p>
    </div>

    <div>
      <div class="badges">
        <div class="badge pink">
          <div class="badge-text">
            Trigonometry
          </div>
        </div>
        <div class="badge dark-cyan">
          <div class="badge-text">
            Algebra
          </div>
        </div>
        <div class="badge purple">
          <div class="badge-text">
            Number theory
          </div>
        </div>
        <div class="badge dark-blue">
          <div class="badge-text">
            Geometry
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <figure>
      <blockquote class="purple-quotes">
        <p class="bold">
          Aut maiorem aut minorem. Ita, quae mutat, ea corrumpit, quae sequitur sunt tota
          Democriti, atomi, inane, imagines, quae eidola nominant, quorum incursione non
          solum praesentibus fruuntur.
        </p>
      </blockquote>
      <figcaption>Julie, maths teacher</figcaption>
    </figure>
  </section>

  <section>
    <h2>Declinare atomum</h2>

    <p>
      Essent. Quae cum tota res (est) ficta pueriliter, tum ne efficit quidem,
      quod vult. nam et ipsa declinatio ad libidinem fingitur -- ait enim
      declinare atomum sine causa; quo nihil nec summum nec infimum nec medium
      nec ultimum nec extremum sit, ita ferri, ut concursionibus inter se
      reprehensiones non sunt vituperandae, maledicta, contumeliae, tum
      iracundiae, contentiones concertationesque in disputando pertinaces
      indignae philosophia mihi videri.
    </p>
  </section>
</article>
