<div class="row inset">
  <section class="col col-720">
    <p>
      If maths is your passion, you know that it is not just learning formulas or solving equations. It is a way of thinking, and problem solving, that’s important in every walk of life.
    </p>

    <p>
      An exciting career spent passing your passion on to the next generation could be the career for you.
    </p>

    <p>
      If you train to teach maths, you could also be eligible to receive a scholarship or bursary of up to £29,000.
    </p>
  </section>

  <section class="col col-space-s col-content-max">
    <%= render TextBlockWithTwoImagesComponent.new(
      heading: "Maths equals big benefits",
      colour: "pink",
      image_1_path: "static/content/hero-images/0017.jpg",
      image_1_alt: "A teacher sitting with a student helping them with a maths problem",
      image_2_path: "static/content/hero-images/0024.jpg",
      image_2_alt: "A maths teacher standing at the front of a full classroom delivering a lesson",
    ) do %>
      <p>
        Maths is critical to science, technology and engineering as well as being fundamental for most jobs.
      </p>

      <p>
        It is our government's goal for all young people to study maths to age 18, equipping them with the skills they need for life.
      </p>
      <p>
        A good understanding of maths offers big benefits for young people as well as helping towards a strong economy.
      </p>
    <% end %>
  </section>

  <section class="col col-640 col-space-s">
    <%= render Content::QuoteComponent.new(
      text: "You can literally change young people’s lives by being a maths teacher.
          Be the person who helps them see the beauty and importance of maths.
          It is the best job ever!",
      name: "Kevin, maths teacher in Sheffield",
      background: "white",
      large: true
    ) %>
  </section>

  <section class="col col-720 col-horizontal col-space-m">
    <div>
      <h2>What you'll be teaching</h2>
      <p>You'll teach the content of the national curriculum. The themes you are likely to cover include: </p>
      <p>11 to 14 year olds (key stage 3):</p>
      <ul class="vertical-tags">
        <li class="tag">Number</li>
        <li class="tag">Algebra</li>
        <li class="tag">Ratio, proportion and rates of change</li>
        <li class="tag">Geometry and measures</li>
        <li class="tag">Probability and statistics</li>
      </ul>

      <p>14 to 16 year olds (key stage 4):</p>
      <ul class="vertical-tags">
        <li class="tag">Number</li>
        <li class="tag">Algebra</li>
        <li class="tag">Ratio, proportion and rates of change</li>
        <li class="tag">Geometry and measures</li>
        <li class="tag">Probability and statistics</li>
      </ul>

      <p>16 to 18 year olds (key stage 5) - A or AS level maths:</p>
      <ul class="vertical-tags">
        <li class="tag">Proof</li>
        <li class="tag">Algebra and functions</li>
        <li class="tag">Coordinate geometry</li>
        <li class="tag">Sequences and series</li>
        <li class="tag">Trigonometry</li>
        <li class="tag">Exponentials and logarithms</li>
        <li class="tag">Differentiation</li>
        <li class="tag">Integration</li>
        <li class="tag">Numerical methods</li>
      </ul>

    <p><a href="https://www.gov.uk/government/publications/national-curriculum-in-england-mathematics-programmes-of-study/national-curriculum-in-england-mathematics-programmes-of-study#key-stage-3">
        Read the full national curriculum for more information about teaching maths in secondary schools</a>.</p>
     <p>You can also search for past exam papers online to see the type of questions that were asked in previous years.</p>
    <p>You may also get the opportunity to teach other subjects, particularly for 11 to 16 year olds and in some cases for post-16. This will vary depending on individual schools.
    </div>
  </section>

  <section class="col col-space-s col-content-max">
    <%= render TextBlockWithOneImageComponent.new(
      heading: "Getting into teacher training",
      colour: "yellow",
      image_path: "static/content/hero-images/0009.jpg",
      image_alt: "A teacher standing at the front of her classroom teaching a class",
    ) %>
  </section>

  <section class="col col-space-m col-720">
    <h3>Help to become a maths teacher</h3>

    <p>Our experienced teacher training advisers can guide you through everything you need to know to apply for maths teacher training, free of charge. They can help you to:</p>

    <ul>
      <li>understand more about maths courses</li>
      <li>answer questions about fees and funding</li>
      <li>make an application for a maths course</li>
    </ul>

    <p><a href="/teacher-training-advisers">Find out about advisers</a>.</p>

    <h3>Check your qualifications</h3>

    <p>To train to teach maths in England, you'll need a bachelor's degree, but it does not have to be in maths.</p>

    <p>Having relevant A levels can show your subject knowledge if you do not have a degree in maths.</p>

    <p><a href="/is-teaching-right-for-me/qualifications-you-need-to-teach">Find out about the qualifications needed to teach</a>.</p> 

    <h3>Funding for teaching maths</h3>

    <p>
    Scholarships of £29,000 or bursaries of £27,000 are available for trainee maths teachers starting their teacher training course in the 2023/24 academic year.
    </p>

    <p><a href="/funding-and-support/scholarships-and-bursaries">Check your eligibility for bursaries and scholarships</a>.</p>
    <p>You can <a href="https://teachingmathsscholars.org/home">find out more about the maths scholarship from The Institute of Mathmatics and its Applications</a>.</p>
  </section>

  <section class="col col-space-m col-720">
    <h2 class="heading-s">Maths internships</h2>

    <p>If you’re currently doing an undergraduate degree and are interested in teaching maths, you could apply for a paid teaching internship. </p>
    <p> It could help you to understand what it’s really like in the classroom and get a feel for school life.</p>
     <p>Internships last for 3 weeks, start in June and you’ll be paid £300 per week while you experience the classroom.</p>
     <p><a href="/teaching-internship-providers">Find out about teaching internships</a>.
  </section>

  <section class="col col-space-m col-720">
    <h2 class="heading-s">Improving your maths subject knowledge</h2>

    <p>
      If you need to brush up on how well you know your subject before you
      become a maths teacher, you can do a subject knowledge enhancement
      course.
    </p>

    <p>
      <a href="/how-to-apply-for-teacher-training/subject-knowledge-enhancement">
        Find out about subject knowledge enhancement courses</a>.
    </p>
  </section>

  <section class="col col-720">
    <h2 class="heading-s">Pass on your passion</h2>

    <p>Sign up to our mailing list for regular updates on:</p>

    <ul>
      <li>what it's like to be a teacher</li>
      <li>different ways to train</li>
      <li>teacher training events you can attend</li>
    </ul>

    <%= link_to("Register for updates", mailing_list_steps_path, class: "button") %>
  </section>
</div>
