<ol class="blog-index">
  <% @posts.each do |post| %>
    <li>
      <%= render partial: "blog/post_preview", locals: { path: post[:path], fm: post[:fm] } %>
      <hr>
    </li>
  <% end %>
</ol>

<%= paginate @posts, window: 2 %>
