<div class="row">
  <div class="grey col-space-l">
    <section class="col col-720 col-space-0">
         <%= render Content::AdviserComponent.new(
        title: "Benefit from expert one-to-one support",
        intro: "A teacher training adviser can help guide you wherever you are in your journey.",
        color: "transparent",
        margin: false,
        heading: :l
      ) %>
    </section>
  </div>
</div>
