<% @fullwidth = @hide_page_helpful_question = true %>
<% @page_title = "Forbidden" %>

<section class="container supplementary">
  <header>
    <h1>
      <span class="caption-xxl">Error 403</span>
      <%= @page_title %>
    </h1>
  </header>

  <article class="text-content">
    <p><a href="#talk-to-us">Contact us</a> if you need to speak to someone about Get Into Teaching</p>
  </article>
</section>
