<section class="content container-1000 error-page" role="main"> 
  <p>Error 500</p>
  <h1>Sorry, there is a problem with the Website</h1>
  <p>Try again later</p>
  <p><a href="#talk-to-us">Contact us</a> if you need to speak to someone about Get into Teaching</p>
</section>