<% @fullwidth = @hide_page_helpful_question = true %>
<% @page_title = "Page not found" %>

<section class="container supplementary">
  <header>
    <h1>
      <span class="caption-xxl">Error 404</span>
      <%= @page_title %>
    </h1>
  </header>

  <article class="text-content">
    <p>If you typed the web address, check it is correct.</p>
    <p>If you pasted the web address, check you copied the entire address.</p>

    <p>
      You can <a href="/">browse from the homepage</a>
      or <a href="#talk-to-us">contact us</a>
      if you need to speak to someone about Get Into Teaching.
    </p>
  </article>
</section>

<section>
  <h3>Explore the site<h3>
  <aside class="blocks blocks--no-top-margin" role="complementary">
    <%= render Content::GenericBlockComponent.new(
      title: "Life as a teacher",
      icon_image: "icon-school-black.svg",
      icon_size: "40x30",
      classes: "blocks__directory"
    ) do %>
      <ul>
        <li><a href="/blog">Read teachers' stories</a></li>
        <li><a href="https://schoolexperience.education.gov.uk/">Experience a real school</a></li>
        <li><a href="/salaries-and-benefits">Teachers' salaries</a></li>
      </ul>
    <% end %>

    <%= render Content::GenericBlockComponent.new(
      title: "Your training",
      icon_image: "icon-doc-black.svg",
      icon_size: "40x35",
      classes: "blocks__directory"
    ) do %>
      <ul>
        <li><a href="/steps-to-become-a-teacher">How to become a teacher</a></li>
        <li><a href="/train-to-be-a-teacher">Explore ways to train</a></li>
        <li><a href="/funding-and-support">Find your funding options</a></li>
        <li><a href="/returning-to-teaching">Returning to teaching</a></li>
      </ul>
    <% end %>

    <%= render Content::GenericBlockComponent.new(
      title: "Take the next step",
      icon_image: "icon-git-black.svg",
      icon_size: "33x33",
      classes: "blocks__directory"
    ) do %>
      <ul>
        <li><a href="/tta-service">Get an adviser</a></li>
        <li><a href="/events">Go to an event</a></li>
        <li><a href="/mailinglist/signup/name">Sign up for personalised updates</a></li>
      </ul>
    <% end %>
  </aside>
</section>
