<% @fullwidth = @hide_page_helpful_question = true %>
<% @page_title = "Sorry, that change was rejected" %>

<section class="container supplementary">
  <header>
    <h1>
      <span class="caption-xxl">Error 422</span>
      <%= @page_title %>
    </h1>
  </header>

  <article class="text-content">
    <p>You may not have permissions to perform that action.</p>

    <p><a href="#talk-to-us">Contact us</a> if you need to speak to someone about Get Into Teaching.</p>
  </article>
</section>
