<div class="row">
  <section class="container">
    <section class="image-blocks">
      <%= render CallsToAction::AdviserBlockComponent.new %>
      <%= render CallsToAction::FindBlockComponent.new(
        title: "Find an SKE course",
        text: "Take a look at the different subject knowledge enhancement courses available.",
        link_text: "Explore SKE courses",
        link_target: "https://www.gov.uk/government/publications/subject-knowledge-enhancement-course-directory/subject-knowledge-enhancement-ske-course-directory"
      ) %>
    </section>
  </section>
</div>
