<div class="row">
  <section class="container">
    <section class="image-blocks">
      <%= render CallsToAction::AdviserBlockComponent.new %>
      <%= render CallsToAction::MailinglistBlockComponent.new %>
      <%= render CallsToAction::GetSchoolExperienceBlockComponent.new %>
    </section>
  </section>
</div>
