<div class="row">
  <section class="container">
    <section class="image-blocks">
      <%= render CallsToAction::AdviserBlockComponent.new %>
      <%= render CallsToAction::RoutesBlockComponent.new %>
      <%= render CallsToAction::FindBlockComponent.new(
        title: "Find a postgraduate teaching apprenticeship",
        text: "Explore the different postgraduate teaching apprenticeship courses available.",
        link_target: "https://find-teacher-training-courses.service.gov.uk/results?funding%5B%5D=apprenticeship&applications_open=true&subject_name=&subject_code=&location=&radius=50&provider_name=&provider_code=&order=course_name_ascending",
        link_text: "Find apprenticeship courses"
      ) %>
    </section>
  </section>
</div>
