<div class="row">
  <section class="container">
    <section class="image-blocks">
      <%= render CallsToAction::MailinglistBlockComponent.new(
        text: "If you're aged 16 years or over, get free guidance and support on getting into teaching."
      ) %>
      <%= render CallsToAction::RoutesBlockComponent.new %>
    </section>
  </section>
</div>
