<table class="govuk-table first-column-headings right-aligned-values">
  <caption class="govuk-table__caption govuk-table__caption--m">Keys and Values</caption>
  <thead>
  <tr>
    <th>
      Key
    </th>
    <th>
      Value
    </th>
  </tr>
  </thead>
  <tbody>
  <% Value.data.each do |key, value| %>
    <tr>
      <td>
        <code>
          $<%= key %>$
        </code>
      </td>
      <td>
        <%= value %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
