<div class="promo__right">
  <h2 class="heading-l">
    <% if caption %>
      <%= tag.div(caption, class: "caption-l caption--purple caption--bold") %>
    <% end %>

    <%= tag.div(heading) %>
  </h2>

  <%= content %>
</div>
