<div class="promo__right">
  <%= render Content::HeadingComponent.new(
    heading: heading,
    heading_size: :l,
    tag: :h2,
    caption: caption,
    caption_size: :l
  ) %>
  <%= content %>
</div>
