.overlapping {
  max-width: 100%;
  padding: 0;
  display: grid;
  grid-template-rows: max-content 6rem max-content;
  margin-top: 4em;

  > section:first-child {
    grid-area: 1 / 1 / span 2 / span 1;
    padding-bottom: 6rem;
  }

  > section:last-child {
    grid-area: 2 / 1 / span 2 / span 1;
  }
}
