<div class="row">
  <section class="col col-720">
    <h2 class="heading--box-blue">Postgraduate teacher training</h2>

    <div class="inset">
      <p>
      If you have a degree, you can do postgraduate teacher training to get qualified teacher status (QTS) – this is what you need to teach in many primary, secondary and special schools in England.
      </p>

      <p>
      Courses take 9 months full-time or 18 to 24 months part-time. They usually start in September. Your training will include time spent in at least 2 schools to get classroom experience, as well as some academic learning.
      </p>

      <p><%= link_to("Find out more about how to train to teach if you have a degree", page_path("train-to-be-a-teacher/if-you-have-a-degree")) %>.</p>
    </div>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">Undergraduate teacher training</h2>

    <div class="inset">
      <p>
      If you do not have a degree, you can do undergraduate teacher training. Courses that include qualified teacher status (QTS) can take up to 4 years and usually start in September.

      <p><%= link_to("Find out more about how to train to teach if you do not have a degree", page_path("train-to-be-a-teacher/if-you-dont-have-a-degree")) %>.</p>
    </div>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">Assessment only route to QTS</h2>

    <div class="inset">
      <p>
      If you already have at least 2 years' experience as an unqualified teacher, you might not have to do any further training.
      </p>

      <p>
      Instead, you could be eligible for the assessment only route to QTS which can take up to 12 weeks.
      </p>

      <p><%= link_to("Find out more about the assessment only route to QTS", page_path("train-to-be-a-teacher/assessment-only-route-to-qts")) %>.</p>
    </div>
  </section>
</div>
