<div class="row">
  <section class="col col-720">
    <%= render Content::MailingListComponent.new(
      title: "Find out about teacher training",
      intro: "Get helpful tips and advice on getting into teacher training straight to your inbox by answering just a few quick questions about yourself."
    ) %>
  </section>
</div>
