<section class="teaching-events">
  <header>
    <h1>Get into Teaching events</h1>

    <p>
      All events listed here are designed to help you get into teacher training. They are all free to attend.
    </p>
  </header>

  <div class="teaching-events__container">
    <div class="teaching-events__filter">
      <%= render partial: "teaching_events/index/filter" %>
    </div>

    <% if @featured_events.blank? && @events.blank? %>
      <div role="alert">
        No events were found.
      </div>
    <% else %>
      <div class="teaching-events__listing">
        <% if @featured_events.any? %>
          <div class="teaching-events__events teaching-events__events--featured">
            <h2>Upcoming Train to Teach events</h2>

            <ol><%= render TeachingEvents::EventComponent.with_collection(@featured_events) %></ol>
          </div>
        <% end %>

        <% if @events.any? %>
          <div class="teaching-events__events teaching-events__events--regular">
            <ol><%= render TeachingEvents::EventComponent.with_collection(@events) %></ol>

            <div class="teaching-events__pagination">
              <%= paginate @events %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
