<section class="teaching-events">
  <h1>Teaching events</h1>

  <div class="teaching-events__container">
    <div class="teaching-events__filter">
      <%= render partial: "filter" %>
    </div>

    <div class="teaching-events__listing">
      <div class="teaching-events__events teaching-events__events--featured">
        <h2>Upcoming train to teach events</h2>

        <ol><%= render TeachingEvents::EventComponent.with_collection(@featured_events) %></ol>
      </div>

      <div class="teaching-events__events">
        <ol><%= render TeachingEvents::EventComponent.with_collection(@events) %></ol>
      </div>
    </div>
  </div>
</section>
