<section class="teaching-events">
  <h1>Events</h1>

  <div class="teaching-events__container">

    <div class="teaching-events__filter">
      <%= render partial: "filter" %>
    </div>

    <div class="teaching-events__listing">
      Events list
    </div>
  </div>
</section>
