<section class="case-study advice">
  <figure>
    <p>My advice to you?</p>
    <blockquote>Focus on what you love about your subject. When you show a part of yourself to the students, you can connect with them better.</blockquote>
  </figure>

  <div class="back bottom">
    <%= link_to("/welcome") do %>
      &#8592; Back to welcome
    <% end %>
  </div>
</section>
