<article class="case-study">
  <p class="intro">
    Yvonne is and English teacher in London. She uses her love of rap music to
    engage and inspire her students.
  </p>

  <p>
    I’ve always loved listening to rap music, I was just 12 when I started writing
    my own songs and spoken word poems. I just couldn’t get enough of the lyrics –
    I was constantly trying to unpick them. They can really change how you see the
    world. When I started teaching, I thought this would be a great thing to take
    into the classroom.
  </p>

  <p>
    Lots of the English curriculum is classic texts and the kids sometimes find it
    hard to relate to. Rap just makes it more relevant. I mix up Shakespeare quotes
    with Hip Hop lyrics and the students have to guess which is which. It opens
    up the conversation and helps them make sense of it.
  </p>

  <p>
    When I started rapping in the classroom, the kids were all saying, “Miss, you
    can’t rap, you’re a teacher!” The next day, I brought in my speakers and
    started doing it. You could see them thinking, “Wow, this a different way of
    learning.” Even the quiet ones started speaking up, which is what it’s all
    about.
  </p>
</article>
