<header class="case-study header pink">
  <div class="background"></div>
  <%= image_pack_tag "media/images/content/welcome-guide/yvonne-photoshoot.jpg", alt: "English teacher Yvonne standing in front of a brightly painted wall" %>
  <div class="back">
    <%= link_to("/welcome") do %>
      &#8592; Back to welcome
    <% end %>
  </div>

  <h1>
    <div class="caption caption-l">
      <div class="blue no-wrap">
        Bring your
      </div>
    </div>

    <div class="caption caption-l">
      <div class="blue no-wrap blend">
        lessons to life.
      </div>
    </div>

    <div class="caption caption-m">
      <span class="blue">
        Yvonne, English teacher, London
      </span>
    </div>
  </h1>

  <div class="triangle pink">
    <svg height="100%" width="100%" viewbox="0 0 100 100" preserveAspectRatio="none">
      <polygon points="0,0 100,0 100,100" />
    </svg>
  </div>
</header>
