<div class="content-alert content-alert--fullwidth">
    <div>
      <span class="icon icon-warning" aria-hidden="true"></span>
    </div>
    <div>
      <h2 class="heading-m">Teaching internship applications will open in autumn 2023</h2>

      <p>Our explore teaching advisers can let you know when to apply for summer 2024 internships. They can also give helpful advice and insights about getting into teaching.</p>

      <p><a class="button button--white" href="/explore-teaching-advisers">Find out about explore teaching advisers</a></p>
    </div>
  </div>

<p>If you’re studying for an undergraduate degree or a master's degree and are interested in a career in teaching, an internship could help you to understand what it’s really like in the classroom. You’ll get to experience a range of activities to help you get a feel for school life.</p>

<p>Internships last 3 weeks, start in June or July and you’ll be paid £300 per week.</p>

<section class="col col-640">
  <%= render Content::QuoteComponent.new(
    text: "The support I had was amazing, I was treated like a member of staff, and I was welcomed by everyone.",
    name: "Chloe, former teaching intern",
    background: "yellow",
    large: false
  ) %>
</section>

<h2>Who can apply</h2>

<p>You'll need to be studying for a related undergraduate or a master's degree and interested in teaching one of these subjects:</p>
<ul>
  <li>chemistry</li>
  <li>computing</li>
  <li>languages</li>
  <li><a href="/subjects/maths">maths</a></li>
  <li><a href="/subjects/physics">physics</a></li>
</ul>

<p> If you’re interested in teaching a different subject, you can still <a href="/train-to-be-a-teacher/get-school-experience">get school experience</a> and find out what it’s like to be in a classroom.</p>

<section class="col col-640">
  <%= render Content::QuoteComponent.new(
    text: "Towards the end of the internship, I was able to teach parts of lessons that I had planned, and I really started to find my feet at the front of the classroom.",
    name: "Ben, former teaching intern",
    background: "yellow",
    large: false
  ) %>
</section>

<h2> What you'll experience</h2>

<p>You'll get a feel for what life as a teacher is like. Your internship will give you an opportunity to:</p>
  <ul>
     <li>shadow experienced teachers and observe lessons</li>
     <li>jointly plan and teach lessons</li>
     <li>get one-to-one guidance from outstanding classroom teachers and subject specialists</li>
     <li>see what school life is like for a teacher outside of the classroom</li>
  </ul>

<section class="col col-640">
  <%= render Content::QuoteComponent.new(
    text: "I observed lessons, provided 1:1 support to pupils, and even taught classes! The internship was particularly beneficial in providing a unique insight into teaching training and the application process.",
    name: "Carly, former teaching intern",
    background: "yellow",
    large: false
  ) %>
</section>
