<p>A teaching internship gives you the opportunity to spend 3 weeks in a school and find out what teaching is really like. You’ll experience being in a classroom, gain new skills, and be paid £300 per week.</p>

<p>Teaching internships usually take place during June and July. Places fill up quickly.</p>

<h2>Internship subjects</h2>

<p>Teaching internships are only available for certain subjects. In 2022, these included:</p>

<ul>
 <li>computing</li>
  <li>maths</li>
  <li>physics</li>
  <li>languages (north-east schools only)</li>
</ul>

<p>To take part, you’ll need to be studying for a degree related to the subject you want to teach.</p>