
<p>If you are an undergraduate on a STEM related degree and you are interested in teaching secondary maths or physics, 
you may be eligible for a paid Teaching Internship. This provides an opportunity to experience the teaching profession, 
gain new skills and be paid £300 per week for your time.</p>

<p>You will need to apply directly to participating schools and be an undergraduate in any year of study of a STEM related degree. To find out if you meet the eligibility criteria, check with participating schools before submitting your application. 
 
To get the best chance of succeeding in your application, <a href='/tta-service'>get an adviser</a> for support from our teaching experts.</p>

<h4>This programme is only available to those wishing to teach secondary maths or physics.</h4>
<section>
  <%= render GroupedCards::ListingComponent.new @front_matter["providers"] %>
</section>
