<p>A teaching internship gives you the opportunity to spend 3 weeks in a school and find out what teaching is really like. You’ll experience being in a classroom, gain new skills, and be paid £300 per week.</p>

<p>Teaching internships take place during June and July this year. Places fill up quickly.</p>

<h2>Subjects you can do your internship in</h2>

<p>Teaching internships are only available for certain subjects. You can do an internship in:</p>

<ul>
 <li>computing</li>
  <li>maths</li>
  <li>physics</li>
  <li>languages (north-east schools only)</li>
</ul>

<p>To take part, you’ll need to be studying for a degree related to the subject you want to teach (contact your chosen school if you’re unsure whether you meet this criteria).</p>

<p>If you’re interested in teaching a different subject, you can still <a href="/get-school-experience">get school experience</a> and find out what it’s like to be in a classroom.</p>

<h2>How to apply</h2>

<p>You apply directly to one of the schools listed below.<p>

<p>To have the best chance of succeeding in your application, you can <a href="/teacher-training-advisers">get an adviser</a>. They offer one-to-one support, and are all experienced teachers.</p>

<% if false %>
  <!--  Commented out until next cycle in 2022 --->

  <section>
    <%= render GroupedCards::ListingComponent.new @front_matter["providers"] %>
  </section>
<% end %>
