<p>If you’re studying for a degree and interested in a career in teaching, an internship could help you to understand what it’s really like in the classroom.</p>

<p> You’ll get the opportunity to experience a range of activities to help you get a feel for school life. Internships last 3 weeks, start in June and you’ll be paid £300 per week.  </p>

<p>"My teaching internship solidified that I wanted to become a teacher! The support I had was amazing, I was treated like a member of staff, and I was welcomed by everyone." - Chloe, former teaching intern.</p>

<h2>Internship subjects</h2>

<p>You’ll need to be studying for a related degree and interested in teaching one of these subjects:</p>
<ul>
  <li>chemistry</li>
  <li>computing</li>
  <li>languages</li>
  <li>maths</li>
  <li>physics</li>
</ul>

<p> If you’re interested in teaching a different subject, you can still <a href="/train-to-be-a-teacher/get-school-experience">get school experience</a> and find out what it’s like to be in a classroom.</p>

<p> “Towards the end of the internship, I was able to teach parts of lessons that I had planned, and I really started to find my feet at the front of the classroom!” - Ben, former teaching intern. </p>

<h2> What you'll cover</h2>

<p>You'll get a feel for school life, which could include:</p>
  <ul>
     <li>classroom experience, which could include helping with lessons and providing support to pupils</li>
     <li>shadowing experienced teachers and observing lessons</li>
     <li>jointly planning and delivering lessons</li>
     <li>one-to-one guidance from outstanding classroom teachers</li>
     <li>opportunities to network with qualified subject specialists</li>
  </ul>

  <p>“I observed lessons, provided 1:1 support to pupils, and even taught classes! The internship was particularly beneficial in providing a unique insight into teaching training and the application process.” - Carly, former teaching intern. </p>

<h2>How to apply</h2>

<p>You can apply for an internship directly to one of the schools listed below.</p>

<p> To have the best chance of succeeding in your application, <a href="/teacher-training-advisers">get an adviser</a>. They offer one-to-one support, and are all experienced teachers.</p>

<h3>Find a teaching internship in your region</h3>

<section class="providers-list">
  <%= render GroupedCards::ListingComponent.new @front_matter["provider_groups"] %>
</section>
