<p>If you’re studying for a degree and interested in a career in teaching, an internship could help you to understand what it’s really like in the classroom.</p> 

<p> You’ll get to spend 3 weeks in a school, gain new skills, and be paid £300 per week.</p>
<p> You’ll get to spend 3 weeks in a school, gain new skills, and be paid £300 per week.</p>

<p> Internships usually take place during June and July. Places fill up quickly.</p>
<p> Internships usually take place during June and July. Places fill up quickly.</p>

<h2>Internship subjects</h2>

<p>You’ll need to be studying for a related degree and interested in teaching one of these subjects:</p>
<ul>
  <li>chemistry</li>
  <li>computing</li>
  <li>languages</li>
  <li>maths</li>
  <li>physics</li>
</ul>

<p> If you’re interested in teaching a different subject, you can still <a href="/train-to-be-a-teacher/get-school-experience">get school experience</a> and find out what it’s like to be in a classroom.</p>

<h2> What you'll cover </h2>

<p>You'll get a feel for school life, which could include:</p> 

  <ul>
     <li>classroom experience, which could include helping with lessons and providing support to pupils</li>
     <li>shadowing experienced teachers and observing lessons</li>
     <li>jointly planning and delivering lessons</li>  
     <li>one-to-one guidance from outstanding classroom teachers</li>
     <li>opportunities to network with qualified subject specialists</li>
  </ul>
