<h2>Event information</h2>

<% if @event.message %>
  <%= render Content::InsetTextComponent.new(text: @event.message) %>
<% end %>

<%= tag.div(formatted_event_description(@event.description)) %>

<% if @event.video_id %>
  <div class="teaching-event__video">
    <%= render Content::YoutubeVideoComponent.new(
      id: @event.video_id,
      title: "Get Into Teaching Events: Take your next step towards teaching"
    ) %>
  </div>
<% end %>
