<% image_args = @event.image %>

<%# keep an empty image div here when there's no image args to keep grid positions %>
<div class="image">
  <% if image_args %>
    <%= image_pack_tag(*image_args) %>
  <% end %>
</div>
