<h2>Event information</h2>

<% if @event.message %>
  <div class="teaching-event__message">
    <%= tag.p(@event.message) %>
  </div>
<% end %>

<%= tag.div(formatted_event_description(@event.description)) %>

<% if @event.video_id %>
  <div class="teaching-event__video youtube-video-container">
    <%= render Content::YoutubeVideoComponent.new(
      id: @event.video_id,
      title: "Train to Teach Events: Take your next step towards teaching"
    ) %>
  </div>
<% end %>
