<section class="event-attributes">
  <div class="event-attribute organisers">
    <h3>Organisers</h3>

    <p>DfE</p>
  </div>

  <div class="event-attribute price">
    <h3>Price</h3>

    <p>Free</p>
  </div>

  <div class="event-attribute event-type">
    <h3>Event type</h3>

    <p><%= event_type_name(@event.type_id) %></p>
  </div>

  <div class="event-attribute format">
    <h3>Format</h3>

    <p><%= event_format(@event) %></p>
  </div>
</section>
