<% if @event.open? && can_sign_up_online?(@event) %>
  <section class="teaching-event__how-to-attend">
    <h2>How to attend</h2>

    <% if @event.in_person? %>
      <p>
        Register for this event to secure your place and check in faster on arrival using a QR code.
      </p>
    <% elsif @event.online? %>
      <p>
        Register for this event and you'll receive joining instructions via email.
      </p>
      <p>
        For the best experience when accessing this event, we recommend using Google Chrome on a laptop or desktop PC.
      </p>
    <% end %>

    <%= render(partial: 'teaching_events/show/online-register-button') %>
  </section>
<% end %>
