<div class="location-and-setting">
  <% if @event.building.present? && !@event.is_online %>
    <%= @event.building.venue %>,
    <%= @event.building.address_postcode %>
  <% end %>

  <% if @event.is_online %>
    <div>
      Online
    </div>
  <% end %>
</div>
