<%= render Content::InsetTextComponent.new(
  title: "Find more events",
  color: "grey",
  text: <<~HTML
    <p>There are lots more online and in-person events where you can get your questions answered about teaching.</p>
    <p>#{link_to("Explore all events", events_path)}.</p>
    HTML
) %>
