<% if [
    @event.provider_website_url,
    @event.provider_target_audience,
    @event.provider_organiser,
    @event.provider_contact_email,
  ].any?
%>
  <section class="teaching-event__provider-information">
    <h2>Provider information</h2>

    <% if @event.provider_website_url %>
      <p>
        <%= link_to("Visit the event provider's website", @event.provider_website_url, { target: "blank" }) %>.
      </p>
    <% end %>
    <% if @event.provider_target_audience %>
      <h4 class="heading--margin-bottom-0">Target audience</h4>
      <div>
        <%= @event.provider_target_audience %>
      </div>
    <% end %>
    <% if @event.provider_organiser %>
      <h4 class="heading--margin-bottom-0">Organiser</h4>
      <div>
        <%= @event.provider_organiser %>
      </div>
    <% end %>
    <% if @event.provider_contact_email %>
      <h4 class="heading--margin-bottom-0">Contact email</h4>
      <div>
        <%= mail_to(@event.provider_contact_email) %>
      </div>
    <% end %>
  </section>
<% end %>
