<div class="about-ttt-event">
  <p>Watch presentations, ask questions, speak to advisers one-to-one.</p>
</div>

<figure>
  <blockquote>
    Absolutely loved this day. Very informative, inspiring and I'm
    excited to change career. Thank you.
  </blockquote>
</figure>
