<div class="about-ttt-event">
  <p>Watch presentations, ask questions, speak to advisers one-to-one.</p>
</div>

<figure>
  <blockquote>
    It was exactly what I needed to give me guidance on the next steps to be
    taken.
  </blockquote>
</figure>
