<div class="about-ttt-event">
  Watch presentations, ask questions, speak to advisers one-to-one.
</div>

<figure>
  <blockquote>
    Absolutely loved this day. Very informative, inspiring and I'm
    excited to change career. Thank you.
  </blockquote>
  <figcaption>Sarah, trainee teacher, London</figcaption>
</figure>
