<section class="venue-information">
  <div class="venue-information-summary">
    <h3>Venue information</h3>

    <p>
      <%= @event.building.venue %>
      <%= @event.building.address_postcode %>
    </p>
  </div>
  <div class="venue-image">
    <%= image_pack_tag "media/images/content/blog/seminar-room.jpg", alt: "A seminar with people sitting around a large table looking at a whiteboard" %>
  </div>
</section>
