<section class="teaching-event__venue-information">
  <h2 class="heading-s">Venue address</h2>

  <%= tag.p(safe_join(@event.venue_address, tag.br)) %>

  <ul>
    <li>
      <%= link_to("See venue in Google Maps", "https://maps.google.com/?q=#{event_address(@event)}", target: "blank") %>
    </li>
  </ul>

  <h2 class="heading-s">Venue accessibility features</h2>

</section>
