<section class="what-theyre-saying">
  <div class="triangle yellow">
    <svg height="100%" width="100%" viewbox="0 0 100 100" preserveAspectRatio="none">
      <polygon points="0,100 100,0 100,100" />
    </svg>
  </div>
  <div class="subheading">
    <h3>What they're saying</h3>
  </div>
  <figure>
    <blockquote>
      Absolutely loved this day. Very informative, inspiring and I'm
      excited to change career. Thank you.
    </blockquote>
    <figcaption>Sarah, trainee teacher, London</figcaption>
  </figure>
</section>
