<%# the quote can be overridden by locals or derrived from the event presenter %>
<% featured_quote = defined?(quote) ? quote : @event.quote %>

<% if featured_quote %>
  <div class="row">
    <div class="col-space-l col-space-l-top">
      <%= render Content::QuoteWithImageComponent.new(
        title: "What they're saying",
        text: featured_quote,
        quotes: true,
        background_color: "yellow",
        heading_color: "pink",
      ) %>
    </div>
  </div>
<% end %>
