<p>The qualifications you need will depend on <a href="/train-to-be-a-teacher/who-do-you-want-to-teach
>who you want to teach</a>. To better understand if teaching is right for you and if you’d prefer to teach primary or secondary, you might consider <a href="/get-school-experience">getting school experience</a>.</p> 

<p><a href="https://adviser-getintoteaching.education.gov.uk/"Our advisers have years of teaching experience</a> and can help you:</p>

<ul>
    <li>get school experience</li>
    <li>discover what teaching is really like</li>
    <li>write your personal statement</li>
    <li>find out how to improve your subject knowledge</li>
    <li>understand the qualifications you need</li>
    <li>find a teaching role</li>
</ul>

<p>You’ll need to train for qualified teacher status (QTS) to be able to teach in most primary and secondary schools in England.</p> 

<p>To be accepted for initial teacher training, you will need to have GCSEs at grade 4 (C) or above in English, maths, and science if you want to teach primary.</p>

<a href="/is-teaching-right-for-me/qualifications-you-need-to-teach">Find out more about the qualifications you need to teach</a>.
