<p>If you have a degree or equivalent qualification, you can do postgraduate primary or secondary teacher training.</p>

<p>If you do not have a degree and are not studying for one, you can do undergraduate teacher training.</p>

<p>If you're interested in teaching certain subjects, you might be able to get up to £29k tax-free, which doesn't need to be paid back, to support you while you are training.</p>

<p><a href="/funding-and-support">Find out about how to fund your training.</a></p>
