<p>If you’ve just graduated, you're studying for a degree or you want to change your career, we can help you find out how to train to teach.</p>

<p>You can <a href="https://www.gov.uk/find-postgraduate-teacher-training-courses">search for postgraduate teacher training courses in England</a> to study for QTS.</p> 

<p>Once you have found a suitable course, you can <a href="https://www.gov.uk/apply-for-teacher-training">start your application for teacher training</a>.</p>
