<p>If you've just graduated, you're studying for a degree or you want to change your career, we can help you find out how to <a href="/train-to-be-a-teacher">train to teach</a>.</p>

<p>If you've got a degree, you can search for <a href="https://www.gov.uk/find-postgraduate-teacher-training-courses">postgraduate teaching courses in England to study for QTS</a>.</p>

<p>Once you've found a suitable course, you can <a href="https://www.gov.uk/apply-for-teacher-training">start your application for teacher training</a>.</p>
