<section class="mailing-reg-main">
    <div class="mailing-reg-main__content container-1000">
        <div class="mailing-reg-main__content__left">

            <h1>Sign up for personalised updates to help you get into teaching</h1>
            
            <p>
                We know you’ll only want to receive updates that help you to take your next steps into teaching. That’s why we’ll only use your information to make sure the updates we send are relevant to you.
            </p>    
            <p>    
                If your circumstances change, you can call us to update your details and stay informed about the things that matter to you.
            </p>

            <div class="govuk-form-group">
                <label>
                    <div class="fieldlabel">First name</div>
                    <input class="govuk-input" id="first-name" name="first-name" type="text">
                </label>

                <label>
                    <div class="fieldlabel">Last name</div>
                    <input class="govuk-input" id="last-name" name="last-name" type="text">
                </label>
                
                <label>
                    <div class="fieldlabel">Email address</div>
                    <input class="govuk-input" id="email-address" name="email-address" type="text">
                </label>
            </div>

            <div>
                <label for="describe-yourself"><h3>How would you describe yourself?</h3></label>
                <select class="govuk-select" id="describe-yourself" name="describe-yourself">
                    <option value="student">Student</option>
                    <option value="career-options">Exploring my career options</option>
                    <option value="change-career">Looking to change career</option>
                    <option value="not-studying">Not studying and no plans to</option>
                </select>
            </div>

            <div>
                <a id="submit-button" href="/mailinglist/register/10">
                    <div class="call-to-action-button">Next Step  <i class="fas fa-chevron-right"></i></div>
                </a>
            </div>
        </div>
        <div class="mailing-reg-main__content__right">
            
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
  $(document).ready(function(){
  $("#describe-yourself").change(function () {
    if (this.value == "student") {
      $("#submit-button").attr('href', "/mailinglist/register/10");
    } else {
      $("#submit-button").attr('href', "/mailinglist/register/2");
    }
  });
});  
</script>