<section class="mailing-reg-main">
    <div class="mailing-reg-main__content container-1000">
        <div class="mailing-reg-main__content__left">

            <h1>We need some more details</h1>
            
            <p>    
                The following answers will only be used to make sure we send relevant information to support you at this time.
            </p>

            <label for="uniyear"><h3>What stage are you at with your degree?</h3></label>
            
            <select class="govuk-select" id="degreestage" name="degreestage">
                <option value="graduate">Final</option>
                <option value="secondyear">Second</option>
                <option value="firstyear">First</option>
                <option value="other">Other</option>
            </select>

            <div>
                <a href="/mailinglist/register/2">
                    <div class="call-to-action-button">Next Step  <i class="fas fa-chevron-right"></i></div>
                </a>
            </div>
        </div>
        <div class="mailing-reg-main__content__right">
            
        </div>
    </div>
</section>