<section class="mailing-reg-main">
    <div class="mailing-reg-main__content container-1000">
        <div class="mailing-reg-main__content__left">
            <h1>Stay up-to-date with personalised information to help you get into teaching</h1>

            <h3>Your Phone number (optional)</h3>
            <p>    
                We need this so we can sfvsdfv sdfv sdfvs dfvsdfvsdf sdfvs dfv asasdcasd
            </p>

            <input class="govuk-input" id="phone" name="phone" type="text">

            <h3>Do you have a question or need particular info?</h3>
            <p>    
                If we can help we will call you on the number provided with answers and guidance.
            </p>
            <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="inforequired" name="inforequired" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="inforequired">
                        Yes
                    </label>
                </div>
            </div>
            
            <div>
                <h3>How can we help?</h3>
                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>

            


            <div>
                <a href="/mailinglist/register/6">
                    <div class="call-to-action-button">Next Step  <i class="fas fa-chevron-right"></i></div>
                </a>
            </div>
        </div>
        <div class="mailing-reg-main__content__right">
            
        </div>
    </div>
</section>

<%= render "sections/talk-to-us" %>