<section class="mailing-reg-main">
    <div class="mailing-reg-main__content container-1000">
        <div class="mailing-reg-main__content__left">
            <h1 class="strapline">Sign up complete</h1>
            <p>You have signed up to receive personalised information to help you get into teaching</p>

            <h2>What happens next?</h2>
            <p>
                You will receive this information by email to the address you gave us when you signed up. 
            </p>
            <p>
                It’s easy to unsubscribe if you change your mind. To find out how we handle your personal data, please visit our <a href="/">privacy notice</a>.
            </p>
        </div>
        <div class="mailing-reg-main__content__right">
            
        </div>
    </div>
</section>

<%= render "sections/talk-to-us" %>