<section class="mailing-reg-main">
    <div class="mailing-reg-main__content container-1000">
        <div class="mailing-reg-main__content__left">
        
            <label for="postcode"><h1>Your postcode</h1></label>
            <p>    
                Tell us your postcode and we can send you information about events in your area.
            </p>

            <input class="govuk-input" id="postcode" name="postcode" type="text">

            <div>
                <a href="/mailinglist/register/5">
                    <div class="call-to-action-button">Next Step  <i class="fas fa-chevron-right"></i></div>
                </a>
            </div>
        </div>
        <div class="mailing-reg-main__content__right">
            
        </div>
    </div>
</section>