<section class="mailing-reg-main" role="main"> 
    <div class="content container-1000">
        <div class="content__left">

            <h1>We need some more details</h1>
            
            <p>    
                The following answers will only be used to make sure we send relevant information to support you at this time.
            </p>

            
            <label for="stage">
                <div class="fieldlabel">How close are you to applying for teacher training?</div>
            </label>
            <select class="govuk-select" id="stage" name="stage">
                <option value="idea">It's just an idea</option>
                <option value="unsure">I'm not sure and finding out more</option>
                <option value="exploring">I'm fairly sure and exploring my options</option>
                <option value="sure">I'm very sure and think I'll apply</option>
            </select>

            <div>
                <a href="/mailinglist/register/3" class="call-to-action-button">
                    Next <span>Step</span>
                </a>
            </div>
        </div>
        <div class="content__right">
            
        </div>
    </div>
</section>