<section class="mailing-reg-main">
    <div class="mailing-reg-main__content container-1000">
        <div class="mailing-reg-main__content__left">

            <h1>We need some more details</h1>
            
            <p>    
                The following answers will only be used to make sure we send relevant information to support you at this time.
            </p>

            
            <label for="stage"><h3>How close are you to applying for teacher training?</h3></label>
            <select class="govuk-select" id="stage" name="stage">
                <option value="idea">It's just an idea</option>
                <option value="unsure">I'm not sure and finding out more</option>
                <option value="exploring">I'm fairly sure and exploring my options</option>
                <option value="sure">I'm very sure and think I'll apply</option>
            </select>

            <div>
                <a href="/mailinglist/register/3">
                    <div class="call-to-action-button">Next Step  <i class="fas fa-chevron-right"></i></div>
                </a>
            </div>
        </div>
        <div class="mailing-reg-main__content__right">
            
        </div>
    </div>
</section>