<section class="mailing-reg-main" role="main" id="main-content"> 
    <div class="content container-1000">
        <div class="content__left">
            <label for="toteach"><h1>Which subject do you want to teach?</h1></label>

            <p>    
                Tell us which subject you’re interested in teaching and we’ll send you relevant content about it.
            </p>

            <select class="govuk-select" id="toteach" name="toteach">
                <option value = "Art and design">Art and design</option>
                <option value = "Biology">Biology</option>
                <option value = "Business studies">Business studies</option>
                <option value = "Chemistry">Chemistry</option>
                <option value = "Citizenship">Citizenship</option>
                <option value = "Classics">Classics</option>
                <option value = "Computing">Computing</option>
                <option value = "Dance">Dance</option>
                <option value = "Design and technology">Design and technology</option>
                <option value = "Drama">Drama</option>
                <option value = "Economics">Economics</option>
                <option value = "English">English</option>
                <option value = "French">French</option>
                <option value = "Geography">Geography</option>
                <option value = "German">German</option>
                <option value = "Health and social care">Health and social care</option>
                <option value = "History">History</option>
                <option value = "Languages (other)">Languages (other)</option>
                <option value = "Maths">Maths</option>
                <option value = "Media studies">Media studies</option>
                <option value = "French">French</option>
                <option value = "Music">Music</option>
                <option value = "Physical education">Physical education</option>
                <option value = "Physics">Physics</option>
                <option value = "Physics with maths">Physics with maths</option>
                <option value = "Primary psychology">Primary psychology</option>
                <option value = "Religious education">Religious education</option>
                <option value = "Social sciences">Social sciences</option>
                <option value = "Spanish">Spanish</option>
                <option value = "Vocational health">Vocational health</option>
                <option value = "Primary">Primary</option>
                <option value = "I don't know">I don't know</option>
            </select>

            <div>
                <a href="/mailinglist/register/4" class="call-to-action-button">
                    Next <span>Step</span>
                </a>
            </div>
        </div>
        <div class="content__right">
            
        </div>
    </div>
</section>