<section class="mailing-reg-main">
    <div class="mailing-reg-main__content container-1000">
        <div class="mailing-reg-main__content__left">

            <label for="phone"><h1>Your Phone number (optional)</h1></label>
            <p>    
                If you have any questions about teaching or there is any information you need from us, we’ll use this phone number to call you.
            </p>

            <input class="govuk-input" id="phone" name="phone" type="text">

            <div>
                <label for="more-detail"><h3>What would you like more information about when we call you?</h3></label>
                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"></textarea>
            </div>

            <p>    
                Are you over 16 and do you agree to our privacy policy?
            </p>
            <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="inforequired" name="inforequired" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="inforequired">
                        Yes
                    </label>
                </div>
            </div>
            
            <div>
                <a href="/mailinglist/register/6">
                    <div class="call-to-action-button">Next Step  <i class="fas fa-chevron-right"></i></div>
                </a>
            </div>
        </div>
        <div class="mailing-reg-main__content__right">
            
        </div>
    </div>
</section>

<%= render "sections/talk-to-us" %>