<% @page_title = "Thank you for your feedback" %>

<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Thank you for your feedback.
  </h1>
</div>
<h3 class="heading-m">
  Still have questions about teaching?
</h3>
<p>
  <%= link_to("Get your questions answered at an event", events_path) %> or consider getting <%= link_to("school experience", "https://schoolexperience.education.gov.uk/") %>.
</p>
<p>
  There's lots of <%= link_to("ways into teaching", page_path("train-to-be-a-teacher")) %>, including training on the job with a salary or going to university to do a postgraduate course.
</p>
