<section class="container">
  <article class="markdown campaign">
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>

    <p>
      Praesent lorem ligula, lacinia sit amet tincidunt et, tempus quis libero.
      Quisque nisl sem, efficitur nec tempus ut, ultricies non velit.
      Pellentesque iaculis ac enim vel blandit. Suspendisse potenti.
      Vivamus rhoncus lobortis risus, vitae tristique lacus gravida tempus.
    </p>

    <%= render Content::PhotoQuoteListComponent.new(
      [
        {
          image: "media/images/content/food-for-thought/1.png",
          heading: "Keep losing your notes?",
          text: "Morbi faucibus, ipsum et tincidunt cursus, magna nisl scelerisque dolor, et egestas velit nulla vitae lorem. In facilisis cursus mauris, vel porta mauris varius vitae. Morbi dignissim risus eu mi tincidunt, sit amet pretium est tristique.",
          accreditation: ["Name - Occupation", "University credential"],
        },
        {
          image: "media/images/content/food-for-thought/2.png",
          heading: "What's your name again?",
          text: "Morbi faucibus, ipsum et tincidunt cursus, magna nisl scelerisque dolor, et egestas velit nulla vitae lorem. In facilisis cursus mauris, vel porta mauris varius vitae. Morbi dignissim risus eu mi tincidunt, sit amet pretium est tristique.",
          accreditation: ["Name - Occupation", "University credential"],
        },
        {
          image: "media/images/content/food-for-thought/3.png",
          heading: "Consectetur adipiscing elit, sed do",
          text: "Morbi faucibus, ipsum et tincidunt cursus, magna nisl scelerisque dolor, et egestas velit nulla vitae lorem. In facilisis cursus mauris, vel porta mauris varius vitae. Morbi dignissim risus eu mi tincidunt, sit amet pretium est tristique.",
          accreditation: ["Name - Occupation", "University credential"],
        },
        {
          image: "media/images/content/food-for-thought/4.png",
          heading: "Duis aute irure dolor in reprehenderit",
          text: "Morbi faucibus, ipsum et tincidunt cursus, magna nisl scelerisque dolor, et egestas velit nulla vitae lorem. In facilisis cursus mauris, vel porta mauris varius vitae. Morbi dignissim risus eu mi tincidunt, sit amet pretium est tristique.",
          accreditation: ["Name - Occupation", "University credential"],
        }
      ]
    ) %>
  </article>

  <%= render(CallsToAction::Promo::PromoComponent.new) do |promo| %>
  <% promo.left_section(
      heading: "Explore teaching advisers", classes: %w[tta-background]) do %>
  <% end %>

  <% promo.right_section(
    heading: "Find out what teaching is really like"
  ) do %>
      <p>Talk to an experienced former teacher who can help you find school experience, learn what it's like to be in the classroom and answer all your questions about getting into teaching.</p>

      <%= link_to("Find out more about advisers", "/tta-service", class: "button") %>
  <% end %>
<% end %>
</section>
