<section class="container">
  <article class="markdown campaign">
    <h2>Make uni life a doddle with our bite-sized hacks</h2>

    <p>
      What’s the best way to get to know people at uni? How do you remember what you learn in lectures? Why should you always be true to yourself? There’s only one way to find out. Dig into our top university hacks from our recently qualified teachers.
    </p>

    <%= render Content::PhotoQuoteListComponent.new(
      [
        {
          image: "media/images/content/food-for-thought/1.png",
          heading: "Find your people",
          text: "Stay true to who you are and don't change to try and fit in. There'll be plenty of people who will like you for who you are already. Explore the new possibilities there are at uni and find your people. It is your place to have freedom and make it what you want it to be.",
          accreditation: ["Ella Tyrrell"],
        },
        {
          image: "media/images/content/food-for-thought/2.png",
          heading: "What's your name again?",
          text: "Morbi faucibus, ipsum et tincidunt cursus, magna nisl scelerisque dolor, et egestas velit nulla vitae lorem. In facilisis cursus mauris, vel porta mauris varius vitae. Morbi dignissim risus eu mi tincidunt, sit amet pretium est tristique.",
          accreditation: ["Name - Occupation", "University credential"],
        },
        {
          image: "media/images/content/food-for-thought/3.png",
          heading: "Consectetur adipiscing elit, sed do",
          text: "Morbi faucibus, ipsum et tincidunt cursus, magna nisl scelerisque dolor, et egestas velit nulla vitae lorem. In facilisis cursus mauris, vel porta mauris varius vitae. Morbi dignissim risus eu mi tincidunt, sit amet pretium est tristique.",
          accreditation: ["Name - Occupation", "University credential"],
        },
        {
          image: "media/images/content/food-for-thought/4.png",
          heading: "Duis aute irure dolor in reprehenderit",
          text: "Morbi faucibus, ipsum et tincidunt cursus, magna nisl scelerisque dolor, et egestas velit nulla vitae lorem. In facilisis cursus mauris, vel porta mauris varius vitae. Morbi dignissim risus eu mi tincidunt, sit amet pretium est tristique.",
          accreditation: ["Name - Occupation", "University credential"],
        }
      ]
    ) %>
  </article>

  <%= render(CallsToAction::Promo::PromoComponent.new) do |promo| %>
  <% promo.left_section(
      heading: "Explore teaching advisers", classes: %w[tta-background]) do %>
  <% end %>

  <% promo.right_section(
    heading: "Find out what teaching is really like"
  ) do %>
      <p>Talk to an experienced former teacher who can help you find school experience, learn what it's like to be in the classroom and answer all your questions about getting into teaching.</p>

      <%= link_to("Find out more about advisers", "/tta-service", class: "button") %>
  <% end %>
<% end %>
</section>
