<section class="container centered">
  <article class="markdown campaign">
    <h2>Make uni life a doddle with our bite-sized hacks</h2>

    <p>
      What’s the best way to get to know people at uni? How do you remember what you learn in lectures? Why should you always be true to yourself? There’s only one way to find out. Dig into our top university hacks from our recently qualified teachers.
    </p>

    <%= render Content::PhotoQuoteListComponent.new(
      [
        {
          image: "media/images/content/food-for-thought/Ella_Tyrrell.jpg",
          heading: "Find your people",
          text: "Stay true to who you are and don't change to try and fit in. There'll be plenty of people who will like you for who you are already. Explore the new possibilities there are at uni and find your people. It is your place to have freedom and make it what you want it to be.",
          accreditation: ["Ella Tyrrell"],
        },
        {
          image: "media/images/content/food-for-thought/Keri_Gell.jpg",
          heading: "Keep on top of your notes",
          text: "I like to be organised, so I always had my diary with a notebook in the back with me. I’d got into a bad habit of writing notes in random notebooks and not always knowing where those notes were. I’d end up never using them so I gave myself one book. I still do it now and have one big academic planner with my notes in the back.",
          accreditation: ["Keri Gell"],
        },
        {
          image: "media/images/content/food-for-thought/Jake_Athorn.jpg",
          heading: "Just sit and listen",
          text: "In lectures, I felt like I had to write everything down. A lecturer told me once, why don’t you just sit there and listen? Then when you go home, do the reading, and get down what you need. That made my life a thousand times easier and it’s something I make sure my students do now.",
          accreditation: ["Jake Athorn"],
        },
        {
          image: "media/images/content/food-for-thought/Joel_Quilter.jpg",
          heading: "Set a weekly budget",
          text: "I tried to have a weekly budget. I’d do my food shopping online, which made it easier to take advantage of deals and stay on top of how much exactly I’d been spending. I also had a notes page on my phone where I’d add it what I spent on nights out.",
          accreditation: ["Joel Quilter"],
        },
        {
          image: "media/images/content/food-for-thought/Johnoi_Josephs.jpg",
          heading: "Don’t reinvent the wheel",
          text: "Be creative in how you learn but don’t reinvent the wheel. Degrees are a different level of intensity, but the framework is the same as A-levels or BTECs. Whatever got you here will continue to work! Consistency and intentionality will trump any overnight success - and that’s the same in whatever stage in life.",
          accreditation: ["Johnoi Josephs"],
        }
      ]
    ) %>
  </article>
</section>
