<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <p>Changing careers from a teaching assistant to a teacher is an excellent move if you want to progress. Your classroom experience provides you with relevant skills working with pupils and a realistsic understanding of what life as a teacher is like.</p>
    <h2 class="heading--box-blue">What you'll need to teach in primary or secondary</h2>
    <p>You need <a href="/train-to-be-a-teacher/what-is-qts">qualified teacher status (QTS)</a> to teach in maintained primary, secondary and special schools in England (schools funded by local authorities). You can get this through teacher training.</p>
    <p>You do not need QTS to <a href="/life-as-a-teacher/age-groups-and-specialisms/further-education-teachers">teach in further education</a> or to <a href="/life-as-a-teacher/age-groups-and-specialisms/early-years-teachers">teach in early years</a>.</p>

    <h2 class="heading--box-blue">Qualifications you need to train to teach</h2>
    <div class="check-qualifcations">
  <p>To train to teach in most schools in England, you'll need:</p>
  <ul>
    <li>GCSEs at grade 4 (C) or above in English and maths (and science if you want to teach primary)</li>
    <li>a bachelor's degree in any subject</li>
  </ul>
</div>
<%= render Content::ExpanderComponent.new(
    title: "check your qualifications",
    text: "If you have qualifications from outside the UK, you’ll need to show that they meet the standards set for teacher training in England. You can <a href=\"/non-uk-teachers/non-uk-qualifications\">get help comparing English and international qualifications</a>.",
  ) %>
<h2 class="heading--box-blue">Routes into teaching</h2>
<h3>If you do not have a degree</h3>
<h4>Undergraduate teacher training</h4>
<p>You can do undergraduate teacher training to get a degree alongside QTS. Full-time degree courses that include QTS typically cost <%= v :fees_ugitt%>. per year and can take up to 4 years but you can get <a href="/funding-and-support">funding for your training</a>.</p>
<p>Undergraduate teacher training courses can be funded through tuition fee and maintenance loans. You may also be eligible for a bursary of <%= v :bursaries_undergraduate%> if you do a secondary maths or physics course that leads to QTS.</p>
<p><a href="https://digital.ucas.com/search">Find an undergraduate degree course</a></p>
<h4> Teacher degree apprentiship (TDA)</h4>
<p>You may also be eligible to do a <a href="/train-to-be-a-teacher/teacher-degree-apprenticeships">teacher degree apprenticeship (TDA)</a>. This new 4-year course will allow you work in a school and earn a salary while getting a bachelor’s degree and QTS. So you will not have to pay tuition fees but you won't be entitled to student finance. The apprentiship is aimed at anyone who needs a degree to teach including teaching assistants.</p>
<p><a href="/train-to-be-a-teacher/if-you-dont-have-a-degree">Find out more about training to teach if you do not have a degree</a>.</p>
<h3>If you have a degree</h3>
<h4>Postgraduate teacher training</h4>
    <p>You can do a postgraduate teacher training course to gain QTS. It does not matter when you graduated, and your degree subject does not necessarily need to be in the subject you want to teach.</p>
    <p>Most postgraduate teacher training courses charge fees. There are ways to fund your training, for example, through tuition fee and maintenance loans. If you train to teach certain subjects, you may also be eligible for a bursary or scholarship of up to <%= v :scholarships_generic_maxshortened %>.</p>
    <p><a href="/train-to-be-a-teacher/if-you-have-a-degree">Find out more about postgraduate teacher training</a>.</p>
    <p>Some postgraduate courses are salaried. This means you will not pay tuition fees and will receive a salary while you train. However, you will not be eligible for a bursary, scholarship or student finance so could recieve less money than on a non-salaried course. These courses are in high demand and are very competitive. On some of the courses they are looking for people with a lot of classroom experience, such as non-qualified teachers or teaching assistants.</p>
    <p><a href="/funding-and-support/salaried-teacher-training">Find out more about salaried teacher training</a></p>
    <h4>Assesment only route to QTS</h4>
    <p>The assesment only route to QTS is available for people who have met the standards for qualified teacher status, so do not need any further training. Instead they are assessed by a provider to show you meet the criteria.</p>
    <p>As a teaching assistant you are unlikely to have the required experience to apply for the assessment only route. However, in exceptional circumstances, teaching assistants who have worked for a significant amount of time (at least 2 years) indpendently teaching classes may be eligible.</p>
    <p><a href="/train-to-be-a-teacher/assessment-only-route-to-qts">Find out more about the assesment only route to QTS </a></p>
  <h2 class="heading--box-blue">Find out more about how to change careers to teaching</h2>
  <p>To find out more, you can:</p>
    <ul>
      <li>attend a <a href="/events/about-get-into-teaching-events">Get Into Teaching event</a>, where you can speak to advisers, local training providers, and experienced teachers</li>
      <li>explore <a href="/life-as-a-teacher/change-careers/support-with-changing-careers">support for career changers</a></li>
      <li>discover more about <a href="/steps-to-become-a-teacher">how to become a teacher</a></li>
    </ul>
  </section>
