<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <p>Changing careers from a teaching assistant to a teacher is an exciting way to develop your teaching skills and progress your career. Your classroom experience provides you with relevant skills working with pupils and a realistic understanding of what life as a teacher is like.</p>
     <h2 class="heading--box-blue">Taking on more responsibility</h2>
    <p> Becoming a teacher means that your levels of responsibility will increase. You will be responsible for planning lessons, assessing students' learning and managing behaviour.</p>
    <p>This added responsibility comes with its own rewards. You will have a greater freedom to shape pupils learning and inspire them to become passionate about your subject. You will also earn a competitive <a href="/life-as-a-teacher/pay-and-benefits/teacher-pay">starting salary of <%= v :salaries_starting_minshortened %></strong></a> (or higher in London) and <a href="/life-as-a-teacher/pay-and-benefits/teachers-pension-scheme"> gain a secure pension</a>.</p>
        <%= render 'content/shared/quotes/quote_teaching_assistant_emma' %>
    <h2 class="heading--box-blue">What you'll need to teach in primary or secondary</h2>
    <section class="col col-720">
  </section>

    <div class="check-qualifcations">
  <p>To teach in maintained primary, secondary and special schools in England (schools funded by local authorities) you'll normally need:</p>
  <ul>
    <li>GCSEs at grade 4 (C) or above in English and maths (and science if you want to teach primary)</li>
    <li>a bachelor's degree in any subject</li>
    <li><a href="/train-to-be-a-teacher/what-is-qts">qualified teacher status (QTS)</a></li>
    </ul>
  <p>You can get QTS through teacher training, and some training options also allow you to get a degree at the same time.</p>
  </div>
<h2 class="heading--box-blue">Routes into teaching</h2>
<p>As a teaching assistant, you will have valuable experience working with pupils that will make you a desirable candidate for teacher training. However, unless you have the required experience to do the <a href="/train-to-be-a-teacher/assessment-only-route-to-qts">assessment only route</a> (at least 2 years independently teaching classes), all of the routes into teaching are the same for all career changers.</p>
<p><a href="/life-as-a-teacher/change-careers/how-to-change-careers-to-become-a-teacher">Find out about routes into teaching as a career changer</a>.</p>
  <h2 class="heading--box-blue">Find out more about how to change careers to teaching</h2>
  <p>To find out more, you can:</p>
    <ul>
      <li>attend a <a href="/events/about-get-into-teaching-events">Get Into Teaching event</a>, where you can speak to advisers, local training providers, and experienced teachers</li>
      <li>explore <a href="/life-as-a-teacher/change-careers/support-with-changing-careers">support for career changers</a></li>
      <li>discover more about <a href="/steps-to-become-a-teacher">how to become a teacher</a></li>
    </ul>
  </section>
