<div class="row inset">
  <section class="col col-720 col-space-l-top">
      <p>What I particularly love about my school is the excitement and energy I can feel in the corridors. My students are enthusiastic and they push me to understand more about physics and maths too. It also helps that my colleagues are really friendly and supportive. I know that everyone is pulling in the same direction, and we have a good joke in the office.</p>
      <p>A few years after I finished university, my old school sent out a letter to former students advertising their teacher training course. Around the same time, I went to meet one of my friends who was working at a Get Into Teaching event and got chatting about a career in teaching. It seemed like a great opportunity!</p>
  </section>
  <section class="col col-720">
    <%= render Content::QuoteComponent.new(
    text: "I like that I'm able to bring myself into the classroom.",
    large: true
  ) %>
  </section>
    <section class="col col-720 col-space-l-top">
      <p>I have a love of meaningless facts, and I like to start my lessons with a ‘fact of the day’. It’s usually completely unrelated to the lesson, but it sparks some really interesting conversations with students, especially ones that might be struggling to connect with the subject.</p>
      <p>One of the most rewarding moments of this year was when a student chose to come to me when they were struggling with their home schooling. It meant a lot to me that they trusted me with that information, and I was able to help them with strategies to manage their situation.</p>
      <p>One of the most gratifying things about being a teacher is when a student, who at 11 years old was asking you what would happen if there was no gravity, leaves school at 18 to do a physics, maths or engineering degree. You know you’ve shaped their life by making them passionate about your subject. I’ve also had cards at the end of one school year from students not going on to study anything to do with physics, but saying they would continue to read about and engage with it for the rest of their lives.</p>
  </section>
</div>
