// styles headings like the fancy links placed in
// the hero, used on campaign landing pages
.markdown.hero-nav {
  p + .numbered-heading {
    margin-top: 4em;
  }

  .numbered-heading {
    margin-top: 2em;
    display: flex;
    align-items: center;

    .pink-number {
      background-color: $pink-dark;
      color: $white;
      padding: .6em .8em;
      font-weight: bold;
      margin-right: .3em;
      @include font-size(large);
    }

    h2 {
      margin: 0;
      background: none;
      color: $black;
      @include font-size(large);

      &:after {
        content: "";
      }

      @include mq($until: tablet) {
        @include font-size(small);
      }

      @include mq($until: desktop) {
        @include font-size(medium);
      }
    }
  }
}
