<div class="row inset">
<section class="col col-720">
  <p>
    Teaching physics is an exciting and rewarding career. Schools need more specialist physics teachers, so it's a great choice of subject.
  </p>

  <p>
    You could also be eligible to receive a scholarship or bursary of up to £30,000 if you train to teach physics.
  </p>

  </section>

   <section class="col col-space-s col-content-max">
    <%= render TextBlockWithTwoImagesComponent.new(
      heading: "Spark curiosity in physics",
      colour: "yellow",
      image_1_path: "static/images/content/hero-images/0012.jpg",
      image_1_alt: "Pupils listening to a science lesson.",
      image_2_path: "static/images/content/hero-images/0007.jpg",
      image_2_alt: "Teacher talking to a pupil in a classroom.",
    ) do %>
       <p>
    As a physics teacher, you’ll be engaging students in a wide range of experiments that can spark their interest.
  </p>

  <p>
    You can inspire your students to consider rewarding careers from tackling climate change to artificial intelligence.
  </p>
    <% end %>
</section>
<section class="col col-720">
      <h2>What you'll be teaching</h2>
      <p>
      You'll teach the content of the national curriculum, with opportunities to develop your students’ ability to think like physicists and see physics as a solution to many challenges. The themes you are likely to cover include:
      </p>
      <p>
          11 to 14 year olds (key stage 3):
      </p>
        <ul class="vertical-tags">
          <li class="tag">Energy</li>
          <li class="tag">Motion and forces</li>
          <li class="tag">Electricity and electromagnetism</li>
          <li class="tag">Waves and matter</li>
        </ul>
      <p>
        14 to 16 year olds (key stage 4):
      </p>
       <ul class="vertical-tags">
        <li class="tag">Energy, forces and wave motion</li>
        <li class="tag">Electricity, magnetism and electromagnetism</li>
        <li class="tag">The structure of matter</li>
        <li class="tag">Atomic structure and space physics</li>
      </ul>
      <p>
        16 to 18 year olds (key stage 5):
      </p>
       <ul class="vertical-tags">
        <li class="tag">Fields, vectors and scalars</li>
        <li class="tag">Mechanics and mechanical properties of matter</li>
        <li class="tag">Electric circuits and waves</li>
        <li class="tag">Matter, quantum and nuclear physics</li>
      </ul>
    <p>
      <a href="https://www.gov.uk/government/publications/national-curriculum-in-england-science-programmes-of-study/national-curriculum-in-england-science-programmes-of-study">Read the national curriculum for more information about physics lessons</a>.
    </p>

    <p>You can also search for past exam papers online to see the type of questions that were asked in previous years.</p>

    <p>
      You may also get the opportunity to teach other subjects, particularly for 11 to 16 year olds and in some cases for post-16. This will vary depending on individual schools.
    </p>
    <p><a href="https://www.ogdentrust.com/teacher-support/training-to-be-a-teacher/">Find out more about becoming a physics teacher from the Ogden Trust</a>, a charitable trust which promotes the teaching and learning of physics. </p>
</section>
<section class="col col-720">
  <%= render Content::QuoteComponent.new(
    text: "It's inspiring getting 'wow, that's how it works' from pupils as they grasp a subject that they thought was hard.",
    name: "Jane Doran, physics and robotics teacher, West Midlands",
    large: true
  ) %>
</section>

 <section class="col col-space-s col-content-max">
    <%= render TextBlockWithOneImageComponent.new(
      heading: "Next steps into teacher training",
      colour: "yellow",
      image_path: "static/images/content/hero-images/0006.jpg",
      image_alt: "Classroom full of pupils.",
    ) %>
  </section>

  <section class="col col-space-m col-720">
    <h3>Help to become a physics teacher</h3>

    <p>
      Our experienced teacher training advisers can guide you through everything you need to know to apply for physics teacher training, free of charge. They can help you to:
    </p>
    <ul>
      <li>understand more about physics courses</li>
      <li>answer questions about fees and funding</li>
      <li>make an application for a physics course</li>
    </ul>
    <p><a href="/teacher-training-advisers">Find out about advisers</a>.</p>

  </section>

  <section class="col col-space-m col-720">
    <h3>Check your qualifications</h3>
    <p>
      To train to teach physics in England, you'll need a bachelor's degree, but it does not have to be in physics.
    <p>
      In 2023, candidates with degrees in subjects as varied as civil engineering, architecture, and business and management were offered places on physics teacher training courses.
    </p>

    <p>
      Having relevant A levels can show your subject knowledge, if you do not have a degree in physics.
    </p>

    <p>
      <a href="/is-teaching-right-for-me/qualifications-you-need-to-teach">Find out about the qualifications needed to teach</a>.
    </p>
  </section>

  <section class="col col-space-m col-720">
    <h3>Experience school life</h3>

    <p>
      If you're studying for an undergraduate or master's degree and interested in teaching physics, you could find out more about applying for a <a href="/is-teaching-right-for-me/teaching-internship-providers">paid teaching internship</a>. The 3-week programme can help you to understand what it's really like in the classroom and get a feel for school life.
    </p>

    <p>
      You can also find out what it's like to be in a classroom through <a href="/is-teaching-right-for-me/get-school-experience">school experience</a>.
    </p>
  </section>
  <section class="col col-space-m col-720">
    <h3>Fund your training to teach physics</h3>
    <p>
      You could receive a scholarship of £30,000 from the Institute of Physics or a bursary of £28,000, if you start your teacher training course between September 2024 and July 2025.
    </p>

    <p><a href="/funding-and-support/scholarships-and-bursaries">Find out about your eligibility for scholarships and bursaries</a>.</p>
    <p>You can <a href="https://www.iop.org/about/support-grants/iop-teacher-training-scholarships">find out more about the physics scholarship from the Institute of Physics</a>.</p>
  </section>
  <section class="col col-space-m col-720">
  <h3>Improve your physics subject knowledge</h3>
  <p> If you need to brush up on your physics knowledge before you become a teacher, you can do a subject knowledge enhancement course.</p>
  <p><a href="/how-to-apply-for-teacher-training/subject-knowledge-enhancement">Find out about subject knowledge enhancement courses</a>.</p>
  </section>
  <section class="col col-space-m col-720">
    <h3>Engineers teach physics</h3>
    <p>
      If you're an engineer considering a career as a physics teacher, there is a teacher training course designed especially with your experience and skills in mind.
    </p>
    <a href="/subjects/engineers-teach-physics">Find out about the engineers teach physics training programme</a>.
  </section>
  <section class="col col-space-m col-720">
<h3>Non-UK citizens</h3>
<p>
  If you’re a non-UK citizen considering training to teach physics in the UK, you could be eligible for an international relocation payment of £10,000 to repay some of the costs of moving to England.
</p>

<p>
  You could also be eligible for a scholarship of £30,000 or a bursary of £28,000.
</p>

<p>
  <a href="/non-uk-teachers/train-to-teach-in-england-as-an-international-student">Find out more about training to teach in England as a non-UK citizen</a>.
</p>
</section>
</div>
