<div class="find-out-more">
  <p><%= @front_matter["subject"].titleize %> teacher training courses have had successful applications from candidates with a range of degrees, including <%= @front_matter["subjects_uni"] %>.</p>
  <p>Find out about <a href="/train-to-be-a-teacher/qualifications-you-need-to-teach">the qualifications needed to teach</a>.</p>
</div>
