<div class="get-school-experience">
  <h3>Get School experience</h3>
  <p>To help you decided if you want to start <%= @front_matter["subject"] %> teacher training, you can <a href="/train-to-be-a-teacher/get-school-experience">get school experience</a>.</p>
  <p>Spending a few days in the classroom getting to know what it is really like being a teacher could give you the confidence to know it is the right career for you.</p>
</div>
