<div class="get-school-experience">
  <h3>Get school experience</h3>
  <p>To help you decide if you want to start teacher training, you can <a href="/train-to-be-a-teacher/get-school-experience">get school experience</a>.</p>
  <p>Spending a few days in the classroom can help you find out what teaching is really like and give you the confidence to know it's the right career for you.</p>
</div>
