<h2>If you do not have QTS</h3>
<p>Qualified teacher status (QTS) is the professional status teachers in England gain at the end of their teacher training. You need QTS to teach in most primary, secondary and special schools in England.</p>
<p>If you're already a qualified teacher looking to teach in England, you need English QTS to be eligible for an adviser.</p>
<p>If you qualified as a teacher outside the UK, <a class="new-tab" href="https://www.gov.uk/government/publications/apply-for-qualified-teacher-status-qts-if-you-teach-outside-the-uk/routes-to-qualified-teacher-status-qts-for-teachers-and-those-with-teaching-experience-outside-the-uk">find out about the routes to getting QTS</a>.</p>
<p>Even if you do not currently have QTS, you can still <a class="new-tab" href="/non-uk-teachers/teach-in-england-if-you-trained-overseas">teach in England if you trained outside the UK</a>.<br>
<p>Find out how to <a class="new-tab" href="/train-to-be-a-teacher/what-is-qts">apply for QTS if you qualified in Wales, Scotland, or Northern Ireland</a>.</p>
