<div class="teaching_send">
  <h3>Pupils with special educational needs and disabilities (SEND)</h3>
  <p>Most disabled pupils and pupils with special educational needs learn in mainstream schools. Wherever you train and work – whether it’s in mainstream schools, special schools, or both – you’ll work with pupils with a range of needs.</p>
  <p>You can choose to apply for a teacher training course that specialises in SEND or you can gain the skills and experience as you train to teach.</p>
  <p>Learn more about the <a href="https://getintoteaching.education.gov.uk/life-as-a-teacher/age-groups-and-specialisms/special-educational-needs">routes to teach pupils with special educational needs and disabilities (SEND).</a></p>
</div>
