<div class="hero" style="background-color: white">
  <img alt="Physics teacher explaining the concept of time to pupils on a whiteboard." data-lazy-disable="true" src="/packs/v1/media/images/content/hero-images/0013-3570599669a8da7d375320f4003d2d61.jpg">

  <div class="hero__title">
    <h1><span>International and overseas</span></h1>
  </div>

  <div class="hero__subtitle">
    <p>
      If you're a non-UK citizen, find out how you can become a teacher.
    </p>
  </div>
</div>
