<section class="container">
    <div class="category__nav-cards">
        <a href="/international-and-overseas/international-qualified-teacher-status" class="category__nav-card">
            <h2>International qualified teacher status (iQTS)</h2>

            <p>
                Train from anywhere in the world and gain International qualified teacher status (iQTS), a teaching qualification backed by England’s Department for Education (DfE).
            </p>
            <span class="icon"></span>
        </a>

        <a href="/international-and-overseas/international-returners" class="category__nav-card">
            <h2>International returners</h2>

            <p>
                Bring your international skills and experience back into an English classroom and return to teach in England.
            </p>
            <span class="icon"></span>
        </a>

        <a href="/international-and-overseas/train-to-teach-in-england-as-an-international-student" class="category__nav-card">
            <h2>Train as an international student</h2>

            <p>
            Find out how to train to get qualified teacher status (QTS) in England. You need QTS to teach in most primary and secondary schools in England.
            </p>
            <span class="icon"></span>
        </a>

        <a href="/international-and-overseas/come-to-england-to-teach-if-you-are-a-teacher-from-outside-the-uk" class="category__nav-card">
            <h2>Come to England to teach</h2>

            <p>
                Find out how you can bring your skills and perspective into an English classroom, working in a world class education system.
            </p>
            <span class="icon"></span>
        </a>

    </div>
</section>
