<div class="category__questions__container">

  <section class="container category__questions">

    <div class="category__question">
      <h2>Want is qualified teacher status (QTS)?</h2>

      <p>
        Qualified teacher status (QTS) is what most teachers need to teach in primary and secondary schools in England.
      </p>

      <a href="/what-is-qts" class="button">Explore QTS</a>
    </div>

    <div class="category__question">
      <h2>What will your teacher training year be like?</h2>

      <p>
        Find out what you'll learn, what classroom experience you'll get and how you'll be assessed.
      </p>

      <a href="/train-to-be-a-teacher/initial-teacher-training" class="button">Find out about initial teacher training</a>
    </div>

  </section>

</div>
