<div class="category__questions__container">

  <section class="container category__questions">

    <div class="category__question">
      <h2>What is qualified teacher status (QTS)?</h2>

      <p>
        Qualified teacher status (QTS) is what teachers need to teach in most primary and secondary schools in England.
      </p>

      <a href="/what-is-qts" class="button">Find out about QTS</a>
    </div>

    <div class="category__question">
      <h2>What is teaching in an English classroom like?</h2>

      <p>
        Dsicover what your day might look like working in an English school.
      </p>

      <a href="/a-day-in-the-life-of-a-teacher" class="button">Explore a day in the life of a teacher in England</a>
    </div>

  </section>

</div>
