<div class="row">
  <section class="col col-full-content">
    <%= render(CallsToAction::Promo::PromoComponent.new(border: :top)) do |promo| %>
      <% promo.with_left_section(classes: %w[events-background]) %>
      <% promo.with_right_section(heading: "Training provider events") do %>
          <p>Meet teacher training providers and discover courses on offer.</p>
          <p class="govuk-!-padding-top-3"><%= link_to("Find events", events_path, class: "button", role: "button") %></p>
      <% end %>
    <% end %>
  </section>
</div>
