<div class="row">
  <section class="col col-full-content">
    <div class="promo promo--border-top">
      <div class="col col-640" style="margin-bottom: 0;">
        <h2 class="heading-l heading--margin-top-0">Get tailored guidance in your inbox</h2>

        <p>
          Answer just a few questions and we'll send you helpful advice and insights, including how
          to apply for teacher training and tips from trainees
          and teachers.
        </p>

        <%= link_to("Get advice in your inbox", mailing_list_steps_path) %>.
      </div>
    </div>
  </section>
</div>
