<div class="row">
  <div class="grey col">
    <section class="col col-720 centered">
      <p class="inset">
        You’ve put your knowledge of teaching to the test with RateMyPlacement.co.uk.</p>   

        <p>Now, why not secure your September by starting a career that’s endlessly rewarding and train to become a teacher.</p> 

        <p>Get Into Teaching can help you to understand what’s involved and support you in starting your career as a teacher in a primary or secondary school in England.</p> 
      </p>

      <ol class="steps">
        <li class="step">
          <header class="step__header">
            <div class="step__number">1</div>
            <h2 class="heading-m">How much do teachers get paid?</h2>
          </header>
        </li>
        <li class="step">
          <header class="step__header">
            <div class="step__number">2</div>
            <h2 class="heading-m">Can I get help funding my training?</h2>
          </header>
        </li>
        <li class="step">
          <header class="step__header">
            <div class="step__number">3</div>
            <h2 class="heading-m">How do I find and apply for teacher training?</h2>
          </header>
        </li>
      </ol>
    </section>
  </div>
</div>
