<div class="row">
  <div class="grey col">
    <section class="col col-720 centered">
      <p class="inset">
      You’ve put your knowledge of teaching to the test with RateMyPlacement.co.uk. Now, why not take your first steps towards a career as a teacher in a primary or secondary school in England.</p>
      </p>

      <ol class="steps">
        <li class="step">
          <header class="step__header">
            <div class="step__number">1</div>
            <h2 class="heading-m">How much could I earn as a teacher?</h2>
          </header>
        </li>
        <li class="step">
          <header class="step__header">
            <div class="step__number">2</div>
            <h2 class="heading-m">Can I get help funding my training?</h2>
          </header>
        </li>
        <li class="step">
          <header class="step__header">
            <div class="step__number">3</div>
            <h2 class="heading-m">How do I find and apply for teacher training?</h2>
          </header>
        </li>
      </ol>
    </section>
  </div>
</div>
