<div class="row">
  <div class="grey col-space-l">
    <section class="col col-720 col-space-0">
         <%= render Content::AdviserComponent.new(
        title: "We'll help you do the homework before becoming a teacher",
        intro: "If you're thinking about returning to teaching in England, an adviser can provide free, one-to-one support by phone,
  text or email. You can talk to them as little or as often as you need.",
        color: "transparent",
        margin: false,
        heading: :l
      ) do %>

<p> 
  An adviser can help you with:
<ul>
 <li>gaining classroom experience</li>
 <li>keeping up-to-date with the national curriculum and educational developments</li>
 <li>searching for teaching vacancies</li>
 <li>the application process, writing your personal statement and preparing for teaching interviews</li>
</ul>
</p>

<p>
  To be eligible for an adviser, you'll need English qualified teacher status (QTS) and want to
  teach in an English state school.
</p>

        <br>

      <% end %>
    </section>
  </div>
  </div>
