<div class="row">
  <div class="grey col-space-l">
    <section class="col col-720 col-space-0">
         <%= render Content::AdviserComponent.new(
        title: "Free one-to-one support by phone, text or email",
        intro: "If you're thinking about returning to teaching in England, an adviser can help you get classroom experience, search for teaching jobs and support you with the application process. To be eligible for an adviser, you'll need [English qualified teacher status (QTS)](https://www.gov.uk/guidance/qualified-teacher-status-qts) and want to
  teach in an English state school.",
        color: "transparent",
        margin: false,
        heading: :l
      ) %>
    </section>
  </div>
</div>
