<%= render(CallsToAction::Promo::PromoComponent.new) do |promo| %>
  <% promo.left_section(
      heading: "Teacher training advisers", classes: %w[tta-background]) do %>
  <% end %>

  <% promo.right_section(heading: "Get free one-to-one support") do %>
      <p>An adviser can talk you through the support available if you're changing career, and answer any of your questions about getting into teaching.</p>

      <%= link_to("Find out more about advisers", "/teacher-training-advisers", class: "button") %>
  <% end %>
<% end %>
