<%= render(CallsToAction::Promo::PromoComponent.new) do |promo| %>
  <% promo.left_section(classes: %w[tta-background]) %>
  <% promo.right_section(heading: "Get free one-to-one support") do %>
      <p>Talk to an adviser about who you can teach. Chat through email, text or phone, as little or as much as you'd like.</p>

      <%= link_to("Find out more about advisers", "/teacher-training-advisers", class: "button") %>
  <% end %>
<% end %>
