<%= render(CallsToAction::Promo::PromoComponent.new) do |promo| %>
  <% promo.left_section(classes: %w[tta-background]) %>
  <% promo.right_section(heading: "Get free one-to-one support") do %>
      <p>Don’t let doubts of changing career hold you back – our experienced teachers can support you through the switch.</p>

      <%= link_to("Find out more about advisers", "/teacher-training-advisers", class: "button") %>
  <% end %>
<% end %>
