<div class="find-your-course">
  <div class="left">
    <div class="icon">
       <%= image_pack_tag("static/icon-school-black.svg", alt: "") %>
    </div>
  </div>

  <div class="right">
    <h2 class="heading-m heading--margin-top-0">Ready to apply</h2>
    <p>
      Create an account and start your application for a teacher training course.
    </p>

    <p>
      <a class="button" href="https://www.apply-for-teacher-training.service.gov.uk">Apply for a course</a>
    </p>
  </div>
</div>
