<div class="find-your-course">
  <div class="left">
    <div class="icon">
       <%= image_pack_tag("static/images/icon-school-black.svg", **image_alt_attribs_for_text("")) %>
    </div>
  </div>

  <div class="right">
    <h2 class="heading-m heading--margin-top-0">Start your application</h2>
    <p>
      Create an account and start your application for a teacher training course.
    </p>

    <p>
      <a class="button" href="https://www.gov.uk/apply-for-teacher-training">Apply for a course</a>
    </p>
  </div>
</div>
