<div class="content-alert">
  <div class="left">
    <div class="icon">
       <%= image_pack_tag("static/images/icon-warning-black.svg", **image_alt_attribs_for_text("")) %>
    </div>
  </div>
  <div class="right">
    <h2 class="heading-m">Applications have now closed</h2>
    <p>
      Information about future teaching internships will be available in the autumn.
    </p>
    <p>
      For personalised advice about how to get into teaching, you can get an adviser. They'll also let you know when applications open.
    </p>
    <p>
      <a class="button" href="/explore-teaching-advisers">Get an explore teaching adviser</a>
    </p>
  </div>
</div>
