
<%= render(CallsToAction::Promo::PromoComponent.new) do |promo| %>
  <% promo.left_section(
      heading: "Get Into Teaching events") do %>
  <% end %>
  <% promo.right_section(
        caption: "Online and in-person events",
        heading: "Get tips on your application") do %>
      <p>Talk to teacher training providers, expert advisers and current and former teachers to get help writing your teacher training application.</p>

      <%= link_to("Find a Get Into Teaching event", "/events/about-get-into-teaching-events", class: "button") %>
  <% end %>
<% end %>