
<%= render(CallsToAction::Promo::PromoComponent.new) do |promo| %>
  <% promo.left_section(
      heading: "Get Into Teaching events") do %>
  <% end %>
  <% promo.right_section(
        caption: "Online and in-person events",
        heading: "Get your questions answered") do %>
      <p>Talk to advisers and teacher training providers at a Get Into Teaching event to find out if you need to do a subject knowledge enhancement (SKE) course.</p>

      <%= link_to("Find a Get Into Teaching event", "/events/about-get-into-teaching-events", class: "button") %>
  <% end %>
<% end %>