<div class="find-your-course">
  <div class="left">
    <div class="icon">
       <%= image_pack_tag("media/images/icon-search-black.svg", alt: "") %>
    </div>
  </div>

  <div class="right">
    <span class="caption">Find your course</span>
    <p>
      You can search for undergraduate courses that will start you on your teaching career.
    </p>

    <p>
      <a class="button" href="https://digital.ucas.com/search">Search for a course</a>
    </p>
  </div>
</div>
