<div class="extra-content find-your-course">
  <div class="left">
    <div class="icon">
       <!-- we don't have a black magnifying glass icon yet -->
       <%= image_pack_tag("media/images/content/welcome-guide/money-icon.svg", alt: "") %>
    </div>
  </div>

  <div class="right">
    <span class="caption">Find your course</span>
    <p>
      You can search for postgraduate courses that lead to QTS (not including
      Teach First).
    </p>

    <p>
      <a class="button" href="#">Search for a course</a>
    </p>
  </div>
</div>
