<div class="find-your-course">
  <div class="left">
    <div class="icon">
       <%= image_pack_tag("static/images/icon-search-black.svg", **image_alt_attribs_for_text("")) %>
    </div>
  </div>

  <div class="right">
    <h2 class="heading-m heading--margin-top-0">Find your undergraduate degree course</h2>
    <p><a href="https://digital.ucas.com/search">Find your undergraduate degree course</a>.</p>
    </p>
  </div>
</div>
