<div class="find-your-course">
  <div class="left">
    <div class="icon">
       <%= image_pack_tag("static/images/icon-search-black.svg", **image_alt_attribs_for_text("")) %>
    </div>
  </div>

  <div class="right">
    <h2 class="heading-m heading--margin-top-0">Find your teacher training course</h2>
    <p>
      Take a look at the different teacher training courses available.
    </p>

    <p>
      <a class="button" href="https://find-teacher-training-courses.service.gov.uk/">Search for a course</a>
    </p>
  </div>
</div>
