<div class="extra-content events-near-you">
  <div class="events-near-you__next-event">
    <div>
      <h2>
        <div class="caption">
          Get an adviser
        </div>
        <br/>

        <div>Teacher training advisers</div>
      </h2>
    </div>

    <div>
      <div class="date-and-time">
        <p>Your own personal adviser can help you on the phone, text or by email and it’s free.</p>
      </div>
    </div>

    <div>
      <a href="#" class="button button--white button--inline-block">Find out more about advisers</a>
    </div>
  </div>

  <div class="events-near-you__find-an-event">
    <h2>
      <div class="caption">
        Events near you
      </div>

      Events are a great place to ask questions
    </h2>

    <p>
      Events are one of the best ways to speak to people and ask the questions you need to get into teaching.
    </p>

    <form>
      <label for="postcode">Enter postcode</label>

      <div>
        <input name="postcode" maxlength="4">
        <button class="button">Search</button>
      </div>
    </form>
  </div>
</div>
