<%= render(CallsToAction::Promo::PromoComponent.new) do |promo| %>
  <% promo.left_section(
      heading: "Get an adviser", classes: %w[tta-background]) do %>
  <% end %>

  <% promo.right_section(
    heading: "Get free one-to-one support"
  ) do %>
      <p>Advisers can answer your questions, help with your application, and support you on your teaching journey.</p>

      <%= link_to("Find out more about advisers", "/teacher-training-advisers", class: "button") %>
  <% end %>
<% end %>
