<%= render(CallsToAction::Promo::PromoComponent.new) do |promo| %>
  <% promo.left_section(
      heading: "Teacher training advisers") do %>
  <% end %>

  <% promo.right_section(heading: "Get free one-to-one support") do %>
      <p>Advice for you, whether you’re just thinking about teaching or you’re ready to apply.</p>

      <%= link_to("Learn about advisers", "/teacher-training-advisers", class: "button") %>
  <% end %>
<% end %>
