<%= render(CallsToAction::Promo::PromoComponent.new) do |promo| %>
  <% promo.with_left_section(classes: %w[ml-background]) %>
  <% promo.with_right_section(
    heading: "Find out more about teaching"
  ) do %>
      <p>Explore more benefits of teaching, and learn what it's really like to be in the classroom.</p>

      <%= link_to("Get tailored advice in your inbox", "/mailinglist/signup/name", class: "button") %>
  <% end %>
<% end %>
