<%= render(CallsToAction::Promo::PromoComponent.new) do |promo| %>
  <% promo.with_left_section(classes: %w[ml-background]) %>
  <% promo.with_right_section(
    heading: "Find out more about teacher training"
  ) do %>
      <p>Discover how you can apply for teacher training, including top tips on writing a successful application.</p>

      <%= link_to("Get tailored advice in your inbox", "/mailinglist/signup/name", class: "button") %>
  <% end %>
<% end %>
