<%= render(CallsToAction::Promo::PromoComponent.new) do |promo| %>
  <% promo.with_left_section(classes: %w[ml-background]) %>
  <% promo.with_right_section(
    heading: "Find out more about teaching"
  ) do %>
      <p>Explore what teaching is really like, including how you can get experience in the classroom to find out if it's the career for you.</p>

      <%= link_to("Get tailored advice in your inbox", "/mailinglist/signup/name", class: "button") %>
  <% end %>
<% end %>
