<%= render(CallsToAction::Promo::PromoComponent.new) do |promo| %>
  <% promo.left_section(
      heading: "Advice and support", classes: %w[ml-background]) do %>
  <% end %>

  <% promo.right_section(
    heading: "Find out more about teaching"
  ) do %>
      <p>Find out about nearby events, what teaching is really like, and how to get one-to-one support.</p>

      <%= link_to("Get tailored advice in your inbox", "/mailinglist/signup/name", class: "button") %>
  <% end %>
<% end %>
