<%= render(CallsToAction::Promo::PromoComponent.new) do |promo| %>
  <% promo.left_section(
      heading: "Advice and support in your inbox", classes: %w[ml-background]) do %>
  <% end %>

  <% promo.right_section(
    heading: "Get tailored guidance"
  ) do %>
      <p>Find out more about how to get into teaching, what being in a classroom is really like, and how to find more support.</p>

      <%= link_to("Sign up for emails", "/mailinglist/signup/name", class: "button") %>
  <% end %>
<% end %>
