<div class="row inset">
  <section class="col col-720">
    <p>
      A modern languages teacheer opens young minds to the languages and cultures around the world. </p>
      <p>As we strive to achieve our vision for a 'Global Britain' mutual inter-cultural understanding and insights through the fostering of a shared language, is vital.</p>
      <p>Qualifications are available in 18 modern languages with the must popular being French, German and Spanish in key stage 2 and 3.</p>
  </section>

  <section class="col col-space-s col-content-max">
    <%= render TextBlockWithTwoImagesComponent.new(
      heading: "quote",
      colour: "pink",
      image_1_path: "static/images/content/hero-images/0017.jpg",
      image_1_alt: "",
      image_2_path: "static/images/content/hero-images/0024.jpg",
      image_2_alt: "",
    ) do %>
      <p>
       quote </p>
    <% end %>
  </section>

  <section class="col col-720 col-horizontal col-space-m">
    <div>
      <h2>What you'll be teaching</h2>
      <p> For any modern language you teach, you will:</p>
<ul>
  <li>prepare lessons and teaching materials </li>
<li>assess pupils' progress and mark their work</li> 
<li>set homework </li>
<li>manage classroom behaviour </li>
<li>organise study trips, social activities and sports events</li>
<li>Monitor the progress of pupils, through coursework and homework </li>
<li>Work with pupils to guide their development and share that progress with parents and caregivers </li>
<li>Plan, supervise and lead study trips</li>
</ul> 
      <p><b>Themes you’ll cover for 11 to 14 year olds (key stage 3):</b></p>

<p>You'll help pupils develop their understanding of grammar and vocabulary and develop their linguistic competence, by helping them to:  </p>

<ul>
<li>identify and use present, past, and future tenses as appropriate</li>

<li>use a variety of key grammatical structures and patterns like voices and moods</li>

<li>develop and use a wide-ranging and deepening vocabulary, to take part in discussions about wider issues</li>

<li>use accurate grammar, spelling and punctuation</li>
    </ul>

<p>To develop pupil's linguistic competence skills at key stage 3, you will teach them to: </p>

<ul>
<li>listen to a variety of forms of spoken language to obtain information and respond appropriately</li>

<li>transcribe words and short sentences that they hear with increasing accuracy</li>

<li>have conversations and make use of important social conventions such as formal modes of address</li>

<li>express and develop ideas clearly and with increasing accuracy, both orally and in writing</li>

<li>speak coherently and confidently</li> 

<li>read literary texts in the language and expand their understanding of the language and culture</li>

<li>write creatively to express their own ideas and opinions</li>
</ul> 

    <p><a href="https://www.gov.uk/government/publications/national-curriculum-in-england-languages-progammes-of-study">
        Read the full national curriculum for more information about teaching modern languages in secondary schools</a>.</p>
    </div>
</section>

<section class="col col-845 inset">
    <%= render Content::PhotoQuoteListComponent.new(
      [
        {
          image: "static/images/content/subjects/rotna-roy.jpeg",
          heading: "Empowering my pupils",
          text: "quote",
          accreditation: "quote",
        }
      ],
      colors: %w[yellow],
      numbered: false
    ) %>
  </section>

  <section class="col col-space-m col-720">
    <h2> Fund your teaching training </h2>

    <p>To train to be a modern languages teacher, you'll need to do a teacher training course. </p>
<p>Tax-free scholarships of £27,000 are available for <a href="https://getintoteaching.education.gov.uk/funding-and-support/scholarships-and-bursaries?funding_widget%5Bsubject%5D=languages&button=#funding-widget">eligible trainee French, German, and Spanish languages teachers</a>. </p>
<p>Tax-free bursaries of £25,000 are available for <a href="https://getintoteaching.education.gov.uk/funding-and-support/scholarships-and-bursaries?funding_widget%5Bsubject%5D=languages&button=#funding-widget">all eligible trainee language teachers, including ancient languages</a>. </p>

  <p>You can receive this alongside a tuition fee and maintenance loan. </p>

  <p>You may also be able to get extra funding support if you are: </p>
  <ul>
<li>a parent or carer </li>
<li>disabled </li>
</ul>
<p>Non-UK citizens without indefinite leave to remain in the UK are unlikely to be eligible for funding. </p>

    <h2>Check your qualifications</h2>

   <p> You'll need a bachelors degree before training to teach, but it does not have to be in modern languages. </p>
<p>Besides modern languages, the most popular degrees people have before doing a teacher training course in modern languages are: </p>

<ul>
  <li>translation studies</li>
<li>english language and literature</li>
<li>psychology</li>
</ul>
 

<p>To train to teach in primary and secondary schools in England, you’ll need: </p>
<ul>
<li>GCSEs at grade 4 (C) or above in English and maths (and science if you want to teach primary) </li>
<li>a bachelor’s degree in any subject </li>
</ul>

 <p>Your training provider may need you to brush up on your computing knowledge before you become a computing teacher. You can do a <a href="https://getintoteaching.education.gov.uk/how-to-apply-for-teacher-training/subject-knowledge-enhancement">subject knowledge enhancement (SKE)</a> course before you start your teacher training to top up your subject knowledge. </p>

<p><a href="https://getintoteaching.education.gov.uk/is-teaching-right-for-me/qualifications-you-need-to-teach">Find out more about the qualifications needed to teach</a>.</p> 

 
    <h2 class="heading-s">Paid internship </h2>

<p>If you’re currently doing an undergraduate or master's degree and are interested in teaching computing, you could apply for a <a href="https://getintoteaching.education.gov.uk/is-teaching-right-for-me/teaching-internship-providers">paid teaching internship</a>. </p>

<p>The 3-week programme could help you to understand what it’s really like in the classroom and get a feel for school life. </p>

<p>You can also find out what it's like to be in a classroom through <a href="https://getintoteaching.education.gov.uk/is-teaching-right-for-me/get-school-experience">unpaid school experience</a>. </p>
    </section>
</div>
