<div class="row">
  <section class="category col-space-m">
    <section class="container category__cards main-section">
      <nav class="category__nav-cards">
        <ul>
          <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Computing",
              description: "Discover how computing is vital, helping children learn digital skills they'll need throughout life.",
              path: "/life-as-a-teacher/what-you-could-teach/computing",
              image: "static/images/content/hero-images/teacher2.jpg"
            )) %>
          <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Maths",
              description: "Find out how to become a maths teacher and show children the importance of maths in everything we do.",
              path: "/life-as-a-teacher/what-you-could-teach/maths"
            )) %>
          <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Physics",
              description: "Find out how to become a physics teacher and inspire the next generation of scientists, engineers and innovators.",
              path: "/life-as-a-teacher/what-you-could-teach/physics"
            )) %>
        </ul>
      </nav>
    </section>
  </section>
</div>
