.content {

    .steps-header {
        background-color: $pink;
        cursor: pointer;

        h1 {
            padding: 25px;
            color: $white;
        }

        i {
            float: right;
        }

        &__number {
            float: left;
            background-color: $white;
            width: 50px;
            height: 50px;
            transform: rotate(3deg);
            text-align: center;
            box-sizing: border-box;
            padding-top: 12px;
            position: relative;
            top: -10px;
            margin-right: 20px;

            span {
                transform: rotate(-3deg);
                color: $black;
            }
        }
    }
}

@media only screen and (max-width: 800px) {

    .content {
    
        .steps-header {

            margin-left: -30px;
            margin-right: -30px;

            h1 {
                margin-left: 10px;
                margin-right: 10px;
                font-size: 19px;
            }

            &__number {
                width: 40px;
                height: 40px;
            }
        }

    }
}