<h2 class="heading-m">Have a question?</h2>

<p>
  Contact our helpful team of experts who can answer questions about
  what teaching is like, qualifications, routes into teaching or your application.
</p>

<div class="mailing-list__actions">
  <% if callback_available? %>
    <p>
      Call us on <a href="tel:08003892500">0800 389 2500</a>. Monday to Friday between 8:30am and 5:30pm, except on <a href="https://www.gov.uk/bank-holidays">bank holidays</a>.
    </p>
    </div>
    <p>
      Alternatively, choose a convenient time for one of our experts to give you a call. <%= link_to("Book a callback", callbacks_steps_path,) %>.
    </p>
    </div>
  <% else %>
    <div>
    <p>
      Call us on <a href="tel:08003892500">0800 389 2500</a>. Monday to Friday between 8:30am and 5:30pm, except on <a href="https://www.gov.uk/bank-holidays">bank holidays</a>.
    </p>
    </div>
  <% end %>
</div>
