<div class="callback-module">
  <h2 class="heading-m">Have a question?</h2>

  <p>
    Our helpful team of experts can answer any teacher training questions, including what teaching is like, qualifications, routes into teaching or your application.
  </p>

  <p>
    <a href="tel:08003892500">Call us on 0800 389 2500</a> Monday to Friday between 8:30am and 5:30pm, (except on <a href="https://www.gov.uk/bank-holidays">bank holidays</a>) or <%= link_to("choose a time for us to give you a call", callbacks_steps_path,) %>.
  </p>
</div>
