<h3 class="heading-s">Find a teacher training course </h3>

<p>
  <a href="https://www.gov.uk/find-postgraduate-teacher-training-courses">Search for postgraduate teacher training
  courses</a> in England to study for qualified teacher status (QTS).
</p>
