%span{ data: { controller: controller, "#{controller}-disable-with": disable_with } }
  %button{ class: klass, disabled: disabled, data: { target: "#{controller}.button", action: "click->#{controller}#handleClick" } } #{text}