<div class="event-box signup-info mobile">
  <p class="registering-for">Registering for:</p>

  <p>
  <strong><%= @event.name %></strong> on <%= event.start_at.to_date.to_formatted_s(:govuk) %>
  </p>
</div>
