<div class="event-box signup-info mobile">
  <p class="sign-up-for">Sign up for:</p>

  <p>
    <strong><%= @event.name %></strong> on <%= date %> at <%= start_time %> &ndash; <%= end_time %>
  </p>
</div>
