<div class="type-description">
  <%= event_type_icon %>
  <h5><%= type_name_plural %></h5>
  <p><%= description %></p>
  <a href="<%= read_more_href %>" class="type-description__link">Read <span>more</span></a>
</div>