<h1>Choose a time for your callback</h1>

<p>
  Enter the number you’d like us to call you on and choose the 30 minute slot that suits you best.
</p>

<p>
  All slots are in UK time.
</p>

<p>
  If you're outside the UK, please include international dialling code.
</p>

<%= f.govuk_phone_field :address_telephone, width: 20 %>

<%= f.govuk_select :phone_call_scheduled_at, callback_options(f.object.class.callback_booking_quotas) %>
