<section class="event-info content container-1000" role="main" id="main-content">
  <div class="content__left">
    <%= back_link %>

    <h1>Edit your cookie settings</h1>

    <p class="govuk-body">
      Cookies are files saved on your phone, tablet or computer when
      you visit a website.
    </p>

    <p>
      We use cookies to store information about how you use the Get into
      Teaching website, such as the pages you visit.
    </p>

    <h2 class="govuk-heading-m">
      Cookie settings
    </h2>

    <p>
      We use 3 types of cookie. You can choose which cookies you're happy
      for us to use.
    </p>

    <div id="cookie-preferences-form">
      TBD
    </div>
  </div>

  <div class="content__right"></div>
</div>
