.no-results {
  background: $purple;
  color: $white;
  padding: 1em;
  font-weight: bold;
  box-sizing: border-box;
  margin: 0 0 1.5em;

  p {
    margin: 0px 0px 10px 0px;
  }

  .button {
    padding: 10px 1.5rem;
  }

  a:not(.button) {
    @extend .git-link, .white, .underline;
  }
}
