.no-results {
  background: $purple;
  color: $white;
  padding: 1em;
  font-weight: bold;
  box-sizing: border-box;
  margin: 0 0 1.5em;

  a {
    color: $white;
  }

  @include mq($from: tablet) {
    width: 70%;
  }
}
