<section class="col col-720">
  <p>This page is for people who have a degree or are studying towards one, and want to do postgraduate teacher training in England.  To help fund your training, you may be eligible for a bursary or scholarship.</p>

<%= render Content::ExpanderComponent.new(
  title: "bursaries and scholarships",
  text: "If you train to teach languages or physics, you may be eligible for a bursary or scholarship. Bursaries and scholarships are not available for other subjects..",
  link_title: "Learn more about fees and financial support for non-UK trainee teachers.",
  link_url: "/non-uk-teachers/fees-and-funding-for-non-uk-trainees",
) %>

  <p>Bursaries are tax-free payments aimed at encouraging graduates to train to teach certain subjects. If you're eligible for a bursary, you'll get it automatically.</p>
  <p>Scholarships are tax-free payments provided by charitable organisations. As well as money, you'll have the opportunity to access benefits like mentors and networking. If you're eligible, you must apply and only a limited number of scholarships are awarded.</p>
  <p>You cannot receive both a scholarship and a bursary.</p>
  <p>This funding is not available for salaried teacher training. If you're considering a subject with available bursaries or scholarships, this may offer more financial support than salaried teacher training.</p>
  <p>Although only certain subjects have bursaries and scholarships, this changes every year.</p>
  <p>The figures on this page apply for [year period].</p>
</section>
<section id="funding-widget">
  <%= render FundingWidgetComponent.new(
    @funding_widget,
    page_path(request.path.delete_prefix("/"), anchor: 'funding-widget'))
  %>
</section>
