<p>You may be eligible for a teaching bursary or scholarship when training to teach. These are tax-free amounts of money you receive to train in certain subjects. You do not need to pay them back.</p>

<p>Scholarships are offered by independent institutions. They set their own eligibility criteria and you’ll need to apply through the relevant scholarship body.</p>

<p>You do not need to apply for a bursary. If you’re eligible, you’ll automatically receive it.</p>

<section id="funding-widget">
  <%= render FundingWidgetComponent.new(
    @funding_widget,
    page_path("funding-and-support/scholarships-and-bursaries", anchor: 'funding-widget'))
  %>
</section>
