<p>After you’ve submitted your application, you may be contacted to provide copies of your supporting documents. These could be:</p>

<ul>
  <li>your degree certificate</li>
  <li>your academic degree transcript</li>
  <li>evidence of your qualifications or equivalent</li>
</ul>

<details>
  <summary>Read more<span class="visually-hidden">about teaching and training</span></summary>

  <p>You may be invited to attend an interview. Providers will be looking for qualities that would make you a good teacher, and evidence of relevant skills.</p>
</details>
