<p>
  To start primary or secondary initial teacher training, you’ll need to have a degree or equivalent
  qualification. <a href="/guidance/become-a-teacher-in-england#if-you-do-not-have-a-degree">Find out what to do if you do not have a degree</a>.
</p>

<p>You’ll also need:</p>

<ul>
  <li>English GCSE grade 4 (C) or above</li>
  <li>Maths GCSE grade 4 (C) or above</li>
  <li>Science GCSE grade 4 (C) or above if you want to teach in primary education</li>
</ul>

  <section data-controller="talk-to-us">
    <p>
      If you do not have the required GCSEs or you have overseas
      qualifications, you’ll need to show that you have an equivalent level of
      education.
    </p>

    <a href="#" data-action="click->talk-to-us#startChat" class="button button--smaller" data-turbolinks="false">
      Chat to us online to find out more
    </a>
  </section>
