<p>
  Before you commit to a teacher training course, you might want to spend some
  time in a school. This can give you valuable first-hand experience of what
  teaching might be like, and what’s involved during a teacher’s day. It may also
  give you a chance to see a range of lessons and age groups being taught.
</p>

<details>
  <summary>Read more<span class="visually-hidden">about school experience</span></summary>

  <p>
    You can approach schools and teachers yourself or search for school experience
    in your area using our service.
  </p>

  <p>
  If you are interested in teaching secondary maths or physics, and you are an undergraduate on a STEM related degree, you may be eligible for a paid <a href='/teaching-internship-providers'>Teaching Internship</a>. 
  This provides an opportunity to experience the teaching profession, gain new skills and be paid £300 per week for your time. 
  </p>
  
  <a href="https://schoolexperience.education.gov.uk/" class="button button--smaller button--no-external-icon">
    Search for school experience
  </a>

  <p>
  If getting into the classroom is not possible for you right now, you can <a href="https://teachers.thenational.academy/lessons-for-itt">observe teachers reflecting on lessons they have delivered</a> on 
  the Oak National Academy website. Although these videos are designed to support trainee teachers and are 
  not a claim of best practice, they may be helpful if you are seeking school experience. 
  </p>
</details>