<p>
  Before you commit to a training course you’ll need to decide if teaching is
  for you, and think about what age group or subject you want to teach.
<p>

<details>
  <summary>Read more<span class="visually-hidden">about teaching and training</span></summary>

  <section>
    <h3>Go to an event</h3>

    <p>
      Events give you a chance to talk to real teachers, experts, and training
      providers about every aspect of teaching and teacher training. They cover
      everything from funding your training, a day in the life of a teacher, to what
      you’ll need for a successful application.
    </p>

    <a href="/events" class="button button--smaller">Attend an event</a>
  </section>

  <section>
    <h3>Get advice from a teacher training adviser</h3>

    <p>
      All our teacher training advisers are experienced teachers who can
      support you through the whole process and offer you one-to-one advice.
    <p>

    <p>
      This is a free service and your adviser will be there to support you
      throughout the whole process of becoming a teacher.
    </p>

    <a href="/tta-service" class="button button--smaller">Get an adviser</a>
  </section>

  <section>
    <h3>Receive personalised updates and tips</h3>

    <p>
      Get personalised information straight to your inbox with everything you need to
      know about getting into teaching including: what teaching is really like, where
      a career in teaching could take you, and how to take your next steps.
    </p>

    <a href="/mailinglist/signup/name" class="button button--smaller">Sign up for personalised updates</a>
  </section>

  <section>
    <h3>Read other people’s stories</h3>

    <p>
      Reading other people’s experiences can give you inspiration into what you
      might like to do, insight into the things they learnt along the way, and
      an idea of what it might be like for you.
    </p>

    <a href="/my-story-into-teaching" class="button button--smaller">Read stories</a>
  </section>
</details>
