<p>
  When you’ve decided the best route for you and what you want to teach, <a href="https://www.gov.uk/find-postgraduate-teacher-training-courses">search for a course</a>.
</p>

<details>
  <summary>Read more<span class="visually-hidden">about teaching and training</span></summary>

  <section>
    <p>
      Once you have an idea of the courses available, you can do more research about
      the individual providers. You can look at their websites, attend one of their
      events, or look at Ofsted inspection reports for schools. There is also
      guidance if you
      <a href="/guidance/become-a-teacher-in-england#subject-knowledge-enhancement-courses" >
      want to teach a subject that you did not study at degree level</a>.
    </p>

    <p>To apply for a course, you will need:</p>

    <ul>
      <li>a written personal statement</li>
      <li>2 references</li>
      <li>GCSE (or equivalent) and degree certificates</li>
    </ul>

    <p>
      For support finding and applying for a course, you can
      <a href="/tta-service">get support from an adviser</a>.
      They can help to select the best provider for you, and
      assist you with your application.
    </p>

    <p>
      Before you make your application read our <a href="/tips-on-applying-for-teacher-training">tips on applying</a>.
    </p>

    <a href="https://www.gov.uk/find-postgraduate-teacher-training-courses" class="button button--smaller button--no-external-icon">
      Search for postgraduate teacher training
    </a>
  </section>
</details>
