<p>To train to teach, you’ll need to have GCSEs at grade 4 (C) or above in English and maths (and science if you want to teach primary).</p>

<p>You also need a bechelor's degree in any subject to teach primary and secondary – if you have one or an equivalent qualification, you can do postgraduate teacher training.</p>

<p>If you do not have a degree, you can do undergraduate teacher training to get a bachelor's degree alongside qualified teacher status (QTS). Or you may be eligible to do a <a href="/train-to-be-a-teacher/teacher-degree-apprenticeships">teacher degree apprenticeship (TDA)</a>.</p>

<%= render Content::ExpanderComponent.new(
    title: "check your qualifications",
    text: "If you have qualifications from outside the UK, you’ll need to show that they meet the standards set for teacher training in England. You can <a href=\"/non-uk-teachers/non-uk-qualifications\">get help comparing English and international qualifications</a>.",
  ) %>

<p><a href="/train-to-be-a-teacher/qualifications-you-need-to-teach">Find out more about the qualifications you need to teach</a>.</p>
