<p>Explore your options, find out how to get a teaching qualification and <a href="/ways-to-train">how to train to
  teach primary or secondary</a>. This could be through an undergraduate teaching degree, <a href="/what-is-a-pgce">a PGCE</a> or directly in a school.</p>

<p>You can <a href="/get-support-training-to-teach-if-you-are-disabled">
get support training to teach if you're disabled</a>.</p>

<p><%= link_to("Search for teacher training courses.", "https://www.gov.uk/find-postgraduate-teacher-training-courses") %>.</p>

<p>
  <a href="/teacher-training-advisers" class="button">
    Get a teacher training adviser for help finding training
  </a>
</p>
