<p>Through teacher training, you can get qualified teacher status (QTS), QTS with postgraduate certificate in education (PGCE), or a PGCE without QTS.</p>

<p>You need QTS to teach in most primary and secondary schools in England but you do not need a PGCE to teach.</p>

<p>Find out about <a href="/train-to-be-a-teacher/how-to-choose-your-teacher-training-course">how to choose your teacher training course</a>.</p>

<p>You can <a href="https://www.gov.uk/find-postgraduate-teacher-training-courses">find postgraduate teacher training courses in England</a>.</p>

<p>Or take a look at <a href="https://digital.ucas.com/search">undergraduate teacher training courses</a>.</p>
