<p>Find out <a href="/ways-to-train">how to train to teach primary or secondary</a>.</p>

<p>You can search for training by where you live, whether you want to study part time and what qualifications you can get.</p>

<p>
  <a href="/tta-service" class="button button--smaller">
    Get a teacher training adviser for help finding training
  </a>
</p>
