<p>Congratulations – you're a qualified teacher!</p>

<p>Now that you’ve started your first teaching job, you’ll be an early career teacher (ECT) – this used to be called newly qualified teacher (NQT).</p>

<p>For your first 2 years as an early career teacher, you’ll receive a package of support to help you find your feet. You'll get this automatically if you work in a maintained school but lots of other schools provide this for ECTs too.</p>

<p>You’ll get a mentor to support you, boost your confidence and help you develop your <a href="/life-as-a-teacher/teaching-as-a-career/skills-to-teach">teaching skills</a>, including behaviour management and ways to adapt your teaching. This builds on your initial teacher training.</p>

<%= render CallsToAction::ArrowLinkComponent.new(link_target: "/life-as-a-teacher/teaching-as-a-career/early-career-teachers", link_text: "Find out more about support for early career teachers (ECT)") %>
