<p>Once you have a degree or equivalent qualification you’re ready for postgraduate primary or secondary initial teacher training courses.</p>

<p>You also need the following GCSEs at grade 4 (C) or above, or equivalent qualifications:</p>

<ul>
  <li>English</li>
  <li>maths</li>
  <li>science if you want to teach primary</li>
</ul>

<p>You may be able to show you meet the standard in another way if you do not have GCSEs.</p>

<p>For advice on qualifications, chat to our teacher training experts online. They're available Monday to Friday between 8:30am and 5:30pm.</p>

<%= render ChatComponent.new %>

<p>Find out what to do <a href="/train-to-teach-in-england-as-an-international-student">if you’re an international candidate with qualifications from overseas</a>.</p>

<p>If you're not already studying for a degree and you do not have one <a href="/ways-to-train#if-you-do-not-have-a-degree">you can do undergraduate teacher training</a>.</p>

<p>Or, you can <a href="/become-a-further-education-teacher">teach in further education without a degree</a>.</p>
