<p>All postgraduate training involves classroom placements in at least 2 schools. Your training will also include some theoretical learning, which might be in a different location to your placements.</p>

<p>Most postgraduate courses start in September, with full-time courses taking 9 months and part-time courses taking 18 to 24.</p>

<p>Undergraduate courses usually take 4 years.</p>

<div class="results-box__cta">
    <%= render "content/shared/links_and_buttons/cta_circle_button_link", href: @link_target = "/train-to-be-a-teacher/initial-teacher-training", cta_link_text: @link_text = "Find out more about what postgraduate teacher training is like" %>
  </div>
