<p>Experiencing life in a school can help you decide if teaching is right for you and who you want to teach. This is a good way to give you a taste of what the classroom is really like.</p>

<%= render Content::ExpanderComponent.new(
    title: "experience in a classroom in England",
    text: "<p>To get experience in a school in England, you'll need the right to work in the UK. If you don't have experience in a classroom, you can still apply for teacher training.</p>
    <p>Find out about <a href=\"/non-uk-teachers/train-to-teach-in-england-as-an-international-student\">applying for teacher training from outside the UK</a>.</p>",
  ) %>

<p><a href="/is-teaching-right-for-me/get-school-experience">Learn more about getting classroom experience</a>.</p>
