<p>Explore your options, find out <a href="/train-to-be-a-teacher">how to train to
  teach primary or secondary</a> (for example <a href="/what-is-a-pgce">a postgraduate certificate in education (PGCE)</a> or directly in a school).</p>

<p>You can <a href="/funding-and-support/if-youre-disabled">
get support training to teach if you're disabled</a>.</p>

<p><%= link_to("Search for teacher training courses", "https://www.gov.uk/find-postgraduate-teacher-training-courses") %>.</p>

<p>
  <a href="/teacher-training-advisers" class="button">
    Get a teacher training adviser for help finding training
  </a>
</p>
