<p>Through teacher training, you can get qualified teacher status (QTS) or QTS with a postgraduate certificate in education (PGCE).</p>

<p>You need QTS to teach in most primary and secondary schools in England but you do not need a PGCE to teach.</p>

<%= render Content::ExpanderComponent.new(
    title: "visa sponsorship",
    text: "<p>If you do not have the right to study or work in the UK, you will need a visa. Your visa will need to be sponsored by a course provider.</p>
    <p><a href=\"/non-uk-teachers/visas-for-non-uk-trainees\">Learn more about applying for your visa to train to teach in England</a>.</p>",
  ) %>

<p>Find out about <a href="/train-to-be-a-teacher/how-to-choose-your-teacher-training-course">how to choose your teacher training course</a>.</p>

<p>You can <a href="https://find-teacher-training-courses.service.gov.uk/">find postgraduate teacher training courses in England</a>.</p>

<p>Or take a look at <a href="https://digital.ucas.com/search">undergraduate teacher training courses</a>.</p>
