<p>Some teacher training providers recommend you start thinking about job applications quite early in your teacher training year.</p>

<p>Schools start to advertise their vacancies from January.</p>

<%= render Content::ExpanderComponent.new(
    title: "right to work in the UK",
    text: "<p>To teach in England, you will need a visa or immigration status that gives you the right to work in the UK. If you're not sure about your immigration status, you can <a href=\"https://www.gov.uk/check-uk-visa\">check if you need a UK visa</a>.</p>
    <p>You can also explore our advice about <a href=\"/non-uk-teachers\"> teaching in England as a non-UK citizen</a>.</p>",
  ) %>

<%= render CallsToAction::ArrowLinkComponent.new(link_target: "https://teaching-vacancies.service.gov.uk/jobseeker-guides/get-help-applying-for-your-teaching-role", link_text: "Get help applying for teaching jobs") %>
