<p>Get tips on applying, including finding the right referees and writing a <a href="/tips-on-applying-for-teacher-training#writing-your-teacher-training-personal-statement">teacher training personal statement.</a></p>

<p>Your <a href="/teacher-training-advisers">teacher training adviser</a> can also help you get your application ready and explore the best route for you when it comes to getting your teaching qualification.</p>

<p>When you're ready, you can <%= link_to("start your application for teacher training", "https://www.gov.uk/apply-for-teacher-training") %>.</p>

<p>
  <a href="/tips-on-applying-for-teacher-training" class="button">
    Get tips on applying
  </a>
</p>
