<p>You'll need a degree to apply to teach primary or secondary.</p>

<p>You also need the following GCSEs at grade 4 (C) or above.</p>

<ul>
  <li>English</li>
  <li>maths</li>
  <li>science (if you want to teach primary)</li>
</ul>

<p>You may be able to show you meet the standard required in another way if you do not have a degree or GCSEs, like through an equivalent qualification.</p>

<p>For advice on the qualifications you need for teacher training, chat to our experts online. They're available Monday to Friday between 8:30am and 5:30pm.</p>

<%= render ChatComponent.new %>

<p>Find out what to do <a href="/train-to-teach-in-england-as-an-international-student">if you’re an international candidate with qualifications from overseas</a>.</p>

<p><a href="/ways-to-train#if-you-do-not-have-a-degree">If you're not already studying for a degree and you do not have one</a> you can do an undergraduate teaching degree.</p>

<p>Or, you can <a href="/become-a-further-education-teacher">teach in further education without a degree</a>.</p>
