<p>Through teacher training, you can get qualified teacher status (QTS) or QTS with a postgraduate certificate in education (PGCE).</p>

<p>You need QTS to teach in most primary and secondary schools in England but you do not need a PGCE to teach. Explore the <a href="/life-as-a-teacher/age-groups-and-specialisms">age groups and specialisms</a> you could qualify to teach.</p>

<p>If you do not have a degree, explore <a href="/train-to-be-a-teacher/if-you-dont-have-a-degree">undergraduate teacher training</a>.</p>

<p>If you already have a degree, find out <a href="/train-to-be-a-teacher/how-to-choose-your-teacher-training-course">how to choose your postgraduate teacher training course</a>.</p>

<p>If you're not sure which route into teaching is right for you, <a href="/routes-into-teaching">find routes into teaching based on your circumstances</a>.</p>
<%= render Content::ExpanderComponent.new(
    title: "visa sponsorship",
    text: "<p>If you do not have the right to study or work in the UK, you will need a visa. Your visa will need to be sponsored by a course provider.</p>
    <p><a href=\"/non-uk-teachers/visas-for-non-uk-trainees\">Learn more about applying for your visa to train to teach in England</a>.</p>",
  ) %>

<%= render CallsToAction::ArrowLinkComponent.new(link_target: "https://find-teacher-training-courses.service.gov.uk/", link_text: "Find postgraduate teacher training courses") %>
