<p>You can usually start applying in October the year before your course starts. As courses fill up quickly, it’s important to start thinking about your course before then.</p>

<p><a href="https://www.gov.uk/apply-for-teacher-training">Apply for teacher training</a>.</p>
