<p>Full-time postgraduate teacher training courses usually take 9 months, while part-time courses can take from 18 to 24.</p>

<p>Whichever course you choose, they all mostly involve school placements with some theoretical learning.</p>

<p>You can <a href="https://www.gov.uk/find-postgraduate-teacher-training-courses">search for postgraduate teaching courses in England</a> to study for qualified teacher status (QTS).</p>

<p>If you do not have a degree and are not studying for one, you can do <a href="/train-to-be-a-teacher/if-you-dont-have-a-degree">undergraduate teacher training</a>. These courses usually take 4 years to complete.</p>
