<p>You could train to teach different age groups, like primary or secondary, or specialise in teaching pupils with special educational needs and disabilities (SEND). If you train to teach secondary, you'll get to decide which subject you want to train in.</p>

<p>
Explore:
  <ul>
    <li><a href="/life-as-a-teacher/age-groups-and-specialisms">age groups and specialisms</a></li>
    <li><a href="/life-as-a-teacher/explore-subjects">subjects you could teach</a> at secondary school level</li>
  </ul>
</p>
