<p>Some teacher training providers recommend you start thinking about job applications quite early in your teacher training year.</p>

<p>Schools start to advertise their vacancies from January.</p>

<p>But don't worry – you can get tips on <a href="https://teaching-vacancies.campaign.gov.uk/application-advice/">how to apply for teaching jobs</a>.</p>
