<p>Some teacher training providers recommend you start thinking about job applications quite early in your teacher training year.</p>

<p>Schools start to advertise their vacancies from January.</p>

<%= render Content::ExpanderComponent.new(
    title: "apply for a teaching role",
    text: "<p>To teach in England, you will need a visa or immigration status allowing you to work in the UK. If you're not sure about your immigration status, you can <a href=\"https://www.gov.uk/check-uk-visa\">check if you need a UK visa</a>.</p>
    <p>You can also explore our advice about <a href=\"/non-uk-teachers\"> teaching in England as a non-UK citizen</a>.</p>",
  ) %>

<p><a href="https://teaching-vacancies.campaign.gov.uk/application-advice/">Get help applying for teaching jobs</a>.</p>
