<p>Undergraduate and postgraduate teacher training course fees are around $fees_pgittandugitt$ per year.</p>

<p>You can apply for tuition fee and maintenance loans, even if you already have a student loan.</p>

<p>If you're interested in teaching certain subjects, you might be able to get a tax-free bursary or scholarship of up to <%= v :scholarships_generic_maxshortened %> to support you while you're training. This money does not have to be paid back.</p>

<%= render Content::ExpanderComponent.new(
    title: "fees and funding",
    text: "<p>Teacher training course fees for non-UK citizens cost an average of $fees_pgitt_internationalaverage$. Most non-UK citizens will not be eligible for tuition fee loans and maintenance loans.</p>
    <p>If you train to teach languages or physics, you may be eligible for a bursary or scholarship.</p>
    <p>Learn more about <a href=\"/non-uk-teachers/fees-and-funding-for-non-uk-trainees\">fees and financial support for non-UK trainee teachers</a>.</p>",
  ) %>

<div class="results-box__cta">
    <%= render "content/shared/links_and_buttons/cta_circle_button_link", href: @link_target = "/funding-and-support", cta_link_text: @link_text = "Find out how to fund your training" %>
  </div>
