<p>Experiencing life in a school can help you decide if teaching is right for you and who you want to teach. This is a good way to give you a taste of what the classroom is really like.</p>

<%= render CallsToAction::ArrowLinkComponent.new(link_target: "/train-to-be-a-teacher/get-school-experience", link_text: "Learn more about getting classroom experience") %>
