<p>All postgraduate training involves classroom placements in at least 2 schools. Your training will also include some theoretical learning, which might be in a different location to your placements.</p>

<p>Most teacher training courses start in September, with a small number of courses starting on other dates throughout the year.</p>
<p>Full-time courses taking 9 months and part-time courses taking 18 to 24.</p>

<p>Undergraduate courses usually take 4 years.</p>

<%= render CallsToAction::ArrowLinkComponent.new(link_target: "/train-to-be-a-teacher/initial-teacher-training", link_text: "Find out more about what postgraduate teacher training is like") %>
