<p>Once you have a degree or equivalent qualification you’re ready for postgraduate primary or secondary initial teacher training courses.</p>

<p>You also need the following GCSEs at grade 4 (C) or above, or equivalent qualifications:</p>

<ul>
  <li>English</li>
  <li>maths</li>
  <li>science if you want to teach primary</li>
</ul>

<p>You may be able to show you meet the standard in another way if you do not have these GCSEs.</p>

<%= chat_link("Chat online for qualifications advice", classes: "button", fallback_text: "Chat to us for qualifications advice") %>

<p>Find out what to do <a href="/train-to-teach-in-england-as-an-international-student">if you’re an international candidate with qualifications from overseas</a>.</p>

<p><a href="/ways-to-train#if-you-do-not-have-a-degree">If you're not already studying for a degree and you do not have one</a> you can do undergraduate teacher training.</p>
