<p>If you have a degree or equivalent qualification, you can do postgraduate primary or secondary teacher training.</p>

<p>If you do not have a degree and are not studying for one, you can do undergraduate teacher training.</p>

<p>To train to teach, you’ll need to have GCSEs at grade 4 (C) or above in English and maths.</p>

<p>If you want to teach primary, you will also need a GCSE at grade 4 (C) or above in science.</p>

<p><a href="/is-teaching-right-for-me/qualifications-you-need-to-teach">Find out more about the qualifications you need to teach</a>.</p>
