<p>Experiencing life in a school can help you decide if teaching is right for you and who you want to teach. This is a good way to give you a taste of what the classroom is really like.</p>

<div class="results-box__cta">
    <%= render "content/shared/links_and_buttons/cta_circle_button_link", href: @link_target = "/train-to-be-a-teacher/get-school-experience", cta_link_text: @link_text = "Learn more about getting classroom experience" %>
  </div>
