<p>Once you have a degree or equivalent qualification you’re ready for postgraduate primary or secondary initial teacher training.</p>

<p>You also need the following or equivalents, or to show you can meet the same standard:</p>

<ul>
  <li>English GCSE grade 4 (C) or above</li>
  <li>maths GCSE grade 4 (C) or above</li>
</ul>

<p>To teach primary you also need a science GCSE grade 4 (C) or above.</p>

<p><a href="/ways-to-train#undergraduate-teacher-training-table">If you're not already studying for a degree and you do not have one</a> you can do undergraduate teacher training.</p>

<p>Find out what to do <a href="/international-candidates">if you’re an international candidate with qualifications from overseas</a>.</p>

<%= chat_link("Chat online for qualifications advice", classes: "button button--smaller") %>
