<p><a href="/get-school-experience">Get school experience</a> or <a href="/events">attend events</a> to see which of the following settings suits you best:</p>

<ul>
  <li>primary (ages 5 to 11)</li>
  <li>secondary (ages 11 to 18)</li>
  <li><a href="/early-years-teaching-training">early years</a> (children up to the age of 5)</li>
  <li><a href="/become-a-further-education-teacher">further education</a> (for example, teaching at further education colleges or sixth form colleges)</li>
</ul>

<p>Follow these steps if you want to teach primary or secondary, including <a href="/teach-disabled-pupils-and-pupils-with-special-educational-needs">teaching disabled pupils and pupils with special educational needs</a> in these settings.<p>
