<p>You can usually start applying for postgraduate training in October and undergraduate training in May, the calendar year before your course starts.</p>

<p>You can apply throughout the year, but some courses do fill up quickly.</p>

<p><a href="/how-to-apply-for-teacher-training">Get tips on making a great application</a> including finding the right references and writing a personal statement.</p>

<p>When you get offered a place on a course, your provider will arrange a background and criminal records check. This is known as a Disclosure and Barring Service (DBS) check. You must pass these checks in order to teach students under 18.</p>

<%= render Content::ExpanderComponent.new(
    title: "applying for training and visas",
    text: "<p>If you need a visa to train to teach in England, you must have a confirmed offer of a training place before you apply for your visa. You should only apply for courses that support Student or Skilled Worker visa sponsorship. </p>
    <p><a href=\"/non-uk-teachers/visas-for-non-uk-trainees\">Learn more about applying for your visa to train to teach in England</a>.</p>",
  ) %>

<p><a href="https://www.gov.uk/apply-for-teacher-training">Apply for postgraduate teacher training</a>.</p>
