<p>You can get funding that you do not have to pay back if you train to teach certain subjects.</p>

<p>You can also apply for a student loan to cover course fees and living costs.</p>

<p>
  <a href="/funding-and-support" class="button">
    Find out what funding you can get
  </a>
</p>
