<p>You can usually start applying for postgraduate training in October and undergraduate training in May, the calendar year before your course starts.</p>

<p>You can apply throughout the year, but some courses do fill up quickly.</p>

<p><a href="/how-to-apply-for-teacher-training">Get tips on making a great application</a> including finding the right references and writing a personal statement.</p>

<%= render Content::ExpanderComponent.new(
    title: "apply for teacher training",
    text: "<p>Improve your application with <a href=\"/non-uk-teachers/train-to-teach-in-england-as-an-international-student\">our advice on applying from outside the UK.</a>.</p>",
  ) %>

<p><a href="https://www.gov.uk/apply-for-teacher-training">Apply for postgraduate teacher training</a>.</p>
