<p>Undergraduate and postgraduate teacher training course fees are around $fees_pgitt-and-ugitt$ per year.</p>

<p>You can apply for tuition fee and maintenance loans, even if you already have a student loan.</p>

<p>If you're interested in teaching certain subjects, you might be able to get up to £30k tax-free to support you while you're training. This money does not have to be paid back.</p>

<p><a href="/funding-and-support"> Find out how to fund your training</a>.</p>
