<p>You can usually start applying for postgraduate training in October, the year before your course starts. You can apply any time throughout the year, but some courses do fill up quickly.</p>

<p>[Get tips on making a great application](/train-to-be-a-teacher/how-to-apply-for-teacher-training) including finding the right references and writing a personal statement.</p>

<p><a href="https://www.gov.uk/apply-for-teacher-training">Apply for teacher training</a>.</p>
