<p>Through teacher training, you can get qualified teacher status (QTS), a postgraduate certificate in education (PGCE), or both.</p>

<p>You do not need a PGCE to teach, but you do need QTS to teach in many primary and secondary schools.</p>

<p>You can <a href="https://www.gov.uk/find-postgraduate-teacher-training-courses">find postgraduate teacher training courses in England</a>.</p>

<p>Or take a look at <a href="https://digital.ucas.com/search">undergraduate teacher training courses</a>.</p>
