<p>You can usually start applying for postgraduate training in October, the year before your course starts. You can apply any time throughout the year, but some courses do fill up quickly.</p>

<p><a href="https://www.gov.uk/apply-for-teacher-training">Apply for teacher training</a>.</p>
