<p>If you have a degree or equivalent qualification, you can do postgraduate primary or secondary teacher training.</p>

<p>If you do not have a degree and are not studying for one, you can do <a href="/train-to-be-a-teacher/if-you-dont-have-a-degree">undergraduate teacher training</a>.</p>

<p><a href="/is-teaching-right-for-me/qualifications-you-need-to-teach">Find out more about the qualifications you need to teach</a>.</p>

<p>You can also chat to our teacher training experts online. They're available Monday to Friday between 8:30am and 5:30pm, except on <a href="https://www.gov.uk/bank-holidays"> bank holidays</a>.</p>

<%= render ChatComponent.new %>

<p>Find out what to do <a href="/non-uk-teachers/train-to-teach-in-england-as-an-international-student">if you’re an international candidate with qualifications from overseas</a>.</p>

<p>Or, you can <a href="/become-a-further-education-teacher">teach in further education without a degree</a>.</p>
