<p>Undergraduate and postgraduate teacher training course fees are around £9,250 per year.</p> 

<p>You can apply for tuition fee and maintenance loans, even if you already have a student loan.</p>

<p>If you're interested in teaching certain subjects, you might be able to get up to £29k tax-free, which doesn't need to be paid back, to support you while you are training.</p>

<p><a  href="/funding-and-support"> Find out about how to fund your training</a>.</p>
