<p>Experiencing life in a school and a classroom can help to decide if teaching is right for you and who you want to teach.</p>

<p><a href="/train-to-be-a-teacher/get-school-experience">Learn more about getting classroom experience</a>.</p>