<p>All postgraduate training involves classroom placements in at least 2 schools. Your training will also include some theoretical learning, which might be in a different location to your placements.</p>

<p>Most postgraduate courses start in September, with full-time courses taking 9 months and part-time courses taking 18 to 24.</p>

<p>Undergraduate courses usually take 4 years.</p>

<p><a href="/train-to-be-a-teacher/initial-teacher-training">Find out more about what postgraduate teacher training is like</a>.</p>
