<p>Get tips on applying, including finding the right referees and writing a personal statement.</p>

<p>Your <a href="/tta-service">teacher training adviser</a> can also help you get your application ready and explore your options.</p>

<p>When you're ready, you can start your application at <%= link_to("Apply for teacher training", "https://www.gov.uk/apply-for-teacher-training") %>.</p>

<p>
  <a href="/tips-on-applying-for-teacher-training" class="button">
    Get tips on applying
  </a>
</p>
