<p>Once you know what age or subject you want to teach, you can decide how to train.</p>

<p>There are a few ways to train to become a teacher. Each route has different eligibility criteria, end qualifications, and funding options.</p>

<details>
  <summary>Read more<span class="visually-hidden">about teaching and training</span></summary>

  <section>
    <p>These will depend on which school or training provider you select and the type of training they provide.</p>

    <p>Some things you may want to think about:</p>

    <ul>
      <li>how long you want to study for</li>
      <li>if the course is in a convenient location for you</li>
      <li>what end qualification you would like</li>
      <li>whether you meet the eligibility criteria</li>
      <li>what funding you may need for any tuition fees or living expenses</li>
    </ul>

    <p>
      If you need to pay fees, there are a number of different ways you can
      get <a href="/funding-your-training">funding to train</a> as a teacher
      in England.
    </p>

    <a href="/ways-to-train" class="button button--smaller">
      Find out more about ways to train
    </a>
  </section>
</details>
