<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <%= t("answers.#{step.key}.#{answer.first}.title", **Value.data) %>
  </dt>
  <dd class="govuk-summary-list__value">
    <%= format_answer(answer.last) %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <%= link_to_change_answer(step, answer.first) %>
  </dd>
</div>
