<div class="row">
  <section class="col col-720">
    <h2 class="heading--box-blue">How can I fund my teacher training?</h2>

    <div class="inset">
      <h3>Postgraduate bursaries and scholarships</h3>

      <table class="first-column-headings right-aligned-values">
        <caption>Postgraduate bursaries and scholarships are available for the subjects listed below.</caption>
        <thead>
          <tr>
            <th scope="col">Subject</th>
            <th scope="col">Bursary</th>
            <th scope="col">Scholarship</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Art and design</td>
            <td>£10,000</td>
            <td></td>
          </tr>
          <tr>
            <td>Biology</td>
            <td>£25,000</td>
            <td></td>
          </tr>
          <tr>
            <td>Chemistry</td>
            <td>£28,000</td>
            <td>£30,000</td>
          </tr>
          <tr>
            <td>Computing</td>
            <td>£28,000</td>
            <td>£30,000</td>
          </tr>
          <tr>
            <td>Design and technology</td>
            <td>£25,000</td>
            <td></td>
          </tr>
          <tr>
            <td>English</td>
            <td>£10,000</td>
            <td></td>
          </tr>
          <tr>
            <td>Geography</td>
            <td>£25,000</td>
            <td></td>
          </tr>
          <tr>
            <td>Languages<br> (French, German and Spanish only)</td>
            <td>£25,000</td>
            <td>£27,000</td>
          </tr>
          <tr>
            <td>Languages<br> (all other languages, including ancient languages)</td>
            <td>£25,000</td>
            <td></td>
          </tr>
          <tr>
            <td>Maths</td>
            <td>£28,000</td>
            <td>£30,000</td>
          </tr>
          <tr>
            <td>Music</td>
            <td>£10,000</td>
            <td></td>
          </tr>
          <tr>
            <td>Physics</td>
            <td>£28,000</td>
            <td>£30,000</td>
          </tr>
          <tr>
            <td>Religious education</td>
            <td>£10,000</td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <p><%= link_to("Find out more about how to get a bursary or scholarship", page_path("funding-and-support/scholarships-and-bursaries")) %>.</p>
    </div>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">More financial support</h2>

    <div class="inset">
      <p>
        You can get a tuition fee loan and maintenance loan to fund your teacher training,
        even if you've had student finance before.
      </p>

      <p>You could also be eligible for up to:</p>

      <ul>
        <li>£331.95 a week to support childcare costs for 2 or more children</li>
        <li>$misc_adultdependantsgrant_value$ a year if an adult depends on you</li>
        <li>£26,948 a year if you're disabled</li>
      </ul>

      <p><%= link_to("Find out more about how you could fund your training", page_path("funding-and-support")) %>.</p>
    </div>
  </section>
</div>
