<div class="row">
  <section class="col col-720">
    <%= render Content::MailingListComponent.new(
      title: "Find out more about funding your training",
      intro: "Get more information about funding your teacher training, as well as tips and advice on becoming a teacher."
    ) %>
  </section>
</div>
