<%= render(CallsToAction::Promo::PromoComponent.new) do |promo| %>
  <% promo.with_left_section(classes: %w[ml-background]) %>
  <% promo.with_right_section(
    heading: "Find out more about getting into teaching"
  ) do %>
      <p>Explore how you can get into teaching primary or secondary and find top tips on making a successful application.</p>

      <%= link_to("Get tailored guidance in your inbox", "/mailinglist/signup/name", class: "button") %>
  <% end %>
<% end %>
