<header class="<%= mobile ? "hide-on-desktop hide-on-tablet" : "hide-on-mobile" %>">
  <h1 class="heading-l heading--highlight-yellow"><%= tag.span(@front_matter["title"]) %></h1>
  <p>Real teachers talk about their experiences, and our experts give tips on how to get into initial teacher training.</p>
  <hr>
</header>
