<header class="<%= mobile ? "hide-on-desktop hide-on-tablet" : "hide-on-mobile" %>">
  <h1 class="yellow"><%= tag.span(@front_matter["title"]) %></h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas diam in arcu cursus euismod.</p>
  <hr>
</header>
