<ol class="blog-highlights">
  <li><%= link_to("Applying for teacher training", blog_tag_path("applications")) %></li>
  <li><%= link_to("Return to teaching", blog_tag_path("returning-to-teaching")) %></li>
</ol>
