<ol class="blog-index">
  <%= content_for :popular_tags do %>
    <div class="popular-blog-tags container ">
      <h2>Popular blog tags</h2>
      <ol class="popular-blog-tags__list">
        <% Pages::Blog.popular_tags.each do |popular_tag| %>
          <li><%= link_to(popular_tag, blog_tag_path(popular_tag)) %></li>
        <% end %>
      </ol>
    </div>
  <% end %>

  <% @posts.each do |path, fm| %>
    <li>
      <%= render partial: "blog/post_preview", locals: { path: path, fm: fm } %>
    </li>
  <% end %>
</ol>
