<section class="why-teach" aria-label="Inspire the next generation">
  <div class="why-teach__container">
    <div class="why-teach__content">
      <%= render Content::HeadingComponent.new(
        heading: "Inspire the next generation",
        tag: :h2,
      ) %>

      <p>
        As a teacher, every lesson shapes a life. Find out more about what life in the classroom is really like.
      </p>

      <ul>
        <li><%= link_to("Get school experience", "/train-to-be-a-teacher/get-school-experience") %></li>
        <li><%= link_to("Explore subjects", "/life-as-a-teacher/explore-subjects") %></li>
      </ul>
    </div>

    <div class="why-teach__image">
      <% "static/images/content/hero-images/0011.jpg".tap do |path| %>
        <%= image_pack_tag(path, **image_alt_attribs(path)) %>
      <% end %>
    </div>
  </div>
</section>
