<div class="row inset">
  <section class="col col-720">
    <p>
      Teaching computing is an important role to equip pupils with knowledge and skills that will help them succeed in a  world dependent on digital technology.</p>

<p>You'll inspire pupils to access new fields and careers like quantum computing and artificial intelligence. You could inspire the next generation of computer scientists. </p>
  </section>

  <section class="col col-space-s col-content-max">
    <%= render TextBlockWithTwoImagesComponent.new(
      heading: "Help your pupils learn new skills",
      colour: "pink",
      image_1_path: "static/images/content/hero-images/0035.jpg",
      image_1_alt: "",
      image_2_path: "static/images/content/hero-images/0037.jpg",
      image_2_alt: "",
    ) do %>
      <p>quote</p>
<p><b>quote</p>
    <% end %>
  </section>

  <section class="col col-720 col-horizontal col-space-m">
    <div>
      <h2>What you'll be teaching</h2>
      <p>Computing for key stages 1 to 4 focuses on 3 pillars:</p>
<ul>
<li>information and communication technology  </li>

<li>digital literacy </li>
<li>computer science </li>
</ul>
<p>At GCSE and A Level you'll teach computer science. You could teach the <a href="https://www.gov.uk/government/publications/national-curriculum-in-england-computing-programmes-of-study/national-curriculum-in-england-computing-programmes-of-study">national curriculum</a>, with opportunities to develop your students’ computational thinking.  </p>
<p>Themes you'll likely cover for 11 to 14 year olds (key stage 3): </p>
<p>
When teaching the lower key stages, you could use interactive exercises during your lessons, like creating a robot car.   </p>
      <ul class="vertical-tags">
        <li class="tag">Algorithms</li>
        <li class="tag">Programming and debugging   </li>
        <li class="tag">Creative projects </li>
        <li class="tag">Use of logical reasoning</li>
        <li class="tag">Computer systems</li>
        <li class="tag">Uses of technology  </li>
        <li class="tag">Online safety </li>

      </ul>

      <p>Themes you'll likely cover for 14 to 16 year olds (key stage 4): </p>
      <p>You'll teach computer science as a GCSE qualification. You'll teach pupils how to develop their capability, creativity and knowledge in computing. </p>
      <ul class="vertical-tags">
        <li class="tag">Computational thinking</li>
        <li class="tag">Digital media and information technology  </li>
        <li class="tag">Computer networks </li>
        <li class="tag">Cyber security  </li>
        <li class="tag">Data representation </li>
        <li class="tag">Digital technology   </li>
      </ul>
      <p>For 16 to 18 year olds (key stage 5), you'll teach computer science as a A Level qualification and encourage pupils to develop a broad range of the knowledge and skills, preparing them for further learning or employment, with themes like:  </p>
      <ul class="vertical-tags">
        <li class="tag">Abstraction   </li>
        <li class="tag">Writing programmes to solve problems </li>
        <li class="tag">Efficiency of algorithms </li>
        <li class="tag">Data structures and the use of databases</li>
        <li class="tag">Systems architecture </li>
        <li class="tag">Computing related mathematics  </li>
      </ul>


    <p><a href="https://www.gov.uk/government/publications/national-curriculum-in-england-computing-programmes-of-study/national-curriculum-in-england-computing-programmes-of-study">Read the full national curriculum for more information about teaching computing in secondary schools</a>.</p>
     </div>
</section>

<section class="col col-845 inset">
    <%= render Content::PhotoQuoteListComponent.new(
      [
        {
          image: "static/images/content/subjects/rotna-roy.jpeg",
          heading: "Empowering my students",
          text: "quote",
          accreditation: "Rotna Roy,",
        }
      ],
      colors: %w[yellow],
      numbered: false
    ) %>
  </section>

  <section class="col col-space-m col-720">
    <h2 class="heading-s">Funding for training to teach computing </h2>

    <p>To train to be a computing teacher, you'll need to do a teacher training course. </p>

<p>Bursaries of £28,000 and scholarships of £30,000 are available for <a href="/funding-and-support/scholarships-and-bursaries">eligible trainee computing teachers</a>. </p>

 <p>You can receive this alongside a tuition fee and maintenance loan. </p>

  <p>You may also be able to get extra funding support if you are: </p>
    <ul>
      <li>a parent or carer </li>
      <li>disabled </li>
    </ul>
<p>Non-UK citizens without indefinite leave to remain in the UK are unlikely to be eligible for funding. </p>


    <h2 class="heading-s">Check your qualifications</h2>

<p>You'll need a bachelors degree before training to teach but it does not have to be in computing. Alongside computing, The most popular degrees people have before doing a teacher training course in computing are:</p>
<ul>
<li>computer science</li>
<li>information technology</li>
<li>computer games design</li>
<li>software engineering</li>
</ul>

    <p>To train to teach in primary and secondary schools in England, you’ll need: </p>
    <ul>

<li>GCSEs at grade 4 (C) or above in English and maths (and science if you want to teach primary) </li>
<li>a bachelor’s degree in any subject </li>
</ul>

<p>Your training provider may need you to brush up on your computing knowledge before you become a computing teacher. You can do a <a href="/how-to-apply-for-teacher-training/subject-knowledge-enhancement">subject knowledge enhancement (SKE) course</a> before you start your teacher training to top up your subject knowledge. </p>

    <p><a href="/is-teaching-right-for-me/qualifications-you-need-to-teach">Find out more about the qualifications needed to teach</a>.</p>


<h2 class="heading-s">Paid internship </h2>

    <p>If you’re currently doing an undergraduate or master's degree and are interested in teaching computing, you could apply for a <a href="https://getintoteaching.education.gov.uk/is-teaching-right-for-me/teaching-internship-providers">paid teaching internship</a>. </p>
<p>The 3 week programme could help you to understand what it’s really like in the classroom and get a feel for school life. </p>
<p>You can also find out what it's like to be in a classroom through unpaid <a href="https://getintoteaching.education.gov.uk/is-teaching-right-for-me/get-school-experience">school experience</a>. </p>




  </section>
</div>
