<div class="row inset">
  <section class="col col-720">
<p>As a computing teacher you'll help pupils become responsible and confident users of information and technology in an increasingly digital world.</p>
<p>Whether it's teaching your pupils about artificial intelligence (AI) or creating apps, you could inspire them to look at a future role in technology.</p>
<p>Tax-free bursaries of £28,000 or scholarships of £30,000 are available for eligible trainee computing teachers.</p>
</section>
  <section class="col col-space-s col-content-max">
<%= render TextBlockWithTwoImagesComponent.new(
heading: "Help your pupils learn new skills",
colour: "pink",
image_1_path: "static/images/content/hero-images/0035.jpg",
image_1_alt: "",
image_2_path: "static/images/content/hero-images/0037.jpg",
image_2_alt: "",
) do %>
<p>Computing focuses on 3 areas:</p>
<ul>
<li>information and communication technology</li>
<li>digital literacy</li>
<li>computer science</li>
</ul>
<p>You'll inspire pupils to access new fields and teach them transferable skills that will open lots of sectors, from engineering to healthcare, and could lead to careers such as software engineering and web design.</p>
<% end %>
</section>
<section class="col col-720">
<h2>What you'll be teaching</h2>
<p>You'll teach themes from the <a href="https://www.gov.uk/government/publications/national-curriculum-in-england-computing-programmes-of-study/national-curriculum-in-england-computing-programmes-of-study">national curriculum for computing</a>, with opportunities to develop your pupils' computational thinking.</p>
<p>When teaching 11 to 14 year olds (key stage 3), you could use interactive exercises during your lessons, like creating a robot car. Themes you might also cover include:</p>
<ul class="vertical-tags">
<li class="tag">Algorithms</li>
<li class="tag">Programming and debugging</li>
<li class="tag">Creative projects</li>
<li class="tag">Use of logical reasoning</li>
<li class="tag">Computer systems</li>
<li class="tag">Uses of technology</li>
<li class="tag">Online safety </li>
</ul>
<p>You'll teach 14 to 16 year olds (key stage 4) computer science as a GCSE qualification, teaching pupils ways to protect their online privacy and identity. Themes you might also cover include:</p>
<ul class="vertical-tags">
<li class="tag">Computational thinking</li>
<li class="tag">Digital media and information technology</li>
<li class="tag">Computer networks</li>
<li class="tag">Cyber security</li>
<li class="tag">Data representation</li>
<li class="tag">Digital technology</li>
</ul>
<p>For 16 to 18 year olds (key stage 5), you'll teach computer science as an A level qualification, helping pupils to develop websites and prepare them for further learning or employment. Themes you might cover include:</p>
<ul class="vertical-tags">
<li class="tag">Abstraction</li>
<li class="tag">Writing programmes to solve problems</li>
<li class="tag">Efficiency of algorithms</li>
<li class="tag">Data structures and the use of databases</li>
<li class="tag">Systems architecture</li>
<li class="tag">Computing related mathematics</li>
</ul>

<p><a href="https://www.thenational.academy/teachers/programmes/computing-secondary-ks4-l/units">Explore what teaching a computer lesson would be like</a>.</p>
</section>
<section class="col col-720">
  <%= render Content::QuoteComponent.new(
    text: "Every lesson presents an opportunity to delve into the latest advancements in the field and inspire students to become innovators. Teaching computing is about fostering a deep understanding of technology while enabling students to develop the skills and resilience to thrive in this digital age.",
    name: "Shiulee Begum, Curriculum lead for computing and business",
    large: true
  ) %>
</section>

  <section class="col col-720">
    <h2>Check your qualifications</h2>
<p>To train to teach in primary and secondary schools in England, you’ll need:</p>
<ul>
<li>GCSEs at grade 4 (C) or above in English and maths (and science if you want to teach primary)</li>
<li>a bachelor’s degree in any subject</li>
</ul>
<p>Computing teacher training courses have had successful applications from candidates with a range of degrees, including business and management, data science, history and economics.</p>
<p><a href="/non-uk-teachers/train-to-teach-in-england-as-an-international-student">Non-UK citizens can find out more about training to teach in England</a>.</p>
<p>If your training provider thinks you need to top up your computing knowledge, you might need to do a <a href="/how-to-apply-for-teacher-training/subject-knowledge-enhancement">subject knowledge enhancement (SKE) course</a> before you start your teacher training.</p>
<p><a href="/is-teaching-right-for-me/qualifications-you-need-to-teach">Find out more about the qualifications needed to train to teach</a>.</p>
<h2>Fund your teacher training</h2>
<p><a href="/funding-and-support/scholarships-and-bursaries">Tax-free bursaries of £28,000 or scholarships of £30,000 are available for eligible trainee computing teachers</a>.</p>
<p>You can get a bursary or scholarship alongside a tuition fee and maintenance loan.</p>
<p>You may also be able to get <a href="/funding-and-support">extra funding support</a> if you're:</p>
<ul>
<li>a parent or carer</li>
<li>disabled</li>
</ul>
<p>Non-UK citizens without indefinite leave to remain in the UK are unlikely to be eligible for funding.</p>
<p>You can <a href="/non-uk-teachers/non-uk-qualifications">check your eligibility to train to teach in England</a> as a non-UK citizen.</p>
<h2>Paid internship </h2>
<p>If you’re currently doing an undergraduate or master's degree and are interested in teaching computing, you could apply for a <a href="/is-teaching-right-for-me/teaching-internship-providers">paid teaching internship</a>.</p>
<p>The 3-week programme could help you to understand what it’s really like in the classroom and get a feel for school life.</p>
</section>
</div>
