<div class="govuk-form-group">
  <h1>You've already signed up</h1>

  <p>The email address <%= mail_to(session["sign_up"]["email"], nil) %> has already been used to sign up for an adviser.</p>

  <h2 class="heading-m">Waiting to hear from your adviser?</h2>

  <p>They should email you within 3 working days.</p>

  <p>Make sure you check your junk or spam folders.</p>

  <p>If you do not get an email within 3 working days, you can <a href="tel:08003892500">call us on 0800 389 2500</a>.</p>

</div>
