<div class="govuk-form-group">
  <%= tag.h1 t("helpers.label.teacher_training_adviser_steps_no_degree.title") %>
  <p>You need a bachelor’s degree to train to teach in primary, secondary and special schools in England.</p>
  <%= render CallsToAction::ArrowLinkComponent.new(link_target: "/train-to-be-a-teacher/if-you-dont-have-a-degree", link_text: "Find out how to train to be a qualified teacher as part of a bachelor’s degree") %>
  <h2 class="heading-m">Other teaching routes</h2>
  <p>You do not need a degree and QTS to <%= link_to("teach in further education", "https://www.teachinfurthereducation.education.gov.uk/") %> or to <%= link_to("teach in early years", "/life-as-a-teacher/age-groups-and-specialisms/early-years-teachers/") %>.</p>
</div>
