<div class="govuk-form-group">
  <h1>Sorry, you are not eligible for this service</h1>

  <p>To get a return to teaching adviser, you need to have either:</p>
  <ul>
    <li>trained to teach in the UK</li>
    <li>paid teaching experience in the UK</li>
  </ul>
  <p>Find advice on <%= link_to("training to teach or teaching in England as a non-UK citizen", "/non-uk-teachers") %>.</p>
</div>
