<%= f.govuk_fieldset legend: { text: "What is your teacher reference number (TRN)?", tag: "h1" } do %>
  <%= f.govuk_text_field :teacher_id, width: 20 %>
<% end %>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      How do I find my teacher reference number (TRN)?
    </span>
  </summary>
  <div class="govuk-details__text">
    Your TRN is sometimes on your payslip, pension statement or teacher training records.<br>
    Alternatively, you can <%= link_to "find a lost TRN", "https://find-a-lost-trn.education.gov.uk/start" %><br><br>
    You'll be asked for your:
    <ul>
      <li>name</li>
      <li>Date of birth</li>
      <li>National Insurance number</li>
    </ul>
    <br>
    If there's a match, you'll get your TRN straight away. If there's no match, or you don't have a National Insurance number, it might take up to 5 days to find your TRN.
  </div>
</details>
