<%= f.govuk_fieldset legend: { text: "What is your teacher reference number (TRN)?", tag: "h1" } do %>
  <%= f.govuk_text_field :teacher_id, width: 20 %>
<% end %>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      How do I find my teacher reference number (TRN)?
    </span>
  </summary>
  <div class="govuk-details__text">
    You can find your TRN on:
<uL>
<li>a payslip or pension statement</li>
<li>teacher training records</li>
</ul>
<p>Or</p>
<ul>
  <li> You can use the <%= link_to "Find a lost TRN", "https://find-a-lost-trn.education.gov.uk/start" %></li>
    </ul>
  </div>
</details>
