<% @page_title = "We're sorry, but you are not eligible for this service" %>

<h1>We're sorry, but you are not eligible for an adviser</h1>

<p>If you already have qualified teacher status (QTS) and are returning to teaching, you must be planning to teach a secondary subject to be eligible for an adviser.</p>

<p>Get more advice about:</p>

<ul>
  <li><%= link_to("returning to teaching", "https://teaching-vacancies.campaign.gov.uk/return-to-teaching/") %></li>
  <li><%= link_to("teaching in England if you qualified outside the UK", "/non-uk-teachers/teach-in-england-if-you-trained-overseas") %></li>
  <li><%= link_to("returning to England after teaching overseas", "https://teaching-vacancies.campaign.gov.uk/return-to-england-after-teaching-overseas/") %></li>
</ul>

<p>You can also <%= link_to("search for teaching jobs in England", "https://teaching-vacancies.service.gov.uk/", target: "_blank") %>.</p>
