<% @page_title = "We're sorry, but you are not eligible for this service" %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">We're sorry, but you are not eligible for this service</h1>

      <p>If you already have qualified teacher status (QTS) and are returning to teaching, you must be planning to teach a secondary subject to be eligible for an adviser.</p>
      <p>You can find out more about getting back into teaching on the Get Into Teaching website.</p>

      <p>Get more advice about:</p>

      <ul>
        <li><%= link_to("returning to teaching", "/returning-to-teaching") %></li>
        <li><%= link_to("teaching in England if you qualified outside the UK", "/non-uk-teachers/teach-in-england-if-you-trained-overseas") %></li>
        <li><%= link_to("returning to England after teaching overseas", "/non-uk-teachers/return-to-england-after-teaching-overseas") %></li>
      </ul>

      <p>You can also search for teaching jobs in England at <%= link_to("Teaching Vacancies", "https://teaching-vacancies.service.gov.uk/", target: "_blank") %>.</p>
  </div>
</div>
