<% @page_title = "Get the right GCSEs or equivalent qualifications" %>

<h1>We're sorry, but you need the right GCSEs to sign up for an adviser</h1>
<div class="govuk-form-group">
    <p>To train to be a teacher, teacher training providers ask you to show your ability through GCSEs. You'll need the following GCSEs (or an equivalent):</p>

    <ul>
      <li>grade 4 (C) in maths</li>
      <li>grade 4 (C) in English</li>
      <li>grade 4 (C) in science, if you want to teach primary</li>
    </ul>

    <p>If you do not have the right GCSEs, you can get them through a <a href="https://nationalcareers.service.gov.uk/find-a-course/search">GCSE training provider</a>. Make sure when you visit the website, you search for GCSE courses.</p>

    <p>Or, you might be able to take an equivalency test, or offer other evidence to demonstrate your ability in these subjects.</p>

    <p><%= link_to("Find out more about the qualifications you need to teach", "/is-teaching-right-for-me/qualifications-you-need-to-teach") %>.</p>
</div>
