<% @page_title = "What is your postcode?" %>

<%= f.govuk_text_field :address_postcode, width: 20, label: { text: @page_title, size: "m", tag: "h1" } do %>
  <p>We try and match you with an adviser providing support in your region.</p>
<% end %>
