<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Non-UK teachers
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      If you qualified outside the UK, you must have <a href="https://www.gov.uk/guidance/qualified-teacher-status-qts">English qualified teacher status (QTS)</a> to use this service. If you do not have QTS,
      <a class="govuk-notification-banner__link" href="https://getintoteaching.education.gov.uk/non-uk-teachers/teach-in-england-if-you-trained-overseas">learn more about other options to teach in England, and how to apply for QTS</a>.
    </p>
  </div>
</div>
        <h1 class="govuk-heading-l">Get an adviser</h1>

        <p>If you’re thinking about teaching in England, an adviser can provide free, one-to-one support through phone, text or email. You can talk to them as little or as much as needed.</p>
        <p>All our advisers have years of teaching experience and can help you whether you’re just thinking about teaching, or you’re ready to get back into the classroom.</p>
        <p>Your adviser can help you:</p>
        <ul>
          <li>get school experience</li>
          <li>discover what teaching is really like</li>
          <li>write your personal statement</li>
          <li>find out how to improve your subject knowledge</li>
          <li>understand the qualifications you need</li>
          <li>find a teaching role</li>
        </ul>
        <h2 class="govuk-heading-m">Who can get an adviser?</h2>

        <p>You'll need to have or be studying for a bachelor's degree in any subject to get an adviser. If you already have a degree, it needs to be a 2:2 or higher.</p>

        <p>If you’re thinking about returning to teaching, you'll need to have qualified teacher status (QTS) and want to teach a secondary subject in England to get an adviser.</p>

        <h2 class="govuk-heading-m">Non-UK trainees</h2>

        <p>To get an adviser, you'll need to have or be studying for an overseas qualification of the same standard as a UK bachelor’s degree, class 2:2 (honours) or higher.</p>

        <p>You can check the UK equivalents of your degree qualifications by calling us on +44 800 389 2500.</p>

        <h2 class="govuk-heading-m">Non-UK teachers</h2>

        <p>To get an adviser you must:</p>
          <ul>
            <li>already be qualified as a teacher outside the UK</li>
            <li>have <a href="https://www.gov.uk/guidance/qualified-teacher-status-qts">English qualified teacher status (QTS)</a></li>
            <li>want to teach a secondary subject (teaching children aged 11 to 16)</li>
        </ul>

        <a href="<%= teacher_training_adviser_step_path(:identity, params.to_unsafe_h.slice(:channel, :sub_channel)) %>" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

        <p>You can still <a href="https://getintoteaching.education.gov.uk/">find out more about teaching in England</a> if you're not eligible for an adviser.</p>
        <p>Find teacher training options if you live in:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://teachinscotland.scot">Scotland</a></li>
          <li><a href="https://educators.wales/">Wales</a></li>
          <li><a href="https://www.education-ni.gov.uk/articles/initial-teacher-education-courses-northern-ireland">Northern Ireland</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
