<div class="row">
  <div class="grey">
    <section class="col col-720 col-space-0">
      <%= render Content::MailingListComponent.new(
        title: "We'll help you do the homework before becoming a teacher",
        intro: "If you're interested in training to teach in primary, secondary and special schools in England, get everything you need to know straight to your inbox.",
        color: "transparent",
        margin: false,
        heading: :l
      ) %>
    </section>
  </div>
</div>
