<section class="event-reg-main">
    <div class="event-reg-main__content container-1000">
        <div class="event-reg-main__content__left">
            
            <h1>Sign up for this event:</h1>
            <h2>Train to Teach Coventry online event</h2>
            <p></p>
            
            <div class="fieldlabel">Are you over 16 and have agreed to our privacy policy?</div>
            <p class="fieldhelp">Yes <input type="checkbox" value="Yes"></p>
            
            <div class="fieldlabel">Join our mailing list and receive information about future events (optional)</div>
            <p class="fieldhelp">Yes <input type="checkbox" value="Yes"> No <input type="checkbox" value="No"></p>
            
            <div class="fieldlabel">Postcode (optional)</div>
            <p class="fieldhelp">Enter your postcode so that we can send you event information specificities to your area</p>
            <input>
            <div>
                <a href="/event/register/4">
                    <div class="call-to-action-button">Complete sign up <i class="fas fa-chevron-right"></i></div>
                </a>
            </div>
        </div>
        <div class="event-reg-main__content__right">
            
        </div>
    </div>
</section>

<%= render "sections/talk-to-us" %>