<section class="event-reg-main">
    <div class="event-reg-main__content container-1000">
        <div class="event-reg-main__content__left">
            <h1>Sign up for this event:</h1>
            <h2>Train to Teach Coventry online event</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                ex ea commodo consequat.
            </p>

            <div class="govuk-form-group">
                <label>
                    <div class="fieldlabel">Email address</div>
                    <input class="govuk-input" id="email-address" name="email-address" type="text">
                </label>

                <label>
                    <div class="fieldlabel">First name</div>
                    <input class="govuk-input" id="first-name" name="first-name" type="text">
                </label>

                <label>
                    <div class="fieldlabel">Last name</div>
                    <input class="govuk-input" id="last-name" name="last-name" type="text">
                </label>
            </div>

            <div>
                <a href="/event/register/2">
                    <div class="call-to-action-button">Next Step  <i class="fas fa-chevron-right"></i></div>
                </a>
            </div>
        </div>
        <div class="event-reg-main__content__right">
            <%= render "components/eventboxshort", 
                :title => "Train to teach Coventry Online event",
                :datetime => "11 May 2020 at 17:00 - 18:30",
                :schooloruni => false,
                :description => "This online event specifically for anybody looking to train to teach in Coventry will give you the opportunity to ask our experts questions about teacher training.",
                :traintoteach => false,
                :online => true,
                :location => "Coventry"
            %>
        </div>
    </div>
</section>