<section class="event-reg-main" role="main">
    <div class="content container-1000">
        <div class="content__left">
            <h1>Sign up for this event:</h1>
            <h2>Train to Teach Coventry online event</h2>
            <p></p>

            <div class="govuk-form-group">
                <label>
                    <div class="fieldlabel">Phone number (optional)</div>
                    <p class="fieldhelp">This helps us contact you with updates to this event and other important information.</p>
                    <input class="govuk-input" id="phone-number" name="phone-number" type="text">
                </label>
            </div>
            <div>
                <a href="/event/register/3">
                    <div class="call-to-action-button">Next Step  <i class="fas fa-chevron-right"></i></div>
                </a>
            </div>
        </div>
        <div class="content__right">
            
        </div>
    </div>
</section>