<h1>Verify your email address</h1>

<p>Before you can book a callback, you need to verify your email address.</p>

<%= render "wizard/steps/authenticate", f: f, email: callbacks_session["email"], resend_verification_path: resend_verification_callbacks_steps_path %>
