<h1>Book a callback</h1>

<p>One of our Teacher Training Advisers can call you back at a time that suits you.</p>

<p>Our advisers are all experienced teachers who know the process inside out.</p>

<p>This is a free service.</p>

<%= f.govuk_text_field :first_name %>
<%= f.govuk_text_field :last_name %>
<%= f.govuk_email_field :email %>
