<div class="row">
  <section class="col col-720">
    <%= render Content::MailingListComponent.new(
      title: " Sign up for our emails",
      intro: "Tailored to your own situation, you get all the latest information as well as advice and support."
    ) %>
  </section>
</div>
