<div class="row">
  <div class="col col-full-content">
    <%= render Content::PurpleBoxComponent.new(
      heading: "Find out more about getting into teaching",
      text: "Explore how you can get into teaching primary or secondary and find top tips on making a successful application. With a competitive starting salary of <%= v :salaries_starting_min %> (or higher in London), it pays to do what you love. 
      cta: {
        text: "Get tailored guidance in your inbox",
        path: "/mailinglist/signup/name",
      },
      image: image_pack_tag("static/images/ml-graphic-black.png", **image_alt_attribs_for_text("")),
    ) %>
  </div>
</div>
