<div class="row">
  <div class="col">
    <section class="col col-720 centered">

      <h2 class="heading-l inset">Find out more about getting into teaching</h2>

      <p class="inset">
        We can help you understand what's involved and decide if a
        career teaching in a primary or secondary school in England is right for you.
      </p>

      <ol class="steps">
        <li class="step">
          <header class="step__header">
            <div class="step__number">1</div>
            <span class="heading-m">What qualifications do I need?</span>
          </header>
        </li>
        <li class="step">
          <header class="step__header">
            <div class="step__number">2</div>
            <span class="heading-m">Can I get help funding my training?</span>
          </header>
        </li>
        <li class="step">
          <header class="step__header">
            <div class="step__number">3</div>
            <span class="heading-m">How do I find and apply for teacher training?</span>
          </header>
        </li>
      </ol>
    </section>
  </div>
</div>
