<div class="row inset">
<section class="col col-720">
  <p>
    Teaching physics is an exciting and rewarding career. Schools need more specialist physics teachers, so it's a great choice of subject.
  </p>

  <p>
You could inspire your pupils to consider rewarding careers from tackling climate change to artificial intelligence.
  </p>

  </section>

   <section class="col col-space-s col-content-max">
    <%= render TextBlockWithTwoImagesComponent.new(
      heading: "quote",
      colour: "yellow",
      image_1_path: "static/images/content/hero-images/0012.jpg",
      image_1_alt: "Pupils listening to a science lesson.",
      image_2_path: "static/images/content/hero-images/0007.jpg",
      image_2_alt: "Teacher talking to a pupil in a classroom.",
    ) do %>
       <p>
quote  </p>

  <p>
  </p>
    <% end %>
</section>
<section class="col col-720">
      <h2>What you'll be teaching</h2>
      <p>
      You'll teach the content of the national curriculum, with opportunities to develop your pupils' ability to think like physicists and see physics as a solution to many challenges. The themes you are likely to cover include:
      </p>
      <p>
         Themes you’ll cover for 11 to 14 year olds (key stage 3):
      </p>
        <ul class="vertical-tags">
          <li class="tag">Energy</li>
          <li class="tag">Motion and forces</li>
          <li class="tag">Electricity and electromagnetism</li>
          <li class="tag">Waves and matter</li>
        </ul>
      <p>
        Themes you’ll cover for 14 to 16 year olds (key stage 4):
      </p>
       <ul class="vertical-tags">
        <li class="tag">Energy, forces and wave motion</li>
        <li class="tag">Electricity, magnetism and electromagnetism</li>
        <li class="tag">The structure of matter</li>
        <li class="tag">Atomic structure and space physics</li>
      </ul>
      <p>
        Themes you’ll cover for 16 to 18 year olds (key stage 5):
      </p>
       <ul class="vertical-tags">
        <li class="tag">Fields, vectors and scalars</li>
        <li class="tag">Mechanics and mechanical properties of matter</li>
        <li class="tag">Electric circuits and waves</li>
        <li class="tag">Matter, quantum and nuclear physics</li>
      </ul>
    <p>
      <a href="https://www.gov.uk/government/publications/national-curriculum-in-england-science-programmes-of-study/national-curriculum-in-england-science-programmes-of-study">Read the national curriculum for more information about physics lessons</a>.
    </p>

    <p>You can also search for past exam papers online to see the type of questions that were asked in previous years.</p>

    <p>
      You may also get the opportunity to teach other subjects, particularly for 11 to 16 year olds and in some cases for post-16. This will vary depending on individual schools.
    </p>
    <p><a href="https://www.ogdentrust.com/teacher-support/training-to-be-a-teacher/">Find out more about becoming a physics teacher from the Ogden Trust</a>, a charitable trust which promotes the teaching and learning of physics. </p>
  </section>
   <section class="col col-720">
  <%= render Content::QuoteComponent.new(
    text: "It's inspiring getting 'wow, that's how it works' from pupils as they grasp a subject that they thought was hard.",
    name: "Jane Doran, physics and robotics teacher, West Midlands",
    background: "grey",
    large: true
  ) %>
</section>

 <section class="col col-space-s col-content-max">
    <%= render TextBlockWithOneImageComponent.new(
      heading: "Next steps into teacher training",
      colour: "yellow",
      image_path: "static/images/content/hero-images/0006.jpg",
      image_alt: "Classroom full of pupils.",
    ) %>
  </section>

  <section class="col col-space-m col-720">
    <h3>Funding for training to teach physics
</h3>

    <p>To train to be a computing teacher, you'll need to do a teacher training course.</p>

<p>Tax-free bursaries of £28,000 and scholarships of £30,000 are available for eligible trainee physics teachers.</p>

<p>You can receive this alongside a tuition fee and maintenance loan.</p>

<p>You may also be able to get extra funding support if you are:</p>
<ul>
  <li>
a parent or carer</li>
<li>disabled</li>
</ul>
<p>Non-UK citizens without indefinite leave to remain in the UK are unlikely to be eligible for funding.</p>
  </section>

  <section class="col col-space-m col-720">
    <h3>Check your qualifications</h3>
    <p>You'll need a bachelors degree before training to teach, but it does not have to be in physics.</p>
<p>
Besides physics, the most popular degrees people have before doing a teacher training course in physics are:</p>
<ul>
  <li>mechanical engineering </li>

<li>electrical and electronic engineering </li>

<li>mathematics </li>

<li>natural sciences </li>
</ul>

<p>To train to teach in primary and secondary schools in England, you’ll need: </p>
<ul>
<li>GCSEs at grade 4 (C) or above in English and maths (and science if you want to teach primary) </li>

<li>a bachelor’s degree in any subject </li>
</ul>
<p>Your training provider may need you to brush up on your physics knowledge before you become a physics teacher. You can do a subject knowledge enhancement (SKE) course before you start your teacher training to top up your subject knowledge.  </p>

<p>Find out more about the qualifications needed to teach. </p>

  </section>

  <section class="col col-space-m col-720">
    <h3>Paid internship 
</h3>

    <p>If you’re currently doing an undergraduate or master's degree and are interested in teaching physics, you could apply for a <a href="/is-teaching-right-for-me/teaching-internship-providers">paid teaching internship</a>.</p>

<p>The 3 week programme could help you to understand what it’s really like in the classroom and get feel for school life. </p>

<p>You can also find out what it's like to be in a classroom through <a href="/is-teaching-right-for-me/get-school-experience">unpaid school experience</a>.</p>
  </section>
   <section class="col col-space-m col-720">
    <h3>Engineers teach physics 
</h3>

    <p>If you're an engineer considering a career as a physics teacher, there is a teacher training course designed especially with your experience and skills in mind. </p>

<p>Find out about <a href="/is-teaching-right-for-me/engineers-teach-physics">the engineers teach physics training programme</a>. </p>
  </section>
</div>
