<div class="row inset">
<section class="col col-720">
  <p>
    Teaching secondary physics is an exciting and worthwhile career. Schools need more specialist physics teachers, so it's a great choice of subject.
  </p>

  <p>
You could inspire your pupils to consider rewarding professions from tackling climate change to artificial intelligence (AI).
  </p>
  <p>Tax-free bursaries of £28,000 or scholarships of £30,000 are available for eligible trainee physics teachers.</p>

  </section>

   <section class="col col-space-s col-content-max">
    <%= render TextBlockWithTwoImagesComponent.new(
      heading: "Spark curiosity in physics",
      colour: "yellow",
      image_1_path: "static/images/content/hero-images/0012.jpg",
      image_1_alt: "",
      image_2_path: "static/images/content/hero-images/0007.jpg",
      image_2_alt: "",
    ) do %>
       <p>As a physics teacher, you’ll be engaging students in a wide range of experiments that can spark their interest.</p>

    <% end %>
</section>
<section class="col col-720">
      <h2>What you'll be teaching</h2>
      <p>You'll teach the <a href="https://www.gov.uk/government/publications/national-curriculum-in-england-science-programmes-of-study/national-curriculum-in-england-science-programmes-of-study">national curriculum for physics</a>, with opportunities to develop your pupils' ability to think like physicists and see physics as a solution to many challenges.</p>
      <p>Themes you'll cover for 11 to 14 year olds (key stage 3) include:</p>
        <ul class="vertical-tags">
          <li class="tag">Energy</li>
          <li class="tag">Motion and forces</li>
          <li class="tag">Electricity and electromagnetism</li>
          <li class="tag">Waves and matter</li>
        </ul>
      <p>Themes you’ll cover for 14 to 16 year olds (key stage 4) include:</p>
       <ul class="vertical-tags">
        <li class="tag">Energy, forces and wave motion</li>
        <li class="tag">Electricity, magnetism and electromagnetism</li>
        <li class="tag">The structure of matter</li>
        <li class="tag">Atomic structure and space physics</li>
      </ul>
      <p><a href="https://www.thenational.academy/teachers/programmes/physics-secondary-ks4-higher-aqa/units">Explore what teaching a key stage 4 physics lesson would be like</a>.</p>
      <p>Themes you’ll cover for 16 to 18 year olds (key stage 5) include:</p>
       <ul class="vertical-tags">
        <li class="tag">Fields, vectors and scalars</li>
        <li class="tag">Mechanics and mechanical properties of matter</li>
        <li class="tag">Electric circuits and waves</li>
        <li class="tag">Matter, quantum and nuclear physics</li>
      </ul>
    </p>
    </section>
   <section class="col col-720">
  <%= render Content::QuoteComponent.new(
    text: "It's inspiring getting 'wow, that's how it works' from pupils as they grasp a subject they thought was hard.",
    name: "Jane, physics and robotics teacher",
    large: true
  ) %>
</section>
  <section class="col col-space-m col-720">
    <h2>Check your qualifications</h2>
<p>To train to teach in secondary schools in England, you’ll need:</p>
<ul>
<li>GCSEs at grade 4 (C) or above in English and maths</li>
<li>a bachelor’s degree in any subject</li>
</ul>
<p>Physics teacher training courses have had successful applications from candidates with a range of degrees, including maths, geology, business studies and finance.</p>
<p>Find out more about <a href="/is-teaching-right-for-me/qualifications-you-need-to-teach">what qualifications you need to train to teach</a>.</p>
<p>Non-UK citizens can <a href="/non-uk-teachers/non-uk-qualifications">check your eligibility to train to teach in England</a>.</p>
<h3>Subject knowledge enhancement (SKE) course
<p>If your training provider thinks you need to top up your physics knowledge, you might need to do an <a href="/how-to-apply-for-teacher-training/subject-knowledge-enhancement">SKE course</a> before you start your teacher training.</p>
  </section>
  <section class="col col-space-m col-720">
<h2>Fund your teacher training</h2>
<p><a href="/funding-and-support/scholarships-and-bursaries">Tax-free bursaries of £28,000 or scholarships of £30,000 </a>are available for eligible trainee physics teachers.</p>
<p>You can get a bursary or scholarship alongside a tuition fee loan and maintenance loan.</p>

<p>You may also be able to get <a href="/funding-and-support">extra funding and support</a> if you're:</p>
<ul>
  <li>
a parent or carer</li>
<li>disabled</li>
</ul>
<p>Non-UK citizens are eligible for bursaries and scholarships for physics teacher training courses.</p>
<p>You can <a href="/non-uk-teachers/fees-and-funding-for-non-uk-trainees">find out more about fees and financial support available for non-UK citizens</a>.</p>
</section>
<section class="col col-space-m col-720">
<h2>Paid internship</h2>
<p>If you’re currently doing an undergraduate or master's degree and are interested in teaching physics, you could apply for a <a href="/is-teaching-right-for-me/teaching-internship-providers">paid teaching internship</a>.</p>
<p>The 3-week programme could help you to understand what it’s really like in the classroom and get feel for school life. </p>
</section>
<section class="col col-space-m col-720">
<h2>Engineers teach physics</h2>
<p>If you're an engineer considering a career as a physics teacher, there's a teacher training course designed especially with your experience and skills in mind. </p>
<p>Find out about <a href="/is-teaching-right-for-me/engineers-teach-physics">the engineers teach physics training programme</a>. </p>
</section>
</div>
