<% @page_title = "Service feedback" %>
<% @fullwidth = true %>

<h1 class="govuk-heading-l">Service feedback</h1>
<%= render "teacher_training_adviser/feedbacks/export_form" %>
<hr class="govuk-section-break govuk-section-break--l">
<%= render "teacher_training_adviser/feedbacks/recent", recent_feedback: @recent_feedback %>
