<% @page_title = "Thank you for your feedback" %>

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Thank you for your feedback.
          </h1>
        </div>
        <h2 class="govuk-heading-m">
          Still have questions about teaching?
        </h2>
        <p>
          <%= link_to("Get your questions answered at an event", events_path) %> or consider getting <%= link_to("school experience", "https://schoolexperience.education.gov.uk/") %>.
        </p>
        <p>
          There's lots of <%= link_to("ways into teaching", "/train-to-be-a-teacher") %>, including training on the job with a salary or going to university to do a postgraduate course.
        </p>
      </div>
    </div>
  </div>
</div>
