<section class="container category__hero">
    <header>
        <h1>Train to be a teacher</h1>

        <p>
            Aliquam accumsan tortor at rhoncus interdum. Suspendisse potenti. Quisque laoreet,
            tortor sed eleifend convallis, purus tellus molestie urna, nec gravida ligula
            arcu id tortor. Donec finibus, risus in hendrerit tincidunt, nibh erat gravida
            tellus, eget sagittis nisl lectus non nulla. Quisque eleifend congue efficitur.
        </p>
    </header>
</section>