<div class="hero" style="background-color: white">
  <img alt="Physics teacher explaining the concept of time to pupils on a whiteboard." data-lazy-disable="true" src="/packs/v1/media/images/content/hero-images/0013-3570599669a8da7d375320f4003d2d61.jpg">

  <div class="hero__title">
    <h1><span>Train to be a teacher</span></h1>
  </div>

  <div class="hero__subtitle">
    <p>
      If you’ve just graduated, you're studying for a degree or you already have classroom experience, we can help you understand what training you need to
      do to get qualified teacher status (QTS).
    </p>
  </div>
</div>
