<section class="container category__hero">
    <header>
        <h1>Train to be a teacher</h1>

        <p>
            If you’ve just graduated, you're studying for a degree or you want to change your career, we can help you understand what training you need to do to get qualified teacher status (QTS).
        </p>
    </header>
</section>