<section class="container">
    <div class="category__nav-cards">
        <a href="/train-to-be-a-teacher/if-you-have-a-degree" class="category__nav-card">
            <h2>If you have a degree</h2>

            <p>
                Find out how to get QTS if you have a degree or you’re studying for one now. There are different options you can choose.
            </p>
            <span class="icon"></span>
        </a>

        <a href="/train-to-be-a-teacher/if-you-dont-have-a-degree" class="category__nav-card">
            <h2>If you don't have a degree</h2>

            <p>
                You need a degree to get QTS, find out more about undergraduate degree courses.
            </p>
            <span class="icon"></span>
        </a>

        <a href="/train-to-be-a-teacher/if-you-want-to-change-career" class="category__nav-card">
            <h2>If you want to change career</h2>

            <p>
            Use the experience you’ve gathered so far to inspire students and train to bring your skills and expertise to the classroom.
            </p>
            <span class="icon"></span>
        </a>

        <a href="/train-to-be-a-teacher/if-you-have-experience" class="category__nav-card">
            <h2>If you have classroom experience</h2>

            <p>
                If you've already spent a lot of time working in the classroom, you may be able to show you meet the standards for QTS through an assessment.
            </p>
            <span class="icon"></span>
        </a>

        <a href="/train-to-be-a-teacher/get-school-experience" class="category__nav-card">
            <h2>Get school experience</h2>
            <p>
                Spending some time in a school can help you find out more about teaching and even help you decide what kind of teacher you want to be.
            </p>
            <span class="icon"></span>
        </a>

    </div>
</section>
