
<section class="category__questions">
    <div class="category__question">
        <h2>
            <strong>What subject</strong> do you want to teach?
        </h2>

        <p>
            If you want to teach a particular subject there may be extra
            funding available or specific training you can do.
        </p>

        <a href="#" class="button">Explore</a>
    </div>

    <div class="category__question">
        <h2>
            <strong>Who</strong> do you want to teach?
        </h2>

        <p>
            If you're not sure what age or student group you want to
            teach we can help you work it out and find the right training.
        </p>

        <a href="#" class="button">Find out more</a>
    </div>
</section>