<div class="category__questions__container">

	<section class="container category__questions">

	    <div class="category__question">
	        <h2>
	            <strong>Worried</strong> about your subject knowledge?
	        </h2>

	        <p>
	            If you want to teach a particular subject there may be extra
	            training you can do to refresh your memory.
	        </p>

	        <a href="/train-to-be-a-teacher/what-subject-do-you-want-to-teach" class="button">Explore subject enhancement training</a>
	    </div>

	    <div class="category__question">
	        <h2>
	            <strong>Who</strong> do you want to teach?
	        </h2>

	        <p>
	            If you're not sure what age or student group you want to
	            teach we can help you work it out and find the right training.
	        </p>

	        <a href="/train-to-be-a-teacher/who-do-you-want-to-teach" class="button">Find out about training</a>
	    </div>

	</section>

</div>