<div class="category__questions__container">

  <section class="container category__questions">

    <div class="category__question">
      <h2>Want to improve your subject knowledge?</h2>

      <p>
        If you want to teach a particular subject there may be extra
        training you can do to refresh your memory.
      </p>

      <a href="/train-to-be-a-teacher/what-subject-do-you-want-to-teach" class="button">Explore subject enhancement training</a>
    </div>

    <div class="category__question">
      <h2>What will your training year be like?</h2>

      <p>
        Find out what you'll learn, what classroom experience you'll get and how you'll be assessed.
      </p>

      <a href="/train-to-be-a-teacher/initial-teacher-training" class="button">Find out about initial teacher training</a>
    </div>

  </section>

</div>
