<div class="row">
  <div class="col-space-l col-space-l-top">
    <%= render Content::QuoteWithImageComponent.new(
      title: "What they're saying",
      text: "<p>Teacher training has been by far one of the most fulfilling experiences of my life. It has made me realise my potential, testing the limits of my patience, confidence, organisational skills and empathy, as well as academic ability.</p><p><b>Hasina, science teacher</b></p>",
      quotes: true,
      background_color: "yellow",
      heading_color: "pink",
    ) %>
  </div>
