<div class="row">
  <section class="container">
    <section class="image-blocks">
      <%= render CallsToAction::MailinglistBlockComponent.new(
      text: "Sign up for free guidance and support on getting into teaching, including learning more about the benefits of a career in teaching."
    ) %>
      <%= render CallsToAction::RoutesBlockComponent.new %>
      <%= render CallsToAction::AdviserBlockComponent.new(
      text: "An adviser with years of teaching experience can tell you more about the benefits of becoming a teacher."
    ) %>
    </section>
  </section>
</div>
