<div class="row">
  <div class="grey">
    <section class="container">
      <div>
        <h2 class="heading--box-pink">Find out what teachers have to say...</h2>
        <section class="category col-space-m">
          <section class="container category__cards main-section">
            <nav class="category__nav-cards">
              <ul>
                <%= render Content::InspirationCardComponent.new(heading_tag: "h3", card:
                  OpenStruct.new(
                    title: "Teacher pay",
                    description: "Find out the starting salary for a qualified teacher and how your pay could increase during your career.",
                    path: "/life-as-a-teacher/pay-and-benefits/teacher-pay",
                    image: "static/images/content/hero-images/teacher.jpg"
                  )) %>
                <%= render Content::InspirationCardComponent.new(heading_tag: "h3", card:
                  OpenStruct.new(
                    title: "Teacher pensions",
                    description: "Learn more about the teachers' pension scheme which is one of the most generous in the country.",
                    path: "/life-as-a-teacher/pay-and-benefits/teachers-pension-scheme"
                  )) %>
                <%= render Content::InspirationCardComponent.new(heading_tag: "h3", card:
                  OpenStruct.new(
                    title: "Teacher insights: moving up the career ladder",
                    description: "Top tips from teacher training advisers on how you can progress a career in teaching.",
                    path: "/life-as-a-teacher/pay-and-benefits/career-progression"
                  )) %>
              </ul>
            </nav>
          </section>
        </section>
      </div>
    </section>
  </div>
</div>
