<div class="row">
  <div class="grey col">
    <section class="col col-full-content">
      <div class="inset">
        <p class="col-720">
          We’ve partnered with Buzzfeed to show how teaching not only impacts the lives of pupils but how the profession develops, moulds, and fulfils the lives of the teachers themselves.
        </p>
<p>Discover how a career in teaching could shape lives - starting with yours. </p>
       