<div class="row">
  <div class="grey col">
    <section class="col col-720 col-space-0 col-center associated-logos">
      <div class="inset">
        <p><strong>
        In partnership with
        </strong></p>
      </div>
      <div class="associated-logos-holder">
        <%= image_pack_tag("static/images/content/grow/buzzfeed-red-logo-text.png", alt: "Buzzfeed logo") %>
      </div>
    </section>
    <section class="col col-720">
      <div class="inset">
        <p>
        We've partnered with Buzzfeed to show how a career in the classroom gives both pupils and teachers the opportunity to learn and grow.
        </p>
        <p>
        A career in teaching can shape lives - starting with yours. So why not see where teaching can take you.
        </p>
      </div>
    </section>
  </div>
</div>
