<div class="row">
  <section class="col col-720">
    <h2 class="heading-l heading--box-blue">What qualifications do I need?</h2>

    <div class="inset">
      <p>
        You'll need to train for qualified teacher status (QTS) to be able to teach in most primary and secondary schools in England.
      </p>

      <p>
        If you have a degree or equivalent qualification, you can do postgraduate primary or secondary teacher training.
        If you do not have a degree and are not studying for one, you can do undergraduate teacher training.
      </p>

      <p>
        <%= link_to("Check the qualifications you need to teach", page_path("is-teaching-right-for-me/qualifications-you-need-to-teach")) %>.
      </p>
    </div>
  </section>

  <section class="col col-720">
    <h2 class="heading-l heading--box-blue">Can I get help funding my training?</h2>

    <div class="inset">
      <p>
        Undergraduate and postgraduate teacher training course fees are around £9,250 per year.
        You can apply for tuition fee and maintenance loans, even if you already have a student loan.
      </p>

      <p>
        If you're interested in teaching certain subjects, you might be able to get a scholarship or bursary of up to £30k tax-free.
        This is to support you while you are training and does not need to be paid back.
      </p>

      <p>
        <%= link_to("Find out about funding your teacher training", page_path("funding-and-support")) %>.
      </p>
    </div>
  </section>

  <section class="col col-720">
    <h2 class="heading-l heading--box-blue">How do I apply for teacher training?</h2>

    <div class="inset">
      <p>
        Full-time postgraduate teacher training courses usually take 9 months,
        and undergraduate courses can take up to 4 years.
      </p>

      <p>
         Most courses start in September. You can usually start applying in October before your course starts.
      </p>

      <p>
        <%= link_to("Find out how to train to teach", page_path("train-to-be-a-teacher")) %>.
      </p>
    </div>
  </section>
</div>
