<div class="row">
  <div class="grey col-space-l">
    <section class="col col-720 col-space-0">
      <%= render Content::MailingListComponent.new(
        title: "Get teacher training guidance in your inbox",
        intro: "Take a step closer to a career in teaching. Answer a couple of questions about yourself and we'll send you helpful tips and advice.",
        color: "transparent",
        margin: false,
        heading: :l
      ) %>
    </section>
  </div>
</div>
