<section class="text-block-with-one-image">
  <div class="statement">
    <%= tag.h2(heading, class: [colour, "xlarge"]) %>
  </div>

  <%= image_pack_tag("media/images/content/hero-images/0019.jpg", alt: "A teacher standing at the front of her classroom teaching a class") %>

  <%= tag.div(content, class: "content") %>
</section>
