<header class="story header blue">
  <div class="background" />
  <%= image_pack_tag "media/images/content/hero-images/0019.jpg" %>
  <div class="back">
    <%= link_to("/welcome") do %>
      &#8592; Back to welcome
    <% end %>
  </div>

  <h1>
    <div class="caption caption-l">
      <span class="yellow no-wrap">
        My journey
      </span>
    </div>

    <div class="caption caption-l">
      <div class="yellow no-wrap blend">
        into <em>teaching</em>.
      </div>
    </div>

    <div class="caption caption-m">
      <span class="yellow">
        Dimitra, maths teacher, London
      </span>
    </div>
  </h1>

  <div class="triangle blue">
    <svg height="100%" width="100%" viewbox="0 0 100 100" preserveAspectRatio="none">
      <polygon points="0,0 100,0 100,100" />
    </svg>
  </div>
</header>
