<article class="story">
  <h2>
    It all started with my love of maths
  </h2>

  <p>
    I've always found it fascinating learning how maths shapes the world we
    live in, but it was my passionate, down-to-earth teachers who had the
    biggest impact on me.
  </p>

  <h2>After Uni I knew I wanted to teach</h2>

  <p>
    I started off by tutoring, which was a great way to get to grips with
    teaching quickly. Although I’m from Greece, I chose to do a PGCE in the UK
    because it has one of the best educational systems in the world.
  </p>

  <h2>I’ve worked out how to get every student interested in maths</h2>

  <p>
    Some kids will say &quot;I can’t do algebra&quot; or &quot;I don’t like numbers.&quot;
    And to be honest, I know how that feels. I&apos;m definitely more a fan of Pure
    maths than other topics. I try to find out what they’re interested in – whether
    it’s card games, football or whatever – and use this to make maths relevant.
  </p>

  <div class="featured">
    <h2>This year I'm looking forward to&hellip;</h2>

    <figure>
      <blockquote>Witnessing the progress of my students. I have such a great relationship with them and can't wait to spend more time in the classroom again.</blockquote>
    </figure>
  </div>
</article>

