<% if subject_specific_story_data[:shoutout].present? %>
  <section class="case-study special-shout-out">
    <div class="background"></div>
    <div class="triangle yellow">
      <svg height="100%" width="100%" viewbox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0,100 100,0 100,100" />
      </svg>
    </div>

    <div class="text">
      <h2>
        <div class="caption">
          <div class="pink">
            Special shout out.
          </div>
        </div>

        <div class="caption caption-l">
          <div class="pink">
            To <%= subject_specific_story_data.dig(:shoutout, :relationship) %>
          </div>
          <br>

          <div class="pink">
            <%= subject_specific_story_data.dig(:shoutout, :name) %>
          </div>
        </div>
      </h2>

      <figure>
        <%= tag.blockquote(subject_specific_story_data.dig(:shoutout, :text)) %>
      </figure>

      <div class="back bottom">
        <%= link_to("/welcome") do %>
          &#8592; Back to welcome
        <% end %>
      </div>
    </div>
  </section>
<% end %>
