<section class="case-study special-shout-out">
  <div class="background"></div>
  <div class="triangle yellow">
    <svg height="100%" width="100%" viewbox="0 0 100 100" preserveAspectRatio="none">
      <polygon points="0,100 100,0 100,100" />
    </svg>
  </div>

  <div class="text">
    <h2>
      <div class="caption">
        <div class="pink">
          Special shout out.
        </div>
      </div>

      <div class="caption caption-l">
        <div class="pink">
          To my mentor,
        </div>
        <br>

        <div class="pink">
          Alison Conner.
        </div>
      </div>
    </h2>

    <figure>
      <blockquote>
        When I doubted myself, she believed in me. She’s a maths teacher too,
        and has always been so supportive. I’m lucky that we still work in the
        same school!</blockquote>
      <figcaption>
        Dimitra, maths teacher
      </figcaption>
    </figure>

    <div class="back bottom">
      <%= link_to("/welcome") do %>
        &#8592; Back to welcome
      <% end %>
    </div>
  </div>
</section>
