<section class="story three-things-youll-never-hear-me-say">
  <%= image_pack_tag "media/images/content/hero-images/0011.jpg" %>

  <h2>
    <div class="caption">
      <span class="purple">
        Three things you'll
      </span>
    </div>
    <div class="caption blend">
      <span class="purple">
        <em>never</em> hear me say.
      </span>
    </div>
  </h2>

  <ol>
    <li>
      <h3>Every day is the same</h3>
      <p>
        One day I’ll be playing bingo to make maths fun, the next exploring
        how maths underpins the economy.
      </p>
    </li>

    <li>
      <h3>I miss adult conversation</h3>
      <p>
        At every school I’ve worked in, the teachers have always been super
        supportive. We love to have a laugh too. Weekly pub visits are the
        norm!
      </p>
    </li>

    <li>
      <h3>Work never stops</h3>
      <p>
        When the school day ends, I switch off and focus on my own stuff. I
        value my down time a lot. Plus, I make the most of the longer holiday
        and spend most summers in Greece.
      </p>
    </li>
  </ol>
</section>
