<% if subject_specific_story_data[:three_things_youll_never_hear_me_say].any? %>
  <section class="case-study three-things-youll-never-hear-me-say">
    <%= image_pack_tag "media/images/content/hero-images/0011.jpg" %>

    <h2>
      <div class="caption">
        <span class="purple">
          Three things you'll
        </span>
      </div>
      <div class="caption blend">
        <span class="purple">
          <em>never</em> hear me say.
        </span>
      </div>
    </h2>

    <ol>
      <% subject_specific_story_data[:three_things_youll_never_hear_me_say].each do |thing, response| %>
        <li>
          <%= tag.h3(thing) %>
          <%= tag.p(response) %>
        </li>
      <% end %>
    </ol>
  </section>
<% end %>
