<div class="homepage-feature blocks">
  <%= render CallsToAction::HomepageComponent.new(
    icon: "icon-calendar",
    badge_text: "Updated<br>events",
    caption: "Events are amazing",
    title: "New teacher training events",
    text: "Whether you are ready to start or just curious, events are a great place to get information about Teaching.",
    link_text: "Showcase page",
    link_target: "/events/about-get-into-teaching-events",
    image: "media/images/content/homepage/here-to-help.jpg")
  %>

  <%= render CallsToAction::HomepageComponent.new(
    icon: "icon-person",
    title: "Get one-to-one support",
    text: "Whether you’re just considering teaching or you’re ready to apply, talk to an experienced teacher for support and advice.",
    link_text: "Get an adviser",
    link_target: "/tta-service",
    image: "media/images/content/homepage/teacher-training-adviser.jpg")
  %>
</div>
