<section class="homepage-feature blocks col-space-m-top">
  <%= render CallsToAction::HomepageComponent.new(
    icon: "icon-person",
    title: "Get free one-to-one support",
    text: "Our expert advisers offer free individual support, whether you’re just thinking about teaching or ready to apply. Chat by phone, email, text or WhatsApp.",
    link_text: "Get an adviser",
    link_target: "/teacher-training-adviser/sign_up/identity",
    image: "static/images/content/homepage/teacher-training-adviser.jpg")
  %>

  <%= render CallsToAction::HomepageComponent.new(
    icon: "icon-calendar",
    title: "Training provider events",
    text: "Meet teacher training providers and discover courses on offer.",
    link_text: "Find events",
    link_target: "/events",
    image: "static/images/content/homepage/here-to-help.jpg")
  %>
  </section>
