<div class="homepage-feature blocks">
  <%= render CallsToAction::HomepageComponent.new(
    icon: "icon-person",
    title: "Get free one-to-one support",
    text: "Our expert advisers have years of teaching experience. They offer practical advice as well as reassurance. Chat by phone, email, text or WhatsApp.",
    link_text: "Get an adviser",
    link_target: "/teacher-training-adviser/sign_up/identity",
    image: "static/images/content/homepage/teacher-training-adviser.jpg")
  %>

  <%= render CallsToAction::HomepageComponent.new(
    icon: "icon-calendar",
    title: "Online and in-person events",
    text: "Get advice on training to teach, talk to teachers, meet training course providers and connect with others considering a career in teaching.",
    link_text: "Get Into Teaching events",
    link_target: "/events/about-get-into-teaching-events",
    image: "static/images/content/homepage/here-to-help.jpg")
  %>
</div>
