<div class="homepage-feature blocks">
  <%= render CallsToAction::HomepageComponent.new(
    icon: "icon-calendar",
    title: "Get personalised guidance to your inbox",
    text: "Answer just a few questions and we'll send you helpful advice and insights relevant to you.",
    link_text: "Register for updates",
    link_target: "/mailinglist/signup",
    image: "media/images/content/hero-images/0012.jpg")
  %>

  <%= render CallsToAction::HomepageComponent.new(
    icon: "icon-person",
    title: "Get one-to-one support",
    text: "Whether you’re just considering teaching or you’re ready to apply, talk to an experienced teacher for support and advice.",
    link_text: "Get an adviser",
    link_target: "/tta-service",
    image: "media/images/content/homepage/teacher-training-adviser.jpg")
  %>
</div>
