<div class="homepage-feature blocks">
  <%= render CallsToAction::HomepageComponent.new(
    icon: "icon-calendar",
    title: "Have all your questions answered at an event.",
    link_text: "Find events",
    link_target: "/events",
    image: "media/images/content/featured-3.jpg")
  %>

  <%= render CallsToAction::HomepageComponent.new(
    icon: "icon-person",
    title: "Get started with a teacher training adviser.",
    link_text: "Get an adviser",
    link_target: "/tta-service",
    image: "media/images/content/piclink2.jpg")
  %>
</div>
