<section class="homepage-feature blocks col-space-m-top">
  <%= render CallsToAction::HomepageComponent.new(
    icon: "icon-person",
    title: "Get free one-to-one support",
    text: "Our expert advisers offer free individual support, whether you’re just thinking about teaching or ready to apply. Chat by phone, email, text or WhatsApp.",
    link_text: "Get an adviser",
    link_target: "/teacher-training-adviser/sign_up/identity",
    image: "static/images/content/homepage/teacher-training-adviser.jpg")
  %>
  <%= render CallsToAction::HomepageComponent.new(
    icon: "icon-search-black",
    title: "Find your route into teaching",
    text: "Answer 3 questions and find routes into teaching based on your circumstances.",
    link_text: "Find a route",
    link_target: "/routes-into-teaching",
    image: "static/images/content/hero-images/geography.jpg")
  %>
</section>
