
<section class="container nav-cards">
    <a href="/train-to-be-a-teacher/if-you-have-a-degree" class="nav-card">
        <h2>If you have a degree</h2>

        <p>
        In gravitate brevis soleat esse, ut eius magnitudinem celeritas,
        diuturnitatem allevatio consoletur.
        </p>
    </a>

    <a href="/train-to-be-a-teacher/if-you-have-experience" class="nav-card">
        <h2>If you have experience</h2>

        <p>
        Ad ea cum accedit, ut neque divinum numen horreat nec praeteritas
        voluptates effluere patiatur earumque assidua recordatione laetetur,
        quid est
        </p>
    </a>

    <a href="/train-to-be-a-teacher/if-you-want-to-change-career" class="nav-card">
        <h2>If you want to change career</h2>

        <p>
        Recordatione laetetur, quid est, cur nostri a nostris de amicitia
        dicenda sunt.
        </p>
    </a>

    <a href="#" class="nav-card">
        <h2>Other training you can get</h2>

        <p>
        Recordatione laetetur, quid est, cur nostri a nostris de amicitia
        dicenda sunt.
        </p>
    </a>        

    <a href="#" class="nav-card">
        <h2>What subject do you want to teach?</h2>

        <p>
        Recordatione laetetur, quid est, cur nostri a nostris de amicitia
        dicenda sunt.
        </p>
    </a>   

    <a href="#" class="nav-card">
        <h2>Who do you want to teach?</h2>

        <p>
        Recordatione laetetur, quid est, cur nostri a nostris de amicitia
        dicenda sunt.
        </p>
    </a>      
</section>