
<section class="container nav-cards">
    <a href="/train-to-be-a-teacher/if-you-have-a-degree" class="nav-card">
        <h2>If you have a degree</h2>

        <p>
            Find out how to get QTS if you have a degree or you’re studying for one now. There are different options depending on your situation.
        </p>
    </a>

    <a href="/train-to-be-a-teacher/if-you-have-experience" class="nav-card">
        <h2>If you already have experience</h2>

        <p>
            If you want to get back in the classroom you may be able to follow the assessment only route to show you meet QTS.
        </p>
    </a>

    <a href="/train-to-be-a-teacher/if-you-want-to-change-career" class="nav-card">
        <h2>If you want to change career</h2>

        <p>
        Use the experience you’ve gathered so far to inspire students and bring your skills and expertise to the classroom.
        </p>
    </a>

    <a href="/train-to-be-a-teacher/other-training-you-can-get" class="nav-card">
        <h2>Other training you can get</h2>

        <p>
            Whatever your situation there’s a training programme for you, from spending some time at a school to apprenticeships.
        </p>
    </a>

    <a href="/train-to-be-a-teacher/what-subject-do-you-want-to-teach" class="nav-card">
        <h2>What subject do you want to teach?</h2>

        <p>
            If you want to teach a particular subject there may be extra funding available or subject specific training.
        </p>
    </a>

    <a href="/train-to-be-a-teacher/who-do-you-want-to-teach" class="nav-card">
        <h2>Who do you want to teach?</h2>

        <p>
            If you’re not sure what age or student group you want to teach we can help you work it out and find the right training.
        </p>
    </a>
</section>