<section class="homepage-feature steps-to-become-a-teacher">
  <div class="steps-to-become-a-teacher__purple-box"></div>

  <h2 class="steps-to-become-a-teacher__heading">Take the next step</h2>

  <p class="steps-to-become-a-teacher__text">
    If you’ve just graduated, you're studying for a degree or you want to change
    your career, we can help you understand what training you need to do to get
    qualified teacher status.
  </p>

  <div class="steps-to-become-a-teacher__cta">
    <a class="button" href="/steps-to-become-a-teacher">
      Find out how to train to be a teacher
    </a>
  </div>
</section>
