<section class="homepage-feature steps-to-become-a-teacher">
  <div class="steps-to-become-a-teacher__purple-box">
  </div>

  <h2 class="steps-to-become-a-teacher__heading">
    Steps to get into teaching.
  </h2>

  <p class="steps-to-become-a-teacher__text">
    Find out how to become a qualified teacher in England.
  </p>

  <div class="steps-to-become-a-teacher__cta">
    <a class="button" href="/steps-to-become-a-teacher">How to become a teacher</a>
  </div>

  <div class="steps-to-become-a-teacher__graphic"></div>
</section>
