<div id="salary-banner" class="banner">
  <%= render CallsToAction::SimpleComponent.new(icon: "icon-money") do %>
    <h3>Earn at least &pound;30k a year</h3>
    <p>All qualified teachers will have a <strong>starting salary of at least £30,000</strong> (or higher in London).</p>
    <p><%= link_to("Find out more about teacher pay and benefits", page_path("is-teaching-right-for-me/teacher-pay-and-benefits")) %>.</p>
  <% end %>
</div>
