<div id="salary-banner" class="banner">
  <%= render CallsToAction::SimpleComponent.new(icon: "icon-money") do %>
    <h3>Earn at least &pound;28k a year</h3>
    <p>All recently qualified teachers will now have a <strong>starting salary of at least £30,000</strong> (or higher in London).</p>
    <p>Find out more about the <%= link_to("salaries and benefits of teaching", page_path("salaries-and-benefits")) %>.</p>
  <% end %>
</div>
