<section class="urgent-call-for-qualified-teachers-cta">
  <div class="urgent-call-for-qualified-teachers-cta__content">
    <div class="urgent-call-for-qualified-teachers-cta__text">
      Urgent call for qualified teachers to <%= link_to("register with a supply agency", "/urgent-call-for-qualified-teachers") %>.
    </div>
  </div>
</section>
