<section class="urgent-call-for-qualified-teachers-cta">
  <div class="urgent-call-for-qualified-teachers-cta__content">
    <div class="urgent-call-for-qualified-teachers-cta__text">
      Urgent call to qualified teachers
    </div>

    <div class="urgent-call-for-qualified-teachers-cta__button">
      <%= link_to("Register with a supply agency", "/urgent-call-for-qualified-teachers", class: "button button--white") %>
    </div>
  </div>
</section>
