<section class="urgent-call-for-qualified-teachers-cta narrow-top-margin">
  Urgent call for qualified teachers <span>to <%= link_to("register with a supply agency", "/urgent-call-for-qualified-teachers") %>.</span>
</section>
