<div class="row">
  <div class="grey col-space-0">
    <section class="col col-720 col-space-0">
      <%= render Content::MailingListComponent.new(
        title: "Get free advice and support that's tailored to you",
        color: "transparent",
        margin: false,
        heading: :l
      ) do %>

        <p>
          Whether you’re just thinking about teaching or you’re ready to apply, we’re here to help guide you through the steps to becoming a teacher. Discover how exciting and rewarding teaching can be.
        </p>

        <p>
          Sign up for emails and find out how to get:
        </p>

        <ul>
          <li>personalised guidance on teacher training</li>
          <li>experience of life in the classroom</li>
          <li>free one-to-one support from an adviser</li>
          <li>alerts about teaching events near you</li>
        </ul>

        <br>

      <% end %>
    </section>
  </div>
  </div>
