<div class="row">
  <section class="col col-720">
    <table>
      <caption>Qualified teacher salary</caption>
      <thead>
        <tr>
          <th scope="col">Area</th>
          <th scope="col">Minimum</th>
          <th scope="col">Maximum</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>England (excluding London)</td>
          <td>£30,000</td>
          <td>£41,333</td>
        </tr>
        <tr>
          <td>London fringe</td>
          <td>£31,350</td>
          <td>£42,689</td>
        </tr>
        <tr>
          <td>Outer London</td>
          <td>£34,514</td>
          <td>£46,001</td>
        </tr>
        <tr>
          <td>Inner London</td>
          <td>£36,745</td>
          <td>£47,666</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
