name: Rebuild master docker image
on:
  workflow_dispatch:

  schedule:
    - cron: '0 12 * * 0'

permissions:
  contents: write
  packages: write
  id-token: write

jobs:
  build:
    name: Build
    environment: review
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: set-up-environment
        uses: DFE-Digital/github-actions/set-up-environment@master

      - name: Set docker images variables
        id:   docker
        run: |
             if [ "${{github.ref}}" == "refs/heads/master" ]
             then
                GIT_BRANCH=master
             else
                GIT_BRANCH=${{ github.ref_name }}
             fi

             echo "BRANCH_TAG=$GIT_BRANCH" >> $GITHUB_ENV

      - name: Set DOCKER_IMAGE environment variable
        id: build-vars-base
        run: |
          {
            echo 'TAGS_VAR<<EOF'
            echo ${{ env.DOCKER_REPOSITORY }}:base-${{ env.BRANCH_TAG }}
            echo EOF
          } >> "$GITHUB_ENV"

      - name: Build and push docker image
        id: build-image-base
        uses: DFE-Digital/github-actions/build-docker-image@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          target: base
          context: .
          max-cache: false
          reuse-cache: false
          main-branch: "master"
          docker-repository: ${{ env.DOCKER_REPOSITORY }}

      - name: Set build action environment variable release
        id: build-vars-release
        run: |
            {
              echo 'TAGS_VAR<<EOF'
              echo ${{ env.DOCKER_REPOSITORY }}:${{ env.BRANCH_TAG }}
              echo EOF
            } >> "$GITHUB_ENV"

      - name: Build and push docker image release
        id: build-image-release
        uses: DFE-Digital/github-actions/build-docker-image@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          target: release
          context: .
          max-cache: false
          reuse-cache: false
          main-branch: "master"
          docker-sha: ${{ env.BRANCH_TAG }}
          docker-repository: ${{ env.DOCKER_REPOSITORY }}
          snyk-token: ${{ secrets.SNYK_TOKEN }}

      - name: Set build image environment variable release-build
        id: build-vars-release-build
        run: |
            {
              echo 'TAGS_VAR<<EOF'
              echo ${{ env.DOCKER_REPOSITORY }}:release-build-${{ env.BRANCH_TAG }}
              echo EOF
            } >> "$GITHUB_ENV"

      - name: Build and push docker image release-build
        id: build-image-release-build
        uses: DFE-Digital/github-actions/build-docker-image@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          target: release-build
          context: .
          max-cache: false
          reuse-cache: false
          main-branch: "master"
          docker-sha: ${{ env.BRANCH_TAG }}
          docker-repository: ${{ env.DOCKER_REPOSITORY }}

      - name: Slack Notification
        if: failure() && github.ref == 'refs/heads/master'
        uses: rtCamp/action-slack-notify@master
        env:
           SLACK_COLOR: ${{ env.SLACK_ERROR }}
           SLACK_MESSAGE: 'There has been a failure building the application'
           SLACK_TITLE: 'Failure Building Without Cache'
           SLACK_WEBHOOK: ${{ steps.keyvault-yaml-secret.outputs.SLACK_WEBHOOK }}
