name: Destroy Review Instance
on:
  pull_request:
    types: [closed]
  workflow_dispatch:
    inputs:
      prNumber:
        description: Pull request number for the review environment to destroy
        required: true
        type: number

jobs:
  destroy:
    name: Destroy 
    environment:
       name: Review
    runs-on: ubuntu-latest

    concurrency: Review_${{github.event.number}}

    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: set-up-environment
        uses: DFE-Digital/github-actions/set-up-environment@master

      - name: Setup Environment Variables
        id: variables
        run: |
          if [ -n "${{ github.event.inputs.prNumber }}" ]; then
            echo ::set-output name=pr_name::${{ env.REVIEW_APPLICATION }}-${{ github.event.inputs.prNumber }}
            echo "TF_VAR_paas_adviser_route_name=${pr_name}"       >> $GITHUB_ENV
          else
            echo ::set-output name=pr_name::${{ env.REVIEW_APPLICATION }}-${{github.event.number}}
            echo "TF_VAR_paas_adviser_route_name=${pr_name}"       >> $GITHUB_ENV
          fi

      - uses: hashicorp/setup-terraform@v1.3.2
        with:
          terraform_version: 0.14.9

      - name: Terraform Destroy
        run: |
            cd terraform/paas && pwd
            terraform init -backend-config=review.bk.vars -backend-config="key=${{steps.variables.outputs.pr_name}}.tfstate" -lock=false
            terraform destroy -var-file=review.env.tfvars -auto-approve -lock=false
        env:
          ARM_ACCESS_KEY:               ${{ secrets.ARM_ACCESS_KEY  }}
          TF_VAR_AZURE_CREDENTIALS:     ${{ secrets.AZURE_CREDENTIALS }}

      - name: Delete Terraform Storage File
        run:  az storage blob delete --container-name  pass-tfstate --account-name s146d01sgtfstate --account-key ${{secrets.ARM_ACCESS_KEY}} -n ${{steps.variables.outputs.pr_name}}.tfstate
