name: Destroy Review Instance
on:
  pull_request:
    types: [closed]

jobs:
  destroy:
    name: Destroy 
    environment:
       name: Review
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0

      - name: set-up-environment
        uses: DFE-Digital/github-actions/set-up-environment@master

      - name: Setup Environment Variables
        id: variables
        run: |
              echo ::set-output name=pr_name::${{env.REVIEW_APPLICATION}}-${{github.event.number}}
              echo "TF_VAR_paas_app_route_name=${pr_name}"       >> $GITHUB_ENV

      - uses: hashicorp/setup-terraform@v1.3.2
        with:
          terraform_version: 0.14.9

      - name: Wait for any previous runs to complete
        uses: softprops/turnstyle@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          continue-after-seconds: 180

      - name: Terraform Destroy
        run: |
            cd terraform/paas && pwd
            terraform init -backend-config=review.bk.vars -backend-config="key=${{steps.variables.outputs.pr_name}}.tfstate"
            terraform destroy -var-file=review.env.tfvars -auto-approve
        env:
          ARM_ACCESS_KEY:               ${{ secrets.ARM_ACCESS_KEY  }}
          TF_VAR_AZURE_CREDENTIALS:     ${{ secrets.AZURE_CREDENTIALS }}

      - name: Delete Terraform Storage File
        run:  az storage blob delete --container-name  pass-tfstate --account-name s146d01sgtfstate --account-key ${{secrets.ARM_ACCESS_KEY}} -n ${{steps.variables.outputs.pr_name}}.tfstate
