name: Set maintenance mode

on:
  workflow_dispatch:
    inputs:
      environment:
        required: true
        type: choice
        options:
        - development
        - test
        - production
      mode:
        required: true
        type: choice
        options:
        - enable
        - disable


permissions:
  contents: write
  id-token: write
  packages: write

jobs:
  set-maintenance-mode:
    name: Set maintenance mode
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Enable or disable maintenance mode
      uses: DFE-Digital/github-actions/maintenance@master
      with:
        azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
        azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        azure-subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        environment: ${{ inputs.environment }}
        mode: ${{ inputs.mode }}
        docker-repository: ghcr.io/dfe-digital/get-into-teaching-app-maintenance
        github-token: ${{ secrets.GITHUB_TOKEN }}
