name: Run Static Asset Checker
on:
  schedule:
    - cron:  '* * * * *' # every minute
  workflow_dispatch:

jobs:
  asset_checker:
    runs-on: ubuntu-latest
    steps:
    - uses: Azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - uses: Azure/get-keyvault-secrets@v1.2
      id: azSecret
      with:
          keyvault: ${{ secrets.KEY_VAULT }}
          secrets: 'HTTP-USERNAME, HTTP-PASSWORD'
    - name: Run Static Asset Checker
      uses: fjogeleit/http-request-action@master
      with:
        url: 'https://get-into-teaching-app-pagespeed.london.cloudapps.digital/assets/check'
        method: 'POST'
        username: ${{ secrets.HTTP-USERNAME }}
        password: ${{ secrets.HTTP-PASSWORD }}
