<div class="row">
  <section class="col col-720 col-space-l-top">
    <div class="inset">
      <p>Your training provider will be in touch before you start your course to organise your induction.</p>
      <p>They’ll also let you know what to expect from your training, including where your placements will be, what your timetable will look like and how you’ll be supported.</p>
    </div>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">When will I find out my placement schools?</h2>
    <div class="inset">
      <p>Each provider will have their own process and will be in touch before you start your training if there’s anything you need to do.</p>
      <h3>If you’re training with a university</h3>
      <p>Your university will be working hard over the summer to match you with your placement schools. They’ll let you know where these will be as soon as they can once you’ve started your course.</p>
      <h3>If you’re doing School Centred Initial Teacher Training (SCITT)</h3>
      <p>Your provider will likely let you know where your placements will be before your course starts.</p>
      <p>You might even get the chance to spend some time in one of your placement schools before September.</p>
    </div>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">What should I expect?</h2>
    <div class="inset">
      <p>You’ll start by observing lessons and will gradually take on small teaching responsibilities, once you and your mentor have decided you’re ready.</p>
      <h3>If you’re training with a university</h3>
      <p>You might start by spending a block of time with your university before going into any schools. This time might focus on teaching pedagogy, professionalism or classroom theory.</p>
      <h3>If you’re doing School Centred Initial Teacher Training (SCITT)</h3>
      <p>You might start in a school setting from the beginning but you’ll be observing other teachers or concentrating on teaching theory. You will not be expected to teach any lessons straight away.</p>
    </section>
  </div>

  <section class="col col-720">
    <h2 class="heading--box-blue">How will I be supported?</h2>
    <div class="inset">
      <h3>Your placement school mentors</h3>
      <p>You’ll have a mentor in each of your placement schools. They’re there to organise observations for you, give you feedback and help you develop your teaching practice.</p>
      <p>They’ll speak to you regularly to monitor your progress and support you, usually weekly.</p>
      <h3>Your provider-based tutor or mentor<h3>
      <p>You’ll have a provider-based tutor or mentor that will follow you throughout your training.</p>
      <p>They’re there to help you understand what’s required of you through the course and make sure you’re being supported within your placement schools.</p>
      <h3>Other support</h3>
      <p>Alongside your mentors and tutors, you'll have the wider school team and your provider there to help you through any challenges.</p>
      <p>This might include careers advice, wellbeing services or potentially financial support.</p>
    </div>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">Do I need school experience before I start?</h2>
    <div class="inset">
      <p>Having school experience before you start your course is not essential but it can give you a good insight into what teaching in a classroom is like and increase your confidence.</p>
      <p>You could speak to a school near you to arrange some experience or use the Department for Education’s Get school experience service.</p>
      <%= render CallsToAction::ArrowLinkComponent.new(link_target: "https://schoolexperience.education.gov.uk/", link_text: "Get school experience") %>
    </div>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">Any questions? Speak to your training provider</h2>
    <div class="inset">
      <p>Your provider will be able to answer any questions you have about your training.</p>
      <p>They can answer practical questions about your placement, including:</p>
      <ul>
        <li>what a typical training term is like</li>
        <li>how much time is spent in school or on academic learning</li>
        <li>how you’ll be assessed with exams and coursework</li>
      </ul>
      <p>Thank you for helping to shape the next generation!</p>
    </div>
  </section>
</div>
