<footer>
    <div class="footer-strip-one">
        <div class="logo">
            <img src="<%= asset_pack_path 'media/images/getintoteachinglogo.svg' %>" />
            <div class="tagline">Every Lesson shapes a life.</div>
        </div>
        <div class="footer-links-container">
            <a href="/">Home</a>
            <span> | </span>
            <a href="/">Life as a teacher</a>
            <span> | </span>
            <a href="/">Steps to become a teacher</a>
            <span><br/><br/></span>
            <a href="/">Funding your training</a>
            <span> | </span>
            <a href="/">How to apply</a>
            <span> | </span>
            <a href="/">Find an event near you</a>
        </div>
    </div>
    <div class="footer-strip-two">
        <div class="footer-logo-container">
            <img src="<%= asset_pack_path 'media/images/dfelogo.png' %>" alt="Department for Education">
        </div>
        <div class="footer-links-container">
            <a href="/">Feedback</a>
            <span> | </span>
            <a href="/">Cookies</a>
            <span> | </span>
            <a href="/">Privacy notice</a>
            <span> | </span>
            <a href="/">Accessibility</a>
            <span><br/><br/></span>
            <div class="footer-license">All content is available under the <a href="/">Open Government License v.3.0,</a> except where otherwise stated</div>
        </div>
    </div>
</footer>