<footer>
    <ul class="social-media-links">
        <li><a href="https://www.facebook.com/getintoteaching" class="link facebook-link"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/get_into_teaching" class="link instagram-link"><span class="label">Instagram</span></a></li>
        <li><a href="https://www.linkedin.com/company/get-into-teaching" class="link linkedin-link"><span class="label">LinkedIn</span></a></li>
        <li><a href="https://twitter.com/getintoteaching" class="link twitter-link"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.youtube.com/getintoteaching" class="link youtube-link"><span class="label">YouTube</span></a></li>
    </ul>

    <div class="department">
        <div class="department-logo">
            <span class="department-name">Department <br>for Education</span>
        </div>
    </div>

    <div class="copyright">
        <a class="copyright-link" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">
            &copy; Crown copyright
        </a>
    </div>
</footer>