<footer>
    <div class="footer-strip-one">
        xxx
    </div>
    <div class="footer-strip-two">
        <div class="footer-logo-container">
            <img src="<%= asset_pack_path 'media/images/dfelogo.png' %>" alt="Department for Education">
        </div>
        <div class="footer-links-container">
            <a href="/">Feedback</a> | <a href="/">Cookies</a> | <a href="/">Privacy notice</a> | <a href="/">Accessibility</a>
            <br/><br/>
            <a href="/">Funding your training</a> | <a href="/">How to apply</a> | <a href="/">Find an event near you</a>
        </div>
    </div>
</footer>