<footer>
    <div class="footer-strip-one">
        
    </div>
    <div class="footer-strip-two">
        <div class="footer-logo-container">
            <img src="<%= asset_pack_path 'media/images/dfelogo.png' %>" alt="Department for Education">
        </div>
        <div class="footer-links-container">
            <a href="/">Feedback</a>
            <span> | </span>
            <a href="/">Cookies</a>
            <span> | </span>
            <a href="/">Privacy notice</a>
            <span> | </span>
            <a href="/">Accessibility</a>
            <span><br/><br/></span>
            <a href="/">Funding your training</a>
            <span> | </span>
            <a href="/">How to apply</a>
            <span> | </span>
            <a href="/">Find an event near you</a>
        </div>
    </div>
</footer>