<footer>
    <div class="footer-top">
        <a href="/">
            <div class="logo__image">
                <img src="<%= asset_pack_path 'media/images/getintoteachinglogo.svg' %>" />
                <div class="logo__image__tagline">Every Lesson shapes a life.</div>
            </div>
        </a>
        <div class="footer-top__links-container">
            <a href="/">Home</a>
            <span> | </span>
            <a href="/steps-to-become-a-teacher/index">Steps to become a teacher</a>
            <span> | </span>
            <a href="/funding-your-training/index">Funding your training</a>
            <span><br/><br/></span>
            <a href="/life-as-a-teacher/index">Teaching as a career</a>
            <span> | </span>
            <a href="/life-as-a-teacher/teachers-salaries-and-benefits/">Salaries and Benefits</a>
            <span> | </span>
            <a href="/events">Find an event near you</a>
            <span> | </span>
            <a href="/">Talk to us</a>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom__logo-container">
            <img src="<%= asset_pack_path 'media/images/dfelogo.png' %>" alt="Department for Education">
        </div>
        <div class="footer-bottom__links-container">
            <a href="/">Feedback</a>
            <span> | </span>
            <a href="/">Cookies</a>
            <span> | </span>
            <a href="/">Privacy notice</a>
            <span> | </span>
            <a href="/">Accessibility</a>
            <span><br/><br/></span>
            <div class="footer-bottom__links-container__license">All content is available under the <a href="/">Open Government License v.3.0,</a> except where otherwise stated</div>
        </div>
    </div>
</footer>
