<nav class="navbar">
    <div class="navbar-right">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Steps to become a teacher</a></li>
            <li><a href="/">Funding your training</a></li>
            <li><a href="/">Teaching as a career</a></li>
            <li><a href="/">Salaries and Benefits</a></li>
            <li><a href="/">Find an event near you</a></li>
            <li><a href="/">Talk to us</a></li>
        </ul>
    </div>
    <div class="navbar-mobile-right">
        <a href="javascript:void(0);" class="icon" onclick="navToggle()">
            <span class="navbar-hamburger">
                <i id="navbar-hamburger-icon" class="fa fa-bars fa-2x"></i>
            </span>
        </a>
        <div id="navbar-mobile-links" class="navbar-mobile-links">
            <li><a href="/">Home</a></li>
            <li><a href="/">Steps to become a teacher</a></li>
            <li><a href="/">Funding your training</a></li>
            <li><a href="/">Teaching as a career</a></li>
            <li><a href="/">Salaries and Benefits</a></li>
            <li><a href="/">Find an event near you</a></li>
            <li><a href="/">Talk to us</a></li>
        </div>
    </div>
    <div class="navbar-mobile-right navbar-mobile-right-label">
        <a href="javascript:void(0);" class="icon" onclick="navToggle()">
            <span class="navbar-label">
                Menu
            </span>
        </a>
    </div>
</nav>

<div class="logo-container">
    <div class="logo">
        <img src="<%= asset_pack_path 'media/images/getintoteachinglogo.svg' %>" />
        <div class="tagline">Every Lesson shapes a life.</div>
    </div>
</div>

<script>
    function navToggle() {
        var links = document.getElementById("navbar-mobile-links");
        var icon = document.getElementById("navbar-hamburger-icon");
        if (links.style.display === "block") {
            links.style.display = "none";
            icon.className = 'fa fa-bars fa-2x';
        } else {
            links.style.display = "block";
            icon.className = 'fa fa-times fa-2x';
        }
    }
</script>