<nav class="navbar">
    <div class="navbar-right">
        <ul>
            <li><a href="/">Life as a teacher</a></li>
            <li><a href="/">Steps to become a teacher</a></li>
            <li><a href="/">Funding your training</a></li>
            <li><a href="/">How to apply</a></li>
            <li><a href="/">Find an event near you</a></li>
        </ul>
    </div>
</nav>

<div class="logo-container">
    <div class="logo">
        <img src="<%= asset_pack_path 'media/images/getintoteachinglogo.svg' %>" />
        <div class="tagline">Every Lesson shapes a life.</div>
    </div>
</div>

<%# <img src="" height="80" alt="Get into Teaching"> %>
<%# <%= asset_pack_path 'media/images/get-into-teaching-logo-green.png' %>
