<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="/chat/chaticon.svg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
  <%= javascript_pack_tag "chat.js" %>
  <script type="text/javascript">
//<![CDATA[
    window.env = <%= raw @window_envs.to_json %>;
//]]>
  </script>
  <link rel="stylesheet" href="/chat/index-528af73d.css">
</head>
<body>
<%= yield %>
</body>
</html>
