<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="/chat/chaticon.svg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
  <%= javascript_pack_tag "chat.js" %>
  <link rel="stylesheet" href="/chat/index-95f0ba89.css">
</head>
<body>
<%= yield %>
</body>
</html>
